

<link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans" rel="stylesheet">
<style>

#cst-lt-btn {
		border-radius: 0;
		width: 90%;
		margin-left: 33px;
		margin-bottom: 22px;
		background: #ff6a00 !important;
		color:#fff;
	}
</style>
<app-header></app-header>
<div class="spinner-wrapper">
  <ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>
<!-- <style>
br{display: none;}
</style> -->
<!-- <section id="page-content"></section> -->

<!-- <h3> Admin Page </h3> -->

<!-- <section class="hero">
    <img src="" class="responsive-img">
		<div class="container"> 
		</div>
	</section> -->
 <!-- <i id="page-content"></i> -->

 <div class="row">
  
  <div class="col s12 m7 cs-bg-wt">
    <img src="https://www.libanz.com/assets/images/merchant-banner-1.png" class="responsive-img ">
  </div>
  <div class="col s12 m5 cs-bg-wt">
    <div class="cst-merchant-bx">

        <h4 class="merchant-txt">Merchant Registration</h4>
        <p class="sub-txt">India No.1 Platform for DTH , Mobile Recharge & Instant Payment</p>

        <div class="input-field col s12 m6">
            <input id="Name" type="text" class="validate" >
            <label for="Name">Name</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="Email" type="text" class="validate" >
            <label for="Email">Email </label>
          </div>

          <div class="input-field col s12 m6">
            <input id="Phone" type="text" class="validate" >
            <label for="Phone">Phone</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="Subject" type="text" class="validate" >
            <label for="Subject">Subject</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="Subject" type="text" class="validate" >
           
            <label for="Subject">City</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="Subject" type="text" class="validate" >
            <label for="Subject">State</label>
          </div>
          <div class="input-field col s12 m12">
            <textarea id="Message" class="materialize-textarea"></textarea>
            <label for="Message">Message</label>
          </div>
         
          <div class="input-field col s12 m6">
            <a routerLink="/p/pricing" class="btn orange btn-bt-30">REGISTER NOW </a>          
          </div>
    </div>


  </div>
 

  
</div>


<!-- <section class="new-form-register no-padding">
  <div class="container-fluid no-padding">
    <div class="row no-margin">
      <div class="col s12 m7 no-padding">
        <img src="https://www.mydthshop.com/web-app/assets/images/testimonial-bg.jpg" alt="new" class="img-responsive full-width">
      </div>
      <div class="col s12 m5 no-padding">
        <div class="card no-margin">
          <div class="card-content">
            <h3 class="font600 center">No Investment Just Join Sell & Earn</h3>
            <form>
              <div class="row">
                <div class="input-field col s12 m6">
                  <input id="name" type="text" class="validate">
                  <label for="name">Name</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="phone" type="number" class="validate">
                  <label for="phone">Phone</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="subject" type="text" class="validate">
                  <label for="subject">Subject</label>
                </div>
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Massage</label>
                </div>
                <div class="input-field col s12 center">
                  <button type="submit" class="btn orange">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- 24-7 Content -->
<!-- <section class="new-24-7">  
  <div class="container">
    <div class="row">      
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/placeholder.png">
          </div>
          <div class="card-content">
            <a href="javascript:void(0);" class="orange-text font-size-change1 font600">Unit No.127 D Mall Sector-10 Rohini Near Rohini West Metro Station, New Delhi-110085</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/smartphone.png">
          </div>
          <div class="card-content">
            <a href="tel:08010339339" class="orange-text font-size-change1 font600">080103 39339</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:help@mydthshop.com" class="orange-text font-size-change1 font600">help@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:ceo@mydthshop.com" class="orange-text font-size-change1 font600">ceo@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:merchant@mydthshop.com" class="orange-text font-size-change1 font600">merchant@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:partner@mydthshop.com" class="orange-text font-size-change1 font600">partner@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:nodalofficer@mydthshop.com" class="orange-text font-size-change1 font600">nodalofficer@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:order@mydthshop.com" class="orange-text font-size-change1 font600">order@mydthshop.com</a>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section> -->
<!-- End Here -->
 
<div class="row">

  <h4 class="cst-headline-price">Choose the best  platform to  exlpore your business</h4>
  <br/>

  
  <div class="pricing-box mt-30">

  <div class="col s12 m4">
      <div class="buyer-bx-1">
              
              <img src="{{this.todoservice.base_url}}web-app/assets/images/buys.png" class="responsive-img buys1"/>

              <br/>
              <h4 class="buyer"> INDIVIDUAL BUYER </h4>

              <p>
                  My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
              </p>

      </div>
  </div>

  <div class="col s12 m4">
      <div class="seller-bx-1">
             
              <img src="{{this.todoservice.base_url}}web-app/assets/images/meeting.png" class="responsive-img sells1"/>

              <br/>
              <h4 class="seller">INDIVIDUAL SELLER </h4>
              <p> 
                  My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
              </p>
              
      </div>
  </div>

  <div class="col s12 m4">
      <div class="seller-bx-1">
             
              <img src="{{this.todoservice.base_url}}web-app/assets/images/sells.png" class="responsive-img sells1"/>

              <br/>
              <h4 class="seller">INDIVIDUAL LEAD </h4>
              <p>

                  My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
              </p>
              
      </div>
  </div>


 

</div>
</div>

<div class="row">
<div class="box-both">
<div class="row">

  <h4 class="cst-headline-price mbt-20"> Ideal for getting your business up and running with buyers 
  </h4>

  <div class="col s12 m2"></div>
  <div class="col s12 m4">
      <div class="seller-bx-11">
             
          <img src="{{this.todoservice.base_url}}web-app/assets/images/buys.png" class="responsive-img buys1"/>

          <br/>
              <h2 class="seller">START BUYERS </h2>
              <p class="txt-formal">Ideal for getting your business up and running.
              </p>
             <!-- <span class="h2 headline-brand"><span class="fa fa-inr"> 50,000.00 Daily </span></span> -->
             <ul class="pack-item-li">
              <li><span class="fa fa-check"></span> Free CRM Software  </li>
              <li><span class="fa fa-check"></span> No Target Period  </li>
              <li><span class="fa fa-check"></span> Lowest Selling Price   </li>
             
           
          </ul>
              <br/>
              <a routerLink="/merchant/kyc" class="btn cst-btn  w-100"> Learn More ... </a> 

      </div>
  </div>
  <div class="col s12 m4">
      <div class="seller-bx-11">
             
          <img src="{{this.todoservice.base_url}}web-app/assets/images/sells.png" class="responsive-img buys1"/>

          <br/>
              <h2 class="seller">START SELLER </h2>
              <p class="txt-formal">Great for collaboration with everyone on your team.

              </p>

              <ul class="pack-item-li">
                  <li><span class="fa fa-check"></span> Free CRM Software  </li>
                  <li><span class="fa fa-check"></span> No Target Period  </li>
                  <li><span class="fa fa-check"></span> Lowest Selling Price   </li>
                 
               
              </ul>
               <!-- <span class="h2 headline-brand"><span class="fa fa-inr">5,000.00  Daily</span></span> -->
             
              <br/>
              <a routerLink="/merchant/kyc" class="btn cst-btn  w-100"> Learn More ... </a> 

      </div>
  </div>
  
  <div class="col s12 m2"></div>
</div>
</div>
</div>
<app-footer></app-footer>