<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,1)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>
</div>
<section class="compare-dth white">
  <div class="container">
    <div class="row">
      <div class="col m3 s6" *ngFor="let item of blogs;">
          <div class="card">
              <div class="card-content">
                <img class="img-responsive" src="https://www.mydthshop.com/accounts/assets/img/cms/270x270{{item.image}}" alt="{{item.title}}"/>
                <h3 class="center"><a href="https://www.mydthshop.com/p/{{item.url}}" class="blue-text">{{item.title}}</a></h3>
                <div class="blog-desc" [innerHTML]="item.shortDescription"></div>
                <div class=""><strong class="orange-text">Mydthshop</strong>- <span class="grey-text">{{ item.c_date | date}}</span></div>
              </div>
          </div>      
      </div>
    </div>
  </div>
</section>      
<app-footer></app-footer>
