<app-header></app-header>
<div class="spinner-wrapper">
<ngx-spinner
bdColor="rgba(255,255,255,1)"
size="default"
color="#ec9737"
loadingText="Loading..."
type="ball-clip-rotate">
</ngx-spinner>
</div>

<!-- Blog Page New Design -->
<section class="hero">
  <div class="container">
    <h2 class="center font600 white-text margin-top">Blog Detail</h2>
  </div>
</section>
<section class="no-padding grey lighten-2 beard">
	<div class="container">
		<div class="row no-margin">
			<div class="col s12">
				<nav>
					<div class="nav-wrapper">
						<div class="col s12">
              <a routerLink="/home" class="breadcrumb black-text">Home</a>
              <a routerLink="/blog" class="breadcrumb black-text">Blog</a>
							<a class="breadcrumb black-text">Blog Detail</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>
<section class="blog-detail blog-page white">
  <div class="container">
    <div class="row">
      <div class="col s12 m8">
        <div class="card no-box-shadow" *ngIf="post">
					<div class="card-image">
						<img src="https://www.mydthshop.com/accounts/assets/img/cms/{{post[0].image}}" class="responsive-img" alt="{{post[0].title}}">
					</div>
					<div class="card-content">
						<div class="author">
							<p class="author-name">
								<span><i class="material-icons">person</i></span>
								<span>MYDTHSHOP</span>
							</p>
							<p class="blog-time">
								<span><i class="material-icons">access_time</i></span>
								<time>{{ post[0].c_date | date}}</time>
							</p>
						</div>
						<div class="blog-content">
						<span class="blog-title">{{post[0].title}}</span>
            <p [innerHTML]="post[0].description"></p>
						</div>
          </div>
          <div class="card-action right-align">
            <span>Share On:</span>
            <a href="#"><img src="https://mydthshop.com/web-app/assets/images/facebook1.png" class="responsive-img"></a>
            <a href="#"><img src="https://mydthshop.com/web-app/assets/images/linkedin.png" class="responsive-img"></a>
            <a href="#"><img src="https://mydthshop.com/web-app/assets/images/twitter.png" class="responsive-img"></a>
            <a href="#"><img src="https://mydthshop.com/web-app/assets/images/google-plus.png" class="responsive-img"></a>
            <a href="#" class="dropdown-button" data-activates='dropdown1'><img src="https://mydthshop.com/web-app/assets/images/file.png" class="responsive-img"></a>
            <ul id='dropdown1' class='dropdown-content'>
              <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
              <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
            </ul>
          </div>
        </div>
        <div class="leave-comment-button">
          <button class="btn orange" type="Submit" (click)="show_comment_box()" *ngIf="this.todoservice.get_user_name() != ''">Leave Comment</button>
          <button class="btn orange" type="Submit" *ngIf="this.todoservice.get_user_name() == ''" (click)="show_login()">Login to Comment</button>
        </div>
        <div class="leave-comment hide">
          <div class="card grey lighten-4">
            <div class="card-content padd-rem">
              <h2>Leave Comment</h2>
              <form [formGroup]="commentgroup" #commentform = "ngForm" (ngSubmit)="comment_submit(commentform.value)">
                <div class="row">
                  <div class="input-field col s12 m6">
                    <input id="name" name="name" type="text" class="validate" formControlName="name">
                    <label for="name">Name</label>
                    <div class="red-text accent-4" *ngIf="!commentgroup.controls['name'].valid && commentgroup.controls['name'].touched">Enter Name*.</div>
                  </div>
                  <div class="input-field col s12 m6">
                    <input id="email" type="email" name="email" class="validate" formControlName="email">
                    <label for="email">Email</label>
                    <div class="red-text accent-4" *ngIf="!commentgroup.controls['email'].valid && commentgroup.controls['email'].touched">Enter Email*.</div>
                  </div>
                  <div class="input-field col s12 m12">
                    <textarea id="textarea1" class="materialize-textarea" formControlName="comment"></textarea>
                    <label for="textarea1">Comment</label>
                    <div class="red-text accent-4" *ngIf="!commentgroup.controls['comment'].valid && commentgroup.controls['comment'].touched">Comment*.</div>
                  </div>
                  <div class="col s12">
                    <button type="Submit" class="btn orange">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card recnt-post no-box-shadow">
          <h3>Recent Post</h3>
          <ul>
            <li *ngFor="let item of recent_posts;">
              <a [routerLink]="['/blog-detail/'+item.url]" target="_blank">
                <div class="post-img">
                  <img src="https://www.mydthshop.com/accounts/assets/img/cms/270x270{{item.image}}" class="responsive-img" alt="{{item.title}}">
                </div>
                <div class="post-text">
                  <p class="font-size-change" [innerHTML]="item.shortDescription"></p>
                    <p class="author-name font-size-change1 grey-text">
                      <span><i class="material-icons">person</i></span>
                      <span>MYDTHSHOP</span>
                    </p>
                </div>
              </a>
            </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>  