<style>


	.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 200px;
    width: 100%;
}
.breadcrumb:before {
    
    margin:-4px 10px 0 8px;
  
}
.tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 60px;
    padding-top: 6px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
	white-space: nowrap;
}

.blog-min-hei {
    min-height: 470px !important;
    overflow: auto;
}
@media only screen and (max-width: 767px){
	
	.breadcrumb:before {
    
    margin: 3px 10px 0 8px;
  
}
	
}</style>
<app-header></app-header>
<div class="spinner-wrapper">
<ngx-spinner
bdColor="rgba(255,255,255,1)"
size="default"
color="#ec9737"
loadingText="Loading..."
type="ball-clip-rotate">
</ngx-spinner>
</div>
<!-- <section class="compare-dth white">
<div class="container"> 
	<div class="row">
		<div class="col m3 s6" *ngFor="let item of blogs;">
				<div class="card">
						<div class="card-content">
							<img class="img-responsive" src="https://www.mydthshop.com/accounts/assets/img/cms/270x270{{item.image}}" alt="{{item.title}}"/>
							<h3 class="center"><a href="https://www.mydthshop.com/p/{{item.url}}" class="blue-text">{{item.title}}</a></h3>
							<div class="blog-desc" [innerHTML]="item.shortDescription"></div>
							<div class=""><strong class="orange-text">Mydthshop</strong>- <span class="grey-text">{{ item.c_date | date}}</span></div>
						</div>
				</div>      
		</div>
	</div>
</div>
</section>       -->

<!-- Blog Page New Design -->
<!-- <section class="hero">
	<div class="container">
	</div>
</section> -->
<section class="no-padding grey lighten-2 beard">
	<div class="container">
		<div class="row no-margin">
			<div class="col s12">
				<nav>
					<div class="nav-wrapper">
						<div class="col s12">
							<a routerLink="/home" class="breadcrumb black-text">Home</a>
							<a class="breadcrumb black-text" routerLink="/blog/all">Blog</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>
<section class="blog-page grey lighten-3">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<ul class="tabs blog-tabs">
					<li class="tab col s12 m3" id="list-item-all"><a [className]="(this.category == 'all')? 'active':''" href="javascript:" (click)="fetch_data('all')">Miscellaneous</a></li>
					<li class="tab col s12 m3" *ngFor="let item of categories;" id="list-item-{{item.id}}"><a [className]="(this.category == item.id)? 'active':''" href="javascript:" (click)="fetch_data(item.id)">{{item.title}}</a></li>
				</ul>
			</div>
		</div>
		<div class="row">  
			<div class="col s12 m4" *ngFor="let item of blogs;">
				<div class="card blog-min-hei">
					<div class="card-image">
						<a target="_blank" [routerLink]="['/blog-detail/'+item.url]"><img src="https://www.mydthshop.com/accounts/assets/img/cms/270x270{{item.image}}" class="responsive-img" alt="{{item.title}}" *ngIf="item.thumb_image == ''"><img src="https://www.mydthshop.com/accounts/assets/img/cms/270x270{{item.thumb_image}}" class="responsive-img" alt="{{item.title}}" *ngIf="item.thumb_image != ''"></a>
					</div>
					<div class="card-content">
						<div class="author">
							<p class="author-name">
								<span><i class="material-icons">person</i></span>
								<span>MYDTHSHOP</span>
							</p>
							<p class="blog-time">
								<span><i class="material-icons">access_time</i></span>
								<time>{{ item.c_date | date}}</time>
							</p>
						</div>
						<div class="blog-content"> 
						<span class="blog-title" title="{{item.title}}"><a target="_blank" [routerLink]="['/blog-detail/'+item.url]">{{item.title | slice:0:32}}</a><span *ngIf="item.title.length>32">...</span></span>
						<div class="clearfix"></div>
						<span class="blog-description-{{item.id}}" [innerHTML]="decode_html(item.shortDescription) | truncate : 225 : '...'"> </span>
						</div>
					</div>
					<div class="card-action center">
						<a target="_blank" [routerLink]="['/blog-detail/'+item.url]" class="orange-text font-size-change1">Read More</a>
					</div>
				</div>
			</div>
			<div class="center" *ngIf="blogs.length == 0">No Records</div>
		</div>
		<div class="clearfix"></div>
		<div class="margin-top center" *ngIf="more_display" id="more-display">
			<a href="javascript:" class="font-size-change1" (click)="load_more_blogs();">View More +</a>
		</div>
	</div>
</section>
<app-footer></app-footer>