<style>
	.cs-bg-color{

		background-color: #fff;
		
		}	
		.recomm .btn-new1 .btn {
    width: 67.5% !important;
    border-radius: 0 !important;
    box-shadow: none;
    margin: 0;
    border-radius: 20px !important;
    margin-bottom: 17px;
}
.cst-name {
    height: 100px;
    width: 100px;
    background: #ececec;
    padding: 5px;
	border-radius: 50%;
}

li.clogin.ng-star-inserted {
    margin-top: 3px !important;
}

.shadow-box img{

	width: 92%;
    border-radius: 20px;
    padding:  5px 10px 5px 4px !important;
}
.tabs .tab {
    display: inline-block;
	text-align: center;
	line-height: 14px;
}

li.indicator{
    display: none !important;
}
.tabs .tab a {
	color: rgba(68, 67, 67, 0.7);
}
section {
    padding-top: 2px;
    padding-bottom: 2px;
}
.rating-green{

						background: #1c851c;
						padding: 3px 0px 3px 22px;
						width: 100px;
						color: #fff;
						float: left;
						
}
.line-ht{

	line-height: 2;
}
.icn-clr1{

	color:#746d67 !important;
	 float:right;
	  padding:6px 20px 0px 0px;
	  font-size:15px;
}
.heading-txt1{
	font-size: 17px;
						padding-bottom:10px;
						font-weight: bold;
						text-overflow: ellipsis;
}
.rating-green{
	background: #1c851c;
    padding: 3px 0px 3px 12px;
    width: 75px;
    color: #fff;
    float: left;

}
.rating-green-content{
	background: #ff6a00;
    padding: 2px 10px 2px 10px;
    width: auto;
    color: #fff;
    float: left;
    margin-left: -9px !important;
    font-size: 10px;
	

}
.price-cut1{

	padding-bottom:2px; padding-top:10px;
}
.list-data{
	padding-bottom:10px; font-size:16px; color:#333;
}
.product-image{

/* padding: 24px 0px 0px 5px; */
width: 100%;
box-shadow: 1px 1px 10px #ececec;
margin-bottom: 20px;
border: 1px solid #ececec;
border-radius: 2px;
	

}
.product-img1 img{

height: 60px;
width: 60px;
text-align: center;
margin: 2px;
}
.pt-img{
	padding:5px;
}

.heading-txt{

	font-size:22px;
	
}

@media only screen and (max-width: 767px){


.card .card-content {
    padding-bottom:0px !important;
}
.heading-txt1{
	font-size: 11px;
}
.heading-txt1 a{
	color:#333;
}
.rechare-section-list{
	padding-left: 20px;
}
.product-image{

	height:146px;
background-color: #fff;
border-radius:10px;

}
.cst-btn-link{
	color:#51377e;
}
	
.bg-transparent{
	background-color: transparent !important;
}
.txt-pro{
	font-weight: 600;
	color: #545454;
	font-size:17px;
	padding-bottom: 0px !important;
}
.mt-35{

	margin-top:-52px !important;
}
#select-item {
    padding: 0 !important;
}
.list-data a{

color: #333;
font-size: 11px;
font-weight: bold
}
.offer-txt{

	color:#1c851c;
	font-size:10px;
	padding-left:8px;
}
ul.mob-retailer-slider.lightSlider.lSSlide {
    height: 66px;
}
.rating-green-content{
	background: #ff6a00;
    padding: 2px 10px 2px 10px;
    width: auto;
    color: #fff;
    float: left;
    margin-left: -9px !important;
    font-size: 10px;
	border-top-left-radius: 10px;

}
.mobile-hidden{

	display: none !important;
}


 
}
</style>

<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,1)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>
</div>




<h4 class="paybill-txt hide-on-med-and-up">Recharge & Pay Bills </h4>
<section class="recharge-section1 hide-on-med-and-down cs-bg-color set-height" *ngIf="recharge_ini == 1" >
	<div class="container">
		<div class="row mar-row" style="margin-bottom:50px !important">
			<div class="col s12">
				<ul class="tabs center" id="select-item cst-ul-list" >
					<li class="tab"><a [routerLink]="['/recharge/for/mobile']" title="Mobile Recharge"><img src="{{this.params.base_url}}assets/images/new-icons/2.png" class="responsive-img" alt="1"><br><span>Mobile</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/dth-recharge']" title="DTH Recharge"><img src="{{this.params.base_url}}assets/images/new-icons/7.png" class="responsive-img" alt="1"><br><span>DTH</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/electricity']" title="Electricity Bill Payment"><img src="{{this.params.base_url}}assets/images/new-icons/3.png" class="responsive-img" alt="1"><br><span>Electricity</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/water']" title="Water Bill Payment"><img src="{{this.params.base_url}}assets/images/new-icons/1.png" class="responsive-img" alt="1"><br><span>Water</span></a></li>					

					<li class="tab"><a [routerLink]="['/recharge/for/gas']" title="Gas Bill Payment"><img src="{{this.params.base_url}}assets/images/new-icons/8.png" class="responsive-img" alt="1"><br><span>Gas</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/broadband']" title="Broadband Recharge"><img src="{{this.params.base_url}}assets/images/new-icons/6.png" class="responsive-img" alt="1"><br><span>Broadband</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/cable']" title="Cable TV Bill Payment"><img src="{{this.params.base_url}}assets/images/new-icons/4.png" class="responsive-img" alt="1"><br><span>Cable Tv</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/datacard']" title="Data Card Recharge"><img src="{{this.params.base_url}}assets/images/new-icons/5.png" class="responsive-img" alt="1"><br><span>Data Card</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/landline']" title="Landline Bill Payment"><img src="{{this.params.base_url}}assets/images/new-icons/9.png" class="responsive-img" alt="1"><br><span>Landline</span></a></li>
				</ul>	
		</div>
		</div>
	</div>
</section>


<!-- Flash Deal New Design -->
<section class="flash-deal  margin-top-order no-padding banner-slider1">
	<div class="container-fluid">
		<div class="row no-margin">
			<div class="col s12 m12 no-padding">
				<div class="card no-margin">
					<div class="card-content no-padding">
						<ul class="mobile-slider">
							<li *ngFor="let item of this.filter_banners('main-banner');let i = index;">
								<a href="{{item.imageurl}}" target="_blank">
									<img src="https://www.mydthshop.com/accounts/assets/img/banner/{{item.image}}" class="responsive-img full-width" alt="flash-deal">
								</a>
							</li>

						</ul> 
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- End Here -->



<section class="recharge-section show-on-medium-and-down hide-on-med-and-up" >
	<div class="container">
		<div class="row">
			<div class="col s12">				
				<ul class="center" id="select-item">
					<div class="row">
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/mobile']"><img src="{{this.params.base_url}}assets/images/new-icons/2.png" class="responsive-img" alt="Mobile Recharge Icon"><br><span class="black-text">Mobile</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/dth-recharge']"><img src="{{this.params.base_url}}assets/images/new-icons/7.png" class="responsive-img" alt="DTH Recharge Icon"><br><span class="black-text">DTH</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/electricity']"><img src="{{this.params.base_url}}assets/images/new-icons/3.png" class="responsive-img" alt="Electricity Recharge Icon"><br><span class="black-text">Electricity</span></a></li>
						</div>
					</div>
					<div class="row">
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/water']"><img src="{{this.params.base_url}}assets/images/new-icons/1.png" class="responsive-img" alt="Water Recharge Icon"><br><span class="black-text">Water</span></a></li>					
						</div>
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/gas']"><img src="{{this.params.base_url}}assets/images/new-icons/8.png" class="responsive-img" alt="Gas Recharge Icon"><br><span class="black-text">Gas</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/broadband']"><img src="{{this.params.base_url}}assets/images/new-icons/6.png" class="responsive-img" alt="Broadband Recharge Icon"><br><span class="black-text">Broadband</span></a></li>
						</div>
					</div>
					<div class="row">
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/cable']" ><img src="{{this.params.base_url}}assets/images/new-icons/4.png" class="responsive-img" alt="Cable Recharge Icon"><br><span class="black-text">Cable Tv</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/datacard']"><img src="{{this.params.base_url}}assets/images/new-icons/5.png" class="responsive-img" alt="Data Recharge Icon"><br><span class="black-text">Data Card</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/landline']"><img src="{{this.params.base_url}}assets/images/new-icons/9.png" class="responsive-img" alt="Landline Recharge Icon"><br><span class="black-text">Landline</span></a></li>
						</div>
					</div>
				</ul>
			</div>
		</div>
	</div>
</section>

<!-- End Here -->
<!-- Tata Sky section -->
<section class="flash-deal white margin-top-order sldr-txt hide-on-mobile">
	<h2 class="padd border-bottom font600 heading-txt">Tata Sky Products <span class="absolute font-size-change view-category"><a class="btn orange" [routerLink]="['/product/listing/tata-sky']" target="_blank">View All</a></span></h2>
	<div class="container-fluid">
		<div class="row no-margin">
			<div class="col s12 m12">
				<div class="row no-margin home-product-card">
					<ul class="slider-5">
						<li *ngFor="let item of tata_slides;let i = index">
						<div class="card">
							<div class="row" style="margin-bottom:10px;">
								<div class="col s10">
									<div class="rating-green-content" >COD / Free Home Delievery </div>
								</div>
								<div class="col s2">
									<span class="fa fa-star pull-right icn-clr1 {{check_if_favorite(item.id)}}" (click)="add_to_favorite(item);"></span>
								</div>
							</div>

							<div class="card-image padd center">
								<img src="{{this.todoservice.server_url}}accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-img" alt="{{item.title}}-image">
							</div>
							<div class="clearfix"></div>
							<div class="card-stacked">
								<div class="card-content no-padding">
									<span class="card-title white-text font-size-change1">{{item.title}}</span>
									<div class="row center">
											<div class="col s12 m12">
												<span class="font-16 black-text font600"><i class="icon-inr"></i>{{item.offer_price}}</span>
												<span class="font-16 grey-text del-pri"><i class="icon-inr"></i>{{item.price}}</span>
												<!-- <span class="orange-text" *ngIf="item.cod_available == 1">COD Available</span> -->
											</div>
											<div class="col s12 m12">
												<div class="font-16 green-text" *ngIf="this.todoservice.get_user_type() == 2">Cash Back: <i class="icon-inr"></i> <span *ngIf="check_cashback(item.id) && check_cashback(item.id)[0] && check_cashback(item.id)[0].wallet_tsk_2">{{check_cashback(item.id)[0].wallet_tsk_2}}</span><span *ngIf="!check_cashback(item.id)">{{item.partner_cashback_wallet}}</span></div>
												<div class="font-16 green-text" *ngIf="this.todoservice.get_user_type() != 2">Cash Back: <i class="icon-inr"></i>{{item.user_cashback_wallet}} </div>
											</div>
											<div class="clearfix"></div>
											<div class="col s12 m12 ">
												<a class="txt-compare font-16" [routerLink]="['/product/compare-box/']" [queryParams]= "{urls : item.url,ref:item.url}" target="_blank">Compare <i class="material-icons">compare</i></a><div class="clearfix"></div>
											</div>
										</div> 									 
										<div class="btn-new1 center">
											<a [routerLink]="['/product/'+item.url]" target="_blank" class="btn">Book Now</a>
										</div>
								</div>
							</div>
						</div>
					</li>
				</ul>	
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end here -->
<!-- Dish Tv Section -->
<section class="flash-deal white margin-top-order sldr-txt hide-on-mobile">
	<h2 class="border-bottom font600 padd  heading-txt">Dishtv Products <span class="absolute font-size-change view-category"><a class="btn orange" [routerLink]="['/product/listing/dish-tv']" target="_blank">View All</a></span></h2>
	
	<div class="container-fluid">
		<div class="row no-margin home-product-card">
			<ul class="slider-66">
				<li *ngFor="let item of dishtv_slides;let i = index">
					
				<div class="card">
					<div class="row" style="margin-bottom:10px;">
						<div class="col s10">
							<div class="rating-green-content" >Free Home Delievery </div>
						</div>
						<div class="col s2">
							<span class="fa fa-star pull-right icn-clr1 {{check_if_favorite(item.id)}}" (click)="add_to_favorite(item);"></span>
						</div>
					</div>
					<div class="card-image padd center">
						<img src="{{this.todoservice.server_url}}accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-img" alt="{{item.title}}-image">
					</div>
					<div class="clearfix"></div>
					<div class="card-stacked">
						<div class="card-content no-padding">
							<span class="card-title white-text font-size-change1">{{item.title}}</span>
							<div class="row center">
									<div class="col s12 m12">
										<span class="font-16 black-text font600"><i class="icon-inr"></i>{{item.offer_price}}</span>
										<span class="font-16 grey-text del-pri"><i class="icon-inr"></i>{{item.price}}</span>
										<!-- <span class="orange-text" *ngIf="item.cod_available == 1">COD Available</span> -->
									</div>
									<div class="col s12 m12">
										<div class="font-16 green-text" *ngIf="this.todoservice.get_user_type() == 2">Cash Back: <i class="icon-inr"></i> <span *ngIf="check_cashback(item.id) && check_cashback(item.id)[0]">{{check_cashback(item.id)[0].wallet_tsk_2}}</span><span *ngIf="!check_cashback(item.id)">{{item.partner_cashback_wallet}}</span></div>
										<div class="font-16 green-text" *ngIf="this.todoservice.get_user_type() != 2">Cash Back: <i class="icon-inr"></i>{{item.user_cashback_wallet}} </div>
									</div>
									<div class="clearfix"></div>
									<div class="col s12 m12 ">
										<a class="txt-compare font-16" [routerLink]="['/product/compare-box/']" [queryParams]= "{urls : item.url,ref:item.url}" target="_blank">Compare <i class="material-icons">compare</i></a><div class="clearfix"></div>
									</div>
								</div> 									 
								<div class="btn-new1 center">
									<a [routerLink]="['/product/'+item.url]" target="_blank" class="btn">Book Now</a>
								</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	</div>
</section>
<!-- end here -->
<!-- Airtel Dish section -->
<section class="flash-deal white margin-top-order sldr-txt hide-on-mobile">
	<h2 class="border-bottom font600 padd heading-txt">Airtel DTH Products <span class="absolute font-size-change view-category"><a class="btn orange" [routerLink]="['/product/listing/airtel']" target="_blank">View All</a></span></h2>
	<div class="container-fluid">
			<div class="row no-margin home-product-card">
				<ul class="slider-7">
					<li *ngFor="let item of airtel_slides;let i = index">
					<div class="card">
						<div class="row" style="margin-bottom:10px;">
							<div class="col s10">
								<div class="rating-green-content" >COD / Free Home Delievery </div>
							</div>
							<div class="col s2">
								<span class="fa fa-star pull-right icn-clr1 {{check_if_favorite(item.id)}}" (click)="add_to_favorite(item);"></span>
							</div>
						</div>
						<div class="card-image padd center">
							<img src="{{this.todoservice.server_url}}accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-img" alt="{{item.title}}-image">
						</div>
						<div class="clearfix"></div>
						<div class="card-stacked">
							<div class="card-content no-padding">
								<span class="card-title white-text font-size-change1">{{item.title}}</span>
								<div class="row center">
										<div class="col s12 m12">
											<span class="font-16 black-text font600"><i class="icon-inr"></i>{{item.offer_price}}</span>
											<span class="font-16 grey-text del-pri"><i class="icon-inr"></i>{{item.price}}</span>
											<!-- <span class="orange-text" *ngIf="item.cod_available == 1">COD Available</span> -->
										</div>
										<div class="col s12 m12">
											<div class="font-16 green-text" *ngIf="this.todoservice.get_user_type() == 2">Cash Back: <i class="icon-inr"></i> <span *ngIf="check_cashback(item.id) && check_cashback(item.id)[0]">{{check_cashback(item.id)[0].wallet_tsk_2}}</span><span *ngIf="!check_cashback(item.id)">{{item.partner_cashback_wallet}}</span></div>
											<div class="font-16 green-text" *ngIf="this.todoservice.get_user_type() != 2">Cash Back: <i class="icon-inr"></i>{{item.user_cashback_wallet}} </div>
										</div>
										<div class="clearfix"></div>
										<div class="col s12 m12 ">
											<a class="txt-compare font-16" [routerLink]="['/product/compare-box/']" [queryParams]= "{urls : item.url,ref:item.url}" target="_blank">Compare <i class="material-icons">compare</i></a><div class="clearfix"></div>
										</div>
									</div> 									 
									<div class="btn-new1 center">
										<a [routerLink]="['/product/'+item.url]" target="_blank" class="btn">Book Now</a>
									</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		</div>
</section>
<!-- end here -->
<!-- Videocon D2H section -->
<section class="flash-deal white margin-top-order sldr-txt hide-on-mobile">
	<h2 class="border-bottom font600 padd heading-txt">Videocon D2H Products <span class="absolute font-size-change view-category"><a class="btn orange" [routerLink]="['/product/listing/videocon']" target="_blank">View All</a></span></h2>
	<div class="container-fluid">
		<div class="row no-margin home-product-card">
			<ul class="slider-8">
				<li *ngFor="let item of videcone_slides;let i = index">
				
				<div class="card">
					<div class="row" style="margin-bottom:10px;">
						<div class="col s10">
							<div class="rating-green-content" >Free Home Delievery </div>
						</div>
						<div class="col s2">
							<span class="fa fa-star pull-right icn-clr1 {{check_if_favorite(item.id)}}" (click)="add_to_favorite(item);"></span>
						</div>
					</div>
					<div class="card-image padd center">
						<img src="{{this.todoservice.server_url}}accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-img" alt="{{item.title}}-image">
					</div>
					<div class="clearfix"></div>
					<div class="card-stacked">
						<div class="card-content no-padding">
							<span class="card-title white-text font-size-change1">{{item.title}}</span>
							<!-- <ul class="no-margin">
								<li [innerHTML]="item.description | nl2pbr"></li>
							</ul>-->
							<div class="row center">
								<div class="col s12 m12">
									<span class="font-16 black-text font600"><i class="icon-inr"></i>{{item.offer_price}}</span>
									<span class="font-16 grey-text del-pri"><i class="icon-inr"></i>{{item.price}}</span>
									<!-- <span class="orange-text" *ngIf="item.cod_available == 1">COD Available</span> -->
								</div>
								<div class="col s12 m12">
									<div class="font-16 green-text" *ngIf="this.todoservice.get_user_type() == 2">Cash Back: <i class="icon-inr"></i> <span *ngIf="check_cashback(item.id) && check_cashback(item.id)[0]">{{check_cashback(item.id)[0].wallet_tsk_2}}</span><span *ngIf="!check_cashback(item.id)">{{item.partner_cashback_wallet}}</span></div>
									<div class="font-16 green-text" *ngIf="this.todoservice.get_user_type() != 2">Cash Back: <i class="icon-inr"></i>{{item.user_cashback_wallet}} </div>
								</div>
								<div class="clearfix"></div>
								<div class="col s12 m12 ">
									<a class="txt-compare font-16" [routerLink]="['/product/compare-box/']" [queryParams]= "{urls : item.url,ref:item.url}" target="_blank">Compare <i class="material-icons">compare</i></a><div class="clearfix"></div>
								</div>
							</div> 									 
							<div class="btn-new1 center">
								<a [routerLink]="['/product/'+item.url]" target="_blank" class="btn">Book Now</a>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		</div>
	</div>
</section>
<!-- end here -->
<!-- Reccomended For You -->
<section class="flash-deal recomended-wrapper white margin-top-order sldr-txt hide-on-mobile" *ngIf="this.recommended">
		<h2 class="border-bottom font600 padd heading-txt center">Largest Selling Products</h2>
	<div class="container-fluid">
		<div class="row no-margin home-product-card recomm">
			<div class="col s12 m3" *ngFor="let item of recommended">
				
				<div class="card">
					<div class="row" style="margin-bottom:10px;">
						<div class="col s10">
							<div class="rating-green-content" >Free Home Delievery </div>
						</div>
						<div class="col s2" *ngIf="item.new_product == 1">
							<!-- <span class="fa fa-star pull-right icn-clr1 {{check_if_favorite(item.id)}}" (click)="add_to_favorite(item);"></span> -->
							<img src="https://www.mydthshop.com/web-app/assets/images/new.gif" class="img-responsive pt-img"/>

						</div>
					</div>

						<div class="card-image padd center">
							<img src="{{this.todoservice.server_url}}accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-img" alt="images">
						</div>
						<div class="clearfix"></div>
						<div class="card-stacked">
							<div class="card-content no-padding">
								<span class="card-title">{{item.title}}</span>								
								<div class="row center">
									<div class="col s12 m12">
										<span class="font-16 black-text font600"><i class="icon-inr"></i>{{item.offer_price}}</span>
										<span class="font-16 grey-text del-pri"><i class="icon-inr"></i>{{item.price}}</span>
										<!-- <span class="orange-text" *ngIf="item.cod_available == 1">COD Available</span> -->
									</div>
									<div class="col s12 m12">
										<div class="font-16 green-text" *ngIf="this.todoservice.get_user_type() == 2">Cash Back: <i class="icon-inr"></i> <span *ngIf="check_cashback(item.id) && check_cashback(item.id)[0]">{{check_cashback(item.id)[0].wallet_tsk_2}}</span><span *ngIf="!check_cashback(item.id)">{{item.partner_cashback_wallet}}</span></div>
										<div class="font-16 green-text" *ngIf="this.todoservice.get_user_type() != 2">Cash Back: <i class="icon-inr"></i>{{item.user_cashback_wallet}} </div>
									</div>
									<div class="clearfix"></div>
									<div class="col s12 m12 ">
										<a class="txt-compare font-16" [routerLink]="['/product/compare-box/']" [queryParams]= "{urls : item.url,ref:item.url}" target="_blank">Compare <i class="material-icons">compare</i></a><div class="clearfix"></div>
									</div>
								</div> 									 
								<div class="btn-new1 center">
									<a [routerLink]="['/product/'+item.url]" target="_blank" class="btn">Book Now</a>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>



<!--JavaScript at end of body for optimized loading-->
<app-footer [baseUrl]="this.params.base_url"></app-footer>
