<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	.cs-bg-color{

		background-color: #fff;
		
		}	
		.recomm .btn-new1 .btn {
    width: 67.5% !important;
    border-radius: 0 !important;
    box-shadow: none;
    margin: 0;
    border-radius: 20px !important;
    margin-bottom: 17px;
}
.cst-name {
    height: 100px;
    width: 100px;
    background: #ececec;
    padding: 5px;
	border-radius: 50%;
}

li.clogin.ng-star-inserted {
    margin-top: 3px !important;
}

.shadow-box img{

	width: 100%;
	margin-left:5px;
    /* border-radius: 20px; */
	/* padding: 5px 10px 5px 4px !important;
	margin-left: 13px; */
    /* margin-left: -6px !important; */
}
.tabs .tab {
    display: inline-block;
	text-align: center;
	line-height: 14px;
}

li.indicator{
    display: none !important;
}
.tabs .tab a {
	color: rgba(68, 67, 67, 0.7);
}
section {
    padding-top: 2px;
    padding-bottom: 2px;
}
.rating-green{

						background: #1c851c;
						padding: 3px 0px 3px 22px;
						width: 55px;
    color: #fff;
    float: left;
    border-radius: 5px;
						
}
.line-ht{

	line-height: 2;
}
.icn-clr1{

	color: #a9a4a1 !important;
    float: right;
    /* background: #ececec; */
    padding: 6px 6px 0px 7px;
    font-size: 15px;
    border-radius: 50%;
    margin-right: 11px;
    height: 27px;
	box-shadow: 1px 1px 4px #ececec !important;
	margin-top:4px;
}
.heading-txt1{
	font-size: 17px;
						padding-bottom:10px;
						font-weight: bold;
						text-overflow: ellipsis;
}
.rating-green{
	background: #1c851c;
    padding: 3px 0px 3px 12px;
	width: 55px;
    color: #fff;
    float: left;
	border-radius: 5px;
	margin-right:2px;

}
.rating-green-content{
	background: #ff6a00;
    padding: 2px 10px 2px 10px;
    width: auto;
    color: #fff;
    float: left;
    margin-left: -9px !important;
    font-size: 10px;
	

}
.price-cut1{

	padding-bottom:2px; padding-top:10px;
}
.list-data{
	padding-top:6px;
	padding-bottom:10px; font-size:16px; color:#333;
	z-index:99999;
}
.product-image{

/* padding: 24px 0px 0px 5px; */
width: 100%;
box-shadow: 1px 1px 10px #ececec;
margin-bottom: 20px;
border: 1px solid #ececec;
border-radius: 2px;
	

}
.product-img1 img{

height: 60px;
width: 60px;
text-align: center;
margin: 2px;
}
.pt-img{
	padding:5px;
}

.heading-txt{

	font-size:22px;
	
}
.btn-center {
    text-align: center;
    margin-bottom: 20px;
}


@media only screen and (max-width: 767px){

	.fixed-space-mb{

		margin-top:-20px !important;
		
		margin-bottom: -8px !important;
	}

	section.flash-deal.margin-top-order.no-padding.banner-slider1 {
    margin-bottom: 33px !important;
}

	.banner-slider1 .card {
    background: #f3f3f3 !important;
	height: 9.7vh;
}

.card .card-content {
  
	padding-bottom: 0px !important;
  
}
.shadow-box{

	width: 100%;
    border-radius: 20px;
	padding: 0px 10px 5px 4px !important;
	/* margin-top: -11px; */
}

/* .shadow-box:nth-child(1) {
    margin-left: -57px;
} */
.card-content.no-padding{

	padding-left: 0px !important;
    width: 100%;
    padding-right: 0 !important;
    padding-bottom: 0px !important;
}
.heading-txt1{
	font-size: 11px;
}
.heading-txt1 a{
	color:#333;
}
.rechare-section-list{
	padding-left: 20px;
}
.product-image{

	height:165px;
background-color: #fff;
border-radius:10px;

}
.cst-btn-link{
	color:#51377e;
}
	
.bg-transparent{
	background-color: transparent !important;
}
.txt-pro{
	font-weight: 600;
	color: #545454;
	font-size:17px;
	padding-bottom: 0px !important;
	padding-top: 14px !important;
}
.mt-35{

	margin-top:-52px !important;
}
#select-item {
    padding: 0 !important;
}
.list-data a{

	color: #333;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #ececec;
    padding: 2px 10px;
    border-radius: 5px;
	z-index: 99999;
}
.offer-txt{

	color:#1c851c;
	font-size:10px;
	padding-left:8px;
}
ul.mob-retailer-slider.lightSlider.lSSlide {
    height: 66px;
}
.rating-green-content{
	background: #ff6a00;
    padding: 2px 10px 2px 10px;
    width: auto;
    color: #fff;
    float: left;
    margin-left: -9px !important;
    font-size: 10px;
	border-top-left-radius: 10px;

}
.mobile-hidden{

	display: none !important;
}


.bottom-slider-dot{

	position:relative;
}

 .sky-relative{

	 position: relative;
 }
 .sky-heading{

	 position:absolute;
	 top: -10px;
	 z-index: 99;
	 width: 100%;
 }
 .down-mode{

	margin-top: 25px;
 }

 
}
</style>
<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,1)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>
</div>
 <!-- Modal Structure -->

<section class="recharge-section1 hide-on-med-and-down cs-bg-color set-height" *ngIf="recharge_ini == 1" >
	<div class="container">
		<div class="row mar-row" style="margin-bottom:50px !important">
			<div class="col s12">
				<ul class="tabs center" id="select-item cst-ul-list" >
					<li class="tab"><a [routerLink]="['/recharge/for/mobile']" title="Mobile Recharge"><img src="{{this.params.base_url}}assets/images/new-icons/2.png" class="responsive-img" alt="1"><br><span>Mobile</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/dth-recharge']" title="DTH Recharge"><img src="{{this.params.base_url}}assets/images/new-icons/7.png" class="responsive-img" alt="1"><br><span>DTH</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/electricity']" title="Electricity Bill Payment"><img src="{{this.params.base_url}}assets/images/new-icons/3.png" class="responsive-img" alt="1"><br><span>Electricity</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/water']" title="Water Bill Payment"><img src="{{this.params.base_url}}assets/images/new-icons/1.png" class="responsive-img" alt="1"><br><span>Water</span></a></li>					

					<li class="tab"><a [routerLink]="['/recharge/for/gas']" title="Gas Bill Payment"><img src="{{this.params.base_url}}assets/images/new-icons/8.png" class="responsive-img" alt="1"><br><span>Gas</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/broadband']" title="Broadband Recharge"><img src="{{this.params.base_url}}assets/images/new-icons/6.png" class="responsive-img" alt="1"><br><span>Broadband</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/cable']" title="Cable TV Bill Payment"><img src="{{this.params.base_url}}assets/images/new-icons/4.png" class="responsive-img" alt="1"><br><span>Cable Tv</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/datacard']" title="Data Card Recharge"><img src="{{this.params.base_url}}assets/images/new-icons/5.png" class="responsive-img" alt="1"><br><span>Data Card</span></a></li>

					<li class="tab"><a [routerLink]="['/recharge/for/landline']" title="Landline Bill Payment"><img src="{{this.params.base_url}}assets/images/new-icons/9.png" class="responsive-img" alt="1"><br><span>Landline</span></a></li>
				</ul>	
		</div>
		</div>
	</div>
</section>
<section class="flash-deal  margin-top-order no-padding banner-slider1">
	<div class="container-fluid">
		<div class="row no-margin">
			<div class="col s12 m12 no-padding">
				<div class="card no-margin">
					<div class="card-content no-padding dotted">
						<ul class="mobile-slider">
							<li *ngFor="let item of this.mainbanners;let i = index;">
								<a href="{{item.imageurl}}">
									<img src="https://www.mydthshop.com/accounts/assets/img/banner/{{item.image}}" class="responsive-img full-width" alt="flash-deal">
								</a>
							</li>
							<!-- <li *ngFor="let item of this.filter_banners('mobile-main-banner');let i = index;">
								<a href="{{item.imageurl}}">
									<img src="https://www.mydthshop.com/accounts/assets/img/banner/{{item.image}}" class="responsive-img full-width" alt="flash-deal">
								</a>
							</li> -->
						</ul> 
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
<h4 class="paybill-txt hide-on-med-and-up">Recharge & Pay Bills </h4>
<section class="recharge-section show-on-medium-and-down hide-on-med-and-up" >
	<div class="container">
		<div class="row">
			<div class="col s12">				
				<ul class="center" id="select-item">
					<div class="row">
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/mobile']"><img src="{{this.params.base_url}}assets/images/new-icons/2.png" class="responsive-img" alt="Mobile Recharge Icon"><br><span class="black-text">Mobile</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/dth-recharge']"><img src="{{this.params.base_url}}assets/images/new-icons/7.png" class="responsive-img" alt="DTH Recharge Icon"><br><span class="black-text">DTH</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/electricity']"><img src="{{this.params.base_url}}assets/images/new-icons/3.png" class="responsive-img" alt="Electricity Recharge Icon"><br><span class="black-text">Electricity</span></a></li>
						</div>
					</div>
					<div class="row">
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/water']"><img src="{{this.params.base_url}}assets/images/new-icons/1.png" class="responsive-img" alt="Water Recharge Icon"><br><span class="black-text">Water</span></a></li>					
						</div>
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/gas']"><img src="{{this.params.base_url}}assets/images/new-icons/8.png" class="responsive-img" alt="Gas Recharge Icon"><br><span class="black-text">Gas</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/broadband']"><img src="{{this.params.base_url}}assets/images/new-icons/6.png" class="responsive-img" alt="Broadband Recharge Icon"><br><span class="black-text">Broadband</span></a></li>
						</div>
					</div>
					<div class="row">
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/cable']" ><img src="{{this.params.base_url}}assets/images/new-icons/4.png" class="responsive-img" alt="Cable Recharge Icon"><br><span class="black-text">Cable Tv</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/datacard']"><img src="{{this.params.base_url}}assets/images/new-icons/5.png" class="responsive-img" alt="Data Recharge Icon"><br><span class="black-text">Data Card</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab"><a [routerLink]="['/recharge/for/landline']"><img src="{{this.params.base_url}}assets/images/new-icons/9.png" class="responsive-img" alt="Landline Recharge Icon"><br><span class="black-text">Landline</span></a></li>
						</div>
					</div>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="flash-deal white margin-top-order sldr-txt hide-on-desktop bg-transparent mt-35 sky-relative">
	<h2 class=" font600 padd center txt-pro cst-top-space sky-heading ">Tata Sky Products <span class="absolute font-size-change view-category"><a class="cst-btn-link pull-right" [routerLink]="['/product/listing/tata-sky']">View All</a></span></h2>
	
	<div class="container-fluid">
		<ul class="product-slider">
			<li *ngFor="let item of tata_slides" class="product-list-{{item.id}}">
				<div class="row no-margin 1">
					<div class="col s12 m4 list-{{item.id}}" >
					<div class="product-image down-mode">
					
						<div class="row" style="margin-bottom:10px;">
							<div class="col s10">
								<div class="rating-green-content" *ngIf="item.cod_available == 1">COD / Free Delievery </div>
							</div>
							<div class="col s2">
								<span class="fa fa-star pull-right icn-clr1 {{check_if_favorite(item.id)}}" (click)="add_to_favorite(item);"></span>
							</div>
						</div>
						<div class="row">
						
						<div class="col s2">
							<div class="product-img1">
								<a [routerLink]="['/product/'+item.url]"><img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-image"></a>
							</div>
						</div>
						<div class="col s10">
							<div class="rechare-section-list">
								<p class="heading-txt1"><a class="blue-text" [routerLink]="['/product/'+item.url]">{{item.title}}</a> </p>
		
								<div class="rating-green" id="rating">{{product_rating(item.id)[0].rate}} &nbsp;<span class="fa fa-star"></span> </div>&nbsp;<span class="line-ht black-text" id="rating-count">({{product_rating(item.id)[0].rate_count}})</span>
								<br/>
								<p class="price-cut1 black-text" ><strong> Rs. {{item.offer_price}} </strong> &nbsp; <span class="del-pri"> {{item.price}}</span> </p>
								
								<p class="list-data"> <a [routerLink]="['/product/compare-box/']" [queryParams]= "{urls : item.url,ref:item.url}"> <span class="fa fa-plus-circle"></span> COMPARE  </a> </p>
							</div>
						</div>
						</div>
						</div>
					</div>
					</div>
				</li>
			</ul>
		</div>
</section>
<section class="flash-deal white margin-top-order sldr-txt hide-on-desktop bg-transparent mt-35">
	<h2 class=" font600 padd txt-pro heading-txt">Dishtv Products <span class="absolute font-size-change view-category"><a class="cst-btn-link pull-right" [routerLink]="['/product/listing/dish-tv']">View All</a></span></h2>
	
	<div class="container-fluid">
			<ul class="product-slider">
				<li *ngFor="let item of dishtv_slides">
					<div class="row no-margin 1">
						<div class="col s12 m4 list-{{item.id}}" >
						<div class="product-image">
							<div class="row" style="margin-bottom:10px;">
								<div class="col s10">
									<div class="rating-green-content" >Free Home Delievery </div>
								</div>
								<div class="col s2">
									<span class="fa fa-star pull-right icn-clr1 {{check_if_favorite(item.id)}}" (click)="add_to_favorite(item);"></span>
								</div>
							</div>
							<div class="row">
							
							<div class="col s2">
								<div class="product-img1">
									<a [routerLink]="['/product/'+item.url]"><img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-image"></a>
								</div>
							</div>
							<div class="col s10">
								<div class="rechare-section-list">
									<p class="heading-txt1"><a class="blue-text" [routerLink]="['/product/'+item.url]">{{item.title}}</a> </p>
			
									<div class="rating-green" id="rating">{{product_rating(item.id)[0].rate}} &nbsp;<span class="fa fa-star"></span> </div>&nbsp;<span class="line-ht black-text" id="rating-count">({{product_rating(item.id)[0].rate_count}})</span>
									<br/>
									<p class="price-cut1 black-text" ><strong> Rs. {{item.offer_price}} </strong> &nbsp; <span class="del-pri">  {{item.price}}</span> </p>
									
									<p class="list-data"> <a [routerLink]="['/product/compare-box/']" [queryParams]= "{urls : item.url,ref:item.url}"> <span class="fa fa-plus-circle"></span> COMPARE  </a> </p>
								</div>
							</div>
							</div>
							</div>
						</div>
						</div>
					</li>
				</ul>
		</div>
</section>
<section class="flash-deal white margin-top-order sldr-txt hide-on-desktop bg-transparent mt-35">
	<h2 class=" font600 padd center txt-pro ">Airtel DTH Products <span class="absolute font-size-change view-category"><a class="cst-btn-link pull-right" [routerLink]="['/product/listing/airtel']">View All</a></span></h2>
	
	<div class="container-fluid">
		<ul class="product-slider">
			<li *ngFor="let item of airtel_slides">
				<div class="row no-margin 1">
					<div class="col s12 m4 list-{{item.id}}" >
					<div class="product-image">
					
						<div class="row" style="margin-bottom:10px;">
							<div class="col s10">
								<div class="rating-green-content" *ngIf="item.cod_available == 1">COD / Free Delievery </div>
							</div>
							<div class="col s2">
								<span class="fa fa-star pull-right icn-clr1 {{check_if_favorite(item.id)}}" (click)="add_to_favorite(item);"></span>
							</div>
						</div>
						<div class="row">
						
						<div class="col s2">
							<div class="product-img1">
								<a [routerLink]="['/product/'+item.url]"><img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-image"></a>
							</div>
						</div>
						<div class="col s10">
							<div class="rechare-section-list">
								<p class="heading-txt1"><a class="blue-text" [routerLink]="['/product/'+item.url]">{{item.title}}</a> </p>
		
								<div class="rating-green" id="rating">{{product_rating(item.id)[0].rate}} &nbsp;<span class="fa fa-star"></span> </div>&nbsp;<span class="line-ht black-text" id="rating-count">({{product_rating(item.id)[0].rate_count}})</span>
								<br/>
								<p class="price-cut1 black-text" ><strong> Rs. {{item.offer_price}} </strong> &nbsp; <span class="del-pri"> {{item.price}}</span> </p>
								
								<p class="list-data"> <a [routerLink]="['/product/compare-box/']" [queryParams]= "{urls : item.url,ref:item.url}"> <span class="fa fa-plus-circle"></span> COMPARE  </a> </p>
							</div>
						</div>
						</div>
						</div>
					</div>
					</div>
				</li>
			</ul>
		</div>
</section>
<section class="flash-deal white margin-top-order sldr-txt hide-on-desktop bg-transparent mt-35">
	<h2 class=" font600 padd txt-pro heading-txt">Videocon D2H Products <span class="absolute font-size-change view-category"><a class="cst-btn-link pull-right" [routerLink]="['/product/listing/videocon']">View All</a></span></h2>
	<div class="container-fluid">
			<ul class="product-slider">
				<li *ngFor="let item of videcone_slides">
					<div class="row no-margin 1">
						
						<div class="col s12 m4 list-{{item.id}}" >
						<div class="product-image">
						
							<div class="row" style="margin-bottom:10px;">
								<div class="col s10">
									<div class="rating-green-content" >Free Home Delievery </div>
								</div>
								<div class="col s2">
									<span class="fa fa-star pull-right icn-clr1 {{check_if_favorite(item.id)}}" (click)="add_to_favorite(item);"></span>
								</div>
							</div>
							<div class="row">
								<div class="col s2">
									<div class="product-img1">
										<a [routerLink]="['/product/'+item.url]"><img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-image"></a>
									</div>
								</div>
								<div class="col s10">
									<div class="rechare-section-list">
										<p class="heading-txt1"><a class="blue-text" [routerLink]="['/product/'+item.url]">{{item.title}}</a> </p>
				
										<div class="rating-green" id="rating">{{product_rating(item.id)[0].rate}} &nbsp;<span class="fa fa-star"></span> </div><span class="line-ht black-text" id="rating-count">({{product_rating(item.id)[0].rate_count}})</span>
										<br/>
										<p class="price-cut1 black-text"><strong> Rs. {{item.offer_price}} </strong> &nbsp; <span class="del-pri"> {{item.price}}</span> </p>
										
										<p class="list-data"> <a [routerLink]="['/product/compare-box/']" [queryParams]= "{urls : item.url,ref:item.url}"> <span class="fa fa-plus-circle"></span> COMPARE  </a> </p>
									</div>
								</div>
							</div>
							</div>
						</div>
						</div>
					</li>
				</ul>
		</div>
</section>

<!-- End Here -->
<div class="container-fluid fixed-space-mb">
	<div class="row">
		<div class="bottom-slider-dot">
		<ul class="bottom-slider " id="bottom-slider">
			<li *ngFor="let banner of this.bottombanners">
				<div class="col m12 s12">
					<div class="shadow-box">
						<img src="https://www.mydthshop.com/accounts/assets/img/banner/{{banner.image}}"/>
					</div>
				</div>
				
			</li>
		</ul>
	</div>
	</div>

</div>

<!--   
  <div class="btn-center">

<a class="waves-effect waves-light btn modal-trigger text-center" href="#modal3">PLAYSTORE</a>

</div>

  <div id="modal3" class="modal">
    <div class="modal-content">
      <img src="../../assets/images/mobile-popup.png" class="responsive-image"/>
    </div>
   
  </div> -->


  
        

<app-footer [baseUrl]="this.params.base_url"></app-footer>
