<style>

	/* .mt-top-txt{

		margin-top:20px !important;
	} */




	.cst-border1{
		border: none !important;
    height: 480px;
    box-shadow: 1px 1px 10px #9c9c9c !important;
    overflow: auto;
	
	}
	.mt-bt-20{
		margin-bottom: 20px;
	}

	.heading-txt1{

		font-size:18px;
	}
	.cstm-img{

		width:35px;
    height: 35px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: .3s ease-in;
    padding: 2px;
    border-radius: 50%;
    vertical-align: middle;
    margin-bottom: 10px;
    border: 1px solid #c2c2c2;
	}
	.cstm-img img{

		height: 25px;
    width: 25px;
    text-align: center;
    margin: 2px;
	}
	.inner-recharge{

		padding: 16px 0px 0px 14px;
		width:100%;
		border-bottom:1px solid #ececec;
	}

.label-txt{

	width: 100%;
    white-space: nowrap;
    padding-top: 23px;
}
.dth-box{

	margin-top:15px;
}

.mat-form-field-type-mat-select .mat-form-field-label {
    width: calc(100% - 18px);
    font-size: 16px !important;
}
	</style>
<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,1)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>
<style>
	.mat-select-arrow-wrapper {
    
    vertical-align: middle;
    display: none !important;
}
.cst-label {
    font-size:.8rem;
    color:#222 !important;
}
.mat-form-field-wrapper {
    padding: 0px !important;
}
.card .card-content {
    padding: 8px 24px 24px 24px;
    border-radius: 0 0 2px 2px;
}
span.card-title {
    font-size: 18px;
    font-weight: bold;
}
.electric-cls-btn {
	width: 90% !important;
	margin: 10px 15px;
}
#mobile-form{

	margin-top:15px;
}
div#circles-content ul li a {
    background: #f3f7f8;
	color: #333 !important;
}
#circles-content .tab.active {
    border-bottom: 2px solid #00b9f5;
}
@media only screen and (max-width: 767px){

	.mb-txt {
    font-size: 16px;
    padding: 0px 0px 0px 3px;
    font-weight: 600;
}
.electric-cls-btn {
	width: 90% !important;
	margin: 10px 15px;
}
}
</style>
</div>
<section class="recharge-section hide-on-med-and-down testinh" *ngIf="recharge_ini == 1">
	<div class="container">
		<div class="row mar-row"> 
			<div class="col s12">
				<ul class="tabs center new-page-tab" id="select-item">
					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.mobile}" routerLink="/recharge/for/mobile" (click)="navigate_to('mobile');"><img src="{{this.params.base_url}}assets/images/new-icons/2.png" class="responsive-img" alt="1"><br><span>Mobile</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.dth}" routerLink="/recharge/for/dth-recharge" (click)="navigate_to('dth-recharge');"><img src="{{this.params.base_url}}assets/images/new-icons/7.png" class="responsive-img" alt="1"><br><span>DTH</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.electricity}" routerLink="/recharge/for/electricity"  (click)="navigate_to('electricity');"><img src="{{this.params.base_url}}assets/images/new-icons/3.png" class="responsive-img" alt="1"><br><span>Electricity</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.water}" routerLink="/recharge/for/water"  (click)="navigate_to('water');"><img src="{{this.params.base_url}}assets/images/new-icons/1.png" class="responsive-img" alt="1"><br><span>Water</span></a></li>					

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.gas}" routerLink="/recharge/for/gas" (click)="navigate_to('gas');"><img src="{{this.params.base_url}}assets/images/new-icons/8.png" class="responsive-img" alt="1"><br><span>Gas</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.broadband}" routerLink="/recharge/for/broadband" (click)="navigate_to('broadband');"><img src="{{this.params.base_url}}assets/images/new-icons/6.png" class="responsive-img" alt="1"><br><span>Broadband</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.cable}" routerLink="/recharge/for/cable" (click)="navigate_to('cable');"><img src="{{this.params.base_url}}assets/images/new-icons/4.png" class="responsive-img" alt="1"><br><span>Cable Tv</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.datacard}" routerLink="/recharge/for/datacard" (click)="navigate_to('datacard');"><img src="{{this.params.base_url}}assets/images/new-icons/5.png" class="responsive-img" alt="1"><br><span>Data Card</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.landline}" routerLink="/recharge/for/landline" (click)="navigate_to('landline');"><img src="{{this.params.base_url}}assets/images/new-icons/9.png" class="responsive-img" alt="1"><br><span>Landline</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</section> 

<!-- Responsive icon -->
<section class="recharge-section show-on-medium-and-down hide-on-med-and-up cst-bg-color">
	<div class="container">
		<div class="col s12">
			<ul class="back-icon">
				<li>  <a class="black-text" routerLink="/"><span class="fa fa-arrow-left"></span>&nbsp; <span id="page-title">{{pagetitle}}</span></a> </li>
			</ul>
		</div>	
	</div>
</section>
<!-- End Here -->

<section *ngIf="recharge_ini == 2" class="relative">
	<div class="container">
		<div class="row mar-row responsive-kro ">
			<div class="col m12">
			<div class="card">
					<div class="card-content ">
					<div class="col s12 m12 l5">
						<img src="https://www.mydthshop.com/accounts/assets/img/operators/{{rechargeData.api_img}}" class="responsive-img vertical-align-middle margin-right icon-images" alt="airtel" width="50px">
						<h4 class="inline-block">Recharge of {{rechargeData.title}} {{rechargeData.recharge_bill_type}} {{rechargeData.recharge_id}} for <span class="font600">Rs. {{rechargeData.recharge_amount * 1 + rechargeData.commission*1 }}<a content="any text here" title="Inclusive of Tax Rs.{{rechargeData.commission}}"><i class="material-icons">info</i></a></span></h4>
						<!-- <a href="#promocode-modal" class="modal-trigger font-size-change" style="margin-left: 3rem;">Have a Promocode?</a> -->
					</div>
					<div class="col s12 m12 l5 margin-top">
						<div class="payment-method" *ngIf="pay_step==1">
							<p class="inline-block margin-right fast-forwad relative" *ngIf="promo_selected == 0">
								<a href="#promo-code-apply" class="modal-trigger">have a promo</a>
							</p>
							<p class="inline-block margin-right fast-forwad relative" *ngIf="promo_selected == 1">
								<span class="green-text" *ngIf="this.selected_promo">Promo {{this.selected_promo.unique_code}} Selected</span> 
								<a href="#promo-code-apply" class="modal-trigger">change</a>
							</p>	
							<p class="inline-block margin-right fast-forwad relative">
								<input type="radio" class="with-gap" id="instant-recharge"  name="payment_type" value="wallet" checked/>
								<label for="instant-recharge" class="black-text"><span class="fast"><i class="material-icons">fast_forward</i> Instant Recharge</span></label>    				
							</p>
							<p class="inline-block margin-right">
								<input type="radio" class="with-gap" id="other-option" (change)="other_to_pay(2)"  name="payment_type" value="other"/>
								<label for="other-option" class="black-text">Other</label>
							</p> 
						</div>
						<div class="payment-method1"  *ngIf="pay_step==2">
							<p class="inline-block margin-right ">
								<input type="radio" class="with-gap" id="credit-card" name="payment_type" value="card" checked/>
								<label for="credit-card" class="black-text">Cards & Netbanking</label>
							</p>
							<p class="inline-block margin-right ">
								<input type="radio" class="with-gap" id="paytm" name="payment_type" value="paytm"/>
								<label for="paytm" class="black-text">Paytm</label>
							</p>
							<p class="inline-block margin-right" *ngIf="(rechargeData.recharge_amount + rechargeData.commission) <= this.todoservice.get_user_wallet_amount()">
								<a href="javascript:" class="black-text" (click)="other_to_pay(1)"><< Back</a>
							</p>
						</div>                                                                                                      
						
					</div>
					<div class="no-proceed red-text" *ngIf="rechargeData.record_exist && rechargeData.record_exist.length > 0">
						You Have Recharged this ID Just Few Minutes Ago. Please Try Later. 
					</div>
					<div class="col s12 m12 l2" *ngIf="!rechargeData.record_exist">
						<button type="submit" class="btn orange btn-large" (click)="recharge_handle()">Proceed to pay {{rechargeData.recharge_amount * 1 + rechargeData.commission * 1}}</button>
					</div>
					<div class="clearfix"></div>
				</div>	
			</div>
			</div>
			
		</div>
	</div>
</section>
<section class="promo-code-section-2" *ngIf="recharge_ini == 1">
	<div class="container">
		<div class="row">
			<div class="col s12 m3">
				<div class=" mobile no-margin cst-border">
				<form id="mobile-form" [formGroup]="mobilegroup" #mobileform = "ngForm" (ngSubmit)="recharge_init('mobile',mobileform.value)" *ngIf="this.recharge_type.mobile">
					<div class="row no-margin">

						<h4 class="mb-txt">Mobile Recharge & Bill Payments	</h4>
						<div class="col s12 m12 margin-top1 cst-label-hover">
							<input name="group1" class="with-gap mobile-recharge-type" type="radio" id="prepaid-radio"  value="1" [checked]="!url_name.includes('postpaid')"  (click)="navigate_to('mobile')"/>
							<label for="prepaid-radio" class="cst-label" routerLink="/recharge/for/mobile">Prepaid</label>
							<input name="group1" class="with-gap mobile-recharge-type" type="radio" id="postpaid-radio" value="2" [checked]="url_name.includes('postpaid')" (click)="navigate_to('mobile-postpaid')"/>
							<label for="postpaid-radio" routerLink="/recharge/for/mobile-postpaid">Postpaid</label>
						</div>
						<!-- <input type="text" placeholder="Enter Mobile Number" formControlName="test_id" class="no-margin black-text validate">  -->
						<!-- <div class="red-text" *ngIf="!mobilegroup.controls['test_id'].valid && mobilegroup.controls['test_id'].touched">Enter a Valid Number</div>  -->
						<div class="input-field col s12 m12">
							<mat-form-field class="example-full-width">
								<input type="text" placeholder="Enter Mobile Number" formControlName="recharge_id" class="no-margin black-text validate" matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup)="next_to('mobile','recharge_id',$event)"> 
								<mat-autocomplete #auto="matAutocomplete">
									<span *ngIf="filterdList">
									<mat-option *ngFor="let option of filteredOptions" [value]="option.subcriber_id" (click)="selected_recharge(option)">{{option.subcriber_id}}
									</mat-option>
								</span>
								</mat-autocomplete>
							</mat-form-field>
							<!-- <input placeholder="Enter Mobile Number"  maxlength="10" minlength="10" type="text" class="validate no-margin" formControlName="recharge_id" (keyup)="next_to('mobile','recharge_id',$event)"> --> 
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Please Enter Mobile Number" id="mobid" *ngIf="!mobilegroup.controls['recharge_id'].valid && mobilegroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span>  
							<div class="red-text" *ngIf="!mobilegroup.controls['recharge_id'].valid && mobilegroup.controls['recharge_id'].touched">Enter a Valid Number</div>  
						</div>						
						<div class="input-field col s12 m12" *ngIf="!url_name.includes('postpaid')" id="prepaid-list">
							<mat-form-field>
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'mobile')" formControlName="operator" #operator [(value)]="selected_operator">
									<span *ngFor="let item of filter_operators(75);">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span> 
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Please Select Opreater" id="opid-1" *ngIf="!mobilegroup.controls['operator'].valid && mobilegroup.controls['operator'].touched"><i class="material-icons">close</i></span> 
						</div>
						<div class="input-field col s12 m12" *ngIf="url_name.includes('postpaid')" id="postpaid-list">
							<mat-form-field >
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'mobile')" formControlName="operator" #postoperator [(value)]="selected_operator">
									<span *ngFor="let item of filter_operators(76);">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Please Select Circle" id="opid-2" *ngIf="!mobilegroup.controls['operator'].valid && mobilegroup.controls['operator'].touched"><i class="material-icons">close</i></span>
						</div>
						<div class="input-field col s12 m12">
							<mat-form-field>
								<mat-select placeholder="Select Circle" #mcircle [(value)]="region" formControlName="circle_area" (selectionChange)="get_plans($event.value,'get')">
									<mat-option *ngFor="let item of circles;" [value]="item.circle_id">
										<span class="operator-name">{{ item.name }}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div> 
						<div class="input-field col s12 m12">
							<input placeholder=" Amount" maxlength="5" type="number" pattern="[0-9]+" class="validate" minlength="2" formControlName="amount">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Please Enter Amount" id="amid" *ngIf="!mobilegroup.controls['amount'].valid && mobilegroup.controls['amount'].touched"><i class="material-icons">close</i></span>    
						</div>
						
						<div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
									<label for="instant-recharge" class="orange-text mt-bt-20"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
									<label class="label-txt">Instant payment from your wallet </label>
								</p>
						</div> 
						<div class="col s12 m12 continue no-padding orange">
							<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
						</div>
					</div>
				</form>
					<div class=" dth-box">
					
				<form id="dth-form" [formGroup]="dthgroup" #dthform = "ngForm" (ngSubmit)="recharge_init('dth',dthform.value)" *ngIf="recharge_type.dth">
					<div class="row no-margin">
						<div class="input-field col s12 m12">
							<h4 class="dth-txt-1">DTH Recharge </h4>
							<mat-form-field> 
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'dth')" formControlName="operator" #operator>
									<span *ngFor="let item of filter_operators(59);">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option> 
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!dthgroup.controls['operator'].valid && dthgroup.controls['operator'].touched"><i class="material-icons">close</i></span> 
						</div>
						<div class="input-field col s12 m12">
							<input placeholder="Enter Your Viewing Card Number" name="recharge_id" [pattern] ="this.dthpattern" id="amount" type="text" class="validate no-margin" formControlName="recharge_id" (keyup)="next_to('dth','recharge_id',$event)">
							<a href="javascript:" class="wrong-detail" id="mobid" *ngIf="!dthgroup.controls['recharge_id'].valid && dthgroup.controls['recharge_id'].touched"><i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator">close</i></a>
							<div class="red-text" *ngIf="!dthgroup.controls['recharge_id'].valid && dthgroup.controls['recharge_id'].touched">Enter a Valid Number.</div> 
							<div class="green-text">{{validationtext}}</div> 	
						</div>
						<div class="input-field col s12 m12">
							<input placeholder="Enter Amount" type="text" class="validate no-margin" formControlName="amount">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!dthgroup.controls['amount'].valid && dthgroup.controls['amount'].touched"><i class="material-icons">close</i></span>
							<div class="red-text" *ngIf="!dthgroup.controls['amount'].valid && dthgroup.controls['amount'].touched">Enter a Valid Amount.</div>
						</div>
						<div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
								<!-- <label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Recharge</span></label>    				 -->
								<label for="instant-recharge" class="orange-text mt-bt-20"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
									<label class="label-txt">Instant payment from your wallet </label>
							</p>
						</div> 
						<div class="col s12 m12 continue no-padding orange">
							<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
						</div>
					</div>
				</form>
				</div>
				<form id="card-form" method="post" [formGroup]="datacardgroup" #datacardform = "ngForm" (ngSubmit)="recharge_init('datacard',datacardform.value)" *ngIf="this.recharge_type.datacard">
					<div class="row no-margin">
						<br/> <h4 class="dth-txt">Data Recharge &  Bill Payments </h4>
						
						<div class="col s12 m12 margin-top1 bill-type">
							<input name="group1" class="with-gap data-card-type" type="radio" id="width-1" value="1" [checked]="!url_name.includes('postpaid')" (click)="navigate_to('datacard')"/>
							<label for="width-1" routerLink="/recharge/for/datacard" >Prepaid</label>
							<input name="group1" class="with-gap data-card-type" type="radio" id="width2" value="2" [checked]="url_name.includes('postpaid')" (click)="navigate_to('datacard-postpaid')"/>
							<label for="width2" routerLink="/recharge/for/datacard-postpaid" >Postpaid</label>
						</div>
						<div class="input-field col s12 m12">
					

						
						
						
							<input placeholder="Enter Data Card Number" formControlName="recharge_id" maxlength="10" minlength="10" id="mobile-no" type="text" class="validate no-margin" (keyup)="next_to('datacard','recharge_id',$event)">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Enter Valid Data Card Number" id="mobid" *ngIf="!datacardgroup.controls['recharge_id'].valid && datacardgroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span> 
						</div>
						
						<div class="input-field col s12 m12">
							<div *ngIf="!url_name.includes('postpaid')" id="pre-datacard-list">        
								<mat-form-field>
									<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'card')" formControlName="operator" #predataoperator>
										<span *ngFor="let item of filter_operators(145);">
											<mat-option [value]="item.id">
												<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
											</mat-option>
										</span>
									</mat-select>
								</mat-form-field>
								<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Enter Valid Data Card Number" id="mobid" *ngIf="!datacardgroup.controls['recharge_id'].valid && datacardgroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span> 
							</div>
							<div *ngIf="url_name.includes('postpaid')" id="post-datacard-list">        
								<mat-form-field>
									<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'card')" formControlName="operator" #postdataoperator>
										<span *ngFor="let item of filter_operators(195);">
											<mat-option [value]="item.id">
												<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
											</mat-option>
										</span>
									</mat-select>
								</mat-form-field>
								<span class="wrong-detail" id="mobid" *ngIf="!datacardgroup.controls['operator'].valid && datacardgroup.controls['operator'].touched"><i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator">close</i></span> 
							</div>  
						</div>
						<div class="input-field col s12 m12">
							<mat-form-field>
								<mat-select placeholder="Select Circle" #dcircle>
									<mat-option *ngFor="let item of circles;" [value]="item.circle_id">
										<span class="operator-name">{{ item.circle_name }}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div> 
						<div class="input-field col s12 m12">
							<input placeholder="Enter Amount" formControlName="amount" maxlength="5" pattern="[0-9]+" type="number" class="validate no-margin">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Enter Amount" id="mobid" *ngIf="!datacardgroup.controls['amount'].valid && datacardgroup.controls['amount'].touched"><i class="material-icons">close</i></span> 
						</div>
						<div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
								<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
								<label class="label-txt">Instant payment from your wallet </label>
								<br/>
							</p>
						</div> 
						
						<div class="col s12 m12 continue no-padding orange">
							<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
						</div>
					</div>
				</form>
				<form method="post" id="landline-form" [formGroup]="landlinegroup" #landlineform = "ngForm" (ngSubmit)="recharge_init('landline',landlineform.value)" *ngIf="this.recharge_type.landline">
					<div class="row no-margin">
						<div class="input-field col s12 m12 electric-cls1">
							<h4 class="dth-txt-1">Pay Landline OR Broadband Bill	</h4>
							<mat-form-field>
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'landline')" formControlName="operator">
									<span *ngFor="let item of filter_operators(62);">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail" id="mobid" *ngIf="!landlinegroup.controls['operator'].valid && landlinegroup.controls['operator'].touched"><i class="material-icons">close</i></span> 
						</div>
						<div class="input-field col s12 m12 electric-cls2">
							<input placeholder="Telephone Number (With ISD Code)" formControlName="recharge_id" pattern="[0-9]+" type="number" class="validate no-margin">
							<span class="orange-text" *ngIf="showstd == 1">Use STD Codes as 011 for Delhi etc.</span>      
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Enter Telephone Number (With ISD Code)" id="mobid" *ngIf="!landlinegroup.controls['recharge_id'].valid && landlinegroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
								<!-- <label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Recharge</span></label>    				 -->
								<label for="instant-recharge" class="orange-text mt-bt-20"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
									<label class="label-txt">Instant payment from your wallet </label>
							</p>
						</div> 

						<div class="col s12 m12 right continue no-padding orange electric-cls-btn" style="margin-right: 20px;" >
							<button type="button" class="btn-flat white-text calc-amount-btn" (click)="check_amount('landline');">Proceed to Pay</button>
						</div>

						<span class="hide electric-cls3">
							<div class="input-field col s12 m12">
								<input placeholder="Enter Amount" formControlName="amount" type="text" disabled class="validate no-margin" ([ngModel])="bill_amt" value="{{bill_amt}}">
								<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!landlinegroup.controls['amount'].valid && landlinegroup.controls['amount'].touched"><i class="material-icons">close</i></span>       
								<span *ngIf="no_dues == 1" class="red-text">{{due_msg}}</span>
							</div>
							<!-- <div class="input-field col s12 m12 margin-btm no-padding">
								<p class="inline-block margin-right fast-forwad relative">
									<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
									<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
								</p>
							</div> -->

							<label for="instant-recharge" class="orange-text mt-bt-20 pt-left-20"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
									<label class="label-txt pt-left-20">Instant payment from your wallet </label>

							
							<div class="col s12 m12 continue no-padding orange">
								<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
							</div>
						</span>
					</div>
				</form>
				<form method="post" id="broadband-form" [formGroup]="broadbandgroup" #broadbandform = "ngForm" (ngSubmit)="recharge_init('broadband',broadbandform.value)" *ngIf="this.recharge_type.broadband">
					<div class="row no-margin">
					
						<div class="input-field col s12 m12">
							<h4 class="dth-txt-1">Pay Landline OR Broadband Bill	</h4>

							<mat-form-field>
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'broadband')" formControlName="operator">
									<span *ngFor="let item of filter_operators(63);">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!broadbandgroup.controls['operator'].valid && broadbandgroup.controls['operator'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="input-field col s12 m12">
							<input placeholder="Telephone Number (With ISD Code)" formControlName="recharge_id" pattern="[0-9]+"  type="text" class="validate no-margin">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!broadbandgroup.controls['recharge_id'].valid && broadbandgroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="input-field col s12 m12">
							<input placeholder="Enter Amount" formControlName="amount" maxlength="5" pattern="[0-9]+" type="number" class="validate no-margin">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!broadbandgroup.controls['amount'].valid && broadbandgroup.controls['amount'].touched"><i class="material-icons">close</i></span>       
						</div>
						<!-- <div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
								<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
							</p>
						</div> -->
						<label for="instant-recharge" class="orange-text mt-bt-20 pt-left-20"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
									<br/><label class="label-txt pt-left-20">Instant payment from your wallet </label>
									<br/>
						<div class="col s12 m12 continue no-padding orange " style="margin-top:20px;">
							<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
						</div>
					</div>
				</form>	
				<form id="electricity-form" method="post" [formGroup]="electricitygroup" #electricityform = "ngForm" (ngSubmit)="recharge_init('electricity',electricityform.value)" *ngIf="this.recharge_type.electricity">
					<div class="row no-margin">
						<div class="input-field col s12 m12 electric-cls1" >
							<h4 class="dth-txt-1">Pay Electricity Bill	</h4>
							<mat-form-field>
								<mat-select placeholder="Select Circle" (selectionChange)="filter_operator($event.value)" formControlName="circle">
									<span *ngFor="let item of circles;">
										<mat-option [value]="item.id">
											<span class="operator-name">{{ item.name }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!electricitygroup.controls['operator'].valid && electricitygroup.controls['operator'].touched"><i class="material-icons">close</i></span>       
						
							<!-- <div class="input-field col s12 m12 margin-btm no-padding">
								<p class="inline-block margin-right fast-forwad relative">
									<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
									<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
									<label class="label-txt">Instant payment from your wallet </label>
									<br/>
								</p>
							</div> 
							
							
							<div class="col s12 m12 continue no-padding orange">
								<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
							</div> -->
						</div>
						<div class="inner-electricity">
							<div class="input-field col s12 m12 electric-cls1" >
								<mat-form-field>
									<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'electricity')" formControlName="operator">
										<span *ngFor="let item of filter_operators(61);">
											<mat-option [value]="item.id">
												<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
											</mat-option>
										</span>
									</mat-select>
								</mat-form-field>
								<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!electricitygroup.controls['operator'].valid && electricitygroup.controls['operator'].touched"><i class="material-icons">close</i></span>       
							</div>
							<div class="input-field col s12 m12 electric-cls2">
								<input placeholder="Customer Account Number" formControlName="recharge_id" type="text" class="validate no-margin"> 
								<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!electricitygroup.controls['recharge_id'].valid && electricitygroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span>       
							</div>
							<label for="instant-recharge" class="orange-text mt-bt-20 pt-left-20"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
							<br/><label class="label-txt pt-left-20">Instant payment from your wallet </label>
							<br/>

							<div class="col s12 m12 right continue no-padding orange electric-cls-btn" >
								<button type="button" class="btn-flat white-text calc-amount-btn" (click)="check_amount('electricity');">Proceed to Pay</button>
							</div>
							<span class="hide electric-cls3">
								<div class="input-field col s12 m12">
									<input placeholder="Enter Amount" formControlName="amount" type="text" disabled class="validate no-margin" ([ngModel])="bill_amt" value="{{bill_amt}}">
									<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!electricitygroup.controls['amount'].valid && electricitygroup.controls['amount'].touched"><i class="material-icons">close</i></span>       
									<span *ngIf="no_dues == 1" class="red-text">{{due_msg}}</span>
								</div>
							 <div class="input-field col s12 m12 margin-btm no-padding">
									<p class="inline-block margin-right fast-forwad relative">
										<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
										<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
									</p>
								</div>
								<div class="input-field col s12 m12 margin-btm no-padding">
									<p class="inline-block margin-right fast-forwad relative">
										<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
										<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
										<label class="label-txt">Instant payment from your wallet </label>
										<br/>
									</p>
								</div> 
								
								
								<div class="col s12 m12 continue no-padding orange">
									<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
								</div>
							</span>
						</div>
						
					</div>
				</form>
				<form method="post" id="gas-form" [formGroup]="gasgroup" #gasform = "ngForm" (ngSubmit)="recharge_init('gas',gasform.value)" *ngIf="this.recharge_type.gas">
					<div class="row no-margin">
						<div class="input-field col s12 m12 electric-cls1">

							<h4 class="dth-txt-1">Pay Gas Bill Payment	</h4>

							<mat-form-field>
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'gas')" formControlName="operator">
									<span *ngFor="let item of filter_operators(66);">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!gasgroup.controls['operator'].valid && gasgroup.controls['operator'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="input-field col s12 m12 electric-cls2">
							<input placeholder="Customer Account Number" formControlName="recharge_id" type="text" class="validate no-margin">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Customer Account Number" id="mobid" *ngIf="!gasgroup.controls['recharge_id'].valid && gasgroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge1"  name="payment_type" value="wallet" />
								<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
								<label class="label-txt">Instant payment from your wallet </label>
								<br/>
							</p>
						</div>
						<div class="col s12 m12 right continue no-padding orange electric-cls-btn" >
							<button type="button" class="btn-flat white-text calc-amount-btn" (click)="check_amount('gas');">Proceed to Pay</button>
						</div>

						<span class="hide electric-cls3">
							<div class="input-field col s12 m12">
								<input placeholder="Enter Amount" formControlName="amount" type="text" disabled class="validate no-margin" ([ngModel])="bill_amt" value="{{bill_amt}}">
								<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!gasgroup.controls['amount'].valid && gasgroup.controls['amount'].touched"><i class="material-icons">close</i></span>       
								<span *ngIf="no_dues == 1" class="red-text">{{due_msg}}</span>
							</div>
							<!-- <div class="input-field col s12 m12 margin-btm no-padding">
								<p class="inline-block margin-right fast-forwad relative">
									<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
									<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
								</p>
							</div> -->
							<div class="input-field col s12 m12 margin-btm no-padding">
								<p class="inline-block margin-right fast-forwad relative">
									<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
									<!-- <label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Recharge</span></label>    				 -->
									<label for="instant-recharge" class="orange-text mt-bt-20"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
										<label class="label-txt">Instant payment from your wallet </label>
								</p>
							</div> 
							<div class="col s12 m12 continue no-padding orange">
								<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
							</div>
						</span>
					</div>
				</form>
				<form method="post" id="water-form" [formGroup]="watergroup" #waterform = "ngForm" (ngSubmit)="recharge_init('water',waterform.value)" *ngIf="this.recharge_type.water">
					<div class="row no-margin">
						<div class="input-field col s12 m12 electric-cls1">
							<h4 class="dth-txt-1">Pay Water Bill	</h4>

							<mat-form-field>
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'water')" formControlName="operator">
									<span *ngFor="let item of filter_operators(67);">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!watergroup.controls['operator'].valid && watergroup.controls['operator'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="input-field col s12 m12 electric-cls2">
							<input placeholder="K NO" formControlName="recharge_id"  type="text" class="validate no-margin">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Enter K NO" id="mobid" *ngIf="!watergroup.controls['recharge_id'].valid && watergroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span>       
						</div>
						<label for="instant-recharge" class="orange-text mt-bt-20 pt-left-20"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
						<br/><label class="label-txt pt-left-20">Instant payment from your wallet </label>
						<br/>

						<div class="col s12 m12 right continue no-padding orange electric-cls-btn" >
							<button type="button" class="btn-flat white-text calc-amount-btn" (click)="check_amount('water');">Proceed to Pay</button>
						</div>

						<span class="hide electric-cls3">
							<div class="input-field col s12 m12">
								<input placeholder="Enter Amount" formControlName="amount" type="text" disabled class="validate no-margin" ([ngModel])="bill_amt" value="{{bill_amt}}">
								<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!watergroup.controls['amount'].valid && watergroup.controls['amount'].touched"><i class="material-icons">close</i></span>       
								<span *ngIf="no_dues == 1" class="red-text">{{due_msg}}</span>
							</div>
							<!-- <div class="input-field col s12 m12 margin-btm no-padding">
								<p class="inline-block margin-right fast-forwad relative">
									<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
									<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
								</p>
							</div> -->
							<div class="input-field col s12 m12 margin-btm no-padding">
								<p class="inline-block margin-right fast-forwad relative">
									<input type="checkbox" class="filled-in" id="instant-recharge3"  name="payment_type" value="wallet" />
									<!-- <label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Recharge</span></label>    				 -->
									<label for="instant-recharge" class="orange-text mt-bt-20"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
										<label class="label-txt">Instant payment from your wallet </label>
								</p>
							</div> 

							<div class="col s12 m12 continue no-padding orange">
								<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
							</div>
						</span>
					</div>
				</form>
				<form method="post" id="cable-tv-form" [formGroup]="cablegroup" #cableform = "ngForm" (ngSubmit)="recharge_init('cable-tv',cableform.value)"  *ngIf="this.recharge_type.cable">
					<div class="row no-margin">
						<div class="input-field col s12 m12">
							<h4 class="dth-txt">Cable TV Recharge OR Bill Payment	</h4>
							<mat-form-field>
								<mat-select placeholder="Select Operator" formControlName="operator">
									<span *ngFor="let item of filter_operators(181);">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="input-field col s12 m12">
							<input placeholder="Customer ID" name="recharge_id" type="text" class="validate no-margin" formControlName="recharge_id">
						</div>
						<div class="input-field col s12 m12">
							<input placeholder="Enter Amount" name="amount" type="number" pattern="[0-9]+" class="validate no-margin"  formControlName="amount">
						</div>
						<!-- <div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
								<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
							</p>
						</div> -->
						<div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
								<!-- <label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Recharge</span></label>    				 -->
								<label for="instant-recharge" class="orange-text mt-bt-20"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
									<label class="label-txt">Instant payment from your wallet </label>
							</p>
						</div> 
						<div class="col s12 m12 continue no-padding orange" style="margin-top:20px;">
							<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
						</div>
					</div>
				</form>
			
				</div>

				<br/>
				<div class=" mobile no-margin cst-border1 mt-top-txt hide-on-desktop" *ngIf="last_recharges && last_recharges.length > 0">
					<div class="inner-recharge" *ngFor="let item of last_recharges;" (click)="selected_recharge(item)">
						<div class="row">
						<div class="col s2">
							<div class="cstm-img">
							<img src="https://www.mydthshop.com/accounts/assets/img/operators/{{decode_data(item.order_data,'img')}}" alt="{{decode_data(item.order_data,'operator')}}" class="responsive-image">
							</div>
						</div>
						<div class="col s10">
							<div class="rechare-section">
								<p class="heading-txt1">{{decode_data(item.order_data,'operator')}} </p>
								<p>{{item.subcriber_id}}</p>
								<span class="list-data">Recharge of Rs.{{item.grand_total}} done on {{item.history_time | date: date: 'dd M, Y'}} .</span>
							</div>
						</div>
						</div>
					</div>
				</div>
			
			</div>

			<!-- <div class="row cst-border">

				<div class="s3">
					<div class="img-crl">
					<img src="https://www.mydthshop.com/media/uploads/api_catimages/1533210907_airtel.png" class="img-responsive">
				</div>
				</div>
				<div class="s9">
					<div class="inner-ctnt">
						<p>AIRTEL </p>
					</div>
				</div>
			</div>  -->



			<div class="col s12 m9 plans-view-details">
				<div class="card no-margin cst-border1">
					<div class="card-content">
						<div id="short-content"></div>
					</div>	
					<div class="card-content no-padding-top">
						<div id="tab-2" [className]="(tab_2 == true)?'inline-block promo-chng active':'inline-block promo-chng'" *ngIf="plans && plans.length > 0">
							<span class="font-size-change1 font600" ><a href="javascript:" (click)="show_tab(2)">Plans</a></span>
							<hr class="hr-promo">
						</div>
						<div id="tab-1" [className]="(tab_1 == true)?'inline-block promo-chng active':'inline-block promo-chng'" *ngIf="promo_codes && promo_codes.length > 0">
							<span class="font-size-change1 font600"><a href="javascript:" (click)="show_tab(1)">Promo Code</a></span>
							<hr class="hr-promo">
						</div>
						
						<div id="promo-content" [className]="(plans.length > 0) ? 'hide':''">
							<ul class="promo-ul">
								<li class="promo-li" *ngFor="let promo of promo_codes;">
									<a href="#promo-code-modal" class="modal-trigger" (click)="promoselected(promo)">
										<h4 class="font600 black-text">{{promo.unique_code}}</h4>
										<span class="font-size-change1 grey-text"> {{promo.description}}</span>
										<a href="javascript:" class="right">View detail</a>
									</a>
								</li>
							</ul>
						</div>
						<div id="circles-content" *ngIf="plans.length > 0 && this.url_name == 'mobile'">
							<div class="col m4">
								<ul class="tabs">
								  <li [className]="(i == 0)?'tab active':'tab'" *ngFor="let item of plans;let i = index" id="list-{{item.id}}"><a href="javascript:" (click)="print_plan(item.records,item.id);">{{item.plan}}</a></li>
								</ul>
							</div>
							<div class="col m8">
								<div class="responsive-table">

								<table class="bordered responsive-table">
									<thead style="background-color: #f3f7f8; color:#333;">
										<tr>
											<th>Description</th>
											<th>Validity </th>
											<th>Price</th>
										</tr>
									</thead>
									<tbody id="print-data">
									</tbody>
								</table>

								</div>
							</div>
							
						</div>
						<div class="clearfix"></div>
					</div>
					<p class="cst-desc"><strong>Description : </strong> Disclaimer : While we support most recharges, we request you to verify with your operator once before proceeding. ' Best Offers For You ' are offers available for a class of Airtel subscribers.</p>
				</div>

				
			</div>
		</div>
	</div>
</section>
<div id="promo-code-modal" class="modal">
	<div class="modal-content" *ngIf="selected_promo">
		<h3 class="font600">{{selected_promo.description}}</h3>
		<span class="modal-close close-modal-span"><i class="material-icons font-size-change1">close</i></span>
		<div class="copied-promo-code">
			<input type="text" size="9" value="{{selected_promo.unique_code}}" id="inputcopyId">
			<a href="javascript:" (click)="copyToClipboard()">Copy</a>
		</div>
		<span class="grey-text">Paste this code on deals page</span>
		<ul>
			<h5 class="font600">Terms &amp; Conditions:</h5>
			<div class="" id="terms-condition" *ngIf="selected_promo.terms_description">{{selected_promo.terms_description}}</div>
		</ul>		
	</div>
</div>
<div id="promo-code-apply" class="modal">
	<div class="row">		
		<span class="modal-close close-modal-span"><i class="material-icons font-size-change1">close</i></span>
		<div class="col s12 m5">
			<div class="modal-content">
				<span class="font-size-change1 font600">Enter Promo Code</span>
				<hr class="hr-promo">
				<input placeholder="Enter Promo Code" type="text" class="validate no-margin" name="promocode" id="place-promocode" value="" onkeyup="if(this.value != '') $('#response-code').text(''); else $('#response-code').text('Please Enter Promo code')">
				<button class="btn orange" (click)="apply_promo()" id="apply-promo">Apply</button>
				<div class="red-text" id="response-code"></div>
			<br/>
			<ul *ngIf="selected_promo">
					<h4 class="font600" *ngIf="selected_promo.terms_description">{{selected_promo.unique_code}}</h4>
					{{selected_promo.terms_description}}
				</ul>
			</div>
			
			
		</div>
		<!-- <span class="font-size-change font600">OR</span> -->
		<div class="col s12 m7">
			<div class="modal-content" *ngIf="promo_codes && promo_codes.length > 0">
				<span class="font-size-change1 font600">Select Promo Code</span>
				<hr class="hr-promo">
				<ul class="promo-ul">
					<li class="promo-li" *ngFor="let promo of promo_codes;">
						<a href="javascript:" (click)="promoselected(promo)">
							<h4 class="font600 black-text">{{promo.unique_code}}</h4>
							<span class="font-size-change1 grey-text"> {{promo.description}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<section class="recharge-oprator">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content hide-mobile-ctr">
						<div id="long-content"></div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>


<app-footer [baseUrl]="this.params.base_url"></app-footer>
