<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,1)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>
<style>
	.mat-select-arrow-wrapper {
    
    vertical-align: middle;
    display: none !important;
}
.cst-label {
    font-size:.8rem;
    color:#222 !important;
}
.mat-form-field-wrapper {
    padding: 0px !important;
}
.card .card-content {
    padding: 8px 24px 24px 24px;
    border-radius: 0 0 2px 2px;
}
span.card-title {
    font-size: 18px;
    font-weight: bold;
}
</style>
</div>
<section class="recharge-section hide-on-med-and-down" *ngIf="recharge_ini == 1">
	<div class="container">
		<div class="row mar-row"> 
			<div class="col s12">
				<ul class="tabs center new-page-tab" id="select-item">
					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.mobile}" routerLink="/recharge/for/mobile" (click)="navigate_to('mobile');"><img src="{{this.params.base_url}}assets/images/new-icons/2.png" class="responsive-img" alt="1"><br><span>Mobile</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.dth}" routerLink="/recharge/for/dth-recharge" (click)="navigate_to('dth-recharge');"><img src="{{this.params.base_url}}assets/images/new-icons/7.png" class="responsive-img" alt="1"><br><span>DTH</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.electricity}" routerLink="/recharge/for/electricity"  (click)="navigate_to('electricity');"><img src="{{this.params.base_url}}assets/images/new-icons/3.png" class="responsive-img" alt="1"><br><span>Electricity</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.water}" routerLink="/recharge/for/water"  (click)="navigate_to('water');"><img src="{{this.params.base_url}}assets/images/new-icons/1.png" class="responsive-img" alt="1"><br><span>Water</span></a></li>					

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.gas}" routerLink="/recharge/for/gas" (click)="navigate_to('gas');"><img src="{{this.params.base_url}}assets/images/new-icons/8.png" class="responsive-img" alt="1"><br><span>Gas</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.broadband}" routerLink="/recharge/for/broadband" (click)="navigate_to('broadband');"><img src="{{this.params.base_url}}assets/images/new-icons/6.png" class="responsive-img" alt="1"><br><span>Broadband</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.cable}" routerLink="/recharge/for/cable" (click)="navigate_to('cable');"><img src="{{this.params.base_url}}assets/images/new-icons/4.png" class="responsive-img" alt="1"><br><span>Cable Tv</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.datacard}" routerLink="/recharge/for/datacard" (click)="navigate_to('datacard');"><img src="{{this.params.base_url}}assets/images/new-icons/5.png" class="responsive-img" alt="1"><br><span>Data Card</span></a></li>

					<li class="tab"><a [ngClass]="{'active' : this.recharge_type.landline}" routerLink="/recharge/for/landline" (click)="navigate_to('landline');"><img src="{{this.params.base_url}}assets/images/new-icons/9.png" class="responsive-img" alt="1"><br><span>Landline</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</section> 

<!-- Responsive icon -->
<section class="recharge-section show-on-medium-and-down hide-on-med-and-up cst-bg-color">
	<div class="container">
		<!-- <div class="row">
			<div class="col s12">
				<ul class="back-icon">
					<li><h4><a class="black-text"routerLink="/">Back</a></h4></li>
				</ul> 
								
				<ul class="center" id="select-item">
					<div class="row">
						<div class="col s4">
							<li class="tab" [ngClass]="{'active' : this.recharge_type.mobile}"><a class="black-text"  routerLink="/recharge/for/mobile" (click)="navigate_to('mobile');"><img src="{{this.params.base_url}}assets/images/new-icons/2.png" class="responsive-img" alt="1"><br><span>Mobile</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab" [ngClass]="{'active' : this.recharge_type.dth}" ><a class="black-text"routerLink="/recharge/for/dth-recharge" (click)="navigate_to('dth-recharge');"><img src="{{this.params.base_url}}assets/images/new-icons/7.png" class="responsive-img" alt="1"><br><span>DTH</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab" [ngClass]="{'active' : this.recharge_type.electricity}"><a class="black-text"  routerLink="/recharge/for/electricity"  (click)="navigate_to('electricity');"><img src="{{this.params.base_url}}assets/images/new-icons/3.png" class="responsive-img" alt="1"><br><span>Electricity</span></a></li>
						</div>
					</div>
					<div class="row">
						<div class="col s4">
							<li class="tab" [ngClass]="{'active' : this.recharge_type.water}"><a class="black-text" routerLink="/recharge/for/water"  (click)="navigate_to('water');"><img src="{{this.params.base_url}}assets/images/new-icons/1.png" class="responsive-img" alt="1"><br><span>Water</span></a></li>					
						</div>
						<div class="col s4">
							<li class="tab" [ngClass]="{'active' : this.recharge_type.gas}"><a class="black-text" routerLink="/recharge/for/gas" (click)="navigate_to('gas');"><img src="{{this.params.base_url}}assets/images/new-icons/8.png" class="responsive-img" alt="1"><br><span>Gas</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab" [ngClass]="{'active' : this.recharge_type.broadband}"><a class="black-text"  routerLink="/recharge/for/broadband" (click)="navigate_to('broadband');"><img src="{{this.params.base_url}}assets/images/new-icons/6.png" class="responsive-img" alt="1"><br><span>Broadband</span></a></li>
						</div>
					</div>
					<div class="row">
						<div class="col s4">
							<li class="tab" [ngClass]="{'active' : this.recharge_type.cable}"><a class="black-text"  routerLink="/recharge/for/cable" (click)="navigate_to('cable');"><img src="{{this.params.base_url}}assets/images/new-icons/4.png" class="responsive-img" alt="1"><br><span>Cable Tv</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab" [ngClass]="{'active' : this.recharge_type.datacard}"><a class="black-text"  routerLink="/recharge/for/datacard" (click)="navigate_to('datacard');"><img src="{{this.params.base_url}}assets/images/new-icons/5.png" class="responsive-img" alt="1"><br><span>Data Card</span></a></li>
						</div>
						<div class="col s4">
							<li class="tab" [ngClass]="{'active' : this.recharge_type.landline}"><a class="black-text"  routerLink="/recharge/for/landline" (click)="navigate_to('landline');"><img src="{{this.params.base_url}}assets/images/new-icons/9.png" class="responsive-img" alt="1"><br><span>Landline</span></a></li>
						</div>
					</div>
				</ul> 
			</div>
		</div> -->
		<div class="col s12">
			<ul class="back-icon">
				<li>  <a class="black-text" routerLink="/"><span class="fa fa-arrow-left"></span>&nbsp; Back</a> </li>
			</ul>
		</div>	
	</div>
</section>
<!-- End Here -->

<section *ngIf="recharge_ini == 2" class="relative">
	<div class="container">
		<div class="row mar-row responsive-kro ">
			<div class="col m12">
			<div class="card">
					<div class="card-content ">
					<div class="col s12 m12 l5">
						<img src="https://www.mydthshop.com/accounts/assets/img/operators/{{rechargeData.api_img}}" class="responsive-img vertical-align-middle margin-right icon-images" alt="airtel" width="50px">
						<h4 class="inline-block">Recharge of {{rechargeData.title}} {{rechargeData.recharge_bill_type}} {{rechargeData.recharge_id}} for <span class="font600">Rs. {{rechargeData.recharge_amount}}</span></h4>
						<!-- <a href="#promocode-modal" class="modal-trigger font-size-change" style="margin-left: 3rem;">Have a Promocode?</a> -->
					</div>
					<div class="col s12 m12 l5 margin-top">
						<div class="payment-method" *ngIf="pay_step==1">
							<p class="inline-block margin-right fast-forwad relative" *ngIf="promo_selected == 0">
								<a href="#promo-code-apply" class="modal-trigger">have a promo</a>
							</p>
							<p class="inline-block margin-right fast-forwad relative" *ngIf="promo_selected == 1">
								<span class="green-text" *ngIf="this.selected_promo">Promo {{this.selected_promo.unique_code}} Selected</span>
								<a href="#promo-code-apply" class="modal-trigger">change</a>
							</p>	
							<p class="inline-block margin-right fast-forwad relative">
								<input type="radio" class="with-gap" id="instant-recharge"  name="payment_type" value="wallet" checked/>
								<label for="instant-recharge" class="black-text"><span class="fast"><i class="material-icons">fast_forward</i> Instant Recharge</span></label>    				
							</p>
							<p class="inline-block margin-right">
								<input type="radio" class="with-gap" id="other-option" (change)="other_to_pay(2)"  name="payment_type" value="other"/>
								<label for="other-option" class="black-text">Other</label>
							</p> 
						</div>
						<div class="payment-method1"  *ngIf="pay_step==2">
							<p class="inline-block margin-right ">
								<input type="radio" class="with-gap" id="credit-card" name="payment_type" value="card" checked/>
								<label for="credit-card" class="black-text">Cards & Netbanking</label>
							</p>
							<p class="inline-block margin-right ">
								<input type="radio" class="with-gap" id="paytm" name="payment_type" value="paytm"/>
								<label for="paytm" class="black-text">Paytm</label>
							</p>
							<p class="inline-block margin-right" *ngIf="rechargeData.recharge_amount <= this.todoservice.get_user().wallet">
								<a href="javascript:" class="black-text" (click)="other_to_pay(1)"><< Back</a>
							</p>
						</div>                                                                                                      
						
					</div>
					<div class="no-proceed red-text" *ngIf="rechargeData.record_exist && rechargeData.record_exist.length > 0">
						You Have Recharged this ID Just Few Minutes Ago. Please Try Later. 
					</div>
					<div class="col s12 m12 l2" *ngIf="!rechargeData.record_exist">
						<button type="submit" class="btn orange btn-large" (click)="recharge_handle()">Proceed to pay {{rechargeData.recharge_amount}}</button>
					</div>
					<div class="clearfix"></div>
				</div>	
			</div>
			</div>
			
		</div>
	</div>
</section>
<section class="promo-code-section-2" *ngIf="recharge_ini == 1">
	<div class="container">
		<div class="row">
			<div class="col s12 m3 mobile no-margin cst-border">
				<form id="mobile-form" [formGroup]="mobilegroup" #mobileform = "ngForm" (ngSubmit)="recharge_init('mobile',mobileform.value)" *ngIf="this.recharge_type.mobile ">
					<div class="row no-margin">
						<div class="col s12 m12 margin-top1 cst-label-hover">
							<input name="group1" class="with-gap mobile-recharge-type" type="radio" id="prepaid-radio"  value="1" checked  (click)="show_operator('prepaid')"/>
							<label for="prepaid-radio" class="cst-label">Prepaid</label>
							<input name="group1" class="with-gap mobile-recharge-type" type="radio" id="postpaid-radio" value="2" (click)="show_operator('postpaid')"/>
							<label for="postpaid-radio" >Postpaid</label>
						</div>
						<div class="input-field col s12 m12">
							<mat-form-field class="example-full-width">
								<input type="text" placeholder=" Mobile Number" formControlName="recharge_id" class="no-margin black-text" maxlength="10" minlength="10" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup)="next_to('mobile','recharge_id',$event)"> 
								<mat-autocomplete #auto="matAutocomplete">
									<span *ngIf="filterdList">
									<mat-option *ngFor="let option of filteredOptions" [value]="option.recharge_id" (click)="selected_recharge(option)">{{option.recharge_id}}
									</mat-option>
								</span>
								</mat-autocomplete>
							</mat-form-field>
							<!-- <input placeholder="Enter Mobile Number"  maxlength="10" minlength="10" type="text" class="validate no-margin" formControlName="recharge_id" (keyup)="next_to('mobile','recharge_id',$event)"> --> 
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Please Enter Mobile Number" id="mobid" *ngIf="!mobilegroup.controls['recharge_id'].valid && mobilegroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span>  
							<div class="red-text" *ngIf="!mobilegroup.controls['recharge_id'].valid && mobilegroup.controls['recharge_id'].touched">Enter a Valid Number</div>  
						</div>						
						<div class="input-field col s12 m12" id="prepaid-list">
							<mat-form-field>
								<mat-select placeholder=" Operator" (selectionChange)="changeOperator($event.value,'mobile')" formControlName="operator" #operator>
									<span *ngFor="let item of operators.MOBILEPREPAID;">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span> 
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Please Select Opreater" id="opid-1" *ngIf="!mobilegroup.controls['operator'].valid && mobilegroup.controls['operator'].touched"><i class="material-icons">close</i></span> 
						</div>
						<div class="input-field col s12 m12 hide" id="postpaid-list">
							<mat-form-field >
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'mobile')" formControlName="operator" #postoperator>
									<span *ngFor="let item of operators.MOBILEPOSTPAID;">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Please Select Circle" id="opid-2" *ngIf="!mobilegroup.controls['operator'].valid && mobilegroup.controls['operator'].touched"><i class="material-icons">close</i></span>
						</div>
						<div class="input-field col s12 m12">
							<mat-form-field>
								<mat-select placeholder="Select Circle" #mcircle [(value)]="region" formControlName="circle_area" (selectionChange)="get_plans($event.value,'get')">
									<mat-option *ngFor="let item of circles;" [value]="item.circle_id">
										<span class="operator-name">{{ item.name }}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div> 
						<div class="input-field col s12 m12">
							<input placeholder=" Amount" maxlength="5" type="number" pattern="[0-9]+" class="validate" minlength="2" formControlName="amount">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Please Enter Amount" id="amid" *ngIf="!mobilegroup.controls['amount'].valid && mobilegroup.controls['amount'].touched"><i class="material-icons">close</i></span>    
						</div>
						<!-- <div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
								<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Recharge</span></label>  
								<label class="instant-label">Instant  payments from your wallet</label>  				
							</p>
						</div> -->
						<div class="col s12 m12 continue no-padding orange">
							<button type="submit" class="btn-flat white-text">Continue</button>
						</div>
					</div>
				</form>
					<div class=" dth-box">
				<form id="dth-form" [formGroup]="dthgroup" #dthform = "ngForm" (ngSubmit)="recharge_init('dth',dthform.value)" *ngIf="recharge_type.dth">
					<div class="row no-margin">
						<div class="input-field col s12 m12">
							<mat-form-field> 
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'dth')" formControlName="operator" #operator>
									<span *ngFor="let item of operators.DTH;">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option> 
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!dthgroup.controls['operator'].valid && dthgroup.controls['operator'].touched"><i class="material-icons">close</i></span> 
						</div>
						<div class="input-field col s12 m12">
							<input placeholder="Enter Your Viewing Card Number" name="recharge_id" maxlength="{{dthmaxlength}}" minlength="{{dthminlength}}" id="amount" type="text" class="validate no-margin" formControlName="recharge_id" (keyup)="next_to('dth','recharge_id',$event)">
							<a href="javascript:" class="wrong-detail" id="mobid" *ngIf="!dthgroup.controls['recharge_id'].valid && dthgroup.controls['recharge_id'].touched"><i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator">close</i></a>
							<div class="red-text" *ngIf="!dthgroup.controls['recharge_id'].valid && dthgroup.controls['recharge_id'].touched">Enter a Valid Number.</div> 
							<div class="green-text">{{validationtext}}</div> 	
						</div>
						<div class="input-field col s12 m12">
							<input placeholder="Enter Amount" maxlength="5" type="number" pattern="[0-9]+" class="validate no-margin" formControlName="amount">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!dthgroup.controls['amount'].valid && dthgroup.controls['amount'].touched"><i class="material-icons">close</i></span>
						</div>
						<div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
								<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Recharge</span></label>    				
							</p>
						</div>
						<div class="col s12 m12 continue no-padding orange">
							<button type="submit" class="btn-flat white-text">Proceed to Recharge</button>
						</div>
					</div>
				</form>
				</div>
				<form method="post" [formGroup]="datacardgroup" #datacardform = "ngForm" (ngSubmit)="recharge_init('datacard',datacardform.value)" *ngIf="this.recharge_type.datacard">
					<div class="row no-margin">
						<div class="input-field col s12 m12">
							<input placeholder="Enter Data Card Number" formControlName="recharge_id" maxlength="10" minlength="10" id="mobile-no" type="text" class="validate no-margin" (keyup)="next_to('datacard','recharge_id',$event)">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Enter Valid Data Card Number" id="mobid" *ngIf="!datacardgroup.controls['recharge_id'].valid && datacardgroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span> 
						</div>
						<div class="col s12 m12 margin-top1 bill-type">
							<input name="group1" class="with-gap data-card-type" type="radio" id="width-1" checked value="1"/>
							<label for="width-1" (click)="change_list(3)">Prepaid</label>
							<input name="group1" class="with-gap data-card-type" type="radio" id="width2" value="2"/>
							<label for="width2" (click)="change_list(4)">Postpaid</label>
						</div>
						<div class="input-field col s12 m12">
							<div class="" id="pre-datacard-list">        
								<mat-form-field>
									<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'card')" formControlName="operator" #predataoperator>
										<span *ngFor="let item of operators.DATACARDS;">
											<mat-option [value]="item.id">
												<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
											</mat-option>
										</span>
									</mat-select>
								</mat-form-field>
								<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Enter Valid Data Card Number" id="mobid" *ngIf="!datacardgroup.controls['recharge_id'].valid && datacardgroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span> 
							</div>
							<div class="hide" id="post-datacard-list">        
								<mat-form-field>
									<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'card')" formControlName="operator" #postdataoperator>
										<span *ngFor="let item of operators.DATACARDS;">
											<mat-option [value]="item.id">
												<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
											</mat-option>
										</span>
									</mat-select>
								</mat-form-field>
								<span class="wrong-detail" id="mobid" *ngIf="!datacardgroup.controls['operator'].valid && datacardgroup.controls['operator'].touched"><i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator">close</i></span> 
							</div>  
						</div>
						<div class="input-field col s12 m12">
							<mat-form-field>
								<mat-select placeholder="Select Circle" #dcircle>
									<mat-option *ngFor="let item of circles;" [value]="item.circle_id">
										<span class="operator-name">{{ item.circle_name }}</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div> 
						<div class="input-field col s12 m12">
							<input placeholder="Enter Amount" formControlName="amount" maxlength="5" pattern="[0-9]+" type="number" class="validate no-margin">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Enter Amount" id="mobid" *ngIf="!datacardgroup.controls['amount'].valid && datacardgroup.controls['amount'].touched"><i class="material-icons">close</i></span> 
						</div>
						<div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
								<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
							</p>
						</div>
						<div class="col s12 m12 continue no-padding orange">
							<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
						</div>
					</div>
				</form>
				<form method="post" id="landline" [formGroup]="landlinegroup" #landlineform = "ngForm" (ngSubmit)="recharge_init('landline',landlineform.value)" *ngIf="this.recharge_type.landline">
					<div class="row no-margin">
						<div class="input-field col s12 m12 electric-cls1">
							<mat-form-field>
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'landline')" formControlName="operator">
									<span *ngFor="let item of operators.LANDLINECAT;">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail" id="mobid" *ngIf="!landlinegroup.controls['operator'].valid && landlinegroup.controls['operator'].touched"><i class="material-icons">close</i></span> 
						</div>
						<div class="input-field col s12 m12 electric-cls2">
							<input placeholder="Telephone Number (With ISD Code)" formControlName="recharge_id" pattern="[0-9]+" type="number" class="validate no-margin">
							<span class="orange-text" *ngIf="showstd == 1">Use STD Codes as 011 for Delhi etc.</span>      
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Enter Telephone Number (With ISD Code)" id="mobid" *ngIf="!landlinegroup.controls['recharge_id'].valid && landlinegroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span>       
						</div>

						<div class="col s12 m12 right continue no-padding orange electric-cls-btn" >
							<button type="button" class="btn-flat white-text calc-amount-btn" (click)="check_amount('landline');">Proceed to Pay</button>
						</div>

						<span class="hide electric-cls3">
							<div class="input-field col s12 m12">
								<input placeholder="Enter Amount" formControlName="amount" type="text" disabled class="validate no-margin" ([ngModel])="bill_amt" value="{{bill_amt}}">
								<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!landlinegroup.controls['amount'].valid && landlinegroup.controls['amount'].touched"><i class="material-icons">close</i></span>       
								<span *ngIf="no_dues == 1" class="red-text">{{due_msg}}</span>
							</div>
							<div class="input-field col s12 m12 margin-btm no-padding">
								<p class="inline-block margin-right fast-forwad relative">
									<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
									<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
								</p>
							</div>
							<div class="col s12 m12 continue no-padding orange">
								<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
							</div>
						</span>
					</div>
				</form>
				<form method="post" [formGroup]="broadbandgroup" #broadbandform = "ngForm" (ngSubmit)="recharge_init('broadband',broadbandform.value)" *ngIf="this.recharge_type.broadband">
					<div class="row no-margin">
						<div class="input-field col s12 m12">
							<mat-form-field>
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'broadband')" formControlName="operator">
									<span *ngFor="let item of operators.BROADCAT;">
										<mat-option [value]="+item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!broadbandgroup.controls['operator'].valid && broadbandgroup.controls['operator'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="input-field col s12 m12">
							<input placeholder="Telephone Number (With ISD Code)" formControlName="recharge_id" pattern="[0-9]+"  type="text" class="validate no-margin">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!broadbandgroup.controls['recharge_id'].valid && broadbandgroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="input-field col s12 m12">
							<input placeholder="Enter Amount" formControlName="amount" maxlength="5" pattern="[0-9]+" type="number" class="validate no-margin">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!broadbandgroup.controls['amount'].valid && broadbandgroup.controls['amount'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
								<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
							</p>
						</div>
						<div class="col s12 m12 continue no-padding orange">
							<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
						</div>
					</div>
				</form>	
				<form id="electricity" method="post" [formGroup]="electricitygroup" #electricityform = "ngForm" (ngSubmit)="recharge_init('electricity',electricityform.value)" *ngIf="this.recharge_type.electricity">
					<div class="row no-margin">
						<div class="input-field col s12 m12 electric-cls1" >
							<mat-form-field>
								<mat-select placeholder="Select Circle" (selectionChange)="filter_operator($event.value)" formControlName="circle">
									<span *ngFor="let item of circles;">
										<mat-option [value]="item.id">
											<span class="operator-name">{{ item.name }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!electricitygroup.controls['operator'].valid && electricitygroup.controls['operator'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="inner-electricity hide">
							<div class="input-field col s12 m12 electric-cls1" >
								<mat-form-field>
									<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'electricity')" formControlName="operator">
										<span *ngFor="let item of electricity_operators;">
											<mat-option [value]="item.id">
												<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
											</mat-option>
										</span>
									</mat-select>
								</mat-form-field>
								<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!electricitygroup.controls['operator'].valid && electricitygroup.controls['operator'].touched"><i class="material-icons">close</i></span>       
							</div>
							<div class="input-field col s12 m12 electric-cls2">
								<input placeholder="Customer Account Number" formControlName="recharge_id" type="text" class="validate no-margin"> 
								<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!electricitygroup.controls['recharge_id'].valid && electricitygroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span>       
							</div>
							<div class="col s12 m12 right continue no-padding orange electric-cls-btn" >
								<button type="button" class="btn-flat white-text calc-amount-btn" (click)="check_amount('electricity');">Proceed to Pay</button>
							</div>
							<span class="hide electric-cls3">
								<div class="input-field col s12 m12">
									<input placeholder="Enter Amount" formControlName="amount" type="text" disabled class="validate no-margin" ([ngModel])="bill_amt" value="{{bill_amt}}">
									<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!electricitygroup.controls['amount'].valid && electricitygroup.controls['amount'].touched"><i class="material-icons">close</i></span>       
									<span *ngIf="no_dues == 1" class="red-text">{{due_msg}}</span>
								</div>
								<div class="input-field col s12 m12 margin-btm no-padding">
									<p class="inline-block margin-right fast-forwad relative">
										<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
										<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
									</p>
								</div>
								<div class="col s12 m12 continue no-padding orange">
									<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
								</div>
							</span>
						</div>
						
					</div>
				</form>
				<form method="post" id="gas" [formGroup]="gasgroup" #gasform = "ngForm" (ngSubmit)="recharge_init('gas',gasform.value)" *ngIf="this.recharge_type.gas">
					<div class="row no-margin">
						<div class="input-field col s12 m12 electric-cls1">
							<mat-form-field>
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'gas')" formControlName="operator">
									<span *ngFor="let item of operators.GAS;">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!gasgroup.controls['operator'].valid && gasgroup.controls['operator'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="input-field col s12 m12 electric-cls2">
							<input placeholder="Customer Account Number" formControlName="recharge_id" type="text" class="validate no-margin">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Customer Account Number" id="mobid" *ngIf="!gasgroup.controls['recharge_id'].valid && gasgroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span>       
						</div>

						<div class="col s12 m12 right continue no-padding orange electric-cls-btn" >
							<button type="button" class="btn-flat white-text calc-amount-btn" (click)="check_amount('gas');">Proceed to Pay</button>
						</div>

						<span class="hide electric-cls3">
							<div class="input-field col s12 m12">
								<input placeholder="Enter Amount" formControlName="amount" type="text" disabled class="validate no-margin" ([ngModel])="bill_amt" value="{{bill_amt}}">
								<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!gasgroup.controls['amount'].valid && gasgroup.controls['amount'].touched"><i class="material-icons">close</i></span>       
								<span *ngIf="no_dues == 1" class="red-text">{{due_msg}}</span>
							</div>
							<div class="input-field col s12 m12 margin-btm no-padding">
								<p class="inline-block margin-right fast-forwad relative">
									<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
									<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
								</p>
							</div>
							<div class="col s12 m12 continue no-padding orange">
								<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
							</div>
						</span>
					</div>
				</form>
				<form method="post" id="water" [formGroup]="watergroup" #waterform = "ngForm" (ngSubmit)="recharge_init('water',waterform.value)" *ngIf="this.recharge_type.water">
					<div class="row no-margin">
						<div class="input-field col s12 m12 electric-cls1">
							<mat-form-field>
								<mat-select placeholder="Select Operator" (selectionChange)="changeOperator($event.value,'water')" formControlName="operator">
									<span *ngFor="let item of operators.WATER;">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!watergroup.controls['operator'].valid && watergroup.controls['operator'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="input-field col s12 m12 electric-cls2">
							<input placeholder="K NO" formControlName="recharge_id"  type="text" class="validate no-margin">
							<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Enter K NO" id="mobid" *ngIf="!watergroup.controls['recharge_id'].valid && watergroup.controls['recharge_id'].touched"><i class="material-icons">close</i></span>       
						</div>
						<div class="col s12 m12 right continue no-padding orange electric-cls-btn" >
							<button type="button" class="btn-flat white-text calc-amount-btn" (click)="check_amount('water');">Proceed to Pay</button>
						</div>

						<span class="hide electric-cls3">
							<div class="input-field col s12 m12">
								<input placeholder="Enter Amount" formControlName="amount" type="text" disabled class="validate no-margin" ([ngModel])="bill_amt" value="{{bill_amt}}">
								<span class="wrong-detail tooltipped" data-position="top" data-delay="50" data-tooltip="Select Operator" id="mobid" *ngIf="!watergroup.controls['amount'].valid && watergroup.controls['amount'].touched"><i class="material-icons">close</i></span>       
								<span *ngIf="no_dues == 1" class="red-text">{{due_msg}}</span>
							</div>
							<div class="input-field col s12 m12 margin-btm no-padding">
								<p class="inline-block margin-right fast-forwad relative">
									<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
									<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
								</p>
							</div>
							<div class="col s12 m12 continue no-padding orange">
								<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
							</div>
						</span>
					</div>
				</form>
				<form method="post"  #cableform = "ngForm" (ngSubmit)="recharge_init('cable-tv',cableform.value)"  *ngIf="this.recharge_type.cable">
					<div class="row no-margin">
						<div class="input-field col s12 m12">
							<mat-form-field>
								<mat-select placeholder="Select Operator">
									<span *ngFor="let item of operators.CABLE;">
										<mat-option [value]="item.id">
											<span *ngIf="item.api_img != ''"><img class="operator-img" src="https://www.mydthshop.com/accounts/assets/img/operators/{{item.api_img}}"></span><span class="operator-name">{{ item.title }}</span>
										</mat-option>
									</span>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="input-field col s12 m12">
							<input placeholder="Customer ID" name="recharge_id" type="text" class="validate no-margin">
						</div>
						<div class="input-field col s12 m12">
							<input placeholder="Enter Amount" name="amount" type="number" pattern="[0-9]+" class="validate no-margin">
						</div>
						<div class="input-field col s12 m12 margin-btm no-padding">
							<p class="inline-block margin-right fast-forwad relative">
								<input type="checkbox" class="filled-in" id="instant-recharge"  name="payment_type" value="wallet" />
								<label for="instant-recharge" class="orange-text"><span class="fast font-size-change1-5"><i class="material-icons">fast_forward</i> Instant Pay</span></label>    				
							</p>
						</div>
						<div class="col s12 m12 continue no-padding orange">
							<button type="submit" class="btn-flat white-text">Proceed to Pay</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col s12 m9 plans-view-details">
				<div class="card no-margin cst-border1">
					<div class="card-content">
						<div id="short-content"></div>
					</div>	
					<div class="card-content no-padding-top">
						<div id="tab-2" [className]="(tab_2 == true)?'inline-block promo-chng active':'inline-block promo-chng'" *ngIf="plans && plans.length > 0">
							<span class="font-size-change1 font600" ><a href="javascript:" (click)="show_tab(2)">Plans</a></span>
							<hr class="hr-promo">
						</div>
						<div id="tab-1" [className]="(tab_1 == true)?'inline-block promo-chng active':'inline-block promo-chng'" *ngIf="promo_codes && promo_codes.length > 0">
							<span class="font-size-change1 font600"><a href="javascript:" (click)="show_tab(1)">Promo Code</a></span>
							<hr class="hr-promo">
						</div>
						
						<div id="promo-content" [className]="(plans.length > 0) ? 'hide':''">
							<ul class="promo-ul">
								<li class="promo-li" *ngFor="let promo of promo_codes;">
									<a href="#promo-code-modal" class="modal-trigger" (click)="promoselected(promo)">
										<h4 class="font600 black-text">{{promo.unique_code}}</h4>
										<span class="font-size-change1 grey-text"> {{promo.description}}</span>
										<a href="javascript:" class="right">View detail</a>
									</a>
								</li>
							</ul>
						</div>
						<div id="circles-content" *ngIf="plans.length > 0 && this.url_name == 'mobile'">
							<div class="col m4">
								<ul class="tabs">
								  <li [className]="(i == 0)?'tab active':'tab'" *ngFor="let item of plans;let i = index" id="list-{{item.id}}"><a href="javascript:" (click)="print_plan(item.records,item.id);">{{item.plan}}</a></li>
								</ul>
							</div>
							<div class="col m8">
								<table class="bordered responsive-table">
									<thead>
										<tr>
											<th>Description</th>
											<th>Validity </th>
											<th>Price</th>
										</tr>
									</thead>
									<tbody id="print-data">
									</tbody>
								</table>
							</div>
							
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="promo-code-modal" class="modal">
	<div class="modal-content" *ngIf="selected_promo">
		<h3 class="font600">{{selected_promo.description}}</h3>
		<span class="modal-close close-modal-span"><i class="material-icons font-size-change1">close</i></span>
		<div class="copied-promo-code">
			<input type="text" size="9" value="{{selected_promo.unique_code}}" id="inputcopyId">
			<a href="javascript:" (click)="copyToClipboard()">Copy</a>
		</div>
		<span class="grey-text">Paste this code on deals page</span>
		<ul>
			<h5 class="font600">Terms &amp; Conditions:</h5>
			<div class="" id="terms-condition" *ngIf="selected_promo.terms_description">{{selected_promo.terms_description}}</div>
		</ul>		
	</div>
</div>
<div id="promo-code-apply" class="modal">
	<div class="row">		
		<span class="modal-close close-modal-span"><i class="material-icons font-size-change1">close</i></span>
		<div class="col s12 m5">
			<div class="modal-content">
				<span class="font-size-change1 font600">Enter Promo Code</span>
				<hr class="hr-promo">
				<input placeholder="Enter Promo Code" type="text" class="validate no-margin" name="promocode" id="place-promocode" value="" onkeyup="if(this.value != '') $('#response-code').text(''); else $('#response-code').text('Please Enter Promo code')">
				<button class="btn orange" (click)="apply_promo()" id="apply-promo">Apply</button>
				<div class="red-text" id="response-code"></div>
			<br/>
			<ul *ngIf="selected_promo">
					<h4 class="font600" *ngIf="selected_promo.terms_description">{{selected_promo.unique_code}}</h4>
					{{selected_promo.terms_description}}
				</ul>
			</div>
			
			
		</div>
		<!-- <span class="font-size-change font600">OR</span> -->
		<div class="col s12 m7">
			<div class="modal-content" *ngIf="promo_codes && promo_codes.length > 0">
				<span class="font-size-change1 font600">Select Promo Code</span>
				<hr class="hr-promo">
				<ul class="promo-ul">
					<li class="promo-li" *ngFor="let promo of promo_codes;">
						<a href="javascript:" (click)="promoselected(promo)">
							<h4 class="font600 black-text">{{promo.unique_code}}</h4>
							<span class="font-size-change1 grey-text"> {{promo.description}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<section class="recharge-oprator">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content hide-mobile-ctr">
						<div id="long-content"></div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>


<app-footer [baseUrl]="this.params.base_url"></app-footer>
