<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,1)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>
</div>
<!-- End Here -->
<section class="middle white">
	<div class="container">
		<div class="row no-margin">
			<div class="col s12 m10 l6 offset-l3">
				<div class="card no-margin">
					<div class="card-content" *ngIf="order">
						<div class="row no-margin border-on-bottom padd-bottom">
							<div class="col s8 no-padding">
								<span class="font-size-change-order font600" >{{order.status}}</span><br>
								<span class="font-size-change-order font600"><i class="icon-inr"></i> {{order.grand_total}}</span><br>
								<span class="font-size-change1 grey-text">{{order.order_date | date: date:'dd M, Y h:i'}}</span>
							</div>
							<div class="col s1 offset-s3 no-padding">
								<i class="material-icons right-align green-text font-size-change3" *ngIf="order.status.toLowerCase() == 'successful'">check_circle_outline</i>
								<i class="material-icons right-align orange-text font-size-change3" *ngIf="order.status.toLowerCase() == 'pending'">error</i>
								<i class="material-icons right-align red-text font-size-change3" *ngIf="order.status.toLowerCase() == 'failed'">close</i>
							</div>
						</div>
						<div class="row border-on-bottom padd-bottom margin-top">						
							<div class="col s12 m10 no-padding">
								<span class="font-size-change grey-text">PAID AT</span><br>
								<span class="font600 font-size-change-order margin-top-cart1">{{operator(order.order_data,'title')}} Mobile No. {{order.subcriber_id}}</span><br>
								<p class="font-size-change grey-text margin-top-cart1">Order ID: {{order.id}}</p>
							</div>
							<div class="col s12 m2 right-align">
								<a href="javascript:">
									<img src="https://mydthshop.com/media/uploads/api_catimages/{{operator(order.order_data,'image')}}" class="responsive-img vertical-align-middle border" alt="Airtel logo">
								</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="row padd-bottom margin-top">						
							<div class="col s12 m10 no-padding">
								<span class="font-size-change grey-text">PAID FROM</span><br>
								<span class="font600 font-size-change-order margin-top-cart1" *ngIf="order.paymethod == 1">Mydth Wallet</span><br>
								<span class="font600 font-size-change-order margin-top-cart1" *ngIf="order.paymethod == 2">Gateway</span><br>
								<span class="font600 font-size-change-order margin-top-cart1" *ngIf="order.paymethod == 4">Paytm Wallet</span>
								<div class="clearfix"></div>
								<span class="margin-top-cart1 green-text" *ngIf="order.payment_status == 1">Successful</span><br>
								<span class="margin-top-cart1 green-text" *ngIf="order.payment_status == 2">Failed</span><br>
								<span class="margin-top-cart1 green-text" *ngIf="order.payment_status == 3">Pending</span><br>
								<span class="margin-top-cart1 green-text" *ngIf="order.payment_status == 4">Payment Refunded to your wallet</span><br>

								<p class="font-size-change grey-text margin-top-cart1">Wallet Txn ID: {{order.transaction_id}}</p>
							</div>
							<div class="col s12 m2 right-align">
								<a href="javascript:">
									<img src="https://mydthshop.com/web-app/assets/images/recharge-icon/wallet-with-money.png" class="responsive-img vertical-align-middle border" alt="Airtel logo">
								</a>
							</div>
							<div class="clearfix"></div><br/>
							<a href="javascript:" class="back-to-retailer-page grey lighten-3 btn black-text" (click)="back_to_home()"> << Back</a>
						</div>
						<p class="red-text">*This Order Invoice Also Send on Your Registered e-Mail Id.</p>						
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>
<!-- Middle Section End Here -->
<app-footer></app-footer>