<app-header></app-header>
<div class="spinner-wrapper">
    <ngx-spinner
        bdColor="rgba(255,255,255,0.8)"
        size="default"
        color="#ec9737"
        loadingText="Loading..."
        type="ball-clip-rotate">
    </ngx-spinner>
</div>
<section class="flash-deal">
    <div class="container">
        <div class="row no-margin">
            <div class="col s12 m3">
                <div class="card">
              <div class="card-content user-content">
                  <div class="user-image">
                      <img src="{{this.todoservice.base_url}}assets/images/recharge-icon/user.svg" class="responsive-img" alt="User-icon" width="50">
                  </div>
                  <div class="user-name">
                      <span>Welcome,</span><br>
                      <span class="font-size-change font600">{{this.todoservice.get_user_name()}}</span>
                  </div>
              </div>
            </div>
                <app-side-nav></app-side-nav>		    
            </div>
            <div class="col s12 m9">
                <div class="card export-and-import">
                    <div class="card-content">
                        <form class="date-export">
                            <div class="row no-margin">
                                <div class="col s12 m3">
                                    <input type="text" class="datepicker no-margin" placeholder="Start Date">
                                </div>
                                <div class="col s12 m1 center no-padding to">
                                    <span class="font600">TO</span>
                                </div>
                                <div class="col s12 m3">
                                    <input type="text" class="datepicker no-margin" placeholder="End Date">
                                </div>
                                <div class="col s12 m2">
                                    <button type="Search" class="btn orange no-box-shadow">Export</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h3 class="font600 inline-block">Booked DTH Ordes</h3>
                        <!-- <a href="javascript:" (click)="fetch_complaints(0,1)" class="right inline-block margin-top-cart"><button type="submit" class="btn orange no-box-shadow">Resolved Complaints</button></a>
                        <a href="javascript:" (click)="fetch_complaints(1,1)" class="right inline-block margin-top-cart"><button type="submit" class="btn orange no-box-shadow margin-right">In Progress Compalint</button></a> -->
                        <div class="overflow-scroll">							
                            <table id="datatable" class="display responsive-table datatable-example">
                                <thead>
                                    <tr>
                                        <th nowrap="nowrap" width="60px">S.No.</th>
                                        <th nowrap="nowrap" width="120px">Order No.</th>
                                        <th nowrap="nowrap">Customer Name</th>
                                        <th nowrap="nowrap">Product</th>
                                        <th nowrap="nowrap" width="115px">With OTF</th>
                                        <th nowrap="nowrap" width="81px">Reg. Mobile</th>
                                        <th nowrap="nowrap" width="145px">Alternate</th>
                                        <th nowrap="nowrap" width="137px">Remark</th>
                                        <th nowrap="nowrap" width="123px">Order Date</th>
                                        <th nowrap="nowrap" width="125px">Amount</th>
                                        <th nowrap="nowrap" width="35px">Subscriber ID</th>
                                        <th nowrap="nowrap" width="70px;">Payment Method</th>
                                        <th nowrap="nowrap" width="70px;">Status</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th nowrap="nowrap" width="60px">S.No.</th>
                                        <th nowrap="nowrap" width="120px">Order No.</th>
                                        <th nowrap="nowrap">Customer Name</th>
                                        <th nowrap="nowrap" width="120px">Product</th>
                                        <th nowrap="nowrap" width="115px">With OTF</th>
                                        <th nowrap="nowrap" width="81px">Reg. Mobile</th>
                                        <th nowrap="nowrap" width="145px">Alternate</th>
                                        <th nowrap="nowrap" width="137px">Remark</th>
                                        <th nowrap="nowrap" width="123px">Order Date</th>
                                        <th nowrap="nowrap" width="125px">Amount</th>
                                        <th nowrap="nowrap" width="35px">Subscriber ID</th>
                                        <th nowrap="nowrap" width="70px;">Payment Method</th>
                                        <th nowrap="nowrap" width="70px;">Status</th>
                                    </tr>
                                   
                                </tfoot>
                                <tbody *ngIf="orders">
                                    <tr *ngFor="let item of orders;let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{item.order_id}}</td>
                                        <td>{{item.fname+' '+item.lname}}</td>
                                        <td>{{item.title}}</td>
                                        <td>{{item.is_for_otf}}</td>
                                        <td>{{item.regmobile}}</td>
                                        <td>{{item.altmobile}}</td>
                                        <td>{{item.remark}}</td>
                                        <td><span>{{item.order_date | date: date:'dd M, Y'}}</span></td>
                                        <td><span>{{item.amount}}</span></td>
                                        <td><span>{{item.subid}}</span></td>
                                        <td *ngIf="item.is_cod == 1"><span>COD</span></td>
                                        <td *ngIf="item.is_cod != 1"><span>Wallet</span></td>
                                        <td ><span>{{item.order_status}}</span></td>
                                    </tr>
                                </tbody>	
                            </table>
                            <!-- <div class="has-text-centered right-align">
								<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
							</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-min></app-footer-min>
