<app-header></app-header>
<title></title>
<div class="spinner-wrapper">
  <ngx-spinner
  bdColor="rgba(255,255,255,1)"
  size="default"
  color="#ec9737"
  loadingText="Loading..."
  type="ball-clip-rotate">
</ngx-spinner>
</div>
<!-- <section class="hero" style="background-image: url(https://www.mydthshop.com/accounts/assets/img/banner/faq1.jpg)">
  <div class="container">
    <h2 class="center font600 white-text margin-top">FAQ'S</h2>
  </div>
</section> -->
<section class="white no-padding">
  <div class="container">
    <div class="row">
      <!-- <div class="col s12 m3 queries-faq">
        <div class="card side-nav-faqs grey lighten-2">
          <div class="card-content" *ngIf="faqs">
              <span class="card-title center">Queries</span>
            <ul class="collapsible" data-collapsible="accordion">
              <li *ngFor="let item of faqs.list;">
                <div class="collapsible-header font600 active">{{item.title}} <i class="material-icons">
                  keyboard_arrow_right</i></div>
                <div class="collapsible-body">
                  <ul>
                    <li><a class="queries-active" href="javascript:void(0);" *ngFor="let link of item.records"  (click)="print_faq(link.url)"><i class="material-icons ques">question_answer</i>{{link.question}} </a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
      <div class="col s12 m8">
        <div class="col s12 margin-top faq1">        
          <ul class="collapsible no-box-shadow" data-collapsible="accordion">
            <li class="search-accordin relative">
                <mat-form-field class="example-full-width">
										<input type="text" placeholder="Search Your Answer" id="faq_key" class="no-margin black-text"  aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup)="search_me($event.target.value)"> 
										<mat-autocomplete #auto="matAutocomplete">
											<span *ngIf="filterdList">
											<mat-option *ngFor="let option of filteredOptions" [value]="option">
												<a href="javascript:" class="black-text" (click)="find(option)">{{option}}</a>
											</mat-option>
										</span>
										</mat-autocomplete>
								</mat-form-field>
              <button type="Submit" class="btn-flat" (click)="go_to_search();"><i class="material-icons">search</i></button>
            </li>
          </ul> 
          <div *ngIf="searched && search_list.length == 0">
              <h4 class="red-text center margin-top1">No Records. Please fill up the form to find your Solution.</h4>
          </div> 
          <div class="faqs-text" *ngIf="single">
            <h2>{{single.question}}</h2>
            <hr>
            <p [innerHTML]="single.answer"></p>
            <h4 class="font600 margin-top1">Was this information helpful?</h4>
            <a href="javascript:void(0);" class="btn green" (click)="thanks()">Yes</a>
            <a href="#no-faq" class="btn red modal-trigger">No</a>
          </div>        
          <div class="faqs-text" *ngIf="searched && search_list.length > 0">
            <h2>Searched Query</h2>
            <span class="grey-text">Showing {{search_list.length}} Of {{search_count}} Results</span>
            <ul>
              <li *ngFor="let item of search_list | paginate: { id: 'order-p', itemsPerPage: 10, currentPage: o_p, totalItems: search_count };let i=index">
                <a routerLink="/p/faqs/{{item.url}}" href="item.url" (click)="print_faq(item.url)">{{item.question}}</a>
                <p [innerHTML]="item.meta_description"></p>
              </li>
            </ul>
            <div class="has-text-centered right-align">
                <pagination-controls (pageChange)="getPage($event)" id="order-p"></pagination-controls>
            </div>
          </div>
          <div class="faqs-new-format left-align" *ngIf="!searched">
            <h2 class="font600 center no-margin">Popular Ask Queries</h2>
            <p class="grey-text center most-top" *ngIf="default_queries">Top {{default_queries.length}} Question</p>
            <hr>
            <ul>
              <li *ngFor="let item of default_queries;">
                <div class="link-faqs">
                  <a [routerLink]="item.url" target="_blank">
                    <h5 class="font600">{{item.meta_title}}</h5>
                    <span class="green-text">https:www.mydthshop.com{{item.url}}</span>
                    <p class="grey-text">{{item.meta_description}}</p>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="images-faqs-new">
          <img src="https://www.mydthshop.com/accounts/assets/img/banner/faq1.jpg" class="responsive-img" alt="Faqs">
        <ul class="faq-new-lider" *ngIf="product_images">
          <li *ngFor="let item of product_images">
            <div class="card">
              <div class="card-image padd center">
                <img alt="images" class="responsive-img" src="https://www.mydthshop.com/accounts/assets/img/product-img/270x270{{item.image}}">
              </div>
              <div class="clearfix"></div>
              <div class="card-stacked">
                <div class="card-content no-padding">
                  <span class="card-title white-text font-size-change1">{{item.title}}</span>
                  <div class="row center">
                      <div class="col s12 m12">
                        <span class="font-16 black-text font600"><i class="icon-inr"></i>{{item.offer_price}}</span>
                        <span class="font-16 grey-text del-pri"><i class="icon-inr"></i>{{item.price}}</span>                          
                      </div>
                      <div class="clearfix"></div>
                      <div class="col s12 m12 ">
                        <a class="blue-text font-16" target="_blank" href="/product/compare-box?urls={{item.url}}&ref={{item.url}}">Compare <i class="material-icons">compare</i></a><div class="clearfix"></div>
                      </div>
                    </div> 									 
                    <div class="btn-new1 center">
                      <a class="btn" target="_blank" href="/product/{{item.url}}">Book Now</a>
                    </div>
                </div>
              </div>
            </div>
          </li>					
        </ul>
        </div>
        <div class="col s12 ask-question">
          <div class="card grey lighten-2">
            <div class="card-content grey lighten-2 center">
              <span class="card-title">Ask Your Questions</span>
              <form id="contact-form" [formGroup]="faqsgroup" #faqsform = "ngForm" (ngSubmit)="faqs_submit(faqsform.value)">
                <div class="row no-margin">
                  <div class="input-field col s12">
                    <input id="name" type="text" class="validate" formControlName="name">
                    <label for="name">Name*</label>
                    <div class="red-text accent-4 center" *ngIf="!faqsgroup.controls['name'].valid && faqsgroup.controls['name'].touched">Enter Name*.</div>
                  </div>
                  <div class="input-field col s12">
                    <input id="memail" type="email" class="validate" formControlName="email">
                    <label for="email">Email*</label>
                    <div class="red-text accent-4 center" *ngIf="!faqsgroup.controls['email'].valid && faqsgroup.controls['email'].touched">Enter Valid Email*.</div>
                  </div>
                  <div class="input-field col s12">
                    <input id="mphone" type="number" class="validate" formControlName="phone">
                    <label for="email">Phone*</label>
                    <div class="red-text accent-4 center" *ngIf="!faqsgroup.controls['phone'].valid && faqsgroup.controls['phone'].touched">Enter Valid Phone No.*.</div>
                  </div>
                  <div class="input-field col s12">
                    <textarea id="textarea11" class="materialize-textarea" formControlName="message"></textarea>
                    <label for="textarea11">Type Your Question*</label>
                    <div class="red-text accent-4 center" *ngIf="!faqsgroup.controls['message'].valid && faqsgroup.controls['message'].touched">Enter Query*.</div>
                  </div>
                  <div class="col s12 center">
                    <button type="Submit" class="btn orange" [disabled]="!faqsgroup.valid">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="no-faq" class="modal">
  <div class="modal-content">
    <h4 class="font600 center">Suggest Us For Better Way</h4>
    <form [formGroup]="unsatisfiedformgroup" #unsatisfiedform = "ngForm" (ngSubmit)="unsatisfied(unsatisfiedform.value)">
      <div class="row">
        <p>
          <input type="checkbox" id="test1" formControlName="hint" value="1"/>
          <label for="test1">Fix typos or links</label>
        </p>
        <p>
          <input type="checkbox" id="test2"  formControlName="hint" value="2"/>
          <label for="test2">Fix incorrect or incomplete information</label>
        </p>
        <p>
          <input type="checkbox" id="test3" formControlName="hint" value="3" />
          <label for="test3">I have a question</label>
        </p>
        <p>
          <input type="checkbox" id="test4" formControlName="hint" value="4" />
          <label for="test4">Article too long</label>
        </p>
        <div class="input-field col s12 m12">
          <textarea id="textarea1" class="materialize-textarea" formControlName="comment"></textarea>
            <label for="textarea1">Comment</label>
        </div>
        <div class="input-field col s12"> 
          <input id="input_text" type="text" formControlName="email">
          <label for="input_text">Email</label>
          <div class="red-text accent-4 center" *ngIf="!unsatisfiedformgroup.controls['email'].valid && unsatisfiedformgroup.controls['email'].touched">Enter Valid Email*.</div>
        </div>
        <div class="input-field col s12 m12 right-align">
          <button type="submit" class="btn orange" [disabled]="!unsatisfiedformgroup.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
  
<app-footer></app-footer>