<app-header></app-header>
<div class="spinner-wrapper">
        <ngx-spinner
          bdColor="rgba(255,255,255,0.8)"
          size="default"
          color="#ec9737"
          loadingText="Loading..."
          type="ball-clip-rotate">
        </ngx-spinner>
    </div>
<section class="login-page no-padding white" *ngIf="step==1">
	<div class="row no-margin">
		<div class="col s12 m12 l6 no-padding login-side-image" style="background-image: url(https://mydthshop.com/web-app/assets/images/forget.jpg);">
			<!-- <img src="" class="responsive-img full-width" alt="login-images"> -->
		</div>
		<div class="col s12 m6 margin-high">
			<div class="card no-box-shadow">
				<div class="card-content padd">
					<div class="logo center">
						<img src="https://mydthshop.com/accounts/assets/img/logo.png" class="responsive-img" alt="Mydthshop logo">
					</div>
					<div class="upper-text center">
						<h2 class="orange-text font600">Forgot Password</h2>
					</div>
					<form class="login-page-form" method="post" #resetform = "ngForm" (ngSubmit)="process_to_reset(resetform.value)">
						<div class="row no-margin">
							<div class="input-field col s12 m9 offset-m1">
								<i class="material-icons prefix grey-text margin-top-half6">phone</i>
								<input id="icon_prefix" type="number" name="phone" ngModel>
								<label for="icon_prefix">Enter Your Phone Number </label>
							</div>
							<div class="col s12 center margin-top">
								<button type="Submit" class="btn waves-effect waves-light orange">Continue</button>
							</div>	
							<div class="col s12 center margin-top">
								<a routerLink="/" class="orange-text font-size-change1"><i class="material-icons">keyboard_arrow_left</i> Back To Home</a>
							</div>
						</div>
					</form>			
				</div>
			</div>
		</div>
	</div>
</section>
<section class="login-page no-padding" *ngIf="step==2">
	<div class="row">
		<div class="col s12 m12 l6 no-padding login-side-image">
			<img src="https://mydthshop.com/web-app/assets/images/login.jpg" class="responsive-img full-width" alt="login-images">
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<div class="logo center">
						<img src="{{this.todoservice.base_url}}assets/images/logo.png" class="responsive-img" alt="my dth shop logo">
					</div>
					<div class="upper-text center">
						<h3 class="orange-text strong">Create New password</h3>
					</div>
					<form class="login-page-form" method="post" [formGroup]="resetgroup"  #resetform = "ngForm" (ngSubmit)="reset_password(resetform.value)">
						<div class="row">
							<div class="input-field col s12 m9 offset-m1">
								<i class="material-icons prefix grey-text margin-top-half6">lock</i>
								<input id="icon_prefix1" type="password" formControlName="password" minlength="5">
								<label for="icon_prefix">Create New Password </label>
								<div class="orange accent-4" *ngIf="!resetgroup.controls['password'].valid && resetgroup.controls['password'].touched">Enter Password with minimum 6 characters.</div> 
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m9 offset-m1">
								<i class="material-icons prefix grey-text margin-top-half6">lock</i>
								<input id="icon_prefix2" type="password" formControlName="cpassword">
								<label for="icon_prefix2">Confirm Password </label>
								<div class="orange accent-4" *ngIf="!resetgroup.controls['cpassword'].valid && resetgroup.controls['cpassword'].touched">Enter Confirm Password.</div> 
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m9 offset-m1">
								<i class="material-icons prefix grey-text margin-top-half6">lock</i>
								<input id="icon_prefix" type="password" formControlName="pin" minlength="4" maxlength="4">
								<label for="icon_prefix">Pin </label>
								<div class="orange accent-4" *ngIf="!resetgroup.controls['pin'].valid && resetgroup.controls['pin'].touched">Enter Password.</div> 
							</div>
						</div>
						<div class="row">
							<div class="col s12 center margin-top">
								<button type="Submit" class="btn waves-effect waves-light orange" [disabled]="!resetgroup.valid">Continue</button>
							</div>
						</div>
						<div class="col s12 center" *ngIf="back_to_login">
							<a routerLink="/" class="orange-text font-size-change1"><i class="material-icons">keyboard_arrow_left</i> Back To Home</a>
						</div>
					</form>	
				</div>
			</div>		
		</div>
	</div>
</section>