<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>
<div class="cst-back" [innerHTML] ="this.todoservice.back_link"></div>
<div class="fix-mb-top"></div>
<section class="login-page no-padding white" *ngIf="step != 3">
	<div class="row no-margin">
		<div class="col s12 m12 l6 no-padding login-side-image" style="background-image: url({{this.todoservice.base_url}}web-app/assets/images/forget.jpg);">
			<!-- <img src="" class="responsive-img full-width" alt="login-images"> -->
		</div>
		<div class="col s12 m6 margin-high">
			<div class="card no-box-shadow">
				<div class="card-content padd">
					<div class="logo center">
						<img src="https://www.libanz.com/assets/images/logo.png" class="responsive-img" alt="Libanz logo">
					</div>
					<div class="upper-text center">
						<h2 class="orange-text font600">Forgot Password</h2>
					</div>
					<form class="login-page-form" id="proceed-reset-form" method="post" [formGroup]="proceedresetgroup" #proceedresetform = "ngForm" (ngSubmit)="process_to_reset(proceedresetform.value)">
						<div class="row no-margin">
							<div class="input-field col s12 m9 offset-m1">
								<i class="material-icons prefix grey-text margin-top-half6">phone</i>
								<input id="icon_prefix" type="number" formControlName="phone" ngModel>
								<label for="icon_prefix">Enter Your Phone Number </label>
								<div class="orange accent-4" *ngIf="!proceedresetgroup.controls['phone'].valid && proceedresetgroup.controls['phone'].touched">Enter a Valid Phone.</div> 
							</div>
							<div class="input-field col s12 m9 offset-m1" *ngIf="step == 2">
								<i class="material-icons prefix grey-text margin-top-half6">lock</i>
								<input id="forgot-otp" type="password" formControlName="pin" minlength="4" maxlength="4">
								<label for="icon_prefix">Enter OTP* </label>
								<div class="orange accent-4" *ngIf="!proceedresetgroup.controls['pin'].valid && proceedresetgroup.controls['pin'].touched">Enter a Valid OTP.</div> 
							</div>
							<div class="col s12 center margin-top">
								<button type="Submit" id="proceed-submit" class="btn waves-effect waves-light orange" [disabled]="!proceedresetgroup.valid">Continue</button>
								<button type="button" style="margin-right: 5px;" class="btn waves-effect waves-light grey" (click)="resend_otp()" [disabled]="this.tick > 0">Resend <span *ngIf="this.tick > 0">({{this.tick}})</span></button>	
							</div>	
							<div class="col s12 center margin-top">
								<a routerLink="/" class="orange-text font-size-change1"><i class="material-icons">keyboard_arrow_left</i> Back To Home</a>
							</div>
						</div>
					</form>			
				</div>
			</div>
		</div>
	</div>
</section>
<section class="login-page no-padding" *ngIf="step==3">
	<div class="row">
		<div class="col s12 m12 l6 no-padding login-side-image">
			<img src="{{this.todoservice.base_url}}web-app/assets/images/login.jpg" class="responsive-img full-width" alt="login-images">
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<div class="logo center">
						<img src="{{this.todoservice.base_url}}web-app/assets/images/logo.png" class="responsive-img" alt="my dth shop logo">
					</div>
					<div class="upper-text center">
						<h3 class="orange-text strong">Create New password</h3>
						<!-- <p class="green-text">OTP is Sent to Your Registered Phone Number.</p> -->
					</div>
					<form class="login-page-form" id="reset-form" method="post" [formGroup]="resetgroup"  #resetform = "ngForm" (ngSubmit)="reset_password(resetform.value)">
						<div class="row">
							<div class="input-field col s12 m9 offset-m1">
								<i class="material-icons prefix grey-text margin-top-half6">lock</i>
								<input id="icon_prefix1" type="password" formControlName="password" minlength="5">
								<label for="icon_prefix">Create New Password* </label>
								<div class="orange accent-4" *ngIf="!resetgroup.controls['password'].valid && resetgroup.controls['password'].touched">Enter Password with minimum 6 characters.</div> 
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m9 offset-m1">
								<i class="material-icons prefix grey-text margin-top-half6">lock</i>
								<input id="icon_prefix2" type="password" formControlName="cpassword">
								<label for="icon_prefix2">Confirm Password* </label>
								<div class="orange accent-4" *ngIf="!resetgroup.controls['cpassword'].valid && resetgroup.controls['cpassword'].touched">Enter Confirm Password.</div> 
							</div>
						</div>
						<div class="row">
							<div class="col s12 center margin-top">
								<button type="Submit" id="forgot-submit" class="btn waves-effect waves-light orange" [disabled]="!resetgroup.valid">Continue</button>
							</div>
						</div>
						<div class="col s12 center" *ngIf="back_to_login">
							<a routerLink="/" class="orange-text font-size-change1"><i class="material-icons">keyboard_arrow_left</i> Back To Home</a>
						</div>
					</form>	
				</div>
			</div>		
		</div>
	</div>
</section>
<app-footer></app-footer>