<style>

.cst-headline-price{

font-size: 2.56578rem;
line-height:35px;
text-align:center;
font-weight: bold;
text-transform: capitalize;
margin-bottom: 20px;
}
.spinner-wrapper{

background-color:#fff;
}

.kyc-box-1{

    height:300px;
    width:85%;
    box-shadow:1px 1px 10px #8c8c8c;
   
    text-align: center;
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
}
.kyc-icon{

    background: #ececec;
    border-radius: 50%;
    padding: 27px;
    color: #6c6c6c;
}
.txt-kyc{

    font-size: 24px;
    font-weight: bold;
}
.pointer{

    cursor:pointer;
}
.aadhar-block{

    margin-top:20px !important;
    margin-bottom:20px;
}
.aadhar-doc{

    text-align:center;

}
.img-fix-wid{

width:42%;
margin-top:-36px;
}
.spacing-bar{

    padding:20px;
}
.pending{

    color: #f00;
    font-size: 17px;
    line-height: 000;
}
.reject-btn{
    
    background: #f75151;
    border-radius: 50%;
    padding: 20px 27px;
    color: #fff;

}
.active{
    color: #4db300;
    line-height: 0;
    font-size: 16px;
    font-weight: bold;
}

.check-bg{

    background: #83ce4a;
    border-radius: 50%;
    padding: 27px;
    color: #ffffff;
}

.seller-bx-11{

border: 1px solid #8c8c8c;
height: auto;
padding: 45px;
width: 100%;
text-align: center;
}
.mt-30{
margin-top:30px !important;
}
.newsletter{

background-color: #183651;
text-align: center;
padding: 32px 0;
}
.news-txt{

font-size: 26px;
color: #fff;
}
.box-both{
margin:35px 0;
}
.mbt-20{

margin-bottom: 20px;
}
.headline-brand{
font-size: 2.56578rem;
line-height: 52px;
}
.txt-formal{

font-size: 17px;
border-top: 1px solid #ececec;

padding: 10px 0px;
width: 100%;
text-transform: capitalize;
}
button.btn.cst-btn.w-100 {
width: 100%;
}
.buys1{

width:35%;
text-align: center;
}
.sells1{

width:35%;
text-align: center;
}

.buyer-bx-1{

height:330px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;

text-align: center;
background-color: #fff;
}
.seller-bx-1{
    height:330px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;

text-align: center;
background-color: #fff;

}
.buyer-bx-1 p{

font-size: 15px;
color: #6c6c6c;
padding-top:10px;
}
.seller-bx-1 p{

    font-size: 15px;
    color: #6c6c6c;
    padding-top:10px;
}
.kyc-txt-bold{

    font-size: 20px;
    font-weight: bold;
    color: #183651;
}
@media only screen and (max-width: 767px){

.seller-bx-11 {
border: 1px solid #8c8c8c;
height: auto;
padding: 45px;
width: 100%;
text-align: center;
margin-top: 27px;
}
}
</style>

<app-header ></app-header>
<title></title>
<div class="spinner-wrapper">
    <ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>

<div class="row">
  
  <div class="background-kyc">
    <img src="https://www.mydthshop.com/web-app/assets/images/kyc-banner.png" class="responsive-img ">
  </div>

</div>
<div class="container" *ngIf="this.get_token()">
  
<h4 class="cst-headline-price mbt-20"> Your are almost ready to start selling  
</h4>

<br/>

<div class="row">
    <div class="aadhar-doc">
        <div class="col s12 m12">
            <img src="https://www.mydthshop.com/web-app/assets/images/docs-down.png" class="responsive-img img-fix-wid">
        </div>
      
        </div>
        </div>

<div class="row">
    <div class="aadhar-block">
 
    <div class="col s12 m4">
        <div class="kyc-box-1" appFiledir #fileDrop (fileDropped)="onFileDroped($event)">
            <h3 class="txt-kyc">Aadhar Card Upload </h3>
            <input type="file" class="form-control" id="fileup" style="display: none;" #fileDrop (change)="filehandler($event.target.files)">


         <label for="fileup" class="pointer">  <span class="fa fa-upload fa-5x kyc-icon"></span> </label>
         <h4><strong>STATUS</strong> </h4>
         <span class="pending">Pending </span>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="kyc-box-1">
            <h3 class="txt-kyc">Pan Card Uploaded </h3>
            <input type="file" class="form-control" id="fileup" style="display: none;">


         <label for="fileup" class="pointer">  <span class="fa fa-check fa-5x  check-bg"></span> </label>
          
         <h4><strong>STATUS</strong></h4>
         <p> <span class="active">Success</span></p>
        </div>
        
    </div>
    <div class="col s12 m4">
        <div class="kyc-box-1">
            <h3 class="txt-kyc">Cancel Cheque Upload </h3>
            <input type="file" class="form-control" id="fileup" style="display: none;">


         <label for="fileup" class="pointer">  <span class="fa fa-close fa-5x reject-btn"></span> </label>
         <h4><strong>STATUS</strong> </h4>
         <span class="pending">Rejected</span>
        </div>
    </div>
</div>
</div>
</div>

  <div class="container">
 
  <div class="row">

    <h4 class="cst-headline-price">It Makes Simple & Easiest For KYC Verifications </h4>
    <br/>

    <div class="pricing-box mt-30">

    <div class="col s12 m4">
        <div class="buyer-bx-1">
                
                <img src="https://www.mydthshop.com/web-app/assets/images/test-3.png" class="responsive-img buys1"/>

                <br/>
                <h4 class="buyer kyc-txt-bold"> Check Documents </h4>

                <p>
                    My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
                </p>

        </div>
    </div>
  
    <div class="col s12 m4">
        <div class="seller-bx-1">
               
                <img src="https://www.mydthshop.com/web-app/assets/images/kyc-2.png" class="responsive-img sells1"/>

                <br/>
                <h4 class="seller kyc-txt-bold">Online Scanning </h4>
                <p> 
                    My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
                </p>
                
        </div>
    </div>

    <div class="col s12 m4">
        <div class="seller-bx-1">
               
                <img src="https://www.mydthshop.com/web-app/assets/images/kyc.png" class="responsive-img sells1"/>

                <br/>
                <h4 class="seller kyc-txt-bold">Get Approval </h4>
                <p>

                    My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
                </p>
                
        </div>
    </div>


   

</div>
  </div>




</div>

<div class="container-fluid"> 

    <div class="row">
        <div class="newsletter">

                <h3 class="news-txt"> Need help ? Related to KYC Verification Available 24/7 at info @mydthshop.com  </h3>


        </div>
    </div>
</div>
<app-footer></app-footer>
