<style>
	.fix-align label {
    margin: 0 !important;
}
	@media only screen and (max-width: 767px){

		.fix-align label {
    margin: 0 !important;
}
.fix-align label.font-size-change {
    margin: 0px !important;
} 

	}
</style>
<app-header class="hide-on-mobile"></app-header>
<title>Mydthshop Login</title>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,0.8)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>

</div>
<div class="col s12 cst-back">
	<ul class="back-icon">
		<li>  <a class="black-text" routerLink="/"><span class="fa fa-arrow-left bk-icon"></span>&nbsp;</a> </li>
	</ul>
  </div>
<div class="work" *ngIf="step==1;then loginform else otpverify"></div>
<ng-template #loginform>
	<section class="login-form no-padding white">
		<div class="row no-margin">
			<div class="col s12 m12 l6 no-padding login-side-image" style="background-image: url(https://mydthshop.com/web-app/assets/images/login.jpg);">
				<!-- <img src="https://mydthshop.com/web-app/assets/images/login.jpg" class="responsive-img full-width" alt="login-images"> -->
			</div>
			<div class="col s12 m12 l6 no-padding">
				<div class="card margin-top4 no-box-shadow ">
					<div class="card-content"> 
						<div class="center">
							<h3 class="font600 orange-text">Welcome back!</h3>
							<div class="notification-text green-text" *ngIf="notification != ''">{{notification}}</div>
							<span id="page-content"></span>
							<form [formGroup]="logingroup" class="margin-top sec-7 " #loginform = "ngForm" (ngSubmit)="login_submit(loginform.value)">
								<div class="row">
									<div class="input-field col s12 m9 offset-m1 fix-align">
										<i class="material-icons prefix margin-top-cart2">phone</i>
										<input id="icon_prefix" type="number" class="validate" formControlName="phone" value="{{remember.ph}}" [(ngModel)]="remember.ph">
										<label for="icon_prefix" class="font-size-change">Enter Phone No.</label>
										<div class="red-text accent-4" *ngIf="!logingroup.controls['phone'].valid && logingroup.controls['phone'].touched">Enter Phone Number*.</div>

									</div> 
								</div> 
								<div class="input-field col s12 m9 offset-m1 fix-align">
									<i class="material-icons prefix margin-top-cart2">lock</i>
									<input id="password" type="password" formControlName="password" class="validate" value="{{remember.pw}}" [(ngModel)]="remember.pw">
									<label for="password" class="font-size-change">Enter Password</label>
									<div class="red-text accent-4" *ngIf="!logingroup.controls['password'].valid && logingroup.controls['password'].touched">Enter Password*.</div> 
								</div>
								<div class="row">
									<div class="col s6 m4 offset-m1">
										<input type="checkbox" class="filled-in" id="filled-in-box" formControlName="remember" [checked]="remember.rm"/>
										<label for="filled-in-box" class="font-size-change">Remember me</label>
									</div>
									<div class="col s6 m5">
										<a routerLink="/proceed/forgot-password" class="orange-text font-size-change right">Forgot Password?</a>
									</div>
								</div>
								<div class="row">
									<div class="col s12 m9 offset-m1">
										<button type="Submit" class="btn orange login-btn" [disabled]="!logingroup.valid">Login</button>
									</div>
								</div>
								<!-- <div class="row no-margin">
									<div class="col s12 m9 offset-m1">
										<span class="font-size-change">Don't have MyDthShop account?</span>
										<a routerLink="/signup" href="javascript:" class="orange-text font-size-change font600">REGISTER</a><br>
										<span class="or">OR</span>
									</div>
									<div class="col s12 m9 offset-m1 margin-top-cart2">
										<a href="#" class="facebook fa-login"><img src="{{this.todoservice.base_url}}assets/images/facebook.png"> Facebook</a>
										<a href="#" class="facebook fa-goo"><img src="{{this.todoservice.base_url}}assets/images/plus.png"> Google</a>
									</div>
								</div> -->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</ng-template>
<ng-template #otpverify>
	<section class="login-form">
		<form #otpform = "ngForm" (ngSubmit)="login_submit(otpform.value)">
			<div class="container">
				<div class="row">
					<div class="col s12 m6 offset-m3">
						<div class="card">
							<div class="card-content">
								<div class="center">
									<div class="upper-text center">
										<h3>Your Mobile Number is <span class="orange-text">{{phone}}</span></h3>
										<p class="font-size-change1">You will receive One Time Password (OTP) via SMS. kindly Enter Below</p>
									</div>

									<div class="row">
										<div class="input-field col s12 center otp-inputa" id="inputs">
											<input id="otp1" (keyup)="keytab($event)" ngModel maxlength="1" name="otp1">
											<input id="otp2" (keyup)="keytab($event)" ngModel maxlength="1" name="otp2">
											<input id="opt3" (keyup)="keytab($event)" ngModel maxlength="1" name="otp3">
											<input id="opt4" maxlength="1" ngModel name="otp4" ngModel>
										</div>
										<div class="col s12 center margin-top">
											<span class="font-size-change1">Don't recieve OTP 
												<a href="javascript:" (click)="resend_otp()" class="orange-text">Resend OTP?</a></span>
											</div>			
										</div>
										<div class="row">
											<div class="col s12 center">
												<button type="Submit" class="btn waves-effect waves-light orange">Submit</button>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</section>
	</ng-template>
	<app-footer ></app-footer>