

<link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans" rel="stylesheet">
<style>

#cst-lt-btn {
		border-radius: 0;
		width: 90%;
		margin-left: 33px;
		margin-bottom: 22px;
		background: #ff6a00 !important;
		color:#fff;
	}
</style>
<app-header></app-header>
<div class="spinner-wrapper">
  <ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>
<style>
br{display: none;}
</style>
<section id="page-content"></section>

<!-- <section class="hero">
    <img src="" class="responsive-img">
		<div class="container"> 
		</div>
	</section> -->
<!-- <i id="page-content"></i>
<section class="middle-part margin-top paad-new white" style="margin-top:8px;">
  <div class="container">
    <h4 class="center text-uppercase font600 why">Solve Your Query </h4>		
    <div class="row">
      <div class="col m6 ">
        <img class="responsive-img full-width" src="https://www.mydthshop.com/accounts/assets/img/Business-india.jpg">
      </div>
      <div class="col s12 m6">
        <form id="contact-form" [formGroup]="contactgroup" #contactform = "ngForm" (ngSubmit)="contact_submit(contactform.value)">
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="first_name" name="name" type="text" class="validate" formControlName="name">
              <label for="first_name">Name*</label>
              <div class="red-text accent-4 center" *ngIf="!contactgroup.controls['name'].valid && contactgroup.controls['name'].touched">Enter Name*.</div>
            </div>
            <div class="input-field col s12 m6">
              <input id="email" name="email" type="email" class="validate"  formControlName="email">
              <label for="email">Email*</label>
              <div class="red-text accent-4 center" *ngIf="!contactgroup.controls['email'].valid && contactgroup.controls['email'].touched">Enter a Valid Email*.</div>
            </div>            
            <div class="input-field col s12 m6">
              <input id="phone" name="phone" type="number" class="validate"  formControlName="phone">
              <label for="phone">Phone No.*</label>
              <div class="red-text accent-4 center" *ngIf="!contactgroup.controls['phone'].valid && contactgroup.controls['phone'].touched">Enter a Valid Phone*.</div>
            </div>                        
            <div class="input-field col s12 m6">
              <input id="company-name" name="company-name" type="text" class="validate"  formControlName="subject">
              <label for="company-name">Company Name</label>
            </div>                                     -->
            <!-- <div class="input-field col s12 m6">
              <input id="company-address" name="company-address" type="text" class="validate">
              <label for="company-address">Company Address</label>
            </div>                                    
            <div class="input-field col s12 m6">
              <input id="company-phone" name="company-phone" type="number" class="validate">
              <label for="company-phone">Company Phone No.</label>
            </div>             -->
            <!-- <div class="input-field col s12">
              <input id="home-address" name="home-address" type="text" class="validate"  formControlName="message">
              <label for="home-address">Address</label>
            </div>
            <div class="center col s12">
              <button type="submit" class="btn-large orange white-text" [disabled]="!contactgroup.valid">Register Now <i class="fa fa-angle-double-right vertical	-align-middle right" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> -->
<!-- <section class="new-form-register no-padding">
  <div class="container-fluid no-padding">
    <div class="row no-margin">
      <div class="col s12 m7 no-padding">
        <img src="https://www.mydthshop.com/web-app/assets/images/testimonial-bg.jpg" alt="new" class="img-responsive full-width">
      </div>
      <div class="col s12 m5 no-padding">
        <div class="card no-margin">
          <div class="card-content">
            <h3 class="font600 center">No Investment Just Join Sell & Earn</h3>
            <form>
              <div class="row">
                <div class="input-field col s12 m6">
                  <input id="name" type="text" class="validate">
                  <label for="name">Name</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="phone" type="number" class="validate">
                  <label for="phone">Phone</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="subject" type="text" class="validate">
                  <label for="subject">Subject</label>
                </div>
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Massage</label>
                </div>
                <div class="input-field col s12 center">
                  <button type="submit" class="btn orange">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- 24-7 Content -->
<!-- <section class="new-24-7">  
  <div class="container">
    <div class="row">      
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/placeholder.png">
          </div>
          <div class="card-content">
            <a href="javascript:void(0);" class="orange-text font-size-change1 font600">Unit No.127 D Mall Sector-10 Rohini Near Rohini West Metro Station, New Delhi-110085</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/smartphone.png">
          </div>
          <div class="card-content">
            <a href="tel:08010339339" class="orange-text font-size-change1 font600">080103 39339</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:help@mydthshop.com" class="orange-text font-size-change1 font600">help@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:ceo@mydthshop.com" class="orange-text font-size-change1 font600">ceo@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:merchant@mydthshop.com" class="orange-text font-size-change1 font600">merchant@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:partner@mydthshop.com" class="orange-text font-size-change1 font600">partner@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:nodalofficer@mydthshop.com" class="orange-text font-size-change1 font600">nodalofficer@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:order@mydthshop.com" class="orange-text font-size-change1 font600">order@mydthshop.com</a>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section> -->
<!-- End Here -->
<app-footer></app-footer>