<style>

#cst-lt-btn {
		border-radius: 0;
		width: 90%;
		margin-left: 33px;
		margin-bottom: 22px;
		background: #dc6802 !important;
		color:#fff;
	}
</style>
<app-header></app-header>
<div class="spinner-wrapper">
  <ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#dc6802" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>

<section class="partner-banner bg-orange-new">
  <div class="container">
    <div class="row">  
      <div class="col s12 m6 l6">
        <h1 class="font600 white-text font-50 mb-5">Become a Partner with <span>LIBANZ</span></h1>
        <p class="font-18">Want to be your own Boss? Hit the button and register with Libanz to become our esteemed Partner. After registration with Libanz, you can easily benefit by including retailers in your account for any location. In return for every product sold by your listed retailers, Libanz will reward you with an agreed commission amount. Join Libanz and let us sell and grow together.</p>
      </div>
      <div class="col s12 m6 l5 offset-l1">
        <div class="new-card-design transform-scale-1">        
          <div class="col s12">
            <h2 class="font600 m-0">Register Here!</h2>
            <p class="font-16">Fill Your Details To Become a Parrner With Libanz</p>
          </div>
            <div class="input-field col s12 new-input-design-fixes">
                <input id="Name" type="text" class="validate" >
                <label for="Name">Name</label>
              </div>
    
              <div class="input-field col s12 new-input-design-fixes">
                <input id="Email" type="text" class="validate" >
                <label for="Email">Email </label>
              </div>
    
              <div class="input-field col s12 new-input-design-fixes">
                <input id="Phone" type="text" class="validate" >
                <label for="Phone">Phone</label>
              </div>    
              <div class="input-field col s12 new-input-design-fixes">
                <input id="Subject" type="text" class="validate" >
                <label for="Subject">State</label>
              </div>
             
              <div class="input-field col s12">
                <a class="btn new-btn-theme white-text">REGISTER NOW </a>          
              </div>
        </div>
    
    
      </div>  
    </div>
  </div>
</section>


<!-- <section class="new-form-register no-padding">
  <div class="container-fluid no-padding">
    <div class="row no-margin">
      <div class="col s12 m7 no-padding">
        <img src="https://www.mydthshop.com/web-app/assets/images/testimonial-bg.jpg" alt="new" class="img-responsive full-width">
      </div>
      <div class="col s12 m5 no-padding">
        <div class="card no-margin">
          <div class="card-content">
            <h3 class="font600 center">No Investment Just Join Sell & Earn</h3>
            <form>
              <div class="row">
                <div class="input-field col s12 m6">
                  <input id="name" type="text" class="validate">
                  <label for="name">Name</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="phone" type="number" class="validate">
                  <label for="phone">Phone</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="subject" type="text" class="validate">
                  <label for="subject">Subject</label>
                </div>
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Massage</label>
                </div>
                <div class="input-field col s12 center">
                  <button type="submit" class="btn orange">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- 24-7 Content -->
<!-- <section class="new-24-7">  
  <div class="container">
    <div class="row">      
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/placeholder.png">
          </div>
          <div class="card-content">
            <a href="javascript:void(0);" class="orange-text font-size-change1 font600">Unit No.127 D Mall Sector-10 Rohini Near Rohini West Metro Station, New Delhi-110085</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/smartphone.png">
          </div>
          <div class="card-content">
            <a href="tel:08010339339" class="orange-text font-size-change1 font600">080103 39339</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:help@mydthshop.com" class="orange-text font-size-change1 font600">help@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:ceo@mydthshop.com" class="orange-text font-size-change1 font600">ceo@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:merchant@mydthshop.com" class="orange-text font-size-change1 font600">merchant@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:partner@mydthshop.com" class="orange-text font-size-change1 font600">partner@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:nodalofficer@mydthshop.com" class="orange-text font-size-change1 font600">nodalofficer@mydthshop.com</a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 new-24-7">
        <div class="card center">
          <div class="card-image">
            <img src="https://www.mydthshop.com/web-app/assets/images/email.png">
          </div>
          <div class="card-content">
            <a href="mailto:order@mydthshop.com" class="orange-text font-size-change1 font600">order@mydthshop.com</a>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section> -->
<!-- End Here -->
 

<section class="benifits-become py-5">
  <div class="container">
    <h4 class="cst-headline-price mb-5">Benefits to Become Partner on LIBANZ</h4>             
    <div class="row mb-5">
      <div class="col s12 m6 l5">

      </div>
      <div class="col s12 m6 l7">
        <ul>
          <li>
            <p>Libanz gives you the dual advantage of not only selling your own products but you may also purchase and sell products available on Libanz website. Libanz is not limited to one particular DTH operator, you may sell your own preferred DTH connection or you may sell and purchase any preferred DTH connection of your choice.</p>
          </li>
          <li>
            <p>As compared to the rates quoted by other DTH operators in the Indian market, Libanz offers the lowest selling price of products to you as a registered user.</p>
          </li>
          <li>
            <p>No targets. Yes, you read it right! Libanz never asks you to achieve any fixed target. Your commission will be paid immediately irrespective of the number of sales made and customers connected by you. It is imperative to note that every DTH operator in this highly dynamic market lays down fixed sales targets for their registered business partner. Whereas, registered users of Libanz are relieved from the burden of achieving significant targets. Thus, with Libanz you find the benefit of “Target free” business and prompt commission for your work.</p>
          </li>
          <li>
            <p>Libanz gives you better and high payment for your services as against lesser payment options offered by other DTH operators on a targeted basis.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col s12 m6 l7">
        <ul>
          <li>
            <p>Instead of partnering with various DTH operators in India separately, Libanz lets you manage and deal with all major DTH operators simultaneously, under one roof. Through a single wallet facility, you can book any DTH connections of Tata Sky, Dish TV, Airtel DTH, and Videocon D2H from your one registered account.</p>
          </li>
          <li>
            <p>You need not shell out a single penny to join Libanz as there is zero investment, no fees, no membership charges and no voucher payments involved, which all major DTH operators otherwise require for their registration process.  In fact, your account with Libanz is free, safe and secure.</p>
          </li>
          <li>
            <p>Libanz gives you the right to use its website through your registered account. Therefore, you can put aside the trouble of getting and maintaining your own personal website. </p>
          </li>
          <li>
            <p>Libanz is a platform where you can work at your own pace, time and location without any targets.</p>
          </li>
        </ul>
      </div>
      <div class="col s12 m6 l5">

      </div>
    </div>
    <div class="row mb-5">
      <div class="col s12 m6 l5">

      </div>
      <div class="col s12 m6 l7">
        <ul>
          <li>
            <p>Libanz also comes with a horde of other services for you as a registered user like online mobile recharge, bill payment, data card recharge, online utility payment etc.</p>
          </li>
          <li>
            <p>Your registered Libanz account also provides CRM (Customer Relationship Management) option to manage products, customers, deals, transactions history, total sales, revenue etc.</p>
          </li>
          <li>
            <p>Libanz gives you the liberty to work from anywhere in the world. You do not have to go to any office or check into Libanz account even in the comfort of your home.</p>
          </li>
          <li>
            <p>Libanz gives you leverage to manage customers from all over India without worrying to commute anywhere by using your account.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="partner-commision bg-white py-5">
  <div class="container">
    <h4 class="cst-headline-price mb-5">Partner Commission Structure in LIBANZ</h4>             
    <div class="row">
      <div class="col s12 padding-20">
        <table class="striped responsive-table">
          <tbody>
            <tr>
              <td>All DTH Recharge</td>
              <td>2.5%</td>
            </tr>
            <tr>
              <td>All Electricity</td>
              <td>2%</td>
            </tr>
            <tr>
              <td>All Landline</td>
              <td>2%</td>
            </tr>
            <tr>
              <td>All Broadband</td>
              <td>2%</td>
            </tr>
            <tr>
              <td>All Gas</td>
              <td>2%</td>
            </tr>
            <tr>
              <td>All Water</td>
              <td>2%</td>
            </tr>
            <tr>
              <td>All Mobile</td>
              <td>2%</td>
            </tr>
            <tr>
              <td>All Mobile Postpaid</td>
              <td>2%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


<section class="partner-commision py-5">
  <div class="container">
    <h4 class="cst-headline-price mb-5">Business Associates in LIBANZ</h4>             
    <div class="row">
      <div class="col s12">
        <ul class="slider-5 associates">
          <li class="item">
            <img src="https://www.libanz.com/accounts/assets/img/operators/1533210907_airtel.png" class="responsive-img">
          </li>
          <li class="item">
            <img src="https://www.libanz.com/accounts/assets/img/operators/1533210933_idea.png" class="responsive-img">
          </li>
          <li class="item">
            <img src="https://www.libanz.com/accounts/assets/img/operators/1533210964_vodafone.png" class="responsive-img">
          </li>
          <li class="item">
            <img src="https://www.libanz.com/accounts/assets/img/operators/1533211310_jio.png" class="responsive-img">
          </li>          
          <li class="item">
            <img src="https://www.libanz.com/accounts/assets/img/operators/1533210736_sun-direct.png" class="responsive-img">
          </li>          
          <li class="item">
            <img src="https://www.libanz.com/accounts/assets/img/operators/1533210806_videocon-dth.png" class="responsive-img">
          </li>          
          <li class="item">
            <img src="https://www.libanz.com/accounts/assets/img/operators/1533210771_tata-sky.png" class="responsive-img">
          </li>          
          <li class="item">
            <img src="https://www.libanz.com/accounts/assets/img/operators/1533210665_dish-tv.png" class="responsive-img">
          </li> 
        </ul>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>