
<app-header ></app-header>
<title></title>
<div class="spinner-wrapper">
  <ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>

<div class="row">
  
  <div class="col s12 m7 cs-bg-wt">
    <img src="../../assets/images/merchant-regis.png" class="responsive-img ">
  </div>
  <div class="col s12 m5 cs-bg-wt">
    <div class="cst-merchant-bx">

        <h4 class="merchant-txt">Merchant Registration</h4>
        <p class="sub-txt">India No.1 Platform for DTH , Mobile Recharge & Instant Payment</p>

        <div class="input-field col s12 m6">
            <input id="Name" type="text" class="validate" >
            <label for="Name">Name</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="Email" type="text" class="validate" >
            <label for="Email">Email </label>
          </div>

          <div class="input-field col s12 m6">
            <input id="Phone" type="text" class="validate" >
            <label for="Phone">Phone</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="Subject" type="text" class="validate" >
            <label for="Subject">Subject</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="Subject" type="text" class="validate" >
           
            <label for="Subject">City</label>
          </div>

          <div class="input-field col s12 m6">
            <input id="Subject" type="text" class="validate" >
            <label for="Subject">State</label>
          </div>
          <div class="input-field col s12 m12">
            <textarea id="Message" class="materialize-textarea"></textarea>
            <label for="Message">Message</label>
          </div>
         
          <div class="input-field col s12 m6">
            <a routerLink="/p/pricing" class="btn orange btn-bt-30">REGISTER NOW </a>          
          </div>
    </div>


  </div>
 

  <div class="row">
    <div class="box-both">
    <div class="row">
  
      <h4 class="cst-headline-price mbt-20"> Ideal for getting your business up and running with buyers 
      </h4>
  
      <div class="col s12 m2"></div>
      <div class="col s12 m4">
          <div class="seller-bx-11">
                 
              <img src="https://www.mydthshop.com/web-app/assets/images/buys.png" class="responsive-img buys1"/>
  
              <br/>
                  <h2 class="seller">START BUYERS </h2>
                  <p class="txt-formal">Ideal for getting your business up and running.
                  </p>
                 <!-- <span class="h2 headline-brand"><span class="fa fa-inr"> 50,000.00 Daily </span></span> -->
                 <ul class="pack-item-li">
                  <li><span class="fa fa-check"></span> Free CRM Software  </li>
                  <li><span class="fa fa-check"></span> No Target Period  </li>
                  <li><span class="fa fa-check"></span> Lowest Selling Price   </li>
                 
               
              </ul>
                  <br/>
                  <a routerLink="/merchant/kyc" class="btn cst-btn  w-100"> Learn More ... </a> 
  
          </div>
      </div>
      <div class="col s12 m4">
          <div class="seller-bx-11">
                 
              <img src="https://www.mydthshop.com/web-app/assets/images/sells.png" class="responsive-img buys1"/>
  
              <br/>
                  <h2 class="seller">START SELLER </h2>
                  <p class="txt-formal">Great for collaboration with everyone on your team.
  
                  </p>
  
                  <ul class="pack-item-li">
                      <li><span class="fa fa-check"></span> Free CRM Software  </li>
                      <li><span class="fa fa-check"></span> No Target Period  </li>
                      <li><span class="fa fa-check"></span> Lowest Selling Price   </li>
                     
                   
                  </ul>
                   <!-- <span class="h2 headline-brand"><span class="fa fa-inr">5,000.00  Daily</span></span> -->
                 
                  <br/>
                  <a routerLink="/merchant/kyc" class="btn cst-btn  w-100"> Learn More ... </a> 
  
          </div>
      </div>
      
      <div class="col s12 m2"></div>
    </div>
    </div>
  </div>
</div>
