<app-header></app-header>
<title></title>
<div class="spinner-wrapper">
  <ngx-spinner
  bdColor="rgba(255,255,255,1)"
  size="default"
  color="#ec9737"
  loadingText="Loading..."
  type="ball-clip-rotate">
</ngx-spinner>
</div>
<div id="fb-root"></div>
<section class="channels-basic">
    <div class="container center">
      <h1 *ngIf="details == false">{{this.package.category}} Packages 
         
        <span >
        <a href="javascript:void(0);" class="btn-floating btn-large orange dropdown-button white-text" data-activates='dropdown1'><i class="material-icons">share</i></a>
        <ul id='dropdown1' class='dropdown-content'>
          <li class="border-bottom3">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://www.mydthshop.com/package-list/{{this.url}}">Share On Facebook</a>        
          </li>
          <li class="border-bottom3"> 
            <a target="_blank" href="https://api.whatsapp.com/send?phone=918010339339&text=https://www.mydthshop.com/package-list/{{this.url}}" class="grey-text modal-trigger no-margin"> Share on WhatsApp</a>
          </li>
          <li class="border-bottom3">
            <a  href="#sharemail-modal" class="grey-text modal-trigger no-margin"> Share on Gmail</a>
          </li>
          <li>
          <a href="https://www.mydthshop.com/accounts/apis/export/export_category_packages/{{this.url}}" class="grey-text no-margin"> Download All Packages</a>
          </li>
        </ul>
      </span>      
    </h1>
    <h1 *ngIf="details == true"> 
      <span *ngFor="let item of package_list;">{{item.title}}</span>      
    </h1>
    <div class="row">
        <div class="col s12 new-share" *ngIf="details == true">
            <ul class="share-us-on center">
              <li><a class="tooltipped" data-delay="50" data-position="top" data-tooltip="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.mydthshop.com/package-list/{{this.url}}/{{this.pack_id}}" ><img alt="facebook" src="https://mydthshop.com/web-app/assets/images/facebook1.png"></a></li>
              <!-- <li><a class="tooltipped" data-delay="50" data-position="top" data-tooltip="Share on Linkedin" href="javascript:void(0);"><img alt="facebook" src="https://mydthshop.com/web-app/assets/images/linkedin.png"></a></li> -->
              <li><a class="tooltipped" data-delay="50" data-position="top" data-tooltip="Share on Twitter" href="http://twitter.com/share?url=https://www.mydthshop.com/package-list/{{this.url}}/{{this.pack_id}}"><img alt="facebook" src="https://mydthshop.com/web-app/assets/images/twitter.png"></a></li>
              <li><a class="tooltipped modal-trigger" data-position="top" data-delay="50" data-tooltip="Share on Gmail" href="#sharemail-modal"><img src="https://mydthshop.com/web-app/assets/images/gmail.png" alt="gmail"></a></li>
              <li><a href="https://api.whatsapp.com/send?phone=918010339339&text=https://www.mydthshop.com/package-list/{{this.url}}/{{this.pack_id}}" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Share on Whatsapp"><img src="https://mydthshop.com/web-app/assets/images/whatsapp.png" alt="whatsapp"></a></li>
              <li><a href="https://www.mydthshop.com/accounts/apis/export/export_package_category/{{this.pack_id}}" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Download"><img src="https://mydthshop.com/web-app/assets/images/down-arrow.png" alt="download"></a></li>
            </ul>
          </div>
    </div>
    
    </div>
  </section>
<section class="new-packages white packages-channels-download">
  <div class="container">
    <div class="row no-margin">
      <div class="col s12 m12 l8">
        <div class="card" *ngFor="let item of package_list;">
          <div class="card-header" *ngIf="details == false">
            <div class="col s12">
              <h2 class="font600 no-margin"><a routerLink="/package-list/{{this.url}}/{{item.id}}" target="_blank">{{item.title}}</a></h2>
              <ul class="share-us-on">
                <li><a class="tooltipped" data-delay="50" data-position="top" data-tooltip="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.mydthshop.com/package-list/{{this.url}}/{{item.id}}" ><img alt="facebook" src="https://mydthshop.com/web-app/assets/images/facebook1.png"></a></li>
                <!-- <li><a class="tooltipped" data-delay="50" data-position="top" data-tooltip="Share on Linkedin" href="javascript:void(0);"><img alt="facebook" src="https://mydthshop.com/web-app/assets/images/linkedin.png"></a></li> -->
                <li><a class="tooltipped" data-delay="50" data-position="top" data-tooltip="Share on Twitter" href="http://twitter.com/share?url=https://www.mydthshop.com/package-list/{{this.url}}/{{item.id}}"><img alt="facebook" src="https://mydthshop.com/web-app/assets/images/twitter.png"></a></li>
                <li><a class="tooltipped modal-trigger" data-position="top" data-delay="50" data-tooltip="Share on Gmail" href="#sharemail-modal"><img src="https://mydthshop.com/web-app/assets/images/gmail.png" alt="gmail" (click)="ini_pack(item.id)"></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=918010339339&text=https://www.mydthshop.com/package-list/{{this.url}}/{{item.id}}" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Share on Whatsapp"><img src="https://mydthshop.com/web-app/assets/images/whatsapp.png" alt="whatsapp"></a></li>
                <li><a href="https://www.mydthshop.com/accounts/apis/export/export_package_category/{{item.id }}" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Download"><img src="https://mydthshop.com/web-app/assets/images/down-arrow.png" alt="download"></a></li>
              </ul>
            </div>            
          </div>
          <div class="card-content">
		  <div class="packages-channels packages-channels-new">
		  <div class="row">
				<div class="col l4 s12 m6 smart-packs" *ngFor="let channel_pack of item.child">
				<div class="smart-inner">
					    <!-- <span class="when-check" id="check-pack-{{channel_pack.id}}"><i class="material-icons">check_circle</i></span> -->
                  <h4 class="grey-text">{{channel_pack.title}}</h4>
                  <span class="card-title"><i class="icon-inr"></i> <span *ngIf="!multienable">{{channel_pack.price}}</span><span *ngIf="multienable">{{channel_pack.multi_price}}</span>  <small>@ {{channel_pack.month}} Month</small></span>
                  <span class="font-size-change1" [innerHTML] = "remove_new_line(channel_pack.short_description)"></span>
                  <a [routerLink]="['/product/channel-pack/'+channel_pack.id]" [queryParams]= "{month : month}" target="_blank" class="font-size-change1 chng-set">Channels</a>
                  <a href="javascript:void(0)" target="_blank" class="font-size-change1 chng-set grey lighten-3 black-text">Buy Now</a>
				  
				  </div>
				</div>
				</div>
		  </div>
	
          </div>
        </div>
      </div>
      <div class="col s12 m12 l4">
        <div class="card grey lighten-3">          
          <div class="card-content">
            <h3 class="card-title no-margin">All Packages</h3>
            <ul class="all-packages">
              <li routerLinkActive="active"><a routerLink="/package-list/tata-sky" (click)="goto_package()"><i class="material-icons">
                  stars</i> Tata Sky Packages</a></li>
              <li routerLinkActive="active"><a routerLink="/package-list/airtel" (click)="goto_package()"><i class="material-icons">
                      stars</i> Airtel Packages</a></li>
              <li routerLinkActive="active"><a routerLink="/package-list/videocon" (click)="goto_package()"><i class="material-icons">
                  stars</i> Videocon Packages</a></li>
              <li routerLinkActive="active"><a routerLink="/package-list/dish-tv" (click)="goto_package()"><i class="material-icons">
                  stars</i> Dish Tv Packages</a></li>
              <!-- <li><a routerLink="/package-list/dish-tv" class="black-text"><i class="material-icons">
                  stars</i> Jio Fiber</a></li>
              <li><a routerLink="/package-list/dish-tv" class="black-text"><i class="material-icons">
                  stars</i> Airtel Xtream</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="sharemail-modal" class="modal white" style="width:40%;height:100%">
		<!-- <div class="modal-content" layout="column" (scroll)="onScroll($event)" style="height: 100%; overflow: auto;">	 -->
		<div class="modal-content">
		<div class="modal-header">
		<h4>Share Url To Email</h4>
		<div class="modal-close right-align"><i class="material-icons">close</i></div>
    </div>
    <form [formGroup]="sharemailgroup" class="login-page-form" #sharemailform = "ngForm" (ngSubmit)="share_to_mail(sharemailform.value)">
      <div class="input-field col s12">
        <i class="material-icons prefix margin-top-cart2">mail</i>
        <input id="icon_prefix" type="email" class="validate share-email" formControlName="email">
        <label for="icon_prefix" class="font-size-change">Enter Email</label>
        <div class="center" *ngIf="!sharemailgroup.controls['email'].valid && sharemailgroup.controls['email'].touched">
            <span class="red-text"> Email is not valid.</span>
          </div>
      </div>	
      <div class="row">
        <div class="col s12 center">
          <button type="submit" [disabled]="!sharemailgroup.controls['email'].valid" class="btn waves-effect waves-light orange">Submit</button>
        </div>
      </div>	
    </form>							
		<!-- <div class="center" *ngIf="more_display"><a class="view-more blue-text" id="more-display" href="javascript:" (click)="load_more_notification();">View More+</a></div> -->
		</div>
		</div>
<app-footer></app-footer>