<app-header></app-header>
<title></title>
<div class="spinner-wrapper">
  <ngx-spinner
  bdColor="rgba(255,255,255,1)"
  size="default"
  color="#ec9737"
  loadingText="Loading..."
  type="ball-clip-rotate">
</ngx-spinner>
</div>
<section class="channels-basic">
    <div class="container center">
      <h1>Tata Sky Packages 
        <span >
        <a href="#" class="chng-set dropdown-button orange-text" data-activates='dropdown1'><i class="material-icons">share</i></a>
        <ul id='dropdown1' class='dropdown-content'>
          <li class="border-bottom3">
          <a href="javascript:void(0);" class="grey-text modal-trigger no-margin">Share Packages</a>
          </li>
          <li>
          <a href="javascript:void(0);" class="grey-text no-margin">Download All Packages</a>
          </li>
        </ul>
      </span></h1>
      <p class="font-size-change1 font600">89 Channels & Services *</p>
		<span class="font-size-change1"><i class="icon-inr"></i> 381 @ 1 Month</span><br>
    </div>
  </section>
<section class="new-packages">
  <div class="container">
    <div class="row">
      <div class="col s12">
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>