<app-header></app-header>
<div class="spinner-wrapper">
        <ngx-spinner
          bdColor="rgba(255,255,255,0.8)"
          size="default"
          color="#ec9737"
          loadingText="Loading..."
          type="ball-clip-rotate">
        </ngx-spinner>
    </div>
	<section class="hero">
		<div class="container"> 
			<h2 class="center font600 white-text margin-top"></h2>
		</div>
	</section>
	<section class="about-us-pages">
	<div class="container" >
		<div class="row">  
			<div class="col s12" id="page-content">
			</div>
		</div>
  </div>
	</section>
	<!-- <section class="new-form-register no-padding">
		<div class="container-fluid no-padding">
			<div class="row no-margin">
				<div class="col s12 m7 no-padding">
					<img src="https://www.mydthshop.com/web-app/assets/images/testimonial-bg.jpg" alt="new" class="img-responsive full-width">
				</div>
				<div class="col s12 m5 no-padding">
					<div class="card no-margin">
						<div class="card-content">
							<h3 class="font600 center">Just earn without investment, and hassle free with the lowest selling price.</h3>
							<form>
								<div class="row">
									<div class="input-field col s12 m6">
										<input id="name" type="text" class="validate">
										<label for="name">Name</label>
									</div>
									<div class="input-field col s12 m6">
										<input id="email" type="email" class="validate">
										<label for="email">Email</label>
									</div>
									<div class="input-field col s12 m6">
										<input id="phone" type="number" class="validate">
										<label for="phone">Phone</label>
									</div>
									<div class="input-field col s12 m6">
										<input id="subject" type="text" class="validate">
										<label for="subject">Subject</label>
									</div>
									<div class="input-field col s12">
										<textarea id="textarea1" class="materialize-textarea"></textarea>
										<label for="textarea1">Massage</label>
									</div>
									<div class="input-field col s12 center">
										<button type="submit" class="btn orange">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- For Backup Design -->
	<!-- <section class="new-jio-fiber">
		<div class="container">
			<div class="row no-margin">
				<div class="col s12 m6 no-padding">
					<img src="https://www.mydthshop.com/web-app/assets/images/high_net.jpg" alt="Jio high speed internet" class="full-width">
				</div>
				<div class="col s12 m6 no-padding new-jio-fiber">
					<div class="card no-margin">
						<div class="card-content">
							<h3 class="card-title">High Speed internet Ever!</h3>
							<p>For the first time in India, get up to 1 Gbps internet across every corner of your home. Reliable and fast internet that matches with your speed.</p>
							<ul>
								<li>JioFiber is the Fastest Broadband with speeds up to 1Gbps</li>
								<li>JioFiber is the Fastest Broadband with speeds up to 1Gbps</li>
								<li>JioFiber is the Fastest Broadband with speeds up to 1Gbps</li>
								<li>JioFiber is the Fastest Broadband with speeds up to 1Gbps</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row no-margin">				
				<div class="col s12 m6 no-padding new-jio-fiber">
					<div class="card no-margin grey lighten-3">
						<div class="card-content grey lighten-3">
							<h3 class="card-title">Free High Speed Voice Calling!</h3>
							<p>For the first time in India, get up to 1 Gbps internet across every corner of your home. Reliable and fast internet that matches with your speed.</p>
							<ul>
								<li>JioFiber is the Fastest Broadband with speeds up to 1Gbps</li>
								<li>JioFiber is the Fastest Broadband with speeds up to 1Gbps</li>
								<li>JioFiber is the Fastest Broadband with speeds up to 1Gbps</li>
								<li>JioFiber is the Fastest Broadband with speeds up to 1Gbps</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col s12 m6 no-padding">
					<img src="https://www.mydthshop.com/web-app/assets/images/high_net.jpg" alt="Jio high speed internet" class="full-width">
					</div>
			</div>
		</div>
	</section> -->
  <app-footer></app-footer>