
<app-header class="hide-on-mobile"></app-header>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>
	<div class="cst-back" [innerHTML] ="this.todoservice.back_link"></div>
	<div class="fix-mb-top"></div>	
	<section class="hero beard" *ngIf="this.pageservice.page_data && this.pageservice.page_data.image != ''">
		<img src="{{this.todoservice.base_url}}/accounts/assets/img/cms/{{this.pageservice.page_data.image}}" class="responsive-img w-100">
		<div class="container"> 
			<h2 class="center font600 white-text margin-top"></h2>
		</div>
	</section>
	<section class="about-us-pages cs-page1">
	<div class="container" >
		<div class="row">  
			<div class="col s12" id="page-content" [innerHTML]="this.page_content()">
			</div>
		</div>
  </div>
	</section>
	<section class="middle-part margin-top paad-new white no-padding" *ngIf="form_enable">
			<div class="container-fluid">						
				<div class="row">
					<div class="col m6">
						<img class="responsive-img full-width" src="{{this.todoservice.base_url}}accounts/assets/img/Business-india.jpg">
					</div>
					<div class="col s12 m6">
						<form id="contact-form" [formGroup]="contactgroup" #contactform = "ngForm" (ngSubmit)="contact_submit(contactform.value)">
							<h4 class="center text-uppercase font600 why">Solve Your Query </h4>
							<div class="row no-margin padding-form">
								<div class="input-field col s12 m6">
									<input id="first_name" name="name" type="text" class="validate" formControlName="name">
									<label for="first_name">Name*</label>
									<div class="red-text accent-4 center absolute" *ngIf="!contactgroup.controls['name'].valid && contactgroup.controls['name'].touched">Enter Name*.</div>
								</div>
								<div class="input-field col s12 m6">
									<input id="email" name="email" type="email" class="validate"  formControlName="email">
									<label for="email">Email*</label>
									<div class="red-text accent-4 center absolute" *ngIf="!contactgroup.controls['email'].valid && contactgroup.controls['email'].touched">Enter a Valid Email*.</div>
								</div>            
								<div class="input-field col s12 m6">
									<input id="phone" name="phone" type="number" class="validate"  formControlName="phone">
									<label for="phone">Phone No.*</label>
									<div class="red-text accent-4 center absolute" *ngIf="!contactgroup.controls['phone'].valid && contactgroup.controls['phone'].touched">Enter a Valid Phone*.</div>
								</div>                        
								<div class="input-field col s12 m6">
									<input id="company-name" name="company-name" type="text" class="validate"  formControlName="subject">
									<label for="company-name">Company Name</label>
								</div>                                    
								<div class="input-field col s12">
									<input id="home-address" name="home-address" type="text" class="validate"  formControlName="message">
									<label for="home-address">Address</label>
								</div>
								<div class="center col s12">
									<button type="submit" class="btn-large orange white-text" [disabled]="!contactgroup.valid">Register Now <i class="fa fa-angle-double-right vertical	-align-middle right" aria-hidden="true"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
  <app-footer></app-footer>