<app-header></app-header>
<section class="login-page no-padding">
		<div class="row">
			<div class="col s12 m12">
                <div class="container">
                    <div class="card">
                        <div class="card-content">
                            <div class="upper-text center">
                                <h3 class="orange-text strong"> Checkout Plan </h3>
                            </div>
                            <form [formGroup]="checkoutgroup" class="login-page-form" #checkoutform = "ngForm" (ngSubmit)="plan_checkout(checkoutform.value)" >
                                <div class="row">
                                    <h3>Plan Detail</h3>
                                    <div id="selected-plan" *ngIf="this.selected_plan && this.selected_plan.length > 0">
                                        <span class="plan-price">{{get_code(this.selected_plan[0].plan_code)}}</span><div class="clearfix"></div>
                                        <span class="plan-price">Price: {{this.selected_plan[0].price}}</span><div class="clearfix"></div>
                                        <span class="plan-price">Number of Leads: {{this.selected_plan[0].leads_no}}</span><div class="clearfix"></div>
                                        <span class="plan-price">Valid for: {{this.selected_plan[0].days}}</span><div class="clearfix"></div>
                                    </div>
                                    <h3>Customer Detail</h3>
                                    <div class="input-field col m6 s12">
                                        <i class="material-icons prefix margin-top-cart2">person</i>
                                        <input id="name" type="text" value="{{this.todoservice.get_user_name()}}" formControlName="name" class="validate" autocomplete="off">
                                        <label for="name" [className]="(this.todoservice.get_user_name() != '')? 'active':''">Enter Name*</label>
                                        <div class="center absolute" *ngIf="!checkoutgroup.controls['name'].valid && checkoutgroup.controls['name'].touched">
                                            <span class="red-text ">*Enter Valid Name.</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="input-field col m6 s12">
                                        <i class="material-icons prefix margin-top-cart2">phone</i>
                                        <input id="phn_number" type="text" class="validate" value="{{this.todoservice.get_user_phone()}}" formControlName="phone" placeholder="Enter 10 digits Mobile Number." autocomplete="off" (keyup)="check_if_user_exist()">
                                        <label for="phn_number" [className]="(this.todoservice.get_user_phone() != '')? 'active':''">Phone/User Login*</label>
                                        <div class="center absolute" *ngIf="!checkoutgroup.controls['phone'].valid && checkoutgroup.controls['phone'].touched">
                                            <span class="red-text ">*Enter Valid Phone.</span>
                                        </div>
                                        <div class="center absolute" *ngIf="step2">
                                            <span class="green-text ">OTP Sent to this Phone Number.</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="input-field col m6 s12">
                                        <i class="material-icons prefix margin-top-cart2">mail</i>
                                        <input id="email-input" type="text" class="validate" value="{{this.todoservice.get_user_email()}}" formControlName="email" autocomplete="off">
                                        <label for="email-input" [className]="(this.todoservice.get_user_email() != '')? 'active':''">Email</label>
                                        <div class="center absolute" *ngIf="!checkoutgroup.controls['email'].valid && checkoutgroup.controls['email'].touched">
                                            <span class="red-text">*Enter Valid Email.</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="input-field col m6 s12" *ngIf="step2">
                                        <i class="material-icons prefix margin-top-cart2">lock</i>
                                        <input id="enter_address" type="password" class="validate" formControlName="password" autocomplete="off">
                                        <label for="enter_address">Choose Password</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="input-field col m6 s12" *ngIf="step2">
                                        <i class="material-icons prefix margin-top-cart2">lock</i>
                                        <input id="enter_address" type="text" class="validate" formControlName="pin" autocomplete="off">
                                        <label for="enter_address">Enter OTP</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="payment-methods" *ngIf="this.plan != 'trial' ">
                                        <div class="col s12 m10 offset-m1" *ngIf="this.todoservice.get_user_name() != '' && this.selected_plan && this.todoservice.get_user_wallet_amount() >= this.selected_plan[0].price">
                                            <input formControlName="payment_type" value="wallet" class="with-gap" type="radio" id="wallet" [disabled]="(this.todoservice.get_user_wallet_amount() >= this.selected_plan[0].price)? false: true"/>
                                            <label for="wallet" class="font-size-change black-text mydth-wallet"> <img width="80" src="{{this.todoservice.base_url}}assets/images/final-logo.png" alt="Mydth Wallet"> </label>
                                            <span class="red-text" *ngIf="(this.todoservice.get_user_wallet_amount() < this.selected_plan[0].price)">Not Enough Balance</span>
                                        </div>
                                        <div class="col s12 m10 offset-m1">
                                            <input formControlName="payment_type" class="with-gap" value="paytm" type="radio" id="paytm" />
                                            <label for="paytm" class="font-size-change black-text paytm-wallet"><img src="{{this.todoservice.base_url}}assets/images/paytm-logo.png" alt="paytm-wallet"> </label>
                                        </div>
                                        <div class="col s12 m10 offset-m1">
                                            <input formControlName="payment_type" class="with-gap" value="card" type="radio" id="card"/>
                                            <label for="card" class="font-size-change black-text">Cards & Netbanking</label>
                                        </div>
                                    </div>
                                    <div class="col s12 margin-top">
                                        <!-- <a href="javascript:" class="back-to-retailer-page grey lighten-3 btn black-text" (click)="hide_signup_form()"> << Back</a> -->
                                        <button type="submit" class="btn orange waves-effect" [disabled]="!checkoutgroup.valid">Continue</button>
                                    </div>
                                </div>
                            </form>	
                        </div>
                    </div>
                </div>
							
			</div>
		</div>
		<div class="clearfix"></div>
    </section>
    <app-footer></app-footer>
