<style>
    .cst-headline-price{

        font-size: 2.56578rem;
    line-height:35px;
    text-align:center;
    font-weight: bold;
    text-transform: capitalize;
    }
    .spinner-wrapper{

        background-color:#fff;
    }

.package-bx1{

height:523px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;
border: 1px solid #f8bd6f;
text-align: center;
background-color: #fff;
}
.package-bx1 .addcart{

    background-color: #f8bd6f;
    color:#fff;
}
.package-bx2{

height:461px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;
border: 1px solid #f06151;
text-align: center;
background-color: #fff;
}
.package-bx2 .addcart{

    background-color: #f06151;
    color:#fff;
}
.package-bx3{

height:461px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;
border: 1px solid #716abf;
text-align: center;
background-color: #fff;
}
.package-bx3 .addcart{

background-color: #716abf;
color:#fff;
}
.package-bx4{

height:461px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;
border: 1px solid #02b7a4;
text-align: center;
background-color: #fff;
}
.package-bx4 .addcart{

background-color: #02b7a4;
color:#fff;
}

.trial{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ececec;
    padding: 7px 0px 12px 0px;
    margin: 0;
    background-color: #f8bd6f;
    color:#fff;
    line-height: 40px;
    
}
.starter{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #f06151;
    padding: 7px 0px 12px 0px;
    margin: 0;
    background-color:#f06151;
    color:#fff;
    line-height: 40px;
    
}
.deluxe{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #716abf;
    padding: 7px 0px 12px 0px;
    margin: 0;
    background-color: #716abf;
    color: #fff;
    line-height: 40px;
    
}
.super-deluxe{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #02b7a4;
    padding: 7px 0px 12px 0px;
    margin: 0;
    background-color:#02b7a4;
    color:#fff;
    line-height: 40px;
    
}
.inner-desc-pg{

    padding-top:20px;
}
.time-limit{

    font-size: 25px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    font-weight: bold;
    color: #757574;
}
.pack-item-li li{
    font-size: 16px;
    padding: 9px 0px;
    /* list-style-type: disc; */
    border-bottom: 1px solid #ececec;
}
.earn-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #ececec;
    color: #795548;
}

.buyers-content{

    font-size: 25px;
    border-bottom: 1px solid #8c8c8c;
    padding-bottom: 10px;
    font-weight: bold;
    color: #757574;
    height: 250px;
    width: 100%;
}
.buyer{

    font-size: 25px;
    text-align: center;    
}
.seller{

font-size: 25px;
text-align: center;    
}
.buys1{

    width:35%;
    text-align: center;
}
.sells1{

width:35%;
text-align: center;
}
.buyer-bx-1{

height:330px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;

text-align: center;
background-color: #fff;
}
.seller-bx-1{
    height:330px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;

text-align: center;
background-color: #fff;

}
.buyer-bx-1 p{

font-size: 15px;
color: #6c6c6c;
padding-top:10px;
}
.seller-bx-1 p{

    font-size: 15px;
    color: #6c6c6c;
    padding-top:10px;
}
.seller-bx-11{

    border: 1px solid #8c8c8c;
    height: auto;
    padding: 45px;
    width: 100%;
    text-align: center;
}
.mt-30{
    margin-top:30px !important;
}
.newsletter{

    background-color: #183651;
    text-align: center;
    padding: 32px 0;
}
.news-txt{

    font-size: 26px;
    color: #fff;
}
.box-both{
    margin:35px 0;
}
.mbt-20{

    margin-bottom: 20px;
}
.headline-brand{
    font-size: 2.56578rem;
    line-height: 52px;
}
.txt-formal{

    font-size: 17px;
    border-top: 1px solid #ececec;
    
    padding: 10px 0px;
    width: 100%;
    text-transform: capitalize;
}
button.btn.cst-btn.w-100 {
    width: 100%;
}

@media only screen and (max-width: 767px){

    .seller-bx-11 {
    border: 1px solid #8c8c8c;
    height: auto;
    padding: 45px;
    width: 100%;
    text-align: center;
    margin-top: 27px;
}
}
</style>
<app-header></app-header>

<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#dc6802" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
<div class="row">
    <div class="back-drop">
    <img src="{{this.todoservice.base_url}}web-app/assets/images/merchant-banner-1.png" class="responsive-img ">

  </div>


  </div>

  <div class="container">
    <div class="row">
            <h4 class="cst-headline-price">Start Your Trial</h4>
            <div class="card">
                <div class="card-container">
                    <div class="duration-box">
                        <form [formGroup]="pricingformgroup" #pricingform = "ngForm" (ngSubmit)="onSubmit(pricingform.value)"> 
                        <!-- <h3> Duration </h3>
                        <div class="col m6 s12">
                            <span>Days</span>
                            <input type="number" name="duration" placeholder="Days" value="15" (keyup)="check_input($event.target.value)">
                        </div> -->
                        <!-- <div  class="col m6 s12">
                            <span>End Date</span>
                            <mat-form-field appearance="fill">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="dp1" [min]="minDate" [(ngModel)]="mydate" formControlName="date">
                                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                <mat-datepicker #dp1></mat-datepicker>
                            </mat-form-field>
                        </div> -->
                        <div  class="input-field col m12 s12">
                            <div class="region-box">
                                <!-- <mat-checkbox class="example-margin" id="check-all" value="1">All</mat-checkbox> -->
                                <mat-form-field>
                                    <mat-select placeholder="Select Area" formControlName="circle" (selectionChange)="circle_selected($event.value)">
                                        <mat-option [value]="'all'">
                                            <span class="operator-name">All</span>
                                        </mat-option>
                                        <span *ngFor="let item of circle_list;">
                                            <mat-option [value]="item.circle">
                                                <span class="operator-name">{{ item.circle }}</span>
                                            </mat-option>
                                        </span> 
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!-- <div class="pincode-box">
                                <ul class="pincode-list">
                                    <li class="list left" *ngFor="let item of pincodes;">
                                        <mat-checkbox class="example-margin" id="item-{{item.pincode}}" value="{{item.pincode}}" formControlName="pincode" (change)="change_me($event)">{{item.pincode}}</mat-checkbox>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="clearfix"></div>
                        <!-- <h3 class="center">OR</h3>
                        <div class="col m12 s12 center">
                            <a href="javascript:" (click)="show_to_search()" class="show-search-box-link btn grey">Search Pincode</a>
                            <div id="search-box" class="hide">
                                <span class="search-icn"><i class="material-icons grey-text">search</i></span>
                                <mat-form-field class="example-full-width test1 fix-input-place">
                                    <input type="text" placeholder="Search Pincode" id="mat-input-3" class="no-margin black-text fix-inner-lbl"  aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup)="search_me($event.target.value)" > 
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <span *ngIf="filteredOptions">
                                            <mat-option *ngFor="let option of filteredOptions" [value]="option.pincode" (click)="click_me(option.id,option.pincode)" >
                                                <a href="javascript:" class="black-text">{{option.pincode}}</a>
                                            </mat-option>
                                        </span>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>  -->
                        <div  class="col m12 s12">
                            <button type="submit" class="btn orange">Start Your 15 days trial</button>
                        </div>
                        </form>
                    </div>
                <div class="clearfix"></div>    
                </div>
            </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col s12 m12">
            <h4 class="cst-headline-price"> Choose the best package to generate lead</h4>
            <div class="center">
                <label>
                    <input name="group1" id="check-1" type="radio" checked (change)="change_plan(15)"/>
                    <label for="check-1">15 Days</label>
                </label>
                <label>
                    <input name="group1" id="check-2" type="radio" (change)="change_plan(45)"/>
                    <label for="check-2">45 Days</label>
                </label>
               <label>
                    <input name="group1" id="check-4" type="radio" (change)="change_plan(90)"/>
                    <label for="check-4">90 Days</label>
                </label>
            </div>
        </div>
    </div>



<div class="row">
    <div class="pricing-box">
    <!-- <div class="col s12 m3">
        <div class="package-bx1">
            <h4 class="trial">TRIAL PACK</h4>
            <div class="inner-desc-pg">
                <p class="time-limit">Valid for 15 Days </p>
                <h3 class="earn-title">Price <span class="fa fa-inr"></span>0 </h3> 
                <h3 class="earn-title"> <span id="plan-leads">Number of leads 20</span> </h3>
                <ul class="pack-item-li">
                    <li>Free CRM Software  </li>
                    <li> No Target   </li>
                    <li> Lowest Selling Price   </li>
                    <li> Assure Gift Package  </li>
                    <li> 24 x 7 Customer Support  </li>
                    <li class="addcart"><a class="white-text" [routerLink]="['/merchant/checkout']" [queryParams]= "{plan: 1,days : 15 }">Start Trial</a> </li>
                </ul>
            </div>

        </div>
    </div>     -->
    <div class="col s12 m4" *ngFor="let item of plan_codes">
        <div class="package-bx1">
            <h4 class="trial">{{item.plan_code}}</h4>
            <div class="inner-desc-pg">
                <p class="time-limit" id="plan-days-{{item.id}}"></p>
               <h3 class="earn-title"> <span class="fa fa-inr"></span> <span id="plan-rate-{{item.id}}"></span> </h3> 
               <h3 class="earn-title"> <span id="plan-leads-{{item.id}}"></span> </h3> 
               <ul class="pack-item-li">
                   <li>Free CRM Software  </li>
                   <li> No Target   </li>
                   <li> Lowest Selling Price   </li>
                   <li> Assure Gift Package  </li>
                   <li> 24 x 7 Customer Support  </li>
                   <li class="addcart"><a class="white-text" href="javascript:" (click)="select_plan(item.id)" >Proceed</a> </li>
               </ul>
            </div>

        </div>
    </div>

</div>
  </div>
  
  
  
  <div class="row">

    <h4 class="cst-headline-price">Choose the best  platform to  exlpore your business</h4>
    <br/>

    
    <div class="pricing-box mt-30">

    <div class="col s12 m4">
        <div class="buyer-bx-1">
                
                <img src="{{this.todoservice.base_url}}web-app/assets/images/buys.png" class="responsive-img buys1"/>

                <br/>
                <h4 class="buyer"> INDIVIDUAL BUYER </h4>

                <p>
                    My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
                </p>

        </div>
    </div>
  
    <div class="col s12 m4">
        <div class="seller-bx-1">
               
                <img src="{{this.todoservice.base_url}}web-app/assets/images/meeting.png" class="responsive-img sells1"/>

                <br/>
                <h4 class="seller">INDIVIDUAL SELLER </h4>
                <p> 
                    My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
                </p>
                
        </div>
    </div>

    <div class="col s12 m4">
        <div class="seller-bx-1">
               
                <img src="{{this.todoservice.base_url}}web-app/assets/images/sells.png" class="responsive-img sells1"/>

                <br/>
                <h4 class="seller">INDIVIDUAL LEAD </h4>
                <p>

                    My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
                </p>
                
        </div>
    </div>


   

</div>
  </div>

  <div class="row">
  <div class="box-both">
  <div class="row">

    <h4 class="cst-headline-price mbt-20"> Ideal for getting your business up and running with buyers 
    </h4>

    <div class="col s12 m2"></div>
    <div class="col s12 m4">
        <div class="seller-bx-11">
               
            <img src="{{this.todoservice.base_url}}web-app/assets/images/buys.png" class="responsive-img buys1"/>

            <br/>
                <h2 class="seller">START BUYERS </h2>
                <p class="txt-formal">Ideal for getting your business up and running.
                </p>
               <!-- <span class="h2 headline-brand"><span class="fa fa-inr"> 50,000.00 Daily </span></span> -->
               <ul class="pack-item-li">
                <li><span class="fa fa-check"></span> Free CRM Software  </li>
                <li><span class="fa fa-check"></span> No Target Period  </li>
                <li><span class="fa fa-check"></span> Lowest Selling Price   </li>
               
             
            </ul>
                <br/>
                <a routerLink="/merchant/kyc" class="btn cst-btn  w-100"> Learn More ... </a> 

        </div>
    </div>
    <div class="col s12 m4">
        <div class="seller-bx-11">
               
            <img src="{{this.todoservice.base_url}}web-app/assets/images/sells.png" class="responsive-img buys1"/>

            <br/>
                <h2 class="seller">START SELLER </h2>
                <p class="txt-formal">Great for collaboration with everyone on your team.

                </p>

                <ul class="pack-item-li">
                    <li><span class="fa fa-check"></span> Free CRM Software  </li>
                    <li><span class="fa fa-check"></span> No Target Period  </li>
                    <li><span class="fa fa-check"></span> Lowest Selling Price   </li>
                   
                 
                </ul>
                 <!-- <span class="h2 headline-brand"><span class="fa fa-inr">5,000.00  Daily</span></span> -->
               
                <br/>
                <a routerLink="/merchant/kyc" class="btn cst-btn  w-100"> Learn More ... </a> 

        </div>
    </div>
    
    <div class="col s12 m2"></div>
  </div>
  </div>
</div>

</div>

<div class="container-fluid"> 

    <div class="row">
        <div class="newsletter">

                <h3 class="news-txt"> Need help? Call our award-winning support team 24/7 at info@libanz.com  </h3>

        </div>
    </div>
</div>
<app-footer></app-footer>