
<style>
.cst-headline-price{

font-size: 2.56578rem;
line-height:35px;
text-align:center;
font-weight: bold;
text-transform: capitalize;
margin-bottom: 20px;
}
.list-product{

    font-size: 2.56578rem;
line-height:35px;

font-weight: bold;
text-transform: capitalize;
margin-bottom: 20px;
}
.spinner-wrapper{

background-color:#fff;
}
.wid-65{

    width:65%;
}
.cst-p-txt{

    font-size: 15px;
    color: #6c6c6c;
}

.heading-list-h1{

    font-size: 24px;
    font-weight: bold;
}

.ls-list li{

    font-size: 15px;
    padding-top: 10px;
    list-style-type: disc !important;
    padding-left: 0;
    margin-left: 17px;
    color: #6c6c6c;
}
.align-ctr{

    text-align: center;
}

.product-dt-form{

    height: 450px;
}

.buys1{

width:35%;
text-align: center;
}
.sells1{

width:35%;
text-align: center;
}

.buyer-bx-1{

height:330px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;

text-align: center;
background-color: #fff;
}
.seller-bx-1{
    height:330px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;

text-align: center;
background-color: #fff;

}
.buyer-bx-1 p{

font-size: 15px;
color: #6c6c6c;
padding-top:10px;
}
.seller-bx-1 p{

    font-size: 15px;
    color: #6c6c6c;
    padding-top:10px;
}
.kyc-txt-bold{

    font-size: 20px;
    font-weight: bold;
    color: #183651;
}
.product-listing-bx{


    height:570px;
    width:100%;
    box-shadow:1px 1px 10px #ececec;
    padding:20px;
}
ul.product-list-dth li {
    line-height: 52px;
    border-bottom: 1px solid #dad7d7;
    width: 100%;
    float: left;
    color: #0e0909 !important;
}
.product-list-dth li a{

    color:#333;
    font-size: 14px;
}
.br-right{
    border-right: 1px solid #c3c3c3;
    height: 80vh;
}
.txt-bold{

    font-weight: bold;
}
.img-sec img {
    width: 100%;
    box-shadow: 1px 1px 10px #ececec;
    margin-left: 25px;
    text-align: center;
}
.pro-list-form{
    padding:5px 20px;
}
.note-up{

    font-size: 14px;
    color: #6c6c6c;
    padding-top: 10px;
}
.checkbx-1{
    text-align: center;
    padding-left: 40px;
    padding-top: 10px;
}
@media only screen and (max-width: 767px){

.seller-bx-11 {
border: 1px solid #8c8c8c;
height: auto;
padding: 45px;
width: 100%;
text-align: center;
margin-top: 27px;
}
.product-listing-bx {
    min-height: 1170px;
    width: 100%;
    box-shadow: 1px 1px 10px #ececec;
    padding: 20px;
}
.br-right{

    border:transparent;
    
}
}
 </style>



<app-header ></app-header>
<title></title>
<div class="spinner-wrapper">
    <ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
<div class="row">
  
    <div class="background-kyc">
      <img src="{{this.todoservice.base_url}}web-app/assets/images/listing-product.png" class="responsive-img ">
    </div>
  
  </div>
  <div class="container">
  
      
  

  <div class="row">
      <div class="col s12 m6">
        <div class="listing-box-1">
            <h4 class="list-product mbt-20"> Now ready to listing your products   
            </h4>

            <p class="cst-p-txt">
                My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
                My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
            </p>

            <ul class="ls-list"> 

                <li> Get Upto 100% Lead Conversion  </li>
                <li>Get CRM Admin Panel </li>
                <li>Without Lead No Chargeable </li>
                <li>100% Client Satisfactions </li>
            </ul>
        </div>

      </div>
      <div class="col s12 m6 align-ctr">
          <img src="{{this.todoservice.base_url}}web-app/assets/images/order.png" class="responsive-img wid-65"/>
      </div>
     
  </div>


    <div class="row">

        <h4 class="cst-headline-price mbt-20"> Your are almost ready to start selling  
        </h4>


        <div class="product-listing-bx">


            <div class="col s12 m3 br-right">
                <div class="brand-box">
                <h3 class="txt-bold">OUR BRANDS </h3>
                <ul class="product-list-dth">
                    <li><a href="#"><span class="fa fa-angle-right"></span><span class="fa fa-angle-right"></span>  TATA SKY SETUP BOX</a></li>
                    <li><a href="#"><span class="fa fa-angle-right"></span><span class="fa fa-angle-right"></span>   AIRTEL SETUP BOX</a></li>
                    <li><a href="#"><span class="fa fa-angle-right"></span><span class="fa fa-angle-right"></span>   DISHTV SETUP BOX</a></li>
                    <li><a href="#"><span class="fa fa-angle-right"></span><span class="fa fa-angle-right"></span>   VIDEOCON SETUP BOX</a></li>
                    <li><a href="#"><span class="fa fa-angle-right"></span><span class="fa fa-angle-right"></span>   OTHERS </a></li>
                </ul>
            </div>
            </div>

            <div class="col s12 m9">
              
                <div class="row">
                    <div class="img-sec">
                    <div class="col s2">
                        <img src="{{this.todoservice.base_url}}accounts/assets/img/product-img/270x2702501551270412.png" class="responsive-img"/>
                     <div class="checkbx-1">  <input type="checkbox" class="filled-in" id="filled-in-box1" formControlName="remember" />
                        <label for="filled-in-box1" class="font-size-change"></label></div>
                    </div>
                    <div class="col s2">
                        <img src="{{this.todoservice.base_url}}accounts/assets/img/product-img/270x2709861552991026.png" class="responsive-img"/>
                        <div class="checkbx-1">  <input type="checkbox" class="filled-in" id="filled-in-box2" formControlName="remember" />
                            <label for="filled-in-box2" class="font-size-change"></label></div>
                        </div>
                    <div class="col s2">
                        <img src="{{this.todoservice.base_url}}accounts/assets/img/product-img/270x2707891567502212.png" class="responsive-img"/>
                        <div class="checkbx-1">  <input type="checkbox" class="filled-in" id="filled-in-box3" formControlName="remember" />
                            <label for="filled-in-box3" class="font-size-change"></label></div>
                        </div>
                    <div class="col s2">
                        <img src="{{this.todoservice.base_url}}accounts/assets/img/product-img/270x2704191560514398.png" class="responsive-img"/>
                        <div class="checkbx-1">  <input type="checkbox" class="filled-in" id="filled-in-box4" formControlName="remember" />
                            <label for="filled-in-box4" class="font-size-change"></label></div>
                        </div>
                    <div class="col s2">
                        <img src="{{this.todoservice.base_url}}accounts/assets/img/product-img/270x2709861552991026.png" class="responsive-img"/>
                        <div class="checkbx-1">  <input type="checkbox" class="filled-in" id="filled-in-box5" formControlName="remember" />
                            <label for="filled-in-box5" class="font-size-change"></label></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="pro-list-form">
                        <div class="input-field col s12 m6">
                            <input id="name" type="text" class="validate" >
                            <label for="Product Name">Product Name </label>
                          </div>

                          <div class="input-field col s12 m6">
                            <input id="name" type="text" class="validate" >
                            <label for="Product MRP">Product MRP </label>
                          </div>
                          <div class="input-field col s12 m6">
                            <input id="name" type="text" class="validate" >
                            <label for="Product MRP">Bidding Price Min .300 Rs </label>
                          </div>

                          <div class="input-field col s12 m6">
                            <input id="name" type="text" class="validate" >
                            <label for="Product MRP">Location </label>
                          </div>
                          <div class="input-field col s12 m6">
                            <input id="name" type="text" class="validate" >
                            <label for="Product MRP">Delievery Time </label>
                          </div>

                          <div class="input-field col s12 m6">
                            <input id="name" type="text" class="validate" >
                            <label for="Product MRP">Comments </label>
                          </div>
                          <div class="input-field col s12 m6">
                          <a routerLink="#" class="btn cst-btn  w-100"> Submit Now  </a> 
                </div>
                </div>

            </div>

            <p class="note-up"><strong>Note : </strong> Delivery Option will be chargeable for seller it can be collected as any payment method it should be Installed within 3 Days Respectively.</p>

            
        </div>


            <br/>

           
         </div>

        </div>
    </div>

 

  <div class="container">
 
    <div class="row">
  
    
      <div class="pricing-box mt-30">
  
      <div class="col s12 m4">
          <div class="buyer-bx-1">
                  
                  <img src="{{this.todoservice.base_url}}web-app/assets/images/listing-11.png" class="responsive-img buys1"/>
  
                  <br/>
                  <h4 class="buyer kyc-txt-bold"> Product Listing </h4>
  
                  <p>
                      My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
                  </p>
  
          </div>
      </div>
    
      <div class="col s12 m4">
          <div class="seller-bx-1">
                 
                  <img src="{{this.todoservice.base_url}}web-app/assets/images/listing-22.png" class="responsive-img sells1"/>
  
                  <br/>
                  <h4 class="seller kyc-txt-bold">Payment Confirmation </h4>
                  <p> 
                      My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
                  </p>
                  
          </div>
      </div>
  
      <div class="col s12 m4">
          <div class="seller-bx-1">
                 
                  <img src="{{this.todoservice.base_url}}web-app/assets/images/listing-33.png" class="responsive-img sells1"/>
  
                  <br/>
                  <h4 class="seller kyc-txt-bold">Product Delivery </h4>
                  <p>
  
                      My DTH Shop gives you the dual advantage of not only selling your own products but you may also purchase and sale products available at My DTH Shop website. My DTH Shop is not limited to one particular DTH operator, you may sale your own preferred DTH connection.
                  </p>
                  
          </div>
      </div>
  
  
     
  
  </div>
    </div>
  
  
  
  
  </div>
  
  <div class="container-fluid"> 
  
      <div class="row">
          <div class="newsletter">
  
                  <h3 class="news-txt"> Need help ? Related to Product Listing Available 24/7 at info@libanz.com  </h3>
  
  
          </div>
      </div>
  </div>