<style>
    .cst-headline-price{

        font-size: 2.56578rem;
    line-height:35px;
    text-align:center;
    font-weight: bold;
    text-transform: capitalize;
    }
    .spinner-wrapper{

        background-color:#fff;
    }

.package-bx1{

height:523px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;
border: 1px solid #f8bd6f;
text-align: center;
background-color: #fff;
}
.package-bx1 .addcart{

    background-color: #f8bd6f;
    color:#fff;
}
.package-bx2{

height:481px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;
border: 1px solid #f06151;
text-align: center;
background-color: #fff;
}
.package-bx2 .addcart{

    background-color: #f06151;
    color:#fff;
}
.package-bx3{

height:481px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;
border: 1px solid #716abf;
text-align: center;
background-color: #fff;
}
.package-bx3 .addcart{

background-color: #716abf;
color:#fff;
}
.package-bx4{

height:461px;
width:100%;
border-radius: 4px;
margin: 0 0 20px;
color: #111;
border: 1px solid #02b7a4;
text-align: center;
background-color: #fff;
}
.package-bx4 .addcart{

background-color: #02b7a4;
color:#fff;
}

/* .heading-ux{

    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ececec;
    padding: 7px 0px 25px 0px;
    margin: 0;

} */
.trial{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ececec;
    padding: 7px 0px 12px 0px;
    margin: 0;
    background-color: #f8bd6f;
    color:#fff;
    line-height: 40px;
    
}
.starter{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #f06151;
    padding: 7px 0px 12px 0px;
    margin: 0;
    background-color:#f06151;
    color:#fff;
    line-height: 40px;
    
}
.deluxe{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #716abf;
    padding: 7px 0px 12px 0px;
    margin: 0;
    background-color: #716abf;
    color: #fff;
    line-height: 40px;
    
}
.super-deluxe{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #02b7a4;
    padding: 7px 0px 12px 0px;
    margin: 0;
    background-color:#02b7a4;
    color:#fff;
    line-height: 40px;
    
}
.inner-desc-pg{

    padding-top:20px;
}
.time-limit{

    font-size: 25px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    font-weight: bold;
    color: #757574;
}
.pack-item-li li{
    font-size: 16px;
    padding: 9px 0px;
    /* list-style-type: disc; */
    border-bottom: 1px solid #ececec;
}
.earn-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #ececec;
    color: #795548;
}

.buyers-content{

    font-size: 25px;
    border-bottom: 1px solid #8c8c8c;
    padding-bottom: 10px;
    font-weight: bold;
    color: #757574;
    height: 250px;
    width: 100%;
}
.buyer{

    font-size: 25px;
    text-align: center;    
}
.seller{

font-size: 25px;
text-align: center;    
}
.buys1{

    width:35%;
    text-align: center;
}
.sells1{

width:35%;
text-align: center;
}
.buyer-bx-1{

	height: 350px;
    width: 100%;
    border-radius: 4px;
    margin: 0 0 20px;
    color: #111;
    text-align: center;
    background-color: #fff;
    padding: 10px;
}
.seller-bx-1{
	height: 350px;
    width: 100%;
    border-radius: 4px;
    margin: 0 0 20px;
    color: #111;
    text-align: center;
    background-color: #fff;
    padding: 10px;

}
.buyer-bx-1 p{

font-size: 15px;
color: #6c6c6c;
padding-top:10px;
}
.seller-bx-1 p{

    font-size: 15px;
    color: #6c6c6c;
    padding-top:10px;
}
.seller-bx-11{

    border: 1px solid #8c8c8c;
    height: auto;
    padding: 45px;
    width: 100%;
	text-align: center;
	background-color:#fff;
}
.mt-30{
    margin-top:30px !important;
}
.newsletter{

    background-color: #183651;
    text-align: center;
    padding: 32px 0;
}
.news-txt{

    font-size: 26px;
    color: #fff;
}
.box-both{
    margin:35px 0;
}
.mbt-20{

    margin-bottom: 20px;
}
.headline-brand{
    font-size: 2.56578rem;
    line-height: 52px;
}
.txt-formal{

    font-size: 17px;
    border-top: 1px solid #ececec;
    
    padding: 10px 0px;
    width: 100%;
    text-transform: capitalize;
}
button.btn.cst-btn.w-100 {
    width: 100%;
}

@media only screen and (max-width: 767px){

    .seller-bx-11 {
    border: 1px solid #8c8c8c;
    height: auto;
    padding: 45px;
    width: 100%;
    text-align: center;
    margin-top: 27px;
}
.cst-headline-price{

	padding-top:100px;
}

.regis-btn-fix {
    width: 100%;
    margin-top: 30px;
    border-radius: 20px;
}

p.ask-login {
    text-align: center;
}
}
</style>
<app-header></app-header>
<title>Mydthshop Signup</title>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>
<!-- Header End Here -->
<div class="work" *ngIf="verify==0;then signup else otpverify"></div>

<ng-template #signup>
	<!-- <div class="row">
		<div class="col s12 m12 l6 no-padding login-side-image">
			<img src="https://mydthshop.com/web-app/assets/images/login.jpg" class="responsive-img full-width" alt="login-images">
		</div>
		<div class="col s12 m12 l6 margin-high">
			<div class="card user-type" *ngIf="!user_type_enabled">
				<div class="user-retailer margin-top center" id="stepep1">
					<div class="col s12 border-every">
						<a href="javascript:" class="black-text become-user" (click)="set_user_type(1)">
							<img src="{{this.todoservice.base_url}}assets/images/user.jpg" class="responsive-img" alt="1" width="100"><br>
							<span class="font-size-change1 font600">Become a User</span>
						</a>
					</div>
					<div class="col s12  center or-for-span">
						<span class="font-size-change relative">OR</span>
					</div>
					<div class="col s12  border-every">
						<a href="javascript:" class="black-text become-user" (click)="set_user_type(2)">
							<img src="{{this.todoservice.base_url}}assets/images/distributor.jpg" class="responsive-img" alt="1" width="100"><br>
							<span class="font-size-change1 font600">Become a Retailer</span>
						</a>
					</div>
				</div>
			</div>
		</div>  
	</div> -->

	<section class="login-page no-padding" *ngIf="user_type_enabled">
		<div class="row">
			<div class="col s12 m12 l6 no-padding login-side-image1">
				<img src="https://www.mydthshop.com/web-app/assets/images/merchant-regis.png" class="responsive-img">
  			</div>
			<div class="col s12 m12 l6" style="padding:0;margin-top:-10px;">
				<div class="card">
					<div class="card-content cst-merchant-bx">
						<div class="upper-text ">
							<!-- <h3 class="orange-text strong">Create {{(this.referer && this.referer == 'merchant') ? 'Merchant' : 'Mydthshop'}} Account</h3>
							
							-->

							<h4 class="merchant-txt">Merchant Registration</h4>
							<p class="sub-txt">India No.1 Platform for DTH , Mobile Recharge & Instant Payment</p>
							<span class="green-text" *ngIf="_bonus_offer && _bonus_offer.valid">Congratulation! Offer of <span class="offer-tag orange white-text">{{_bonus_offer.amount_text}}</span> is Waiting for you. </span>
						</div>
						<br/>
						<div *ngIf="signupverify == 0">
								<form [formGroup]="signupgroup" class="login-page-form" #signupform = "ngForm" (ngSubmit)="signup_user(signupform.value)" >
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix margin-top-cart2">person</i>
												<input id="name" type="text"  minlength = '3' class="validate" formControlName="name" autocomplete="off">
												<label for="name">Enter Name*</label>
												<div class="center absolute" *ngIf="!signupgroup.controls['name'].valid && signupgroup.controls['name'].touched">
													<span class="red-text ">*Name is Required.</span>
												</div>
											</div>
											<div class="input-field col s6">
												<i class="material-icons prefix margin-top-cart2">phone</i>
												<input id="phn_number" type="text" class="validate" formControlName="phone" autocomplete="off">
												<label for="phn_number">Phone Number*</label>
												<div class="center absolute" *ngIf="!signupgroup.controls['phone'].valid && signupgroup.controls['phone'].touched">
													<span class="red-text"> Phone Number is not valid.</span>
												</div>
											</div>
											<div class="input-field col s6">
												<i class="material-icons prefix margin-top-cart2">mail</i>
												<input id="enter_email" type="text" class="validate" formControlName="email" autocomplete="off">
												<label for="enter_email">Enter Email</label>
												<div class="center absolute" *ngIf="!signupgroup.controls['email'].valid && signupgroup.controls['email'].touched">
													<span class="red-text"> Email is not valid.</span>
												</div>
											</div>
											<div class="input-field col s6">
												<i class="material-icons prefix margin-top-cart2">lock</i>
												<input id="enter_passcode" type="password" class="validate" formControlName="password" autocomplete="off">
												<label for="enter_passcode">Enter Password</label>
												<div class="center absolute" *ngIf="!signupgroup.controls['password'].valid && signupgroup.controls['password'].touched">
													<span class="red-text">Password is Required.</span> 
												</div>
											</div>
											<div class="input-field col s6">
												<i class="material-icons prefix margin-top-cart2">lock</i>
												<input id="confirm_passcode" type="password" class="validate" formControlName="cpassword" autocomplete="off">
												<label for="confirm_passcode">Confirm Password</label>
												<div class="center absolute" *ngIf="!signupgroup.controls['cpassword'].valid && signupgroup.controls['cpassword'].touched">
													<span class="red-text">Check Confirm Password.</span>
												</div>
											</div>
											
											<input name="user_type" class="with-gap" formControlName="user_type" type="hidden" [value]="(this.referer && this.referer == 'merchant')? 3 : 1"/>
											<!-- <div class="col s12 m6">
												<p>
													<input name="user_type" class="with-gap" formControlName="user_type" type="radio" value="3" id="test3"/>
													<label for="test3">Become Partner</label>
												</p>
											</div> -->
											
											<div class="col s12  margin-top">
												<!-- <a href="javascript:" class="back-to-retailer-page grey lighten-3 btn black-text" (click)="hide_signup_form()"> << Back</a> -->
												<button type="submit" class="btn  orange  regis-btn-fix" >Submit</button>
												<p class="ask-login"> <a routerLink="/proceed/login">Already Have an Account ? Login Now </a> </p>
												<!-- <button type="submit" class="btn  orange btn-bt-30" [disabled]="!signupgroup.valid || signupdisabled">Submit</button> -->
											</div>
										</div>
									</form>
						</div>	
					</div>
				</div>			
			</div>
		</div>
		<div class="clearfix"></div>
	</section>
</ng-template>
<ng-template #otpverify>
	<section class="login-page">
		<form #otpform = "ngForm" (ngSubmit)="verify_user(otpform.value)" id="header-signup">

			<div class="container">	
				<div class="row">
					<div class="col s12 m6 offset-m3">
						<div class="card">
							<div class="card-content">
								<div class="center">
									<div class="col s12">
										<img src="{{this.todoservice.base_url}}assets/images/logo.png" class="responsive-img" alt="MyDthShop-logo">
									</div>
									<div class="col s12">
										<div class="upper-text">
											<h3>Your Mobile Number is <span class="orange-text">{{phone}}</span></h3>
											<p class="font-size-change1">You will receive One Time Password (OTP) via SMS. kindly Enter Below</p>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12 center otp-inputa" id="inputs">
											<input type="number" id="otp1" (keyup)="keytab($event)" ngModel maxlength="1"  name="otp1" autocomplete="off">
											<input type="number" id="otp2" (keyup)="keytab($event)" ngModel maxlength="1" name="otp2" autocomplete="off">
											<input type="number" id="otp3" (keyup)="keytab($event)" ngModel maxlength="1" name="otp3" autocomplete="off">
											<input type="number" id="otp4" (keyup)="keytab($event)" ngModel maxlength="1" name="otp4" autocomplete="off">
										</div>
										<div class="col s12 center margin-top">
											<span class="font-size-change1">Don't recieve OTP <a href="javascript:" (click)="resend_otp()" class="orange-text">Resend OTP?</a></span>
										</div>			
									</div>
									<div class="row">
										<div class="col s12 center">
											<button id="signup-submit" type="Submit" class="btn orange waves-effect waves-light" [disabled]="verifydisabled">Submit</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="clearfix"></div>
	</section>
</ng-template>


						<app-footer></app-footer>