<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,0.8)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>
</div>
<section class="hero">
    <div class="container"> 
        <h2 class="center font600 white-text margin-top"></h2>
    </div>
</section>
<section>
    <div class="container">
    <div class="row"><!-- Editor Me itna yaha se dalna he -->
    <div class="col s12 m6" *ngFor="let item of testimonials;let i = index;">
    <div [className]="(i >= 6)? 'card testimonial-card hide': 'card testimonial-card'">
    <div class="card-content testimonial-text">
    <blockquote [innerHTML]="decode_html(item.description) | truncate : 230 : '...'">
    </blockquote>
    </div>
    
    <div class="card-image testimonial-card-image"><img class="responsive-img" src="https://www.mydthshop.com/web-app/assets/images/recharge-icon/user.svg" />&nbsp;<i>{{item.title}}</i>
    
    <p>{{item.user_type}}</p>
    </div>
    </div>
    </div>
    
    <!-- End Here --></div>
    <div class="see-more btn-new1 center" *ngIf="testimonials && testimonials.length > 6"><a class="btn" href="javascript:" (click)="see_more()">See More+</a></div>
    </div>
    </section>
    <section class="middle-part margin-top paad-new white">
            <div class="container">
              <h4 class="center text-uppercase font600 why">Register Here!</h4>		
              <div class="row">
                <div class="col m6 ">
                  <img class="responsive-img full-width" src="https://www.mydthshop.com/accounts/assets/img/Business-india.jpg">
                </div>
                <div class="col s12 m6">
                  <form id="contact-form" [formGroup]="contactgroup" #contactform = "ngForm" (ngSubmit)="contact_submit(contactform.value)">
                    <div class="row">
                      <div class="input-field col s12 m6">
                        <input id="first_name" name="name" type="text" class="validate" formControlName="name">
                        <label for="first_name">Name*</label>
                        <div class="red-text accent-4 center" *ngIf="!contactgroup.controls['name'].valid && contactgroup.controls['name'].touched">Enter Name*.</div>
                      </div>
                      <div class="input-field col s12 m6">
                        <input id="email" name="email" type="email" class="validate"  formControlName="email">
                        <label for="email">Email*</label>
                        <div class="red-text accent-4 center" *ngIf="!contactgroup.controls['email'].valid && contactgroup.controls['email'].touched">Enter a Valid Email*.</div>
                      </div>            
                      <div class="input-field col s12 m6">
                        <input id="phone" name="phone" type="number" class="validate"  formControlName="phone">
                        <label for="phone">Phone No.*</label>
                        <div class="red-text accent-4 center" *ngIf="!contactgroup.controls['phone'].valid && contactgroup.controls['phone'].touched">Enter a Valid Phone*.</div>
                      </div>                        
                      <div class="input-field col s12 m6">
                        <input id="company-name" name="company-name" type="text" class="validate"  formControlName="subject">
                        <label for="company-name">Company Name</label>
                      </div>                                    
                      <!-- <div class="input-field col s12 m6">
                        <input id="company-address" name="company-address" type="text" class="validate">
                        <label for="company-address">Company Address</label>
                      </div>                                    
                      <div class="input-field col s12 m6">
                        <input id="company-phone" name="company-phone" type="number" class="validate">
                        <label for="company-phone">Company Phone No.</label>
                      </div>             -->
                      <div class="input-field col s12">
                        <input id="home-address" name="home-address" type="text" class="validate"  formControlName="message">
                        <label for="home-address">Address</label>
                      </div>
                      <div class="center col s12">
                        <button type="submit" class="btn-large orange white-text" [disabled]="!contactgroup.valid">Register Now <i class="fa fa-angle-double-right vertical	-align-middle right" aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
    <app-footer></app-footer>
    