<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#dc6802" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>

<section class="new-form-register no-padding">
  <div class="container-fluid no-padding">
    <div class="row no-margin">
      <div class="col s12 m7 no-padding">
        <img src="{{this.todoservice.base_url}}web-app/assets/images/testimonial-bg.jpg" alt="new" class="img-responsive full-width">
      </div>
      <div class="col s12 m5 no-padding">
        <div class="card no-margin">
          <div class="card-content">
            <h3 class="font600 center">No Investment Just Join Sell & Earn</h3>
            <form [formGroup]="user_detailgroup" #userdetail_form = "ngForm" (ngSubmit)="detail_submit(userdetail_form.value)">
              <div class="row">
                <div class="input-field col s12 m6">
                  <input id="name" type="text" class="validate" formControlName="name">
                  <label for="name">Name</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="email" type="email" class="validate" formControlName="email">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="phone" type="number" class="validate" formControlName="phone">
                  <label for="phone">Phone</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="subject" type="text" class="validate" formControlName="subject">
                  <label for="subject">Subject</label>
                </div>
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" formControlName="message"></textarea>
                  <label for="textarea1">Massage</label>
                </div>
                <div class="input-field col s12 center">
                  <button type="submit" class="btn orange">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>