

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	ul.cst-list-view li {
    /* border-bottom: 1px solid #dedede !important; */
	padding: 5px !important;
}

/* .mat-form-field-infix label {
    padding-left: 35px !important;
    margin-top: -5px !important;
} */
.close-fx {
    padding: 0px 0px 0px 5px !important;
    font-size: 16px !important;
    height: 28px;
    width: 26px;
}
#name-characters {
    background: #d0cbcb;
    padding: 11px 8px;
    border-radius: 50%;
    text-transform: uppercase;
}
	.issue-menu a.logup.modal-trigger {
		color: #fff;
    border-radius: 0;
    height: 41px;
    padding: 0px 10px;
    border-radius: 3px;
    margin-left: 20px;
	}
	.rounded-btn{
		border-radius:20px;
	}
	.mobile-footer-menu ul li.active span {
		color: #ff6a00 !important;
	}
	.cst-name {
		height: 100px;
		width: 100px;
		background: #ececec;
		color:#333;
		padding: 5px;
		border-radius: 50%;
		font-size:16px;
	}
	
	.phone-pay-icon li span{
	
		font-size:20px;
		padding-right:10px;
	}
	.phone-pay-icon li::before{
	
		background-image:transparent;
	}
	.phone-pay-icon li a {
		border-bottom: 1px solid #ececec;
		padding:7px;
	}
	.phone-pay-icon li:nth-last-child(0) {
		border-bottom:transparent
		
	}
	/* .user-after-login{
	
		background: #ececec;
		border-radius: 50%;
		width: 50px;
		margin: 0px 8px 0px 0px;
	
	} */
	.mobile-footer ul li a ::before {
		content: 'o' ;
		color: #7d7c7c;
		padding-right: 6px ;
	}
	li.inline-block.user-after-login-text.only-txt-name {
    position: absolute;
    top: 27px;
    left: 66px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: bold;
}
.unique-item li img {
    border-radius: 50% !important;
    /* border: 2px solid #8a8282;
    padding: 1px; */
    height: 45px;
    width: 45px;
}
	@media only screen and (max-width: 767px){
		.mobile-footer-menu ul li a span {
		display: block;
		color: #4d4e4e;
	}
	.fix-input-place label {
    margin-top: -5px;
    padding-left: 35px;
}


	.side-menu ul {
    padding-bottom: 2px;
}
	.mobile-footer ul li a ::before {
		content: 'o' ;
		color: #7d7c7c;
		padding-right: 6px ;
	}
	/* span.fa.fa-sitemap {
    padding-right: 7px;
} */
.pt-right-fix{

	padding-right:7px;
	position: relative;
}
.pt-right-fix1{

padding-right:10px;
position: relative;
}
.pt-right-fix2 {
    padding-right: 13px;
	position: relative;
}
span.fa.fa-diamond.bell-black.pt-right-fix {
    padding-right: 9px;
}
span.fa.fa-lock.pt-right-fix {
    padding-right: 14px;
}
hr.line1 {
    line-height: 10px !important;
    position: absolute;
    margin-top: 8px;
    width: 86%;
    opacity: 0.3;
}
	.icon-cst-clr-1{
		font-size: 18px;
	}
	#mobile-header {
		background-color: #ff6a00;
		padding: 15px 15px 0px 15px;
		height: 100px;
		color: #fff;
	}
	.hide-left-menu-mb{
	
		display: none !important;
	}
	.dashboard-menu-mobile li {
	
	list-style-type: none;
	
	}
	.dashboard-menu-mobile li a {
	
		list-style-type: none;
		font-size: 15px !important;
		
		padding: 10px 0px 16px 0px;
		border-bottom: 1px solid #ececec;
	
	}
	.cst-edit-pro{

	position: absolute;
    top: 66px;
    left: 81px;
    background: #ff6a00;
    color: #fff;
    padding: 7px;
    border-radius: 50%;
    font-size: 10px;
	}

	.fix-space-pt {
    padding-left: 44px;
    color: #ff6a00 !important;
		margin-top: -14px;
    font-size: 12px;
	}
	/* .mobile-search  input[type="text"]{width: 100%;height: 30px;border-radius: 5px;border: 0;outline: 0;padding: 0 12px;
		background:#fff url('../images/logo.png') no-repeat 35px 5px !important;
} */

	}
	@media only screen and (max-width: 767px){
	.mobile-header-right ul li {
		margin-right:18px !important;
		cursor: pointer;
	}
	.txt-fix-mb {
    width: 61px;
}
li.txt-fix-mb span a {
	color: #fff;
	
}
	.mobile-header-right span.noti-circle {
		width: 18px !important;
		height: 18px !important;
    background: #fff;
    display: block;
    color: #000;
    border-radius: 50%;
    line-height: 21px;
    position: absolute;
    top: -7px;
    right: -8px !important;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
	}

	span.fa.fa-chevron-right.cs-right {
    float: right;
    font-weight: normal;
	color: #d4d2d2;
    font-size: 12px;
    padding-top: 7px;
}


	/* .dashboard-menu-mobile{

		position: relative;
	}
	.icon-text{

		position: absolute;
    top: 34px;
    left: 27px;
    font-size: 10px;
    color: #8c8c8c;
    text-transform: capitalize;
	} */
	}
	
	/* .side-nav li>a:hover {
    background-color: transparent !important;
} */


	
		</style>
	<!-- Header Start Here -->
	<div class="mobile-wrapper">
		<!-- mobile header start-->
		<div class="mobile-mask"></div>
		<header id="mobile-header" class="clearfix {{this.check_to_replace()}}">
			<div class="mobile-header-left">
				<ul>
				<li class="mobile-bar" id="mobile-bar"><img src="{{this.todoservice.base_url}}web-app/assets/images/mobilr-nav.png" /> </li>
				<li><img class="app-logo" width="95" src="./assets/images/white-logo.png" /></li>	
			</ul>
			</div>
			
			<div class="mobile-header-right">
				<ul>
				<li><a routerLink="/product/cart"><img src="{{this.todoservice.base_url}}web-app/assets/images/cart.png" ><span class="noti-circle" *ngIf="this.productservice.cartItemsCount() > 0">{{this.productservice.cartItemsCount()}}</span></a> </li>
				<li *ngIf="this.todoservice.get_user_name() == '' && valid_for_bonus" class="txt-fix-mb no-wrap"><span class="absolute"><a routerLink="/proceed/signup/" [queryParams]="{bonus : 1}">{{_bonus_text}}</a> </span>	</li>
				<!-- <li class="txt-fix-mb"><span class="absolute"><a routerLink="/proceed/signup/" [queryParams]="{bonus : 1}">Get Rs 300</a> </span>	</li> -->
				<li *ngIf="this.todoservice.get_user_name() != ''"><a routerLink="/product/favorites"><img src="{{this.todoservice.base_url}}web-app/assets/images/favorite-white.png" style="width:23px;"><span class="noti-circle" *ngIf="this.productservice.favorite_count() > 0">{{this.productservice.favorite_count()}}</span></a></li>
				<li *ngIf="this.todoservice.get_user_name() != ''"><a class="modal-trigger" href="#loadmore-modal" (click)="notification_read()"><img src="{{this.todoservice.base_url}}web-app/assets/images/notification.png"><span class="noti-circle" *ngIf="notification_count && notification_count.count > 0">{{notification_count.count}}</span> </a>
					<!-- <li *ngIf="this.todoservice.get_user_name() != ''"><a href="javascript:" class="mobile-dropdown-button" data-beloworigin="true" data-activates='dropdown-notice2'><img src="{{this.todoservice.base_url}}web-app/assets/images/notification.png"><span class="noti-circle" *ngIf="notification_count">{{notification_count.count}}</span> </a> -->
					<ul id="dropdown-notice2" class="dropdown-content notifications-dropdown custom-noti">
							<li class="notificatoins-dropdown-container">
								<ul  *ngIf="notifications  && notifications.length > 0">
									<li *ngFor="let item of notifications;" >
										<div class="notification-drop-image" *ngIf="item.activity_type == '1' || item.activity_type == '15' || item.activity_type == '17'">
											<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-2.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; " >
										</div>
										<div class="notification-drop-image" *ngIf="item.activity_type == '2' || item.activity_type == '3' || item.activity_type == '4'">
											<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-3.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; " >
										</div>
										<div class="notification-drop-image" *ngIf="item.activity_type == '5' || item.activity_type == '16' || item.activity_type == '18'">
											<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-10.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; " >
										</div>
										<div class="notification-drop-image" *ngIf="item.activity_type == '6' || item.activity_type == '7' || item.activity_type == '8' || item.activity_type == '14'">
											<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-9.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%;" >
										</div>
										<div class="notification-drop-image" *ngIf="item.activity_type == '9'">
											<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-9.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; " >
										</div>
										<div class="notification-drop-image" *ngIf="item.activity_type == '10'">
											<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-1.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; " >
										</div>
										<div class="notification-drop-image" *ngIf="item.activity_type == '19'">
											<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-6.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%;" >
										</div>
										<div [className]="(item.visitor_read == 1)?'grey-text notification-drop-text':'black-text notification-drop-text font600'">
											<p [innerHTML]="item.visitor_comment"></p>
											<time class="grey-text">{{time_ago(item.history_time)}}</time>
										</div>
									</li>							
									<li><a class="modal-trigger font600" href="#loadmore-modal">Load More</a></li>
								</ul>
							</li>
						</ul>
				</li>
			</ul>
			</div>
			<div class="clearfix"></div>
			<div class="search-box">
				<mat-form-field class="example-full-width inner-lbl-fix1">
					<input class="black-text inner-lbl-fix" type="text" id="mobile-search" placeholder="Search for Product , brands & more.." matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup)="search_me($event.target.value)" style="border-radius:8px; background-position:33px 5px !important;">
					<span class="mobile-search-icon"><button><i  class="fa fa-search grey-text"></i></button></span>
					 <mat-autocomplete #auto="matAutocomplete">
						<span *ngIf="filterdList">
						<mat-option *ngFor="let option of filteredOptions" [value]="option.title">
							<a [routerLink] ="['/product/compare-box']"  [queryParams]= "{ urls: option.url.trim() } " class="black-text">{{option.title}}</a>
						</mat-option>
					</span>
					</mat-autocomplete>
				</mat-form-field>
			</div>
			<div id="loadmore-modal" class="modal white" style="width:100%;height:100%">
					<!-- <div class="modal-content" layout="column" (scroll)="onScroll($event)" style="height: 100%; overflow: auto;">	 -->
				<div class="modal-content">
					<div class="modal-header">
					<h4>1Notification's</h4>
				
					<div class="modal-close right-align"><i class="material-icons">close</i></div>
					</div>
					
					<ul *ngIf="notifications  && notifications.length > 0">
					<li *ngFor="let item of notifications;" >
						<div class="notification-drop-image" *ngIf="item.activity_type == '1' || item.activity_type == '15' || item.activity_type == '17'">
							<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-2.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; padding: 2px;" >
						</div>
						<div class="notification-drop-image" *ngIf="item.activity_type == '2' || item.activity_type == '3' || item.activity_type == '4'">
							<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-3.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; padding: 2px;" >
						</div>
						<div class="notification-drop-image" *ngIf="item.activity_type == '5' || item.activity_type == '16' || item.activity_type == '18'">
							<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-10.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; padding: 2px;" >
						</div>
						<div class="notification-drop-image" *ngIf="item.activity_type == '6' || item.activity_type == '7' || item.activity_type == '8' || item.activity_type == '14'">
							<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-9.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; padding: 2px;" >
						</div>
						<div class="notification-drop-image" *ngIf="item.activity_type == '9'">
							<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-9.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; padding: 2px;" >
						</div>
						<div class="notification-drop-image" *ngIf="item.activity_type == '10'">
							<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-1.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; padding: 2px;" >
						</div>
						<div class="notification-drop-image" *ngIf="item.activity_type == '19'">
							<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-6.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; padding: 2px; " >
						</div>
					
					<div [className]="(item.visitor_read == 1)?'grey-text notification-drop-text':'black-text notification-drop-text font600'">
						<p [innerHTML]="item.visitor_comment"></p>
						<time class="grey-text">{{time_ago(item.history_time)}}</time>
						<div class="circle-dotss" *ngIf="item.visitor_read != 1"></div>
					</div>
					</li>
					</ul>										
					<div class="center" *ngIf="more_display"><a class="view-more blue-text" id="more-display" href="javascript:" (click)="load_more_notification();">View More+</a></div>
				</div>
			</div>	
			<div class="clearfix"></div>
		</header>
		
		<!-- mobile header end-->
		<!-- mobile top menu start-->	
		<div class="mobile-top-menu {{this.check_to_replace()}}">
			<ul id="mobile-dashboard-menus" style="height:72px !important">
				<li><a [routerLink]="['/dashboard/value-transfer']"><span><img src="./assets/images/pay-1.png" /></span> Pay </a></li>
					<li><a [routerLink]="['/dashboard/add-money']"><span><img src="./assets/images/card-1.png" /></span>Add Money</a></li>
					<li><a [routerLink]="['/dashboard/orders']"><span><img src="./assets/images/order-1.png" /></span>Orders</a></li>
					<li><a [routerLink]="['/dashboard/transactions']"><span><img src="./assets/images/history-1.png" /></span>History</a></li>
			</ul>
		</div>
		
		<!-- mobile top menu end-->
		
		<div class="mobile-footer-menu cst-hide-only">
			<ul>
				<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a [routerLink]="['/']"><span class="fa fa-home active-item" style="font-size:18px;"></span><span class="mobile-footer-text active-item">Home</span></a></li>
				<li routerLinkActive="active"><a [routerLink]="['/product/listing/tata-sky']"><span class="fa fa-stack-overflow" style="font-size:18px;"></span><span class="mobile-footer-text">Products</span></a></li>
				<li routerLinkActive="active"><a [routerLink]="['/package-list/tata-sky']"><span class="fa fa-gift" style="font-size:18px;"></span><span class="mobile-footer-text">Packages</span></a></li>
				<li routerLinkActive="active"><a [routerLink]="['/help/faqs']"><span class="fa fa-question-circle" style="font-size:18px;"></span><span class="mobile-footer-text">FAQS</span></a></li>
				<li routerLinkActive="active"><a [routerLink]="['/help/faqs']"><span class="fa fa-envelope" style="font-size:18px;"></span><span class="mobile-footer-text">Messenger  </span></a></li>
			</ul>
		</div>
		
	</div>
		<div class="side-menu" id="mobile-side-menu">
			<div class="side-menu-header" *ngIf="this.todoservice.get_user_name() != ''">
				<div class="side-profile-details">
				<span *ngIf="this.todoservice.get_user_avatar() && this.todoservice.get_user_avatar() != 'null'">
					<img class="responsive-img vertical-align-middle profile" src="{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="this.todoservice.get_user_avatar().includes('data:image/png')"/>
					<img class="responsive-img vertical-align-middle profile" src="{{this.todoservice.server_url}}{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="!this.todoservice.get_user_avatar().includes('data:image/png')"/>
				</span>
				<span alt="user-icon" id="name-characters" *ngIf="!this.todoservice.get_user_avatar() || this.todoservice.get_user_avatar() == 'null'">{{this.todoservice.get_user_characters()}}</span>
				<div class="user-name-mb">
				<h3><a routerLink="/dashboard/edit-profile">{{this.todoservice.get_user_name()}}</a></h3>
				<p>{{this.todoservice.get_user_phone()}}</p>

				</div>
				<div class="clearfix"></div>
				</div>
				<a class="modal-trigger" href="#modal1" onclick="$('.side-menu').removeClass('open-menu');$('.mobile-mask').hide();"><i class="material-icons">photo_camera</i></a>
				<div class="wallet-mobile">
					<span class="no-margin font-size-change1 right-align ng-star-inserted"><img alt="wallet" class="responsive-img vertical-align-middle wllt" src="https://www.libanz.com/assets/images/wallet.png"><span>RS {{this.todoservice.get_user_wallet()}}</span></span>
					<br/><span *ngIf="(this.todoservice.get_user_recharge_amount() + this.todoservice.get_user_product_amount() > 0)" class="ng-star-inserted  white-text fix-space-pt absolute"> Bonus <i class="fa fa-inr"></i>{{this.todoservice.get_user_recharge_amount()+this.todoservice.get_user_product_amount()}}</span>
				</div>
	
				<ul class="dashboard-menu-mobile">
					<li><a [routerLink]="['/dashboard']"> <span class="fa fa-tachometer"></span>  &nbsp; Dashboard  <span class="fa fa-chevron-right cs-right"></span></a></li>
					<li *ngIf="this.todoservice.get_user_type() == 2 || this.todoservice.get_user_type() == 3"><a routerLink="/dashboard/value-transfer" routerLinkActive="active" class="font-size-change"> <span class="fa fa-edit"></span> &nbsp; Pay  <span class="fa fa-chevron-right cs-right"></span> </a></li>
					<li><a routerLink="/dashboard/add-money" routerLinkActive="active" class="font-size-change"> <span class="fa fa-plus"></span> &nbsp;  Add Money <span class="fa fa-chevron-right cs-right"></span> </a></li>
					<!-- <li ><a routerLink="/dashboard//value-transfer" routerLinkActive="active" class="font-size-change"><span class="fa fa-envelope"></span> &nbsp;  Value Transfer</a></li> -->
					<li><a routerLink="/dashboard/complaints" routerLinkActive="active" class="font-size-change"> <span class="fa fa-edit"></span> &nbsp;  Tickets <span class="fa fa-chevron-right cs-right"></span></a></li>
					<li><a routerLink="/dashboard/orders" routerLinkActive="active" class="font-size-change"><span class="fa fa-file"></span> &nbsp;  My Orders  <span class="fa fa-chevron-right cs-right"></span></a></li>
					<li><a routerLink="/dashboard/topup-request" routerLinkActive="active" class="font-size-change"> <span class="fa fa-diamond"></span> &nbsp;  Add Money Request <span class="fa fa-chevron-right cs-right"></span> </a></li>
					<li *ngIf="this.todoservice.get_user_type() == 2"><a routerLink="/dashboard/commission-structure" routerLinkActive="active" class="font-size-change"> <span class="fa fa-sitemap"></span> &nbsp;  Commission Structure <span class="fa fa-chevron-right cs-right"></span> </a></li>
					<li><a routerLink="/dashboard/transactions" routerLinkActive="active" class="font-size-change"> <span class="fa fa-credit-card"></span> &nbsp;  Transaction History <span class="fa fa-chevron-right cs-right"></span> </a></li>
					<li><a routerLink="/reviews/testimonials" class="font-size-change"><span class="fa fa-sitemap"></span> &nbsp; Testimonial <span class="fa fa-chevron-right cs-right"></span> </a></li>

				</ul>
				
			</div>
			<div class="side-menu-body">
				<div class="login-section" >
				<ul class="dashboard-menu-mobile"  *ngIf="this.todoservice.get_user_name() == ''">
						<li *ngIf="valid_for_bonus"><a routerLink="/proceed/signup/" [queryParams]="{bonus : 1}"><span class="fa fa-sign-out pt-right-fix"></span>Sign Up</a>	</li>	
						<li *ngIf="!valid_for_bonus"><a routerLink="/proceed/signup"><span class="fa fa-sign-out pt-right-fix"></span>Sign Up <span class="fa fa-chevron-right cs-right"></span> </a></li>
						<li><a routerLink="/proceed/login"><span class="fa fa-lock pt-right-fix"></span>Login <span class="fa fa-chevron-right cs-right"></span> </a></li>
						<li><a routerLink="/reviews/testimonials" class="font-size-change"><span class="fa fa-sitemap pt-right-fix"></span>Testimonial  <span class="fa fa-chevron-right cs-right"></span></a></li>
				</ul>
				<div class="phone-pay-icon dropdown-list-cst">	
				<mat-form-field>
						<mat-label class="color-blk"><span class="fa fa-info-circle bell-black pt-right-fix1"></span>My Information</mat-label>
						<mat-select class="select-lbl">
							<mat-option (click)="go_to_nav('/p/about-us')"><a [routerLink]="['/p/about-us']" > About Us</a></mat-option>
							<mat-option (click)="go_to_nav('/p/dth-connection-refund-policy')"><a [routerLink]="['/p/dth-connection-refund-policy']" > Refund Policy</a></mat-option>
							<mat-option (click)="go_to_nav('/help/contact-us')"><a [routerLink]="['/help/contact-us']">Help & Support </a></mat-option>
							<mat-option (click)="go_to_nav('/p/know-about-my-dth-shop')"><a [routerLink]="['/p/know-about-my-dth-shop']" >Who We Are</a></mat-option>
							<mat-option (click)="go_to_nav('/p/libanz-terms-and-conditions')"><a [routerLink]="['/p/know-about-my-dth-shop']" >Terms &amp; Conditions</a></mat-option>
							<mat-option (click)="go_to_nav('/p/privacy-policy')"><a [routerLink]="['/p/privacy-policy']" >Privacy policy</a></mat-option>
							<mat-option (click)="go_to_nav('/p/libanz-disclaimer')"><a [routerLink]="['/p/libanz-disclaimer']" >Disclaimer</a></mat-option>
							<mat-option (click)="go_to_nav('/blog/all')"><a [routerLink]="['/blog/all']">Blog</a></mat-option>
							<mat-option (click)="go_to_nav('/p/sitemap-on-libanz')"><a [routerLink]="['/p/sitemap-on-libanz']" >Sitemap</a></mat-option>
						</mat-select>
				</mat-form-field>	
				<hr class="line1" />
				<mat-form-field>
						<mat-label class="color-blk"><span class="fa fa-gift bell-black pt-right-fix2"></span>All Product Packages</mat-label>
						<mat-select>
							<mat-option (click)="go_to_nav('/package-list/airtel')"><a [routerLink]="['/package-list/airtel']">Airtel Packages </a></mat-option>
							<mat-option (click)="go_to_nav('/package-list/tata-sky')"><a [routerLink]="['/package-list/tata-sky']">Tata Sky Packages </a></mat-option>
							<mat-option (click)="go_to_nav('/package-list/videocon')"><a [routerLink]="['/package-list/videocon']">Videocon Packages</a></mat-option>
							<mat-option (click)="go_to_nav('/package-list/dish-tv')"><a [routerLink]="['/package-list/dish-tv']">DishTv Packages</a></mat-option>
							
						</mat-select>
				</mat-form-field>
				<hr class="line1" />
				<mat-form-field>
						<mat-label class="color-blk"><span class="fa fa-diamond bell-black pt-right-fix"></span>Categories</mat-label>
						<mat-select>
							<mat-option (click)="go_to_nav('/product/listing/tata-sky')"><a [routerLink]="['/product/listing/tata-sky']">Tata Sky</a></mat-option>
							<mat-option (click)="go_to_nav('/product/listing/videocon')"><a [routerLink]="['/product/listing/videocon']">Videocon</a></mat-option>
							<mat-option (click)="go_to_nav('/product/listing/airtel')"><a [routerLink]="['/product/listing/airtel']">Airtel</a></mat-option>
							<mat-option (click)="go_to_nav('/product/listing/dish-tv')"><a [routerLink]="['/product/listing/dish-tv']">Dish Tv</a></mat-option>
							<mat-option (click)="go_to_nav('/p/jio-fiber')"><a [routerLink]="['/p/jio-fiber']">Jio Fiber</a></mat-option>
							<mat-option (click)="go_to_nav('/p/airtel-xstream')"><a [routerLink]="['/p/airtel-xstream']">Airtel Xtream</a></mat-option>
							<mat-option (click)="go_to_nav('/p/dishsmrt-hub')"><a [routerLink]="['/p/dishsmrt-hub']">DishSMRT HUB</a></mat-option>
							
						</mat-select>
				</mat-form-field>	
				<hr class="line1" />	
				</div>
					<ul class="dashboard-menu-mobile btm-menu"  *ngIf="this.todoservice.get_user_name() != ''">	
						<li><a class="font-size-change" [routerLink]="['/dashboard/edit-profile']"><span class="fa fa-user"></span> &nbsp; Edit Profile <span class="fa fa-chevron-right cs-right"></span></a></li>
						<li><a [routerLink]="['/logout']"><span class="fa fa-sign-out"></span> &nbsp;Logout <span class="fa fa-chevron-right cs-right"></span></a></li>
					</ul>	
				</div>
				
			<h3 class="hide-left-menu-mb">Information</h3>	
				<ul class="information hide-left-menu-mb">	
					<li><a [routerLink]="['/p/about-us']" (click)="go_to_nav('/p/about-us')"> About Us</a></li>
					<li><a [routerLink]="['/p/dth-connection-refund-policy']" (click)="go_to_nav('/p/dth-connection-refund-policy')"> Refund Policy</a></li>
					<li><a [routerLink]="['/help/contact-us']">Help & Support </a></li>
					<li><a [routerLink]="['/p/know-about-my-dth-shop']" (click)="go_to_nav('/p/know-about-my-dth-shop')">Who We Are</a></li>
					<li><a [routerLink]="['/p/know-about-my-dth-shop']" (click)="go_to_nav('/p/libanz-terms-and-conditions')">Terms &amp; Conditions</a></li>
					<li><a [routerLink]="['/p/privacy-policy']" (click)="go_to_nav('/p/privacy-policy')">Privacy policy</a></li>
					<li><a [routerLink]="['/p/libanz-disclaimer']" (click)="go_to_nav('/p/libanz-disclaimer')">Disclaimer</a></li>
					<li><a [routerLink]="['/blog/all']">Blog</a></li>
					<li><a [routerLink]="['/p/sitemap-on-libanz']" (click)="go_to_nav('/p/sitemap-on-libanz')">Sitemap</a></li>
				
				</ul>	
			
			<h3 class="hide-left-menu-mb">Categories</h3>
				<ul class="mb-menu-txt category-txt hide-left-menu-mb">	
					<li><a [routerLink]="['/product/listing/tata-sky']">Tata Sky</a></li>
					<li><a [routerLink]="['/product/listing/videocon']">Videocon</a></li>
					<li><a [routerLink]="['/product/listing/airtel']">Airtel</a></li>
					<li><a [routerLink]="['/product/listing/dish-tv']">Dish Tv</a></li>
					<li><a [routerLink]="['/p/jio-fiber']">Jio Fiber</a></li>
					<li><a [routerLink]="['/p/airtel-xstream']">Airtel Xtream</a></li>
					<li><a [routerLink]="['/p/dishsmrt-hub']">DishSMRT HUB</a></li>
				</ul>	
			<ul class="product-txt hide-left-menu-mb">	
				<h3>All Product Packages</h3>
				<li><a [routerLink]="['/package-list/tata-sky']">Tata Sky Packages</a></li>
				<li><a [routerLink]="['/package-list/airtel']">Airtel Packages</a></li>
				<li><a [routerLink]="['/package-list/videocon']">Videocon Packages</a></li>
				<li><a [routerLink]="['/package-list/dish-tv']">DishTv Packages</a></li>
			</ul>	
			
			<h3 class="hide-left-menu-mb">Follow Us</h3>
			<ul class="side-social hide-left-menu-mb">	
				<li><a href="https://www.facebook.com/mydthshop/"><img src="{{this.todoservice.base_url}}web-app/assets/images/facebook1.png" /></a></li>
				<li><a href="https://www.linkedin.com/company/mydthshop/"><img src="{{this.todoservice.base_url}}web-app/assets/images/linkedin.png" /></a></li>
				<li><a href="https://twitter.com/mydthshop"><img src="{{this.todoservice.base_url}}web-app/assets/images/twitter.png" /></a></li>
				<li><a href="https://www.youtube.com/channel/UCsi2AhbMaiVVZ-hVfXdfQcA"><img src="{{this.todoservice.base_url}}web-app/assets/images/youtube.png" /></a></li>
				<li><a href="https://in.pinterest.com/jain2221/pins/"><img src="{{this.todoservice.base_url}}web-app/assets/images/pinterest.png" /></a></li>
				<li><a href="https://www.instagram.com/mydthshopindia/"><img src="{{this.todoservice.base_url}}web-app/assets/images/instagram.png" /></a></li>
				<li><a href="https://mydthshopp.blogspot.com/"><img src="{{this.todoservice.base_url}}web-app/assets/images/blogger.png" /></a></li>
			</ul>	
							
			</div>
		</div>
			
	<!--########################## mobile menu #############################-->
	<header class="navigation header">
		<div class="header-strip grey lighten-3">
			<div class="container">
				<div class="strip-right-text left google-translater">
					<div id="google_translate_element"></div>
				</div>
					<div class="location-wrapper left" *ngIf="circles">
						<ul>
							<li class="left" style="font-size: 22px;color: #ff6a00;">
								<!-- <i class="material-icons">location_on</i> -->
							</li >
							<li class="left" style="margin-top:-6px;">
								<div class="no-padding" *ngIf="circles"> 
									<mat-form-field>
										<mat-select placeholder="Circle Area" [value]="this.region_selected()" (selectionChange)="circle_selected($event.value)" class="cst-select-fix" style="width: 144px!important;
										padding: 0 7px!important;
										border: 1px solid #c7c4c4!important;
										background: 0 0!important;
										height: 29px;
										border-radius: 20px;">
											<span *ngFor="let item of circles;" class="operation-txt">
												<mat-option [value]="item.circle_id" >
													<span class="operator-name">{{ item.name }}</span>
												</mat-option>
											</span> 
										</mat-select>
									</mat-form-field>
								</div>
							</li>
						</ul>
					</div>
				<div class="strip-right-text right">
					<span ><a href="javascript:" (click)="open_chat()" class="grey-text">Live Chat</a> |</span>
					<span ><a class="grey-text" [routerLink]="['/p/accounts/merchant-on-libanz']" target="_blank"> Merchant on Libanz</a> |</span>
					<!-- <span> <a class="grey-text" [routerLink]="['/p/accounts/partner-on-libanz']" target="_blank">Partner on Mydth</a> |</span> -->
					<span> <a class="grey-text" [routerLink]="['/reviews/testimonials']" target="_blank"> Testimonial</a> |</span>
					<span> <a class="grey-text" [routerLink]="['/help/faqs']" target="_blank"> FAQ </a> |</span>
					<span> <a class="grey-text" [routerLink]="['/blog/all']" target="_blank"> Blog</a> |</span>
					<span><a href="/merchant/kyc" class="grey-text"> KYC</a> |</span>
					<span><a class="grey-text" [routerLink]="['/help/contact-us']" target="_blank"> Help</a> </span>
					<span id="renew-section" *ngIf="this.todoservice.get_user_type() == 3 && this.todoservice.get_days_left() <= 14"> | {{this.todoservice.get_days_left()}} days left 
						<a class="orange white-text" *ngIf="(this.todoservice.get_active_pack() == '10000')" [routerLink] = "['/merchant/pricing']">Upgrade</a>
						<a class="orange white-text" *ngIf="(this.todoservice.get_active_pack() != '10000')" [routerLink] = "['/merchant/checkout']" [queryParams]="{plan : this.todoservice.get_active_pack()}">Renew</a>
					</span>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
			<div class="container">
				<nav>
				<div class="nav-wrapper" id="primary-nav">										
					<a routerLink="/" href="javascript:" class="brand-logo">
						<!-- <img src="{{this.todoservice.base_url}}accounts/assets/img/libanz-logo.png" width="150" class="responsive-img" alt="Libanz Logo">			 -->
						<img src="./assets/images/logo.png" width="150" class="responsive-img" alt="Libanz Logo">			
					</a>
					<ul id="nav-mobile" class="mar inline-block">		        
					<li class="search-input" >
						<form >
							  <div class="row no-margin">
								<div class="input-field col s12" >
									<div class="search-box" *ngIf="href && !href.includes('/help/faqs')">
											<!-- <button type="submit" class="btn-flat cst-hin"><i class="material-icons grey-text">search</i></button> -->
												<span class="search-icn"><i class="material-icons grey-text">search</i></span>
											<mat-form-field class="example-full-width test1 fix-input-place">
												<input type="text" placeholder="Search for Product , brands & more.." id="mat-input-3" class="no-margin black-text fix-inner-lbl"  aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup)="search_me($event.target.value)" > 
												<mat-autocomplete #auto="matAutocomplete">
													<span *ngIf="filterdList">
													<mat-option *ngFor="let option of filteredOptions" [value]="option.title">
														<a [routerLink] ="['/product/compare-box']"  [queryParams]= "{ urls: option.url.trim() } " class="black-text" target="_blank">{{option.title}}</a>
													</mat-option>
												</span>
												</mat-autocomplete>
											</mat-form-field>
									</div>
								</div>
							  </div>
							</form>
					</li>
					<li *ngIf="href && href.includes('/help/faqs')"><div class="faqs-section orange-text"><h2>Stop Worring!We will Solve All Your Queries </h2></div></li>
					<li class="craft relative">
						<a routerLink="/product/cart"><img src="./assets/images/shopping-cart.png" class="crft-icon-fix"><span class="badge cart-text" *ngIf="this.productservice.cartItemsCount() > 0">{{this.productservice.cartItemsCount()}}</span></a>
						<!-- <a routerLink="/product/cart" *ngIf="this.todoservice.get_user_name() == ''"><i class="material-icons grey-text">shopping_cart</i><span class="badge cart-text">0</span></a> -->
					</li>
					<li class="craft relative" *ngIf="this.todoservice.get_user_name() != ''">
						<a routerLink="/product/favorites"><img src="./assets/images/star.png" width="24px" alt="wallet" class="responsive-img vertical-align-middle"> <br/> <span class="badge" id="favourite-count" *ngIf="this.productservice.favorite_count() > 0">{{this.productservice.favorite_count()}}</span></a>
					</li>	
						
					<li class="craft relative" >
						<!-- <a href="javascript:" class="dropdown-button" data-beloworigin="true" data-activates='dropdown-notice'><div *ngIf="this.todoservice.get_user_name() != '' && notification_count"><img src="https://mydthshop.com/web-app/assets/images/new-icons/notification.png" width="24px" alt="wallet" class="responsive-img vertical-align-middle" > <span class="badge" *ngIf="notification_count.count > 0">{{notification_count.count}}</span></div></a> -->
						<a class="modal-trigger" data-target="loadmore-modal2" href="#loadmore-modal2" (click)="notification_read()"><div *ngIf="this.todoservice.get_user_name() != '' && notification_count"><img src="./assets/images/noti-black.png" width="24px" alt="wallet" class="responsive-img vertical-align-middle" > <span class="badge" *ngIf="notification_count.count > 0">{{notification_count.count}}</span></div></a>
						<!-- <ul id='dropdown-notice' class='dropdown-content' style="width: 400px !important">
							<li *ngFor="let item of notifications;"><*ngIf="this.todoservice.get_user_name() != ''"a href="#"[className]="(item.read == 1)?'grey-text':''" [innerHTML]="item.comment"></a></li>
						</ul> -->
						<ul id="dropdown-notice" class="dropdown-content notifications-dropdown">
							<li class="notificatoins-dropdown-container">
								<ul class="notification-drop-ul" *ngIf="notifications  && notifications.length > 0">
									<li *ngFor="let item of notifications;">
										<div class="notification-drop-image">
											<img src="{{this.todoservice.base_url}}web-app/assets/images/noti-black.png">
										</div>
										<div [className]="(item.read == 1)?'grey-text notification-drop-text':'black-text notification-drop-text'">
											<p [innerHTML]="item.visitor_comment"></p>
											<time class="grey-text">{{time_ago(item.history_time)}}</time>
										</div>
									</li>							
									<!-- <li><a class="modal-trigger font600" data-target="loadmore-modal2" href="#loadmore-modal2">Load More</a></li> -->
								</ul>
							</li>
							
						</ul>
					</li>
					</ul>
					
				  <ul id="nav-mobile" class="inline-block log-sig right">
					<li class="clogin" *ngIf="this.todoservice.get_user_name() == ''"><a href="#login-modal" class="logup modal-trigger black-text">Log In/Sign Up </a></li>
					
					<li *ngIf="this.todoservice.get_user_name() != ''" class="balance"><a routerLink="/dashboard/add-money" class="white-text"><span class="no-margin font-size-change1 right-align fixed-margin black-text" *ngIf="this.todoservice.get_user_wallet()"> 
						<img src="./assets/images/wallet.png" alt="wallet" class="black-text responsive-img vertical-align-middle wllt"> <span>RS {{this.todoservice.get_user_wallet()}}</span></span><div class="clearfix"></div><span *ngIf="(this.todoservice.get_user_recharge_amount() + this.todoservice.get_user_product_amount() > 0)" class="ng-star-inserted orange-text bonus-amount absolute cst-bonus-txt"> Bonus <i class="fa fa-inr"></i>{{this.todoservice.get_user_recharge_amount()+this.todoservice.get_user_product_amount()}}</span></a>
					</li>
					<!-- <li>
						<span class="cst-name">RG</span>
					</li> -->
					<li id="user-nav" *ngIf="this.todoservice.get_user_name() != ''">
						<a href="javascript:" data-activates="slide-out" class="button-collapse no-margin no-padding black-text"><span style="padding-right: 5px; font-weight:600;"><span style="display: none;">{{this.todoservice.get_user_name()}} </span></span>
							<span *ngIf="this.todoservice.get_user_avatar() && this.todoservice.get_user_avatar() != 'null'">
								<img class="responsive-img vertical-align-middle" width="43px" src="{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="this.todoservice.get_user_avatar().includes('data:image/png')"/>
								<img class="responsive-img vertical-align-middle" width="43px" src="{{this.todoservice.server_url}}{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="!this.todoservice.get_user_avatar().includes('data:image/png')"/>
							</span>
							<!-- <img class="responsive-img vertical-align-middle" width="43px" src="{{this.todoservice.server_url}}/web-app/assets/images/avatars/menu-icon.png" alt="user-icon" id="change-icon" *ngIf="!this.todoservice.get_user_avatar()"/> -->
							<span alt="user-icon" id="name-characters" *ngIf="!this.todoservice.get_user_avatar() || this.todoservice.get_user_avatar() == 'null'"><span *ngIf="this.todoservice.get_user_characters() !=''">{{this.todoservice.get_user_characters()}}</span></span>
							<span *ngIf="this.todoservice.get_user_name() == ''"><img class="responsive-img vertical-align-middle" width="43px" src="{{this.todoservice.server_url}}/web-app/assets/images/avatars/menu-icon.png"></span>
						</a>
					</li>
				  </ul>
				</div>
			  </nav>		        
			</div>		
						
	</header>
	<div id="loadmore-modal2" class="modal white" style="width:40%;height:100%">
		<!-- <div class="modal-content" layout="column" (scroll)="onScroll($event)" style="height: 100%; overflow: auto;">	 -->
		<div class="modal-content">
		<div class="modal-header">
		<h4>Notification's</h4>
		<div class="modal-close right-align"><i class="material-icons">close</i></div>
		</div>
		
		<ul *ngIf="notifications  && notifications.length > 0" class="cst-list-view">
			<li *ngFor="let item of notifications;" >
				<div class="notification-drop-image" *ngIf="item.activity_type == '1' || item.activity_type == '15' || item.activity_type == '17'">
					<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-2.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; " >
				</div>
				<div class="notification-drop-image" *ngIf="item.activity_type == '2' || item.activity_type == '3' || item.activity_type == '4'">
					<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-3.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; " >
				</div>
				<div class="notification-drop-image" *ngIf="item.activity_type == '5' || item.activity_type == '16' || item.activity_type == '18'">
					<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-10.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; " >
				</div>
				<div class="notification-drop-image" *ngIf="item.activity_type == '6' || item.activity_type == '7' || item.activity_type == '8' || item.activity_type == '14'">
					<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-9.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; " >
				</div>
				<div class="notification-drop-image" *ngIf="item.activity_type == '9'">
					<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-9.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; " >
				</div>
				<div class="notification-drop-image" *ngIf="item.activity_type == '10'">
					<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-1.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; " >
				</div>
				<div class="notification-drop-image" *ngIf="item.activity_type == '19'">
					<img src="https://www.libanz.com/web-app/assets/images/mobile-icons/icon-6.png" class="responsive-img" style="width: 50px; border: 1px solid #ff6a00; border-radius: 50%; " >
				</div>
				<div [className]="(item.read == 1)?'grey-text notification-drop-text':'black-text notification-drop-text'">
					<p [innerHTML]="item.visitor_comment"></p>
					<time class="grey-text">{{time_ago(item.history_time)}}</time>
					<div class="circle-dotss" *ngIf="item.read != 1"></div>
				</div>

			</li>
		
		</ul>										
		<div class="center" *ngIf="more_display"><a class="view-more blue-text" id="more-display" href="javascript:" (click)="load_more_notification();">View More+</a></div>
		</div>
</div>
	<!-- End Here -->
	<!-- Login Modal -->
	<div id="login-modal" class="modal">
		<div class="modal-content no-padding">
			<a href="javascript:" class="modal-close login-modal-close"><i class="material-icons black-text close-fx">close</i></a>
			<div class="row no-margin" style="background-color: #fff;">
				<div class="col s12 m4 no-padding hide-on-med-and-down" style="background-image: url({{this.todoservice.base_url}}web-app/assets/images/login-banner.jpg);background-size: cover;">
					<div class="login-modal">
						<div class="padd-rem1 login-text" *ngIf="signup != 1">
							<h2 class="black-text no-margin">LOGIN</h2>
							<p class="black-text font-size-change1">Welcome Back to libanz, We make sure you enjoy our services!!</p>
						</div>
						
					</div>
				</div>
				<div class="col s12 m8 white"> 
					<div class="tabs-sign-up">
						<ul id="tabs-swipe-demo" class="tabs">
							<li class="tab col s6"><a class="active" href="#login" id="login-a" (click)="hide_signup_form()">Login to libanz</a></li>
							<!-- <li class="tab col s3"><a href="#signup" id="signup-a" (click)="signup_form()">Sign up</a></li> -->
						</ul>
						<div id="login" class="col s12">
							<div class="login" *ngIf="step == 1">
							<form class="login-step" [formGroup]="logingroup" #loginform = "ngForm" (ngSubmit)="login_submit(loginform.value)" id="login-input-form">
								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons prefix margin-top-cart2">phone</i>
											<input id="icon_prefix" type="number" class="validate" formControlName="phone" value="{{remember.ph}}" [(ngModel)]="remember.ph">
											<label for="icon_prefix" class="font-size-change" [ngClass]=" remember.ph ? 'active' : ''">Enter Phone No.</label>
											<div class="red-text accent-4 center" *ngIf="!logingroup.controls['phone'].valid && logingroup.controls['phone'].touched">Enter Phone Number*.</div>
										</div>
									
									<div class="input-field col s12 forget-click">
										<i class="material-icons prefix margin-top-cart2">lock</i>
										<input id="password" type="password" formControlName="password" class="validate" value="{{remember.pw}}" [(ngModel)]="remember.pw">
										<label for="password" class="font-size-change" [ngClass]=" remember.pw ? 'active' : ''">Enter Password</label>
									</div>
									<div class="col s12 m6">
										<input type="checkbox" id="remember-me" formControlName="remember" [checked]="remember.rm" class="filled-in" />
									<label for="remember-me">Remember Me</label>
									</div>
									<div class="col s12 m6 right-align">
										<span class="tab"><a routerLink="/proceed/forgot-password" class="orange-text font-size-change modal-close">Forgot Password?</a></span>
									</div>
									<div class="col s12 center margin-top">
										<button type="submit" id="login-controller" class="btn orange waves-effect full-width otp-btn round-btn" [disabled]="!logingroup.valid">Submit</button>
									</div>
								</div>
								<div class="row no-margin">
									<div class="col s12 m12 center">
										<span class="font-size-change">Don't have libanz account?</span>
										<a routerLink="/proceed/signup" class="orange-text font-size-change font600 modal-close"> REGISTER</a><br>
									</div>
								</div>
							</form>
							</div>
							<div class="otp-step margin-top1" *ngIf="step == 2">
								<form #otpform = "ngForm" (ngSubmit)="login_submit(otpform.value)" id="header-login">
								<div class="upper-text center">
									<h3>Your Mobile Number is <span class="orange-text">+91-{{phone}}</span></h3>
									<p class="font-size-change1">You will receive One Time Password (OTP) via SMS. kindly Enter Below</p>
								</div> 
								<div class="row">
									<div class="input-field col s12 center otp-inputa" id="inputs">
											<input id="otp1" (keyup)="keytab($event)" ngModel maxlength="1" name="otp1">
											<input id="otp2" (keyup)="keytab($event)" ngModel maxlength="1" name="otp2">
											<input id="otp3" (keyup)="keytab($event)" ngModel maxlength="1" name="otp3">
											<input id="otp4" maxlength="1" ngModel name="otp4" ngModel>
									</div>
									<div class="col s12 center margin-top">
										<span class="font-size-change1">Don't recieve OTP </span>
										<!-- <a href="javascript:" (click)="resend_otp()" class="orange-text">Resend OTP?</a></span> -->
										<button type="button" class="btn waves-effect waves-light grey" (click)="resend_otp('login')" [disabled]="this.tick > 0">Resend <span *ngIf="this.tick > 0">({{this.tick}})</span></button>
									</div>			
								</div>
								<div class="row">
									<div class="col s12 center">
										<a href="javascript:" class="btn waves-effect waves-light grey lighten-3 black-text otp-to-login-back" (click)="back_to_login()"><< Back</a>
										<button id="login-submit" type="Submit" class="btn waves-effect waves-light orange">Submit</button>
									</div>
								</div>
							</form>
							</div>
						</div>
						<!-- <div id="signup" class="col s12">
							<div class="user-retailer margin-top center" id="stepep1" *ngIf="signup == 0">
								<div class="col s12 border-every">
									<a href="javascript:" class="black-text become-user" (click)="signup_form(1)">
										<img src="{{this.todoservice.base_url}}web-app/assets/images/user.jpg" class="responsive-img" alt="1" width="100"><br>
										<span class="font-size-change1 font600">Become a User</span>
									</a>
								</div>
								<div class="col s12  center or-for-span">
									<span class="font-size-change relative">OR</span>
								</div>
								<div class="col s12  border-every">
									<a href="javascript:" class="black-text become-user" (click)="signup_form(2)">
										<img src="{{this.todoservice.base_url}}web-app/assets/images/distributor.jpg" class="responsive-img" alt="1" width="100"><br>
										<span class="font-size-change1 font600">Become a Retailer</span>
									</a>
								</div>
							</div>
							<div id="stepep2" *ngIf="signup == 1">
								<div *ngIf="signupverify == 0">
								<form [formGroup]="signupgroup" class="login-page-form" #signupform = "ngForm" (ngSubmit)="signup_user(signupform.value)" >
									<div class="row">
										<div class="input-field col s12">
											<i class="material-icons prefix margin-top-cart2">person</i>
											<input id="name" type="text"  minlength = '3' class="validate" formControlName="name" autocomplete="off">
											<label for="name">Enter Name*</label>
											<div class="center" *ngIf="!signupgroup.controls['name'].valid && signupgroup.controls['name'].touched">
												<span class="red-text ">*Name is Required.</span>
											</div>
										</div>
										<div class="input-field col s6">
											<i class="material-icons prefix margin-top-cart2">phone</i>
											<input id="pop-phone-number" type="text" class="validate" formControlName="phone" autocomplete="off">
											<label for="pop-phone-number">Phone Number*</label>
											<div class="center" *ngIf="!signupgroup.controls['phone'].valid && signupgroup.controls['phone'].touched">
												<span class="red-text"> Phone Number is not valid.</span>
											</div>
										</div>
										<div class="input-field col s6">
											<i class="material-icons prefix margin-top-cart2">mail</i>
											<input id="enter_email" type="text" class="validate" formControlName="email" autocomplete="off">
											<label for="enter_email">Enter Email</label>
											<div class="center" *ngIf="!signupgroup.controls['email'].valid && signupgroup.controls['email'].touched">
												<span class="red-text"> Email is not valid.</span>
											</div>
										</div>
										<div class="input-field col s6">
											<i class="material-icons prefix margin-top-cart2">lock</i>
											<input id="enter_passcode" type="password" class="validate" formControlName="password" autocomplete="off">
											<label for="enter_passcode">Enter Password</label>
											<div class="center" *ngIf="!signupgroup.controls['password'].valid && signupgroup.controls['password'].touched">
												<span class="red-text">Password is Required.</span> 
											</div>
										</div>
										<div class="input-field col s6">
											<i class="material-icons prefix margin-top-cart2">lock</i>
											<input id="confirm_passcode" type="password" class="validate" formControlName="cpassword" autocomplete="off">
											<label for="confirm_passcode">Confirm Password</label>
											<div class="center" *ngIf="!signupgroup.controls['cpassword'].valid && signupgroup.controls['cpassword'].touched">
												<span class="red-text">Check Confirm Password.</span>
											</div>
										</div>
										<div class="col s12 m6">
											<p>
												<input name="user_type" class="with-gap" formControlName="user_type" type="radio" value="1" id="test1" [checked]="true"/>
												<label for="test1">Become User</label>
											</p>
										</div>
										<div class="col s12 m6">
											<p>
												<input name="user_type" class="with-gap" formControlName="user_type" type="radio" value="2" id="test2"/>
												<label for="test2">Become Merchant</label>
											</p>
										</div>
										<!-- <div class="col s12 m6">
											<p>
												<input name="user_type" class="with-gap" formControlName="user_type" type="radio" value="3" id="test3"/>
												<label for="test3">Become Partner</label>
											</p>
										</div> 
										
										<div class="col s12 center margin-top">
											 <a href="javascript:" class="back-to-retailer-page grey lighten-3 btn black-text" (click)="hide_signup_form()"> << Back</a> 
											<button type="submit" class="btn orange waves-effect" [disabled]="!signupgroup.valid || signupdisabled">Submit</button>
										</div>
									</div>
								</form>
								</div>	
								<div class="otp-step margin-top1" *ngIf="signupverify == 1">
										<form #otpform = "ngForm" (ngSubmit)="verify_user(otpform.value)" id="header-signup">
										<div class="upper-text center">
											<h3>Your Mobile Number is <span class="orange-text">+91-{{phone}}</span></h3>
											<p class="font-size-change1">You will receive One Time Password (OTP) via SMS. kindly Enter Below</p>
										</div>
										<div class="row">
											<div class="input-field col s12 center otp-inputa" id="inputs">
													<input id="otp1" (keyup)="keytab($event)" ngModel maxlength="1" name="otp1">
													<input id="otp2" (keyup)="keytab($event)" ngModel maxlength="1" name="otp2">
													<input id="otp3" (keyup)="keytab($event)" ngModel maxlength="1" name="otp3">
													<input id="otp4" maxlength="1" ngModel name="otp4" ngModel>
											</div>
											<div class="col s12 center margin-top">
												<span class="font-size-change1">Don't recieve OTP 
												<a href="javascript:" (click)="resend_otp('signup')" class="orange-text">Resend OTP?</a></span>
											</div>			
										</div>
										<div class="row">
											<div class="col s12 center">
												<a href="javascript:" class="btn waves-effect waves-light grey lighten-3 black-text otp-to-login-back" (click)="hide_otp_form()"><< Back</a>
												<button type="Submit" id="signup-submit" class="btn waves-effect waves-light orange" [disabled]="verifydisabled">Submit</button>
											</div>
										</div>
									</form>
								</div>
						</div>
					</div> -->
					<!-- <div id="forget-password" class="col s12 hide">
						<div class="login">
							<form class="login-step">
								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons prefix margin-top-cart2">email</i>
											<input id="icon_prefix" type="number" class="validate">
											<label for="icon_prefix" class="font-size-change">Enter Email Id.</label>
											
										</div>
									<div class="col s12 center margin-top">
										<button type="submit" class="btn orange waves-effect full-width otp-btn">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- End Here -->
	<!-- Side Navigation -->
	<ul id="slide-out" class="side-nav">
		<div class="user-view no-padding">
				<li *ngIf="this.todoservice.get_user_name() == ''" class="inline-block issue-menu"><a href="#login-modal" class="logup modal-trigger">Login / Sign Up</a></li>
			</div>
		<div class="user-detail" *ngIf="this.todoservice.get_user_name() != ''">
			<ul class="unique-item">
				<li class="inline-block "><a class="no-padding" routerLink="/dashboard/edit-profile">
					<span *ngIf="this.todoservice.get_user_avatar() && this.todoservice.get_user_avatar() != 'null'">
						<img class="responsive-img vertical-align-middle" width="43px" src="{{this.todoservice.server_url}}{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf=" !this.todoservice.get_user_avatar().includes('data:image/png')"/>
						<img class="responsive-img vertical-align-middle" width="43px" src="{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf=" this.todoservice.get_user_avatar().includes('data:image/png')"/>
					</span>
					<span alt="user-icon" id="name-characters" *ngIf="this.todoservice.get_user_avatar() == 'null' || !this.todoservice.get_user_avatar()">{{this.todoservice.get_user_characters()}}</span>
					</a>
					<a class="modal-trigger" href="#modal1"><i class="material-icons">photo_camera</i></a>
				</li>
					<li class="inline-block user-after-login-text only-txt-name">
					<p class="no-margin" *ngIf="this.todoservice.get_user_name() != ''"> {{this.todoservice.get_user_name()}}</p>
					+91-<span >{{this.todoservice.get_user_phone()}}</span> 
				</li>
				<!-- <li> <span class="fa fa-user"></span> </li> -->
			</ul>
		</div>
		<li><div class="divider another-balance"></div></li>
		<div class="user-detail grey lighten-4 another-balance" *ngIf="this.todoservice.user.storage">
			<ul>
				<li class="inline-block"><span class="font-size-change">Balance</span></li>
				<li class="inline-block right"><span class="font-size-change"><i class="icon-inr"></i>{{this.todoservice.user.storage.wallet}}</span></li>
			</ul>
		</div>
		<li><div class="divider"></div></li>
		<li *ngIf="this.todoservice.get_user_name() != ''"><a routerLink="/dashboard" routerLinkActive="active"><span class="fa fa-tachometer"></span> &nbsp; Dashboard </a></li>
		<li><a routerLink="/p/about-us" routerLinkActive="active"><span class="fa fa-edit"></span>&nbsp; About Us</a></li>
		<li><a routerLink="/help/contact-us" routerLinkActive="active"><span class="fa fa-phone"></span>&nbsp; Contact Us</a></li>
		
		<li *ngIf="this.todoservice.get_user_name() != ''"><a routerLink="/logout" routerLinkActive="active"><span class="fa fa-edit"></span> &nbsp; Logout</a></li>
	</ul>
	<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Change Icon</h4>
					<form [formGroup]="form" #manageform1 = "ngForm" (ngSubmit)="onSubmit()"> 
						<div class="file-field input-field">
							<div class="btn orange">
								<span>File</span>
								<input type="file" (change)="fileChangeEvent($event)" />
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate " type="text">
							</div>
							<image-cropper
								[imageChangedEvent]="imageChangedEvent"
								[maintainAspectRatio]="true"
								[aspectRatio]="1/1"
								[resizeToWidth]="100"
								format="png"
								(imageCropped)="imageCropped($event)"
						></image-cropper>
						<img [src]="croppedImage" />
						</div>

						<div class="clearfix"></div>
						<input type="submit" value="Set" class="btn orange" [disabled] = "disabled">
					</form>
    </div>
  </div>
	<!-- End Here -->
	
	
		
			