<!-- Footer Start Here -->
<footer class="footer grey lighten-5 border-on-top">
	<section class="white no-padding border-bottom" id="footer-content">
	</section>
	<section class="details1">
		<div class="container">
			<div class="row border-bottom">
				<div class="col s12 m3">
					<span class="font600 font-size-change white-text">NEWSLETTER</span>
					<ul>
						<li><span class="white-text">Sign Upto get daily email post update of Mydthshop Enter your Email id </span></li>
						<li class="news-form">
							<form #newsletterform = "ngForm" (ngSubmit)="subscribe_newsletters(newsletterform.value)">
								<div class="row no-margin">
								<div class="input-field col s10 no-padding">
									<input placeholder="Use@gmail.com" id="email" type="email" name="email" class="validate" ngModel>
								</div>
								<div class="input-field col s2 no-padding">
									<button type="submit" class="btn-flat orange waves-effect"><i class="material-icons white-text">send</i></button>
								</div>
								</div>
							</form>
					</li>
					</ul>
				</div>
				<div class="col s12 m3">
					<span class="font600 font-size-change white-text">PARTNERSHIP PROGRAMS</span>
					<ul>
						<li class="padd-right-left"><a href="/signup/2" class="white-text">Signup</a></li>
					</ul>
				</div>
				<div class="col s12 m3">
					<span class="font600 font-size-change white-text">HELPLINE</span>
					<ul>							
						<li class="padd-right-left"><a href="tel:01143513713" class="white-text">011 - 47500444</a></li>
						<li class="padd-right-left"><a href="mailto:help@mydthshop.com" class="white-text">help@mydthshop.com</a></li>
						<li class="padd-right-left"><a routerLink="/p/faqs" class="white-text">FAQ</a></li>
					</ul>
				</div>
				<div class="col s12 m3">
					<span class="font600 font-size-change white-text">SECURITY</span>
					<ul>
						<li><span class="white-text">We give 100% purchase protection to our customers </span></li>
						<li class="news-form">
							<img src="{{this.todoservice.base_url}}assets/images/banner/ssl.png" class="responsive-img" alt="SSL">
					</li>
					</ul>
				</div>
			</div>
			<div class="row margin-top">
				<div class="col s12 m3">
					<span class="font600 font-size-change white-text">REGISTERED ADDRESS</span>
					<ul>							
						<li class="padd-right-left"><span class="white-text">MyDthShop</span></li>
						<li class="padd-right-left"><span class="white-text">Libanz International</span></li>
						<li class="padd-right-left"><span class="white-text">DDA Center Shopping Complex No-1<br/> Unit No.9,10,11 Rohini Sector-3 New<br/> Delhi-110085 .</span></li>
					</ul>
				</div>				
				
				<div class="col s12 m3">
					<span class="font600 font-size-change white-text">INFORMATION</span>
					<ul>
						<li class="padd-right-left"><a routerLink="/p/about-my-dth-shop-rohini" (click)="navigate_to('about-my-dth-shop-rohini')" class="white-text">About Us</a></li>
						<li class="padd-right-left"><a routerLink="/p/dth-connection-refund-policy"  (click)="navigate_to('dth-connection-refund-policy')" class="white-text">Refund Policy</a></li>
						<li class="padd-right-left"><a routerLink="/contact-us" class="white-text">Contact Us</a></li>
						<li class="padd-right-left"><a routerLink="/p/know-about-my-dth-shop" class="white-text" (click)="navigate_to('know-about-my-dth-shop')">Who We Are</a></li>
						<li class="padd-right-left"><a routerLink="/p/mydthshop-terms-and-conditions" class="white-text" (click)="navigate_to('mydthshop-terms-and-conditions')">Terms &amp; Conditions</a></li>
						<li class="padd-right-left"><a routerLink="/p/privacy-policy-my-dth-shop" class="white-text" (click)="navigate_to('privacy-policy-my-dth-shop')">Privacy policy</a></li>
						<li class="padd-right-left"><a routerLink="/p/mydthshop-disclaimer" class="white-text" (click)="navigate_to('mydthshop-disclaimer')">Disclaimer</a></li>
						<li class="padd-right-left"><a routerLink="/p/download-brochures" class="white-text" (click)="navigate_to('download-brochures')">Download Brochures</a></li>
						<li class="padd-right-left"><a routerLink="/user-guide" class="white-text">View User Guide</a></li>
					</ul>
				</div>
				<div class="col s12 m2">
					<span class="font600 font-size-change white-text">CATEGORIES</span>
					<ul>
						<li class="padd-right-left"><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:1}" class="white-text">Tata Sky</a></li>
						<li class="padd-right-left"><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:2}" class="white-text">Videocon</a></li>
						<li class="padd-right-left"><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:3}" class="white-text">Airtel</a></li>
						<li class="padd-right-left"><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:4}" class="white-text">Dish Tv</a></li>
						<li class="padd-right-left"><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:1}" class="white-text">Jio Dth</a></li>
						<li class="padd-right-left"><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:4}" class="white-text">DTH Accessories</a></li>
						<li class="padd-right-left"><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:1}" class="white-text">Big Tv</a></li>
						<!-- <li class="padd-right-left"><a [routerLink]="['/products']" [queryParams]="{cat_id:1}" class="grey-text">Sun Direct</a></li> -->
						</ul>
				</div>
				<div class="col s12 m2">
					<span class="font600 font-size-change white-text">FOLLOW US</span>
					<ul>							
						<li class="padd-right-left"><a href="https://www.facebook.com/mydthshop/" target="_blank" class="white-text">Facebook</a></li>
						<li class="padd-right-left"><a href="https://twitter.com/mydthshop" target="_blank" class="white-text">Twitter</a></li>
						<li class="padd-right-left"><a href="https://plus.google.com/+Mydthshopmydthshop/about" target="_blank" class="white-text">Google Plus</a></li>
						<li class="padd-right-left"><a href="https://www.youtube.com/channel/UCsi2AhbMaiVVZ-hVfXdfQcA" target="_blank" class="white-text">Youtube</a></li>
						<li class="padd-right-left"><a href="https://www.linkedin.com/company/mydthshop-india/" target="_blank" class="white-text">Linkedin</a></li>
						<li class="padd-right-left"><a href="https://www.instagram.com/mydthshopindia/" target="_blank" class="white-text">Instagram</a></li>
						<li class="padd-right-left"><a href="https://in.pinterest.com/jain2221/" target="_blank" class="white-text">Pinerest</a></li>
						<li class="padd-right-left"><a href="https://in.pinterest.com/jain2221/" target="_blank" class="white-text">Blogger</a></li>
					</ul>
				</div>
				<div class="col s12 m2">
					<span class="font600 font-size-change white-text">MISC</span>
					<ul>							
						<li class="padd-right-left"><a href="#" class="white-text">Cashback</a></li>
						<li class="padd-right-left"><a href="#" class="white-text">Flash Deals</a></li>
						<li class="padd-right-left"><a href="#" class="white-text">Cash on Delivery</a></li>
						<li class="padd-right-left"><a href="#" class="white-text">Offers</a></li>
						<li class="padd-right-left"><a href="#" class="white-text">Free Shipping</a></li>
						<li class="padd-right-left"><a href="#" class="white-text">Best Selling</a></li>
						<li class="padd-right-left"><a href="#" class="white-text">Promocode</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</footer>
<section class="last-footer grey lighten-3">
	<div class="container">
		<div class="row no-margin">
			<!-- <div class="col s12 m2">
				<span class="grey-text font600">PAYMENT METHODS</span>
			</div> -->
			<div class="col s12 m4 center">
				<img src="{{this.todoservice.base_url}}assets/images/banner/bg-payment.png" class="responsive-img" alt="bg-payment">
				<img src="{{this.todoservice.base_url}}assets/images/banner/paytm-logo.png" class="responsive-img paytm-img-footer" alt="bg-Paytm">
				<img src="{{this.todoservice.base_url}}assets/images/banner/phone-pe.png" class="responsive-img paytm-img-footer" alt="bg-Phone Pe	">
			</div>
			<div class="col s12 m5 center">
				<span class="font-size-change1">© 2015 - 2018 All Rights Reserved by My DTH Shop under Libanz International</span>
			</div>
			<div class="col s12 m3">
				<ul class="social-icons-footer no-margin right-align">
					<li class="inline-block"><a href="https://www.facebook.com/mydthshop/" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Facebook"><img src="https://mydthshop.com/web-app/assets/images/facebook1.png" class="responsive-img" alt="facebook"></a></li>
					<li class="inline-block"><a href="https://www.linkedin.com/company/mydthshop-india/" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Linkedin"><img src="https://mydthshop.com/web-app/assets/images/linkedin.png" class="responsive-img" alt="linkedin"></a></li>
					<li class="inline-block"><a href="https://twitter.com/mydthshop" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Twitter"><img src="https://mydthshop.com/web-app/assets/images/twitter.png" class="responsive-img" alt="twitter"></a></li>
					<li class="inline-block"><a href="https://plus.google.com/+Mydthshopmydthshop/about" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Google Plus"><img src="https://mydthshop.com/web-app/assets/images/google-plus.png" class="responsive-img" alt="google-plus"></a></li>
					<li class="inline-block"><a href="https://www.youtube.com/channel/UCsi2AhbMaiVVZ-hVfXdfQcA" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Youtube"><img src="https://mydthshop.com/web-app/assets/images/youtube.png" class="responsive-img" alt="youtube"></a></li>
					<li class="inline-block"><a href="https://in.pinterest.com/jain2221/" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Pinerest"><img src="https://mydthshop.com/web-app/assets/images/pinterest.png" class="responsive-img" alt="pinterest"></a></li>
					<li class="inline-block"><a href="https://www.instagram.com/mydthshopindia/" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Instagram"><img src="https://mydthshop.com/web-app/assets/images/instagram.png" class="responsive-img" alt="instagram"></a></li>
					<li class="inline-block"><a href="https://www.instagram.com/mydthshopindia/" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Blogger"><img src="https://mydthshop.com/web-app/assets/images/blogger.png" class="responsive-img" alt="blogger"></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- End Here -->

