<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
		bdColor="rgba(255,255,255,0.8)"
		size="default"
		color="#ec9737"
		loadingText="Loading..."
		type="ball-clip-rotate">
	</ngx-spinner>
</div>

<section class="channels-basic">
	<div class="container center">
		<h1>FTA Basic Pack</h1>
		<p class="font-size-change1 font600">100 channels & services*</p>
		<span class="font-size-change1"><i class="icon-inr"></i> 100 / per month</span><br>
		<a href="javascript:" class="btn orange">Subscribe</a>
	</div>
</section>

<section class="list-base white padd-rem">
	<div class="container">
		<div class="bse-prc">
			<ul>
				<h3 class="font600">Telugu</h3>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
			</ul>
			<ul>
				<h3 class="font600">Telugu</h3>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
				<li class="center">
					<img src="https://www.mydthshop.com/web-app/assets/images/channels/colors.gif" class="responsive-img" alt="chnnl"><br>
					<span class="font-size-change">NTV News</span>
				</li>
			</ul>
		</div>
	</div>
</section>




<app-footer></app-footer>	
