<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,0.8)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>
</div>
<section class="compare-dth white">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 center">
        <h2 class="font600">Compare Your DTH Box Plans</h2>
      </div>
      <div class="col s12 m12 center">
        <ul class="compare-page">
          <li>
            <div class="compare-img">
              <img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x2702501551270412.png" class="img-responsive" alt="Tata Sky">          
            </div>
            <div class="compare-text">
              <span>Tata Sky HD Box</span>
            </div>
            <a href="#compare-modal" class="grey-text modal-trigger"><i class="material-icons">close</i></a>
          </li>
          <span class="compare-span">VS</span>
          <li>
            <div class="compare-img">
              <img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x2702391550666179.png" class="img-responsive" alt="Tata Sky">          
            </div>
            <div class="compare-text">
              <span>Dish TV HD Box</span>
            </div>
            <a href="#compare-modal" class="grey-text modal-trigger"><i class="material-icons">close</i></a>
          </li>
          <span class="compare-span">VS</span>
          <li>
            <div class="compare-img">
              <img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x2704151550666190.jpg" class="img-responsive" alt="Tata Sky">          
            </div>
            <div class="compare-text">
              <span>Airtel HD Box</span>
            </div>
            <a href="#compare-modal" class="grey-text modal-trigger"><i class="material-icons">close</i></a>
          </li>
          <span class="compare-span">VS</span>
          <li>
            <div class="compare-img">
              <img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x2705001552991703.png" class="img-responsive" alt="Tata Sky">          
            </div>
            <div class="compare-text">
              <span>Videocon HD Box</span>
            </div>
            <a href="#compare-modal" class="grey-text modal-trigger"><i class="material-icons">close</i></a>
          </li>
        </ul>
      </div>
      <div class="col s12 compare-table">
        <table class="table centered bordered">
          <tbody>
            <tr>
              <td><a href="javascript:"><img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x2702501551270412.png" class="responsive-img" alt="Tata Sky"></a></td>
              <td><a href="javascript:"><img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x2702391550666179.png" class="responsive-img" alt="Tata Sky"></a></td>
              <td><a href="javascript:"><img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x2709861552991026.png" class="responsive-img" alt="Tata Sky"></a></td>
              <td><a href="javascript:"><img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x2705001552991703.png" class="responsive-img" alt="Tata Sky"></a></td>
            </tr>
            <tr>
              <td><span class="font-size-change1 font600">Tata Sky HD Box</span></td>
              <td><span class="font-size-change1 font600">Dish TV Hd Box</span></td>
              <td><span class="font-size-change1 font600">Airtel HD Box</span></td>
              <td><span class="font-size-change1 font600">Videocon HD Box</span></td>
            </tr>
            <tr>
              <td><span class="font-size-change1 font600 grey-text">Pack Name</span><br /><span class="font-size-change-order font600 inline-block margin-top-order">FTA Pack</span></td>
              <td><span class="font-size-change1 font600 grey-text">Pack Name</span><br /><span class="font-size-change-order font600 inline-block margin-top-order"> FTA Pack</span></td>
              <td><span class="font-size-change1 font600 grey-text">Pack Name</span><br /><span class="font-size-change-order font600 inline-block margin-top-order"> FTA Pack</span></td>
              <td><span class="font-size-change1 font600 grey-text">Pack Name</span><br /><span class="font-size-change-order font600 inline-block margin-top-order"> FTA Pack</span></td>
            </tr>
            <tr>
              <td><span class="font-size-change1 font600 grey-text">Price</span><br /><span class="font-size-change-order font600 inline-block margin-top-order"><i class="icon-inr">451</i></span></td>
              <td><span class="font-size-change1 font600 grey-text">Price</span><br /><span class="font-size-change-order font600 inline-block margin-top-order"><i class="icon-inr">451</i></span></td>
              <td><span class="font-size-change1 font600 grey-text">Price</span><br /><span class="font-size-change-order font600 inline-block margin-top-order"><i class="icon-inr">451</i></span></td>
              <td><span class="font-size-change1 font600 grey-text">Price</span><br /><span class="font-size-change-order font600 inline-block margin-top-order"><i class="icon-inr">451</i></span></td>
            </tr>
            <tr>
              <td><span class="font-size-change1 font600 grey-text">Channels List</span><br /><span class="font-size-change-order font600 inline-block margin-top-order"><a href="https://www.mydthshop.com/test-mydthshop/product/channel-pack/14" class="black-text" target="_blank">See Channels List</a></span></td>
              <td><span class="font-size-change1 font600 grey-text">Channels List</span><br /><span class="font-size-change-order font600 inline-block margin-top-order"><a href="https://www.mydthshop.com/test-mydthshop/product/channel-pack/14" class="black-text" target="_blank">See Channels List</a></span></td>
              <td><span class="font-size-change1 font600 grey-text">Channels List</span><br /><span class="font-size-change-order font600 inline-block margin-top-order"><a href="https://www.mydthshop.com/test-mydthshop/product/channel-pack/14" class="black-text" target="_blank">See Channels List</a></span></td>
              <td><span class="font-size-change1 font600 grey-text">Channels List</span><br /><span class="font-size-change-order font600 inline-block margin-top-order"><a href="https://www.mydthshop.com/test-mydthshop/product/channel-pack/14" class="black-text" target="_blank">See Channels List</a></span></td>
            </tr>
            <tr>
              <td><span class="font-size-change1 font600 grey-text">Accessiories</span><br /><span class="font600 inline-block">HDMI Cabel</span>,&nbsp;<span class="font600 inline-block">Antena</span>,&nbsp;<span class="font600 inline-block">10 Meters Cable</span></td>
              <td><span class="font-size-change1 font600 grey-text">Accessiories</span><br /><span class="font600 inline-block">HDMI Cabel</span>,&nbsp;<span class="font600 inline-block">Antena</span>,&nbsp;<span class="font600 inline-block">10 Meters Cable</span></td>
              <td><span class="font-size-change1 font600 grey-text">Accessiories</span><br /><span class="font600 inline-block">HDMI Cabel</span>,&nbsp;<span class="font600 inline-block">Antena</span>,&nbsp;<span class="font600 inline-block">10 Meters Cable</span></td>
              <td><span class="font-size-change1 font600 grey-text">Accessiories</span><br /><span class="font600 inline-block">HDMI Cabel</span>,&nbsp;<span class="font600 inline-block">Antena</span>,&nbsp;<span class="font600 inline-block">10 Meters Cable</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- Compare Modal -->
<div id="compare-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Choose et Box For Compare</h4>
    <form>
      <div class="row">
        <div class="input-field col s12 m4">
          <select>
            <option value="" disabled selected>Choose your Product</option>
            <option value="1">Tata Sky</option>
            <option value="2">Airtel</option>
            <option value="3">Dish Tv</option>
            <option value="3">Videocon</option>
          </select>
        </div>
        <div class="input-field col s12 m4">
          <select>
            <option value="" disabled selected>Choose your Set Up Box</option>
            <option value="1">Tata Sky SD Box</option>
            <option value="2">Tata Sky HD Box</option>
            <option value="3">Tata Sky 4K Box</option>
            <option value="3">Tata Sky Multi Box</option>
          </select>
        </div>
        <div class="input-field col s12 m4">
          <select>
            <option value="" disabled selected>Choose Basic Pack</option>
            <option value="1">FTA Pack</option>
            <option value="2">FTA Pack</option>
            <option value="3">FTA Pack</option>
            <option value="3">FTA Pack</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action btn orange">Continue</a>
  </div>
</div>
<app-footer></app-footer>


