<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,0.8)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>
</div>
<!-- Flash Deal section -->
<section class="flash-deal">
  <div class="container">
    <div class="row no-margin">
      <div class="col s12 m4 l3">
        <div class="card no-box-shadow no-margin">
          <div class="card-content inline-block full-width">
            <span class="so-high font600">Multi Box</span>
            <ul>
              <li>
                <input type="checkbox" id="tata" />
                <label for="tata" class="font-size-change">Tata Sky</label>
              </li>
              <li>
                <input type="checkbox" id="dish" />
                <label for="dish" class="font-size-change">Dish Tv</label>
              </li>
              <li>
                <input type="checkbox" id="videocon" />
                <label for="videocon" class="font-size-change">Videocon</label>
              </li>
              <li>
                <input type="checkbox" id="air" />
                <label for="air" class="font-size-change">Airtel</label>
              </li>
            </ul>
            <span class="font-size-change">Multi Box Type</span>
            <ul>
              <li>
                <input type="checkbox" id="tata" />
                <label for="tata" class="font-size-change">SD</label>
              </li>
              <li>
                <input type="checkbox" id="dish" />
                <label for="dish" class="font-size-change">HD</label>
              </li>
              <li>
                <input type="checkbox" id="videocon" />
                <label for="videocon" class="font-size-change">HD+</label>
              </li>
              <li>
                <input type="checkbox" id="sun" />
                <label for="sun" class="font-size-change">4K</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m8 l9 pagngiune">			
        <div class="row no-margin">
          <div class="col s12 m4">
            <div class="card no-box-shadow">
              <div class="card-image">
                  <img src="images/banner/hd-tata-sky.jpg" class="responsive-img" alt="hd-tata-sky">
              </div>
              <div class="card-content inline-block full-width">
                <h3 class="span-title">TATA SKY HD Multi Box </h3>
                <span class="font-size-change2 black-text"> <small class="grey-text price-cut font-size-change1"><i class="fa fa-inr" aria-hidden="true"></i> 2350</small>&nbsp; <i class="fa fa-inr" aria-hidden="true"></i> 1751 <p class="no-margin red-text inline-block font-size-change">10% Off</p></span>
                <p class="font-size-change red-text font600 margin-top">Cashback :  <i class="fa fa-inr" aria-hidden="true"></i> 400</p>
              </div>
              <div class="card-action">
                <a href="JavaScript:" class="white-text btn-large orange right">Buy Now</a>
              </div>
            </div>	
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end here -->

<app-footer></app-footer>
