<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,0.8)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>
</div>

<section class="no-padding grey lighten-2 beard">
	<div class="container">
		<div class="row no-margin">
			<div class="col s12">
				<nav>
					<div class="nav-wrapper">
						<div class="col s12" *ngIf="product">
							<a routerLink="/home" class="breadcrumb black-text">Home</a>
							<a routerLink="/product/listing" [queryParams]="{cat_id:1}" class="breadcrumb black-text"*ngIf="product.category_id == 1">Tata Sky</a>
							<a routerLink="/product/listing" [queryParams]="{cat_id:2}" class="breadcrumb black-text"*ngIf="product.category_id == 2">Videocon</a>
							<a routerLink="/product/listing" [queryParams]="{cat_id:3}" class="breadcrumb black-text"*ngIf="product.category_id == 3">Airtel</a>
							<a routerLink="/product/listing" [queryParams]="{cat_id:4}" class="breadcrumb black-text"*ngIf="product.category_id == 4">DishTv</a>
							<a class="breadcrumb black-text">Details</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- Flash Deal section -->
<section class="flash-deal border-bottom white">
	<div class="container" id="product-detailed-section">
		<div class="row no-margin">
			<div class="col s12 m12 l5">
				<div class="images-product relative">
					<div class="product-img center">
							<div class="xzoom-thumbs left" *ngIf="thumbs">
									<ul>
											<li *ngFor="let item of thumbs;">
												<a href="javascript:">
														<img class="xzoom-gallery" src="{{this.todoservice.server_url}}accounts/assets/img/product-img/100x100{{item.image}}">
												</a>
										</li>
								</ul>
							</div>
						<span *ngIf="product">
								<ngx-image-zoom
									[thumbImage]="this.todoservice.server_url+'accounts/assets/img/product-img/270x270'+product.image"
									[fullImage]="this.todoservice.server_url+'accounts/assets/img/product-img/'+product.image"
							></ngx-image-zoom>
							<!-- <img class="xzoom" src="{{this.todoservice.server_url}}accounts/assets/img/product-img/{{product.image}}"> -->
						</span>
						<!-- <a class="wishlist tooltipped relative" data-position="top" data-delay="50" data-tooltip="Add to Wishlist" onclick="Materialize.toast('Add Your Favorite', 4000)"><i class="material-icons">star</i></a> -->
                        
                      </div>
                      <div class="product-btn center">
                      	<a href="javascript:" (click)="add_to_cart(product.id)" class="btn orange btn-large font-size-change1"><i class="material-icons white-text">shopping_cart</i>  Add To Cart</a>
                      	<a href="javascript:" (click)="go_to_channel_section()"  class="btn margin-left red btn-large font-size-change1"><i class="material-icons white-text">flash_on</i>  BUY NOW</a>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m12 l7 product-detail" *ngIf="product">
                  	<h3 class="font600" *ngIf="product">{{product.title}}</h3>
						<span class="green white-text stars" *ngIf="avg_rating && avg_rating.reting">{{(avg_rating.reting | number: '1.2-2').slice(0, -1)}} <i class="material-icons">star </i></span>
						<a href="#" class="font-size-change1 chng-set dropdown-button" data-activates='dropdown1'>Change Set Top Box</a>
						<ul id='dropdown1' class='dropdown-content'>
							<li *ngFor="let item of product_category_list;">
								<a href="#tata-sky-modal" class="modal-trigger" (click)="category_selected(item.id)">{{item.title}}</a>
							</li>
						</ul>
						<!-- <a href="#chng-base-pack" class="font-size-change1 modal-trigger">Change Basepack</a> -->
						<a href="javascript:" class="white-text" (click)="go_to_channel_section()">
							<div class="chip red white-text right">
								Scroll Down And Select Your Channel List
								<i class="material-icons">keyboard_arrow_down</i>
							</div>
						</a>
                  	<br/>
                  	<span class="font-size-change2 black-text margin-top inline-block"> <small class="grey-text price-cut font-size-change1"> <i class="icon-inr"></i><span id="mrp-price">{{product.price}}</span></small>&nbsp; <i class="icon-inr"></i><span id="offer-price">{{product.offer_price}}</span> <p class="no-margin green-text1 inline-block font-size-change">{{(product.price-product.offer_price)*100/product.price | number : '1.2-2'}}% Off</p></span>
                  	<p class="font-size-change1 margin-top"><i class="material-icons orange-text font-size-change1">loyalty</i> Cash on delivery option available on selected pin codes only</p>
                  	<p class="font-size-change1 margin-top"><i class="material-icons orange-text font-size-change1">loyalty</i> Same Day Installation</p>
                  	<p class="font-size-change1 margin-top"><i class="material-icons orange-text font-size-change1">loyalty</i> Free Home Delivery</p>
                  	<p class="font-size-change1 margin-top" id="cashback-item" *ngIf="this.todoservice.get_user_type() == 2"><i class="material-icons orange-text font-size-change1">loyalty</i> Cash Back&nbsp; <i class="icon-inr"></i>{{product.partner_cashback_wallet}}</p>								
                  	
                  	<div class="descripetion-detail margin-top1">
                  		<span class="font-size-change1 font600 grey-text">Description</span>
                  		<p class="font-size-change1 no-margin" id="product-description"></p>
					</div>
					<div class="clearfix"></div><br/>
					<!-- <div class="color-warriation inline-block">
                  		
                  		<p class="inline margin-left2">Select Quantity</p>
                  		<div class="product-quantity">
                  			<button id="lessButton" (click)="change_count(1,'minus')"><i class="material-icons">remove</i></button>
                  			<span class="updateCount" id="update_count1">1</span>&nbsp;
                  			<button id="addButton" (click)="change_count(1,'add')"><i class="material-icons">add</i></button>
                  		</div>
                  	</div> -->
                  	<ul class="monthly-packages margin-top kit-pack" id="kit-packages" *ngIf="this.todoservice.get_user_type() == 2 && product.category_id == 1">
                  		<li>
                  			<span class="font-size-change1 font600 grey-text">DTH Kit</span>
                  		</li>
                  		<li>
                  			<a id="kit-2" href="javascript:" [className]="(kit == 2) ? 'black-text font-size-change1 active-kp' : 'black-text font-size-change1'" (click)="select_kit(2)">599 Kit</a>
                  		</li>
                  		<li>
                  			<a id="kit-3" href="javascript:" [className]="(kit == 3) ? 'black-text font-size-change1 active-kp' : 'black-text font-size-change1'" (click)="select_kit(3)">999 Kit</a>
                  		</li>
					  </ul>
					<br/>
                  	<ul class="monthly-packages" id="monthly-packages" *ngIf="package_month">
                  		<li>
                  			<span class="font-size-change1 font600 grey-text">Packages</span>
                  		</li>
                  		<li *ngFor="let month of package_month;let i = index">
                  			<a id="month-{{month.id}}" [className]="(i == 0) ? 'black-text font-size-change1 active-kp' : 'black-text font-size-change1'"href="javascript:" (click)="select_month(month.id)">{{month.month_label}}</a>
                  		</li>
					  </ul>
					<br/>
					  <div class="clearfix"></div>
					  <div class="col m4 no-padding" *ngIf="circles">
							<mat-form-field>
								<mat-select placeholder="Circle Area" [(value)]="this.region" (change)="circle_selected($event.value)">
									<span *ngFor="let item of circles;">
										<mat-option [value]="item.circle_id" >
											<span class="operator-name">{{ item.name }}</span>
										</mat-option>
									</span> 
								</mat-select>
							</mat-form-field>
					  </div>
					  <div class="clearfix"></div>  
                  	<ul class="monthly-packages" id="monthly-packages" *ngIf="multienable">
						<li>
							<span class="font-size-change1 font600 grey-text">Multi</span>
						</li>
						<li>
							<input id="multi-enable" type="checkbox" (change)="tick_multi()" [checked]="multienable">
							<label for="multi-enable"></label>
						</li>
						<li *ngIf="multienable">
							<input type="text" name="subscriber_id" placeholder="Subscriber Id">
						</li>
					</ul>
					<div class="review-ratings">
                  		<p class="font-size-change1 font600">In The Box</p>
                  		<span class="font-size-change1">HD Set-top-box, Antenna, Universal Remote, HDMI Cable, Digicard, 10 meter cable .</span>
                  		<div class="margin-top1">
                  			<p class="font-size-change1 font600">General</p>
                  			<ul>
                  				<div class="brand">
                  					<li><span class="font-size-change1 font600 grey-text">Brand</span></li>
                  					<li><span class="font-size-change font600">{{product.main_cat}}</span></li>
                  				</div>
                  				<div class="brand">
                  					<li><span class="font-size-change1 font600 grey-text">Type</span></li>
                  					<li><span class="font-size-change font600">{{product.cat_title}}</span></li>
                  				</div>										
											<!-- <div class="brand">
												<li><span class="font-size-change1 font600 grey-text">Offer</span></li>
												<li><span class="font-size-change font600">with 1 Month Dhamaka 199 Pack</span></li>
											</div>																				 -->
											<!-- <div class="brand">
												<li><span class="font-size-change1 font600 grey-text">Display Resolution</span></li>
												<li><span class="font-size-change font600">1080i Resolution</span></li>
											</div> -->
											<div class="brand">
												<li><span class="font-size-change1 font600 grey-text">Remote Features</span></li>
												<li><span class="font-size-change font600">Universal Remote with batteries</span></li>
											</div>
											<div class="brand">
												<li><span class="font-size-change1 font600 grey-text">Technology</span></li>
												<li><span class="font-size-change font600">DVB S2, HEVC, MPEG4 decoder</span></li>
											</div>
											<div class="brand">
												<li><span class="font-size-change1 font600 grey-text">Connectivity</span></li>
												<li><span class="font-size-change font600">HDMI & CVBS out</span></li>
											</div>
											<!-- <div class="brand">
												<li><span class="font-size-change1 font600 grey-text">Aspect Ratio</span></li>
												<li><span class="font-size-change font600">16:09</span></li>
											</div>
											<div class="brand">
												<li><span class="font-size-change1 font600 grey-text">Weight</span></li>
												<li><span class="font-size-change font600">485g</span></li>
											</div> -->
										</ul>
									</div>
									<p class="font-size-change1 font600">Additional Features</p>
									<span class="font-size-change">{{product.shortDescription}}</span>
									<div class="margin-top1">
										<p class="font-size-change1 font600">Warranty</p>
										<ul>
											<!-- <div class="brand">
												<li><span class="font-size-change1 font600 grey-text">Warranty Summary</span></li>
												<li><span class="font-size-change font600">On site - Servicing at customer location. Please call the 
													service provider toll free number for any assistance.</span></li>
												</div> -->
												<div class="brand">
													<li><span class="font-size-change1 font600 grey-text">Service Type</span></li>
													<li><span class="font-size-change font600">Repair</span></li>
												</div>										
												<div class="brand">
													<li><span class="font-size-change1 font600 grey-text">Covered in Warranty</span></li>
													<li><span class="font-size-change font600">Set top box</span></li>
												</div>																				
												<div class="brand">
													<li><span class="font-size-change1 font600 grey-text">Not Covered in Warranty</span></li>
													<li><span class="font-size-change font600">ANTENNA,UNIVERSAL REMOTE, LNB</span></li>
												</div>
											</ul>
										</div>	
									</div>																				
			<div class="review-ratings margin-top1">
              	<div class="row rew-sta-rat">
              		<div class="col s12 m8">
              			<span class="font-size-change2 font600">Ratings and Reviews</span>
              		</div>
              		<div class="col s12 m4">
              			<a href="#write-review" class="modal-trigger white btn black-text" (click)="fetch_review_data()">Rate This Product</a>
              		</div>
              	</div>
              	<div class="row">
              		<div class="col s12 m3 l2 res-cen" *ngIf="all_rating == 0">
              			No Ratings given. 
              		</div>	
              		<div class="col s12 m3 l2 res-cen" *ngIf="all_rating > 0">
              			<span class="font-size-change3 font500" *ngIf="avg_rating.reting">{{(avg_rating.reting | number: '1.2-2').slice(0, -1)}}<i class="material-icons">star</i></span><br/>
              			<span class="font-size-change1 grey-text">{{all_rating}} Ratings &</span><br/>
              			<span class="font-size-change1 grey-text">{{rev_count}} Reviews</span>
              		</div>
              		<div class="col s12 m9 l6">
              			<ul *ngIf="grouped_rating">
              				<li>
              					<a href="javascript:" class="black-text">
              						<div class="row no-margin">
              							<div class="col s1 center no-padding">
              								<span class="font-size-change">5<i class="material-icons">star</i></span>
              							</div>
              							<div class="col s9">
              								<div class="progress">
              									<div class="determinate" [style.width]="(grouped_rating.rate5/all_rating)*100+'%'"></div>
              								</div>
              							</div>
              							<div class="col s2">
              								<span class="font-size-change grey-text">{{grouped_rating.rate5}}</span>
              							</div>
              						</div>
              					</a>
              				</li>
              				<li>
              					<a href="javascript:" class="black-text">
              						<div class="row no-margin">
              							<div class="col s1 center no-padding">
              								<span class="font-size-change">4<i class="material-icons">star</i></span>
              							</div>
              							<div class="col s9">
              								<div class="progress">
              									<div class="determinate" [style.width]="(grouped_rating.rate4/all_rating)*100+'%'"></div>
              								</div>
              							</div>
              							<div class="col s2">
              								<span class="font-size-change grey-text">{{grouped_rating.rate4}}</span>
              							</div>
              						</div>
              					</a>
              				</li>
              				<li>
              					<a href="javascript:" class="black-text">
              						<div class="row no-margin">
              							<div class="col s1 center no-padding">
              								<span class="font-size-change">3<i class="material-icons">star</i></span>
              							</div>
              							<div class="col s9">
              								<div class="progress">
              									<div class="determinate" [style.width]="(grouped_rating.rate3/all_rating)*100+'%'"></div>
              								</div>
              							</div>
              							<div class="col s2">
              								<span class="font-size-change grey-text">{{grouped_rating.rate3}}</span>
              							</div>
              						</div>
              					</a>
              				</li>
              				<li>
              					<a href="javascript:" class="black-text">
              						<div class="row no-margin">
              							<div class="col s1 center no-padding">
              								<span class="font-size-change">2<i class="material-icons">star</i></span>
              							</div>
              							<div class="col s9">
              								<div class="progress">
              									<div class="determinate orange" [style.width]="(grouped_rating.rate2/all_rating)*100+'%'"></div>
              								</div>
              							</div>
              							<div class="col s2">
              								<span class="font-size-change grey-text">{{grouped_rating.rate2}}</span>
              							</div>
              						</div>
              					</a>
              				</li>
              				<li>
              					<a href="javascript:" class="black-text">
              						<div class="row no-margin">
              							<div class="col s1 center no-padding">
              								<span class="font-size-change">1<i class="material-icons">star</i></span>
              							</div>
              							<div class="col s9">
              								<div class="progress">
              									<div class="determinate red" [style.width]="(grouped_rating.rate1/all_rating)*100+'%'"></div>
              								</div>
              							</div>
              							<div class="col s2">
              								<span class="font-size-change grey-text">{{grouped_rating.rate1}}</span>
              							</div>
              						</div>
              					</a>
              				</li>
              			</ul>
              		</div>
              	</div>
              	<div class="review-details">
              		<div class="review-text margin-top border-bottom" *ngFor="let review of reviews">
              			<span class="red white-text" *ngIf="review.reting == 1">{{review.reting}}<i class="material-icons">star</i></span>
              			<span class="orange white-text" *ngIf="review.reting == 2">{{review.reting}}<i class="material-icons">star</i></span>
              			<span class="green white-text" *ngIf="review.reting == 3">{{review.reting}}<i class="material-icons">star</i></span>
              			<span class="green white-text" *ngIf="review.reting == 4">{{review.reting}}<i class="material-icons">star</i></span>
              			<span class="green white-text" *ngIf="review.reting == 5">{{review.reting}}<i class="material-icons">star</i></span>
              			<span class="font-size-change1">{{review.name}}</span>
              			<p class="font-size-change1">{{review.review}}</p>
              		</div>
              		<div class="margin-top" *ngIf="more_display" id="more-display">
              			<a href="javascript:" class="font-size-change1" (click)="load_more_review();">View all Reviews</a>
              		</div>
              	</div>
              </div>
            </div>
          </div>
        </div>
      </section>
 <section class="flash-deal product-review no-padding border-bottom white scrollspy" id="channel-list">
   <div class="container">
    <div class="row no-margin">				
     <div class="col s12 m8 channel-list-box">				
      <div class="channels-accoriadn">
       <div class="center">	
				<h1 class="center font600 text-orange">Available Packs</h1>
				<span class="chip green white-text">Please Select Your Basic Pack</span>
			</div>
			<ul class="collapsible" data-collapsible="expandable">
				<li *ngFor="let packs of channels_packs" class="active">
					<div class="collapsible-header" id="collapse-header-{{packs.id}}">{{packs.title}}<i class="material-icons">keyboard_arrow_down</i></div>
					<div class="collapsible-body">
						<div class="row">
							<div class="col s12 m4" *ngFor="let item of packs.child">
							<div *ngIf="packs.title.includes('FTA') || packs.title.includes('All-India') || packs.title.includes('Airtel Internet Tv') ; then activeblock else noactiveblock"></div>
							<ng-template #activeblock>
								<div class="card">
									<div class="card-content center">
										<span class="when-check" id="check-pack-{{item.id}}"><i class="material-icons">check_circle</i></span>
										<h4 class="grey-text">{{item.title}}</h4>
										<span class="card-title"><i class="icon-inr"></i> {{item.price}} / <small>Month</small></span>
										<span class="font-size-change1" [innerHTML] = "remove_new_line(item.short_description)"></span>
										<a [routerLink]="['/product/channel-pack/'+item.id]" target="_blank" class="font-size-change1 chng-set modal-trigger" (click)="fetch_channels(item)">Channels</a>
									</div>
								</div>
								</ng-template>
								<ng-template #noactiveblock>
								<div class="card" >
									<div class="card-content center" >
										<span class="when-check grey-text" id="check-pack-{{item.id}}" (click)="select_pack(item)"><i class="material-icons">check_circle</i></span>
										<h4 class="grey-text">{{item.title}}</h4>
										<span class="card-title"><i class="icon-inr"></i> {{item.price}} / <small>Month</small></span>
										<span class="font-size-change1" [innerHTML] = "remove_new_line(item.short_description)"></span>
										<span *ngIf="item.is_active == 1"><a [routerLink]="['/product/channel-pack/'+item.id]" target="_blank" class="font-size-change1 chng-set modal-trigger" (click)="fetch_channels(item)">Channels</a></span>
										<span *ngIf="item.is_active == 0"><a href="#channel-list-modal" class="font-size-change1 chng-set modal-trigger">Channels</a></span>
									</div>
								</div>
							</ng-template>
							</div>
						</div>
					</div>
				</li>
			</ul>
 <p>*MYDTHSHOP Not Responsible If any Changes Will Be There Regarding the Channels</p>
</div>
</div>
<div class="col s12 m4 order-summary ord-mar">
	<div class="card">
		<div class="card-content black-text no-padding">
			<span class="card-title inline-block">Order Summary</span>
			<hr>
			<div>
				<div class="subtotal">
					<div *ngIf="product && ( kit == 2 || kit == 3) ; then kitblock else nokitblock"></div>
					<p class="inline-block font600">Product :</p>
					<ng-template #kitblock>
						<p class="inline-block right font-size-change green-text" *ngIf="product && kit == 2"> <i class="icon-inr"></i> {{product.offer_price}}</p>
						<p class="inline-block right font-size-change green-text" *ngIf="product && kit == 3"> <i class="icon-inr"></i> {{product.price - 1000}}</p>
					</ng-template>
					<ng-template #nokitblock>
						<p class="inline-block right font-size-change green-text" *ngIf="product"> <i class="icon-inr"></i> {{product.offer_price}}</p>
					</ng-template>
					
				</div>
				<div class="subtotal" *ngFor="let item of pack_selected;">
					<p class="inline-block font600">{{item.title}} :</p>
					<p class="inline-block green-text right font-size-change"> <i class="icon-inr"></i> {{item.price}} </p>
				</div>
				<div class="subtotal" *ngIf="this.product && this.product.promos">
					<p class="inline-block font600">Congrates! Promocode {{promos.unique_code}} is applied  :</p>
					<p class="inline-block green-text right font-size-change" *ngIf="promos.amount_calc_type == 0"> <i class="icon-inr"></i> -{{promos.discount}} </p>
					<p class="inline-block green-text right font-size-change" *ngIf="promos.amount_calc_type == 1"> <i class="icon-inr"></i> -{{item.discount * product.offer_price}} </p>
				</div>
			</div>
			<hr class="horizontal">
			<div class="subtotal payable margin-top">
				<p class="inline-block font600">Amount Payable :</p>
				<p class="inline-block right font-size-change"> <i class="icon-inr"></i> {{calculate_amount() }}</p>
			</div>
			<hr>
			<div class="subtotal inline-block">
				<p class="inline-block green-text font600">Including All GST &amp; Taxes</p>
			</div>
			<div class="subtotal inline-block">
				<a href="javasript:" class="btn orange" (click)="buyNow(product.id)">Checkout</a>
			</div>				
		</div>
	</div>
</div>
</div>
</div>
</section>
<!-- Modal Structure -->
<div id="review" class="modal">
 <div class="modal-content no-padding" *ngIf="display == 1">
  <div class="border-bottom padd-right-left1 center">
   <h4 class="no-margin">{{product.title}} Review</h4>
   <span class="modal-close close-btn"><i class="material-icons font-size-change2">close</i></span>
 </div>
 <div class="review-written margin-top">
   <div class="row" *ngFor="let review of reviews;">
    <div class="col s12 m2 center">
     <img src="{{this.todoservice.base_url}}assets/images/av.png" class="responsive-img vertical-align-middle" alt="User">
     <br>

     <span class="font-size-change" *ngIf="review.reting <=1"><i class="material-icons orange-text">star</i></span>
     <span class="font-size-change" *ngIf="review.reting <=2"><i class="material-icons orange-text">star</i></span>
     <span class="font-size-change" *ngIf="review.reting <=3"><i class="material-icons orange-text">star</i></span>
     <span class="font-size-change" *ngIf="review.reting <=4"><i class="material-icons orange-text">star</i></span>
     <span class="font-size-change" *ngIf="review.reting <=5"><i class="material-icons orange-text">star</i></span>
   </div>
   <div class="col s12 m10 margin-top">
     <span class="font-size-change font600">{{review.name}}</span>
     <p>{{review.review}}</p>
   </div>
 </div>
</div>
</div>
</div>
<!-- write-review Modal Structure -->
<div id="write-review" class="modal">
 <form #reviewform = "ngForm" (ngSubmit)="review_submit(reviewform.value,0)">
  <div class="modal-content no-padding">
   <div class="border-bottom padd-right-left1 center">
    <h4 class="no-margin" *ngIf="rating == 0">OOps!</h4>
    <h4 class="no-margin" *ngIf="rating == 1">Write a Review</h4>
    <span class="modal-close close-btn"><i class="material-icons font-size-change2">close</i></span>
  </div>
  <div class="review-written padd margin-top" *ngIf="rating == 0">You Are Not Allowed to rate this product.</div>
  <div class="review-written padd margin-top" *ngIf="rating == 1">
    <!-- Rating Stars Box -->
    <div class='rating-stars inline-block text-center' *ngIf="product">
     <input type="hidden" name="product_id" [(ngModel)]="product.id" value="product.id">  
     <ul id='stars'>
      <li [className]="(rate_data.reting >=1) ? 'selected star' : 'star'" title='Poor' data-value='1' (click)="review_submit({},1)">
       <i class="material-icons">star</i>
     </li>
     <li [className]="(rate_data.reting >=2) ? 'selected star' : 'star'" title='Fair' data-value='2' (click)="review_submit({},2)">
       <i class="material-icons">star</i>
     </li>
     <li [className]="(rate_data.reting >=3) ? 'selected star' : 'star'" title='Good' data-value='3' (click)="review_submit({},3)">
       <i class="material-icons">star</i>
     </li>
     <li [className]="(rate_data.reting >=4) ? 'selected star' : 'star'" title='Excellent' data-value='4' (click)="review_submit({},4)">
       <i class="material-icons">star</i>
     </li>
     <li [className]="(rate_data.reting >=5) ? 'selected star' : 'star'" title='WOW!!!' data-value='5' (click)="review_submit({},4)">
       <i class="material-icons">star</i>
     </li>
   </ul>
 </div>			  
 <div class='success-box inline-block'>
   <div class='clearfix'></div>
   <div class='text-message' *ngIf="rate_data.reting == 1">Very Bad</div>
   <div class='text-message' *ngIf="rate_data.reting == 2">Bad</div>
   <div class='text-message' *ngIf="rate_data.reting == 3">Good</div>
   <div class='text-message' *ngIf="rate_data.reting == 4">Very Good</div>
   <div class='text-message' *ngIf="rate_data.reting == 5">Excellent</div>
   <div class='clearfix'></div>
 </div>
 <div class="row" *ngIf="rating == 1">
   <div class="input-field">
    <textarea id="textarea1" class="materialize-textarea" name="review_desc" [(ngModel)]="rate_data.review">{{rate_data.review}}</textarea>
    <label for="textarea1" [className]="(rate_data.review !='') ? 'active' : ''">Write Your Review</label>
  </div>
</div>
</div>
</div>
<div class="modal-footer orange center no-box-shadow" *ngIf="rating == 1">
 <button type="submit" class="modal-action white-text font-size-change btn-flat modal-close" *ngIf="rate_data.review == ''">Submit Review</button>
 <button type="submit" class="modal-action white-text font-size-change btn-flat modal-close" *ngIf="rate_data.review != ''">Update Review</button>
</div>
</form>
</div>


<div id="tata-sky-modal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Choose Set Up Box </h4>
		<div class="row" *ngIf="product_list">
			<div class="col s6 m3" *ngFor="let item of product_list">
				<a href="javascript:" class="black-text" (click)="continue_to_change(item.url)">
					<div class="card choose-set-up-box center">
						<div class="card-image">
							<img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-img" alt="{{item.title}}">
						</div>
						<div class="card-content">
							<span>{{item.title}}</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row" *ngIf="!product_list">
			Loading Products
		</div>
		
	</div>
	<div class="modal-footer">
		<a href="javascript:" class="modal-action btn red modal-close">Close</a>
	</div>
</div>
	<style>
		.cdk-overlay-container {
			z-index: 99999!important;
		}
		</style>
<div id="chng-set-to-box" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>Change Set Top Box</h4>
		<div class="row">
			<div class="col s12 m6">
				<mat-form-field>
					<mat-select placeholder="Select Operator" (change)="category_selected($event.value)">
						<span *ngFor="let item of product_category_list;">
							<mat-option [value]="item.id">
								<span class="operator-name">{{ item.title }}</span>
							</mat-option>
						</span> 
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col s12 m6" >
				<mat-form-field>
					<mat-select placeholder="Select Product" (change)="continue_to_change($event.value)">
						<span *ngFor="let item of product_list;">
							<mat-option [value]="item.url">
								<span class="operator-name">{{ item.title }}</span>
							</mat-option>
						</span> 
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="javascript:" class="modal-action btn orange modal-close">Cancel</a>
	</div>
</div>
<div class="religon-overlay" *ngIf="circles"> 
		<div class="religon-modal" >
			<h3 class="center">Select Region</h3>
		<div *ngFor="let item of circles;let i = index">
			<div class="chip" *ngIf="i < 5">
				<a href="javascript:" class="black-text btn-contu" (click)="circle_selected(item.circle_id)">{{item.name}}</a>
				</div>
			<div class="chip more" *ngIf="i == 5">
				<a href="javascript:" class="black-text">More <i class="close material-icons">keyboard_arrow_down</i></a>
			</div>
			<div class="chip hide" *ngIf="i >= 5">
			<a href="javascript:" class="black-text btn-contu"(click)="circle_selected(item.circle_id)">{{item.name}}</a>
			</div>
		</div>	
		
		</div>
	</div>
<app-footer></app-footer>