<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	  bdColor="rgba(255,255,255,1)"
	  size="default"
	  color="#ec9737"
	  loadingText="Loading..."
	  type="ball-clip-rotate">
	</ngx-spinner>
</div>

<header class="navigation navior1">
    <div class="container center">
        <nav>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="mar center no-margin inline-block">
            <li><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:1}" target="_blank">Tata Sky</a></li>
            <li><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:2}" target="_blank">Videocon</a></li>
            <li><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:3}" target="_blank">Airtel</a></li>
            <li><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:4}" target="_blank">Dish Tv</a></li>
            <li><a [routerLink]="['/p/contact-us/jio-query']" target="_blank">Jio Dth</a></li>
            <!-- <li><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:1}" target="_blank">Free To Air</a></li>
            <li><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:4}" target="_blank">DTH Remote</a></li>
            <li><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:1}" target="_blank">Big Tv</a></li>
            <li><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:1}" target="_blank">Sun Direct</a></li> -->
            
          </ul>
        </div>
      </nav>            
    </div>
</header>
<div class="page-wrapper grey lighten-3">
<section class="no-padding grey lighten-2 beard">
    <div class="container">
        <div class="row no-margin">
            <div class="col s12">
                <nav>
                <div class="nav-wrapper">
                  <div class="col s12">
                    <a href="javascript:" routerLink="/home" class="breadcrumb black-text">Home</a>
                    <a class="breadcrumb black-text" *ngIf="data.cat_id==''">Products</a>
                    <a class="breadcrumb black-text" *ngIf="checked_filter.is_tatasky">Tata Sky</a>
                    <a class="breadcrumb black-text" *ngIf="checked_filter.is_videocon">Videocon</a>
                    <a class="breadcrumb black-text" *ngIf="checked_filter.is_airtel">Airtel</a>
                    <a class="breadcrumb black-text" *ngIf="checked_filter.is_dth">Dish TV</a>
                  </div>
                </div>
              </nav>
            </div>
        </div>
    </div>
</section>
<!-- Flash Deal section -->
<section class="flash-deal">
    <div class="container">
        <div class="row no-margin">
            <div class="col s12 m4 l3 check-box-chng">
                <div class="card no-box-shadow no-margin">
                    <div class="card-content inline-block full-width" >
                        <div id="brand-category">
                        <span class="font-size-change">Brand</span>
                        <ul>
                            <li>
                                <input type="checkbox" id="tata" [checked]="checked_filter.is_tatasky" (change)="filter_cat()" value="1"/>
                                <label for="tata" class="font-size-change black-text">Tata Sky</label>
                            </li>
                      <li>
                            <input type="checkbox" id="dish" [checked]="checked_filter.is_dth" (change)="filter_cat()" value="4"/>
                          <label for="dish" class="font-size-change black-text">Dish Tv</label>
                      </li>
                      <li>
                        <input type="checkbox" id="videocon" [checked]="checked_filter.is_videocon" (change)="filter_cat()" value="2"/>
                        <label for="videocon" class="font-size-change black-text">Videocon</label>
                      </li>
                      <li>
                        <input type="checkbox" id="airtel" [checked]="checked_filter.is_airtel" (change)="filter_cat()" value="3"/>
                        <label for="airtel" class="font-size-change black-text">Airtel</label>
                      </li>
                      <li>
                            <input type="checkbox" id="sun" [checked]="checked_filter.is_sundirect" (change)="filter_cat()" value="241"/>
                          <label for="sun" class="font-size-change black-text">Sun Direct</label>
                      </li>
                      <li>
                            <input type="checkbox" id="big" [checked]="checked_filter.is_bigtv" (change)="filter_cat()" value="210"/>
                          <label for="big" class="font-size-change black-text">Big TV</label>
                      </li>
                      <li>
                            <input type="checkbox" id="air" [checked]="checked_filter.is_air" (change)="filter_cat()" value="138"/>
                          <label for="air" class="font-size-change black-text">Free To Air</label>
                      </li>
                        <li>
                            <input type="checkbox" id="air" [checked]="checked_filter.is_jio" (change)="filter_cat()" value="49"/>
                            <label for="air" class="font-size-change black-text">JIO DTH</label>
                        </li>
                        </ul>
                        </div>
                        <div id="box-type">
                        <span class="font-size-change">Box Type</span>
                        <ul>
                            <li>
                                <input type="checkbox" id="primary" [checked]="checked_quality.is_primary" value="primary" (change)="filter_cat()"/>
                                <label for="primary" class="font-size-change black-text">Primary</label>
                            </li>
                            <li>
                                <input type="checkbox" id="secondary" [checked]="checked_quality.is_secondary" value="secondary" (change)="filter_cat()"/>
                                <label for="secondary" class="font-size-change black-text">Secondary</label>
                            </li>
                        </ul>
                        </div>
                        <div id="video-quality">
                        <span class="font-size-change">Video Streaming Quality</span>
                        <ul>
                            <li>
                                <input type="checkbox" id="sd" [checked]="checked_str_quality.is_sd" value="sd" (change)="filter_cat()" />
                                <label for="sd" class="font-size-change black-text">Standard</label>
                            </li>
                            <li>
                                <input type="checkbox" id="hd" [checked]="checked_str_quality.is_hd" value="hd" (change)="filter_cat()"/>
                                <label for="hd" class="font-size-change black-text">HD(High Defination)</label>
                            </li>
                            <li>
                                <input type="checkbox" id="4k" [checked]="checked_str_quality.is_4k" value="4k" (change)="filter_cat()"/>
                                <label for="4k" class="font-size-change black-text">4K</label>
                            </li>
                        </ul>
                        </div>
                        <div id="package-type">
                        <span class="font-size-change">Package Type</span>
                        <ul>
                            <li>
                                <input type="checkbox" id="montly" [checked]="checked_package.monthly" value="month" (change)="filter_cat()"/>
                                <label for="montly" class="font-size-change black-text">Monthly</label>
                            </li>
                            <li>
                                <input type="checkbox" id="yearly" [checked]="checked_package.yearly" value="year" (change)="filter_cat()"/>
                                <label for="yearly" class="font-size-change black-text">Yearly</label>
                            </li>
                        </ul>
                        </div>
                        <span class="font-size-change">Cash On Delivery (COD)</span>
                        <ul>
                            <li>
                                <input type="checkbox" id="cod" [checked]="checked_filter.is_cod"/>
                          <label for="cod" class="font-size-change black-text">Cash On Delivery Products</label>
                      </li>
                        </ul>
                        <span class="font-size-change">Free Shipping</span>
                        <ul>
                            <li>
                                <input type="checkbox" id="free" [checked]="checked_filter.is_freeship"/>
                          <label for="free" class="font-size-change black-text">Products for Free Shipping</label>
                      </li>
                        </ul>
                        <span class="font-size-change">Hot Products</span>
                        <ul>
                            <li>
                                <input type="checkbox" id="hot" [checked]="checked_filter.is_hot_sale"/>
                          <label for="hot" class="font-size-change black-text">Hot Products Sale</label>
                      </li>
                        </ul>
                        <span class="font-size-change">Best Selling</span>
                        <ul>
                            <li>
                                <input type="checkbox" id="selling" [checked]="checked_filter.is_best_sell"/>
                          <label for="selling" class="font-size-change black-text">Best Selling Products</label>
                      </li>
                        </ul>
                        <span class="font-size-change">Accessories</span>
                        <ul>
                        <li>
                            <input type="checkbox" id="remotes" [checked]="checked_filter.is_remotes"/>
                            <label for="remotes" class="font-size-change black-text">Dth Remotes</label>
                      </li>
                      
                        </ul>
                    </div>
                    </div>
                    <!-- <ul class="slider-12 margin-top1">
                        <li><img src="https://mydthshop.com/web-app/assets/images/banner/3.jpg" class="responsive-img" alt="Images"></li>
                        <li><img src="https://mydthshop.com/web-app/assets/images/banner/airtel1.jpg" class="responsive-img" alt="Images"></li>
                        <li><img src="https://mydthshop.com/web-app/assets/images/banner/videocon1.jpg" class="responsive-img" alt="Images"></li>
                    </ul> -->
            </div>
            <div class="col s12 m8 l9 pagngiune">	
							<div class="col s12">		
                <div class="search-sort no-margin card-panel no-box-shadow">
                    <span class="inline-block">{{product_counts}} Products</span>
                    <div class="right min-margin margin-left">
                        <span class="inline-block">Sort By: &nbsp;</span>
                        <form class="inline-block">								
                          <div class="input-field no-margin">
                            <select>
                              <option value="" disabled selected>Default</option>
                              <option value="1">Relevance</option>
                              <option value="2">Popularity</option>
                              <option value="3">Price ~ Low to High</option>
                              <option value="3">Price ~ High to Low</option>
                              <option value="3">Newest First</option>
                            </select>
                          </div>
                        </form>
										</div>				
										</div>		
                </div>
                <div class="row no-margin">
									<div class="col s12 m4 image-size-chng"  *ngFor="let product of products | paginate: { id: 'server', itemsPerPage: this.todoservice.page_per_items(), currentPage: p, totalItems: product_counts };">
                    <div class="card no-box-shadow">
											<div class="card-image">
												<img src="https://mydthshop.com/media/uploads/products/{{product.image}}" class="responsive-img" alt="hd-tata-sky">
											</div>
                        <div class="card-content">
													<h5 class="font600">{{product.title}}</h5>
                                <span class="font-size-change2 black-text"> <small class="grey-text price-cut font-size-change1"> <i class="icon-inr"></i>{{product.price}}</small>&nbsp; <i class="icon-inr"></i> {{product.offer_price}} <p class="no-margin green-text1 inline-block font-size-change">{{(product.price-product.offer_price)*100/product.price | number : '1.2-2'}}% Off</p></span>&nbsp; <span class="green white-text stars ng-star-inserted">4.0 <i class="material-icons">star </i></span>
                                <!-- <p class="margin-top font-size-change1">{{product.shortDescription}}</p> -->
                                <p class="font-size-change green-text1 font600 margin-top" *ngIf="this.todoservice.get_user_type() == 2 && product.partnerwalletamount > 0">Cashback : <i class="icon-inr"></i>{{product.partnerwalletamount}}</p>
                                <p class="font-size-change green-text1 font600 margin-top" *ngIf="this.todoservice.get_user_type() != 2 && product.productwalletamount > 0">Cashback : <i class="icon-inr"></i>{{product.productwalletamount}}</p>
                                
												</div>
												<div class="card-action padd center">
													<a href="javascript:" [routerLink]="['/product/'+product.urlKey.trim()]" class="white-text btn orange">View Detail</a>
													<a href="javascript:" [routerLink]="['/product/'+product.urlKey.trim()]" class="white-text btn red">Buy Now</a>
												</div>
											</div>
                    </div>	
                </div>
                <div class="col s12 white">
                    <div class="has-text-centered right-align">
                        <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
