<app-header></app-header>
<div class="spinner-wrapper">
  <ngx-spinner
  bdColor="rgba(255,255,255,1)"
  size="default"
  color="#ec9737"
  loadingText="Loading..."
  type="ball-clip-rotate">
</ngx-spinner>
</div>
<section class="hero">
  <div class="container">
    <h2 class="center font600 white-text margin-top">FAQS</h2>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class="col s12 m3">
      <div class="card side-nav-faqs grey lighten-2">
        <div class="card-content">
            <span class="card-title center">Category</span>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header active">How to start retaling in mydthshop <i class="material-icons">
                keyboard_arrow_right</i></div>
              <div class="collapsible-body">
                <ul>
                  <li><a href="javascript:void(0);">First One</a></li>
                  <li><a href="javascript:void(0);">First One</a></li>
                  <li><a href="javascript:void(0);">First One</a></li>
                  <li><a href="javascript:void(0);">First One</a></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header active">How to start retaling in mydthshop <i class="material-icons">
                keyboard_arrow_right</i></div>
              <div class="collapsible-body">
                <ul>
                  <li><a href="javascript:void(0);">First One</a></li>
                  <li><a href="javascript:void(0);">First One</a></li>
                  <li><a href="javascript:void(0);">First One</a></li>
                  <li><a href="javascript:void(0);">First One</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6 margin-top faq1">
      <h3 class="center font600">Frequently Asked Questions</h3>
      <ul class="collapsible no-box-shadow" data-collapsible="accordion">
        <li class="search-accordin relative">
          <input placeholder="Search Your Answer" id="first_name" type="text" class="validate">
          <button type="Submit" class="btn-flat"><i class="material-icons orange-text font-size-change2">search</i></button>
        </li>
        <div class="faqs-text">
          <h2>How to start retaling in mydthshop</h2>
          <hr>
          <p></p>
        </div>
        <!-- <li class="faq">
          <div class="collapsible-header"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span><a href="javascript:" class="btn">Show Answer</a></div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
          </div>
        </li>
        <li class="faq">
          <div class="collapsible-header"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span><a href="javascript:" class="btn">Show Answer</a></div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
          </div>
        </li>
        <li class="faq">
          <div class="collapsible-header"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span><a href="javascript:" class="btn">Show Answer</a></div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
          </div>
        </li>
        <li class="faq">
          <div class="collapsible-header"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span><a href="javascript:" class="btn">Show Answer</a></div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
          </div>
        </li> -->
      </ul>
    </div>
    <div class="col s12 m3 ask-question">
      <div class="card grey lighten-2">
        <div class="card-content grey lighten-2 center">
          <span class="card-title">Ask Your Questions</span>
          <form id="contact-form" [formGroup]="faqsgroup" #faqsform = "ngForm" (ngSubmit)="faqs_submit(faqsform.value)">
            <div class="row no-margin">
              <div class="input-field col s12">
                <input id="name" type="text" class="validate" formControlName="name">
                <label for="name">Name*</label>
                <div class="red-text accent-4 center" *ngIf="!faqsgroup.controls['name'].valid && faqsgroup.controls['name'].touched">Enter Name*.</div>
              </div>
              <div class="input-field col s12">
                <input id="memail" type="email" class="validate" formControlName="email">
                <label for="email">Email*</label>
                <div class="red-text accent-4 center" *ngIf="!faqsgroup.controls['email'].valid && faqsgroup.controls['email'].touched">Enter Valid Email*.</div>
              </div>
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" formControlName="message"></textarea>
                <label for="textarea1">Type Your Question*</label>
                <div class="red-text accent-4 center" *ngIf="!faqsgroup.controls['message'].valid && faqsgroup.controls['message'].touched">Enter Query*.</div>
              </div>
              <div class="col s12 center">
                <button type="Submit" class="btn orange" [disabled]="!faqsgroup.valid">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container thank-you-page" style="width: 95%; max-width: 1300px;">
	<div class="row">
		<div class="col s12 m10 l6 offset-l3" style="margin-left: 25%; width: 50%;">
			<div class="card" style="background-color: #eae6c1 !important; position: relative;
      margin: .5rem 0 1rem 0; transition: box-shadow .25s; border-radius: 2px; box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, .08) !important;">
        <div class="card-content" style="padding: 24px; border-radius: 0 0 2px 2px; background-color: #eae6c1 !important;">
    		  <div class="logo-email center" style="text-align: center !important;">
    		  	<img src="https://mydthshop.com/web-app/assets/images/logo.png" class="responive-img" alt="mydthshop">
    		  </div>
          <h3 class="margin-top1 center" style="margin-top: 2rem !important; text-align: center;">
          	<span class="t" style="background-color: #f1674b; color:#fff; width: 50px; height: 50px; line-height: 50px; display: inline-block; text-align: center; border: 1px solid transparent; border-radius: 50%;">T</span>
        		<span class="h" style="background-color: #205388; color:#fff; width: 50px; height: 50px; line-height: 50px; display: inline-block; text-align: center; border: 1px solid transparent; border-radius: 50%;">H</span>
      			<span class="a" style="background-color: #76c1e9; color:#fff; width: 50px; height: 50px; line-height: 50px; display: inline-block; text-align: center; border: 1px solid transparent; border-radius: 50%;">A</span>
    	  		<span class="n" style="background-color: #f1674b; color:#fff; width: 50px; height: 50px; line-height: 50px; display: inline-block; text-align: center; border: 1px solid transparent; border-radius: 50%;">N</span>
        		<span class="k" style="background-color: #205388; color:#fff; width: 50px; height: 50px; line-height: 50px; display: inline-block; text-align: center; border: 1px solid transparent; border-radius: 50%;">K</span><br>
        		<span class="s" style="background-color: #76c1e9; color: #f1674b; margin-top: 5px; width: 50px; height: 50px; line-height: 50px; display: inline-block; text-align: center; border: 1px solid transparent; border-radius: 50%;">&#9733;</span>
      		 	<span class="y" style="background-color: #f1674b; color: #fff; margin-top: 5px; width: 50px; height: 50px; line-height: 50px; display: inline-block; text-align: center; border: 1px solid transparent; border-radius: 50%;">Y</span>
    			  <span class="o" style="background-color: #205388; color: #fff; margin-top: 5px; width: 50px; height: 50px; line-height: 50px; display: inline-block; text-align: center; border: 1px solid transparent; border-radius: 50%;">O</span>
      		 	<span class="u" style="background-color: #76c1e9; color: #fff; margin-top: 5px; width: 50px; height: 50px; line-height: 50px; display: inline-block; text-align: center; border: 1px solid transparent; border-radius: 50%;">U</span>
        		<span class="r">&#9733;</span>
    		  </h3>
    		  <p class="margin-top1" style="margin-top: 2rem; line-height: 140%; font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    		  <p class="margin-top" style="margin-top: 1.5rem; line-height: 140%; font-size: 12px;">For any queries or assistance, please contact us a <a href="maito:" style="color: #039be5; text-decoration:none; font-size: 12px;">help@mydthshop.com</a></p>
    		  <p class="margin-top1" style="margin-top: 2rem; line-height: 140%; font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    		  <p class="margin-top" style="margin-top: 1.5rem; line-height: 140%; font-size: 12px;">Best Regards</p>
    		  <span>Team Mydthshop</span><br>
    		  <a href="https://www.mydthshop.com/" target="_blank" style="color: #039be5; text-decoration:none; font-size: 12px;">https://www.mydthshop.com</a>
    		  <p class="margin-top" style="margin-top: 1.5rem; line-height: 140%; font-size: 12px;"><span class="font600" style="font-weight: 600;">Security Alert</span> - on the off chance that you get a suspicious mail from anybody professing to be a customer of Mydthshop, requesting your own data or some cash by claiming to offer you an occupation kindly don't react to such sends and convey it to the quick notice of mydthshop.com by keeping in touch with us at help@mydthshop.com. It would be ideal if you take note of that such offers/messages are an infringement of our Terms and Conditions, and mydthshop.com does not support such correspondence with competitors.</p>
        </div>
      </div>
		</div>
	</div>
</section>
<app-footer></app-footer>