<link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans" rel="stylesheet">
<app-header></app-header>
<div class="spinner-wrapper">
  <ngx-spinner
  bdColor="rgba(255,255,255,1)"
  size="default"
  color="#ec9737"
  loadingText="Loading..."
  type="ball-clip-rotate">
</ngx-spinner>
</div>
<section class="slider-section no-padding"><img src="https://mydthshop.com/web-app/assets/images/marchant.jpg" class="responsive-img" alt="marchant"></section>
<section class="grey lighten-4 paad-new">
  <div class="container ">
    <h4 class="center text-uppercase font600 why">Why Merchant on MyDthShop?</h4>
    <div class="row margin-top1">
      <div class="col s12 m3 center">
        <img src="https://mydthshop.com/web-app/assets/images/three-group-icon4.png" class="responsive-img" alt="three-group-icon4">
        <hr class="hori-new">
        <p>Thousand of clients and organizations over the India</p>
      </div>
      <div class="col s12 m3 center">
        <img src="https://mydthshop.com/web-app/assets/images/delivery-package.png" class="responsive-img" alt="three-group-icon4">
        <hr class="hori-new">
        <p>Quick and Stress free Shipping</p>
      </div>
      <div class="col s12 m3 center">
        <img src="https://mydthshop.com/web-app/assets/images/crm.png" class="responsive-img" alt="three-group-icon4">
        <hr class="hori-new">
        <p>Complete CRM (Customer relationship management) Software System.</p>
      </div>
      <div class="col s12 m3 center">
        <img src="https://mydthshop.com/web-app/assets/images/login.png" class="responsive-img" alt="three-group-icon4">
        <hr class="hori-new">
        <p>Secure and Timely Payments</p>
      </div>
    </div>
  </div>
</section>
<section class="sell-on-my paad-new">
  <div class="container">
    <h4 class="center text-uppercase font600 why">Benefits To Merchant On Mydthshop</h4>			
    <div class="row margin-top1">
      <div class="col s12 m7">
        <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col s12 m5">
        <img src="https://mydthshop.com/web-app/assets/images/marchant.jpg" class="responsive-img" alt="seller-gif">
      </div>
    </div>								
    <div class="center">
      <a href="javascript:void(0);" class="btn-large orange white-text">Register Now <i class="fa fa-angle-double-right vertical	-align-middle right" aria-hidden="true"></i></a>
    </div>
  </div>
</section>
<section class="middle-part margin-top orange lighten-3 paad-new">
  <div class="container center">
    <h4 class="center text-uppercase font600 why1">Growing business online in simple 4 steps</h4>			
    <img src="https://mydthshop.com/web-app/assets/images/seller-steps.png" class="responsive-img margin-top1" alt="seller-steps">
  </div>
</section>
<section class="middle-part margin-top paad-new white">
  <div class="container">
    <h4 class="center text-uppercase font600 why">Register Here!</h4>		
    <div class="row">
      <div class="col s12">
        <form>
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="first_name" name="name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="email" name="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>            
            <div class="input-field col s12 m6">
              <input id="phone" name="phone" type="number" class="validate">
              <label for="phone">Phone No.</label>
            </div>                        
            <div class="input-field col s12 m6">
              <input id="company-name" name="company-name" type="text" class="validate">
              <label for="company-name">Company Name</label>
            </div>                                    
            <div class="input-field col s12 m6">
              <input id="company-address" name="company-address" type="text" class="validate">
              <label for="company-address">Company Address</label>
            </div>                                    
            <div class="input-field col s12 m6">
              <input id="company-phone" name="company-phone" type="number" class="validate">
              <label for="company-phone">Company Phone No.</label>
            </div>            
            <div class="input-field col s12">
              <input id="home-address" name="home-address" type="text" class="validate">
              <label for="home-address">Home Address</label>
            </div>
            <div class="center col s12">
              <button type="submit" class="btn-large orange white-text">Register Now <i class="fa fa-angle-double-right vertical	-align-middle right" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>