<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,0.8)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>
</div>
<div class="wrapper">	
	<h1 id="page-content"></h1>
	<div id="canvas"></div>
	<div class="row no-margin">
	<div class="fifty col s12 m6 offset-m3">
		<span class="mail" id="page-shortcontent"></span>
		<form [formGroup]="usergroup" class="margin-top sec-7" #userinfoform = "ngForm" (ngSubmit)="user_submit(userinfoform.value)">
			<input type="text" formControlName="name" class="formStyle" placeholder="Enter You Name (required)" required />
			<div class="red-text accent-4" *ngIf="!usergroup.controls['name'].valid && usergroup.controls['name'].touched">Enter Name*.</div>
			<input type="tel" formControlName="phone" class="formStyle" placeholder="Enter Your Mobile No.  (required)" required />
			<div class="red-text accent-4" *ngIf="!usergroup.controls['phone'].valid && usergroup.controls['phone'].touched">Enter Phone Number*.</div>
			<input type="email" formControlName="email" class="formStyle" placeholder="Enter Your Email (Required)" required />
			<div class="red-text accent-4" *ngIf="!usergroup.controls['email'].valid && usergroup.controls['email'].touched">Enter Email*.</div>
			<button type="submit" class="formButton">Subscribe</button>
		</form>
	</div>
	</div>
</div>