<app-header></app-header>
<div class="spinner-wrapper">
        <ngx-spinner
          bdColor="rgba(255,255,255,0.8)"
          size="default"
          color="#ec9737"
          loadingText="Loading..."
          type="ball-clip-rotate">
        </ngx-spinner>
    </div>
	<!-- End Here -->
	<section class="hero">
		<div class="container"> 
			<h2 class="center font600 white-text margin-top" *ngIf="this.todoservice.get_page()">{{this.todoservice.get_page().title}}</h2>
		</div>
	</section>
	<section class="about-us-pages">
	<div class="container" >
		<div class="row">  
			<div class="col s12" id="page-content">
			</div>
		</div>
  </div>
  </section>
  <app-footer></app-footer>