

<!-- Footer Start Here -->


<div class="mobile-footer">
	<ul>
		<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/p/accounts/merchant-on-mydthshop">Merchant On Mydth</a></li>
		<li routerLinkActive="active"><a routerLink="/p/accounts/partner-on-mydthshop">Partner On Mydth</a></li>
		<li routerLinkActive="active"><a routerLink="/blog/all">Blogs</a></li>
		<li routerLinkActive="active"><a routerLink="/p/24-7">24x7 Support</a></li>
	</ul>
</div>


<footer class="footer grey lighten-5 border-on-top">
	<section class="white no-padding border-bottom" id="footer-content">
	</section>
	<section class="details1 desktop-footer">
		<div class="container">
			<div class="row border-bottom">
				<div class="col s12 m3 l3">
					<span class="font600 font-size-change white-text">NEWSLETTER</span>
					<ul>
						<li><span class="white-text">Sign Upto get daily email post update of Mydthshop Enter your Email id </span></li>
						<li class="news-form">
							<form #newsletterform = "ngForm" (ngSubmit)="subscribe_newsletters(newsletterform.value)">
								<div class="row no-margin">
								<div class="input-field col s10 no-padding">
									<input placeholder="Use@gmail.com" id="email" type="email" name="email" class="validate" ngModel>
								</div>
								<div class="input-field col s2 no-padding">
									<button type="submit" class="btn-flat orange waves-effect"><i class="material-icons white-text">send</i></button>
								</div>
								</div> 
							</form>
					</li>
					</ul>
				</div>
				<div class="col s12 m3 l3">
					<span class="font600 font-size-change white-text">PARTNERSHIP PROGRAMS</span>
					<ul>
						<li class="padd-right-left"><a class="white-text" [routerLink]="['/p/accounts/merchant-on-mydthshop']" target="_blank">Merchant On Mydth</a></li>
						<li class="padd-right-left"><a class="white-text" [routerLink]="['/p/accounts/partner-on-mydthshop']" target="_blank">Patrner on Mydth</a></li>
					</ul>
				</div>
				<div class="col s12 m3 l3">
					<span class="font600 font-size-change white-text">HELPLINE</span>
					<ul>							
						<li class="padd-right-left"><a href="tel:8010339339" class="white-text">+91-8010339339</a></li>
						<li class="padd-right-left"><a href="mailto:help@mydthshop.com" class="white-text">help@mydthshop.com</a></li>
						<li class="padd-right-left"><a routerLink="/help/faqs" class="white-text">FAQ</a></li>
					</ul>
				</div>
				<div class="col s12 m3 l3">
					<span class="font600 font-size-change white-text">SECURITY</span>
					<ul>
						<li><span class="white-text">We give 100% purchase protection to our customers </span></li>
						<li class="news-form">
							<img src="{{this.todoservice.base_url}}assets/images/banner/ssl.png" class="responsive-img" alt="SSL">
					</li>
					</ul>
				</div>
			</div>
			<div class="row margin-top footer-register">
				<!-- <div class="col s12 m3 l2">
					<span class="font600 font-size-change white-text">REGISTERED ADDRESS</span>
					<ul>							
						<li class="padd-right-left"><span class="white-text">MyDthShop</span></li>
						<li class="padd-right-left"><span class="white-text">Libanz International</span></li>
						<li class="padd-right-left"><span class="white-text">Unit No.127 D Mall Sector-10 Rohini<br/> Near Rohini West Metro Station<br/>New Delhi-110085 .</span></li>
					</ul>
				</div>								 -->
				<div class="col s12 m3 l3">
					<span class="font600 font-size-change white-text">INFORMATION</span><br>
					<ul class="left">
						<!-- <li class="padd-right-left"><a routerLink="/p/about-us-rohini-delhi" (click)="navigate_to('about-us-rohini-delhi')" class="white-text" target="_blank">About Us</a></li> -->
						<li class="padd-right-left"><a routerLink="/p/about-us" (click)="navigate_to('/p/about-us')"  class="white-text" >About Us</a></li>
						<li class="padd-right-left"><a routerLink="/p/dth-connection-refund-policy"(click)="navigate_to('p/dth-connection-refund-policy')"class="white-text">Refund Policy</a></li>
						<li class="padd-right-left"><a routerLink="/p/24-7" (click)="navigate_to('/p/24-7')"  class="white-text">Contact Us</a></li>
						<li class="padd-right-left"><a routerLink="/p/know-about-my-dth-shop" (click)="navigate_to('/p/know-about-my-dth-shop')"  class="white-text">Who We Are</a></li>
						<li class="padd-right-left"><a routerLink="/p/mydthshop-terms-and-conditions" (click)="navigate_to('/p/mydthshop-terms-and-conditions')" class="white-text">Terms &amp; Conditions</a></li>
						<li class="padd-right-left"><a routerLink="/p/privacy-policy" (click)="navigate_to('/p/privacy-policy')" class="white-text">Privacy policy</a></li>
						<li class="padd-right-left"><a routerLink="/p/mydthshop-disclaimer" (click)="navigate_to('/p/mydthshop-disclaimer')"  class="white-text">Disclaimer</a></li>
						<!-- <li class="padd-right-left"><a routerLink="/p/download-brochures" target="_blank" class="white-text">Download Brochures</a></li> -->
						<!-- <li class="padd-right-left"><a routerLink="/user-guide" target="_blank" class="white-text">View User Guide</a></li> -->
						<li class="padd-right-left"><a routerLink="/blog/all" (click)="navigate_to('/blog/all')"  class="white-text" >Blog</a></li>
						<li class="padd-right-left"><a href="https://www.mydthshop.com/p/sitemap-on-mydthshop"   class="white-text" >Sitemap</a></li>
					</ul>
				</div>
				<div class="col s5 m2 l3">
					<span class="font600 font-size-change white-text">CATEGORIES</span>
					<ul>
						<li class="padd-right-left"><a [routerLink]="['/product/listing/tata-sky']" (click)="navigate_to('/product/listing/tata-sky')"  class="white-text">Tata Sky</a></li>
						<li class="padd-right-left"><a [routerLink]="['/product/listing/videocon']" (click)="navigate_to('/product/listing/videocon')"  class="white-text">Videocon</a></li>
						<li class="padd-right-left"><a [routerLink]="['/product/listing/airtel']" (click)="navigate_to('/product/listing/airtel')"  class="white-text">Airtel</a></li>
						<li class="padd-right-left"><a [routerLink]="['/product/listing/dish-tv']" (click)="navigate_to('/product/listing/dish-tv')"   class="white-text">Dish Tv</a></li>
						<li class="padd-right-left"><a [routerLink]="['/p/jio-fiber']"  (click)="navigate_to('/p/jio-fiber')" class="white-text" >Jio Fiber</a></li>
						<li class="padd-right-left"><a [routerLink]="['/p/airtel-xstream']"  (click)="navigate_to('/p/airtel-xstream')" class="white-text" >Airtel Xtream</a></li>
						<li class="padd-right-left"><a [routerLink]="['/p/dishsmrt-hub']"  (click)="navigate_to('/p/dishsmrt-hub')" class="white-text" >DishSMRT HUB</a></li>
						<!-- <li class="padd-right-left"><a [routerLink]="['/product/listing']" [queryParams]="{cat_id:1}" class="white-text">Big Tv</a></li> -->
						<!-- <li class="padd-right-left"><a [routerLink]="['/products']" [queryParams]="{cat_id:1}" class="grey-text">Sun Direct</a></li> -->
					</ul>
				</div>
				<div class="col s7 m2 l3 mydth-follow">
					<span class="font600 font-size-change white-text">FOLLOW US</span>
					<ul>							
						<li class="padd-right-left"><a href="https://www.facebook.com/mydthshop/" target="_blank" class="white-text">Facebook</a></li>
						<li class="padd-right-left"><a href="https://twitter.com/mydthshop" target="_blank" class="white-text">Twitter</a></li>
						<!-- <li class="padd-right-left"><a href="https://plus.google.com/+Mydthshopmydthshop/about" target="_blank" class="white-text">Google Plus</a></li> -->
						<li class="padd-right-left"><a href="https://www.youtube.com/channel/UCsi2AhbMaiVVZ-hVfXdfQcA" target="_blank" class="white-text">Youtube</a></li>
						<li class="padd-right-left"><a href="https://www.linkedin.com/company/14611847/admin/" target="_blank" class="white-text">Linkedin</a></li>
						<li class="padd-right-left"><a href="https://www.instagram.com/mydthshopindia/" target="_blank" class="white-text">Instagram</a></li>
						<li class="padd-right-left"><a href="https://in.pinterest.com/jain2221/pins/" target="_blank" class="white-text">Pinerest</a></li>
						<li class="padd-right-left"><a href="https://mydthshopp.blogspot.com/" target="_blank" class="white-text">Blogger</a></li>
					</ul>
				</div>
				<div class="col s12 m2 l3">
					<span class="font600 font-size-change white-text">All Product Packages</span>
					<ul>							
						<li class="padd-right-left"><a [routerLink]="['/package-list/tata-sky']" (click)="navigate_to('/package-list/tata-sky')" class="white-text" target="_blank">Tata Sky Packages</a></li>
						<li class="padd-right-left"><a [routerLink]="['/package-list/airtel']" (click)="navigate_to('/package-list/airtel')" class="white-text" target="_blank">Airtel Packages</a></li>
						<li class="padd-right-left"><a [routerLink]="['/package-list/videocon']" (click)="navigate_to('/package-list/videocon')" class="white-text" target="_blank">Videocon Packages</a></li>
						<li class="padd-right-left"><a [routerLink]="['/package-list/dish-tv']" (click)="navigate_to('/package-list/dish-tv')" class="white-text" target="_blank">DishTv Packages</a></li>
						<!-- <li class="padd-right-left"><a href="https://www.mydthshop.com/package-list/tata-sky" class="white-text" target="_blank">Jio Fiber Packages</a></li>
						<li class="padd-right-left"><a href="https://www.mydthshop.com/package-list/tata-sky" class="white-text" target="_blank">Airtel Xtream Packages</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</section>
</footer>
<section class="last-footer grey lighten-3">
	<div class="container">
		<div class="row no-margin">
			<!-- <div class="col s12 m2">
				<span class="grey-text font600">PAYMENT METHODS</span>
			</div> -->
			<div class="col s12 m12 l4 center">
				<img src="{{this.todoservice.base_url}}assets/images/banner/bg-payment.png" class="responsive-img" alt="bg-payment">
				<img src="{{this.todoservice.base_url}}assets/images/banner/paytm-logo.png" class="responsive-img paytm-img-footer" alt="bg-Paytm">
				<img src="{{this.todoservice.base_url}}assets/images/banner/phone-pe.png" class="responsive-img paytm-img-footer" alt="bg-Phone Pe	">
			</div>
			<div class="col s12 m12 l5 center">
				<span class="font-size-change1">© 2015 - {{year}} All Rights Reserved by My DTH Shop <br/> Under Libanz International</span>
			</div>
			<div class="col s12 m12 l3">
				<ul class="social-icons-footer no-margin center">
					<li class="inline-block"><a href="https://www.facebook.com/mydthshop/" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Facebook"><img src="https://mydthshop.com/web-app/assets/images/facebook1.png" class="responsive-img" alt="facebook"></a></li>
					<li class="inline-block"><a href="https://www.linkedin.com/company/14611847/admin/" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Linkedin"><img src="https://mydthshop.com/web-app/assets/images/linkedin.png" class="responsive-img" alt="linkedin"></a></li>
					<li class="inline-block"><a href="https://twitter.com/mydthshop" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Twitter"><img src="https://mydthshop.com/web-app/assets/images/twitter.png" class="responsive-img" alt="twitter"></a></li>
					<!-- <li class="inline-block"><a href="https://plus.google.com/+Mydthshopmydthshop/about" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Google Plus"><img src="https://mydthshop.com/web-app/assets/images/google-plus.png" class="responsive-img" alt="google-plus"></a></li> -->
					<li class="inline-block"><a href="https://www.youtube.com/channel/UCsi2AhbMaiVVZ-hVfXdfQcA" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Youtube"><img src="https://mydthshop.com/web-app/assets/images/youtube.png" class="responsive-img" alt="youtube"></a></li>
					<li class="inline-block"><a href="https://in.pinterest.com/jain2221/pins/" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Pinerest"><img src="https://mydthshop.com/web-app/assets/images/pinterest.png" class="responsive-img" alt="pinterest"></a></li>
					<li class="inline-block"><a href="https://www.instagram.com/mydthshopindia/" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Instagram"><img src="https://mydthshop.com/web-app/assets/images/instagram.png" class="responsive-img" alt="instagram"></a></li>
					<li class="inline-block"><a href="https://mydthshopp.blogspot.com/" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Blogger"><img src="https://mydthshop.com/web-app/assets/images/blogger.png" class="responsive-img" alt="blogger"></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- <a href="javascript:void();" class="chat-box">
	<img src="https://mydthshop.com/web-app/assets/images/live-chat.png">
</a>
<div class="chat-box-msg">
		<div class="chat-header">
			<span class="cnt-us">Support</span>
			<span class="close-chat"><i class="material-icons">remove</i></span>
		</div>
		<div class="chat-form">	
			<h3 class="center font600">Frequently Asked Questions</h3> 
			<ul class="no-box-shadow" data-collapsible="accordion">
				<li class="search-accordin relative">
					<mat-form-field class="example-full-width">
						<input type="text" placeholder="Search Your Query" class="no-margin black-text" matInput [formControl]="myControl" [matAutocomplete]="auto"  (keyup)="fetch_list($event)"> 
						<mat-autocomplete #auto="matAutocomplete">
							<span *ngIf="filterdList">
							<mat-option *ngFor="let option of filterOptions"><a routerLink="{{option.url}}" target="_blank">{{option.query}}</a>
							</mat-option>
						</span>
						</mat-autocomplete>
					</mat-form-field>
				<input placeholder="Search Your Answer" id="faq_key" type="text" class="validate">
				<button type="Submit" class="btn-flat" (click)="search_query();"><i class="material-icons orange-text font-size-change2">search</i></button> 
				</li>
			</ul>	
			<h4 class="font600">Frequently Asked Questions</h4>
			<ul class="no-box-shadow default-q" data-collapsible="accordion">
				<li class="search-accordin relative" *ngFor="let item of default_queries;">
					<i class="material-icons ques">question_answer</i>  <a routerLink="{{item.url}}" target="_blank">{{item.query}}</a>
				</li>
			</ul>
			
	</div>
	<div class="suce-msg-chat center hide">
		<div class="success-checkmark">
			<div class="check-icon">
				<span class="icon-line line-tip"></span>
				<span class="icon-line line-long"></span>
				<div class="icon-circle"></div>
				<div class="icon-fix"></div>
			</div>
		</div>
		<p class="font-size-change1">Thank you for your message. We will respond to you shortly.</p>
	</div>
	</div> -->
