<style>

	@media only screen and (max-width: 767px){
	.cst-addbtn{
		line-height: 45px !important;
    width: 100%;
    margin-bottom: 10px;
    text-align: -webkit-center;
    padding-right: 43px;
	}
	.w-100-btn{

		width:100%;
	}
	.mb-height{
		height:25px !important;
	}

	.remove-btn {
    background: #F44336!important;
    border-radius: 20px;
    color: #fff !important;
    padding: 0px 12px !important;
    position: relative;
    height: 26px;
    top: -20px;
    line-height: 26px;
}
.footer-button-buy{
	position: fixed;
    bottom: 0;
    z-index: 9999;
    left: 0;
    text-align: center;
    box-shadow: 1px 1px 5px #8c8c8c;
    right: 0;
    /* background: #ff6a00; */
}
.footer-button-buy .left-half{background: #fff;height: 65px;}
.footer-button-buy .right-half,.footer-button-buy .full{background: #ff6a00 !important;height: 65px;}
.footer-button-buy .left-half{width: 50%;
    float: left;}
.footer-button-buy .full{width: 100%;}
.footer-button-buy .right-half{width: 50%;
    float: right;}
}

</style>
<app-header></app-header>
<div class="spinner-wrapper">
    <ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
  </div>
<div class="cst-back" [innerHTML] ="this.todoservice.back_link"></div>
<div class="fix-mb-top"></div>

<section class="flash-deal border-bottom py-5">
    <div class="container">
        <div class="row no-margin">
            <div class="col s12 m12 l8">
                <div class="card new-card-design transform-scale-1">
                    <div class="card-content black-text padd-only no-margin p-0">  
                            <div class="row no-margin">
                                <div class="col s12 my-cart border-bottom">
                                    <h3 class="margin-top-cart inline-block font600">My Cart ({{this.cart_count}})</h3>
                                    <!-- <form class="right inline-block coupon">
                                        <div class="input-field no-margin">
                                        <input placeholder="Enter Refferal Code" maxlength="6" id="code" type="text" class="validate" name="Code">
                                        <button type="Submit" class="btn btn-flat  waves-effect waves-light"><i class="material-icons font-size-change1 orange-text">send</i></button>
                                        </div>
                                    </form> -->
                                </div>
                            </div>
                        </div>
				<div class="content-wrapper" *ngIf="this.cart_count > 0">        
					<div class="card black-text padd-only no-margin border-0 no-shadow" *ngFor="let item of carts;">
						<div class="row">
							<div class="col s3 m2 center">
								<div class="cart-product-image">
									<img src="{{this.todoservice.base_url}}accounts/assets/img/product-img/270x270
									{{item.product.image}}" class="responsive-img" alt="hd-tata-sky"><br>
								</div>
							</div>
							<div class="col s9 m5 margin-top">
								<a href="javascript:" class="black-text-1">
									<h4 class="font600" style="font-size: 13px;"><a [routerLink]="['/product/'+item.product.url]" [queryParams]= "{month : item.product.month_pack}" class="blue-text">{{item.title}}</a></h4>
									<div class="font-size-change1 black-text inline-block"><i class="icon-inr"></i><span>{{item.offer_price}}</span>&nbsp; <small><del class="grey-text"><i class="icon-inr"></i>{{item.price}}</del></small> <p class="no-margin green-text1 font-size-change inline-block">{{(item.price-item.offer_price)*100/item.price | number : '1.2-2'}}% Off</p></div>
									<div class="clearfix"></div>

								</a>
								<!-- <a href="javascript:" (click)="this.productservice.changeItemCount(item.prod_id,'add')">+</a><span id="update_count{{item.product.id}}">{{item.quantity}}</span><a href="javascript:" onclick="this.productservice.changeItemCount(item.prod_id,'minus')">-</a> -->
								<div class="product-quantity less-add-btn">
									<div class="" *ngIf="item.product.title.toLowerCase().includes('multi')">
										<button type="button" class="count-down" id="lessButton-{{item.product.id}}" (click)="this.changeItemCount(item.product.id,'minus',item.product)"><i class="material-icons">remove</i></button>
										<span class="updateCount" id="update_count{{item.product.id}}">{{item.quantity}}</span>&nbsp;
										<button type="button" class="count-up" id="addButton-{{item.product.id}}" (click)="this.changeItemCount(item.product.id,'add',item.product)"><i class="material-icons">add</i></button>
									</div>
					 			 </div>
								  <div class="clearfix"></div>
								<div class="font-size-change1 black-text inline-block" *ngIf="item.product.pack_selected">Pack: <span class="font-size-change1 orange-text" *ngIf="item.product.pack_selected && item.product.pack_selected[0]">{{item.product.pack_selected[0].title}} <span *ngIf="item.product.pack_selected && item.product.pack_selected[1]">,{{item.product.pack_selected[1].title}}</span></span>
								</div>
								<div class="clearfix"></div>
								<a class="blue-text modal-trigger" href="#modal-packages" (click)="select_package(item.prod_id)" >Add Pack & Offers</a>
								<div class="clearfix"></div>
								<a href="javascript:" class="font-size-change red-text font600" (click)="this.removeItem(item.product.id);" >Remove &nbsp; <span class="fa fa-times"></span> </a>
								<div class="clearfix"></div>
							</div>
							<div class="col s12 m4 margin-top padd">
								<strong class="font600">Go Easy on your Pocket – Online Instant Recharge and Bill Payments with Unlimited Offers !!</strong><br>
							</div>
						</div>
						<div class="divider"></div>
				</div>
				</div>										
				
                <div class="card-content black-text padd-only no-margin" *ngIf="this.cart_count == 0">
					<div class="center">
						<img src="{{this.todoservice.base_url}}web-app/assets/images/empty-cart.png" class="responsive-img" width="200px">
						<br>
						<p class="font-size-change1">Your Shopping Cart is empty</p>
						<br>
						<a [routerLink]="['/']" class="font-size-change"><i class="material-icons">add</i> Add Some Items</a>
					</div>
				</div>
					<div class="card-action right-align cart-card-padd hide-on-mobile p-0 border-0" *ngIf="this.cart_count > 0">
						<a [routerLink]="['/']" class="btn new-btn-theme white black-text font-size-change cst-addbtn" style="line-height:43px;background-color:#fff !important;margin-right:1rem !important">Continue Shopping <i class="material-icons font-size-change1">keyboard_arrow_right</i></a>
						<a routerLink="/product/checkout" [queryParams] = "{'tracker':'cart'}" class="btn sign new-btn-theme font-size-change waves-effect waves-light w-100-btn"> Place Order</a>
					</div>
					<div class="footer-button-buy hide-on-desktop" *ngIf="this.cart_count > 0">
							<div class="left-half">
								<h3 style="margin:0"><a [routerLink]="['/']" class=" waves-effect waves-light white black-text" style="line-height:43px;">Continue Shopping</a></h3>
								<a href="javascript:" class="forder-txt center" (click)="to_order_summary()">Order Details </a>
							</div>
							<div class="right-half">
								<h3><a routerLink="/product/checkout" [queryParams] = "{'tracker':'cart'}" class="sign orange white-text waves-effect waves-light"> Place Order</a></h3>
							</div>
							<!-- <a href="javascript:" class="modal-action modal-close waves-effect btn grey lighten-3 black-text btn-large">Close</a> -->
						</div>
                </div>
            </div>
            <div class="col s12 m12 l4 order-summary" *ngIf="this.cart_count > 0">
                <div class="card new-card-design transform-scale-1">
                    <div class="card-content black-text no-padding fix-inne-pad">
                        <span class="card-title inline-block">Order Summary</span> 
                        <hr>
                        <div class="subtotal" style="border-bottom: 1px dotted #eee;" *ngFor="let item of carts;let i = index;">
							<div *ngIf="item && ( item.product.tsk_kit == 2 || item.product.tsk_kit == 3) ; then kitblock else nokitblock"></div>
							<p class="inline-block font600"> <span class="grey-text font500 pack-title">{{item.product.title}} :</span></p>
							<ng-template #kitblock>
								<p class="inline-block right font-size-change green-text" *ngIf="item.product.tsk_kit == 2"> <span *ngIf="item.product.quantity && item.product.quantity > 1">{{item.product.quantity}} x </span><i class="icon-inr"></i> {{item.product.offer_price}}</p>
								<p class="inline-block right font-size-change green-text" *ngIf="item.product.tsk_kit == 3"> <span *ngIf="item.product.quantity && item.product.quantity > 1">{{item.product.quantity}} x </span><i class="icon-inr"></i> {{item.product.price - 1000 }}</p>
							</ng-template>
							<ng-template #nokitblock>
								<p class="inline-block right font-size-change green-text"> <span *ngIf="item.product.quantity && item.product.quantity > 1">{{item.product.quantity}} x </span><i class="icon-inr"></i>{{item.product.offer_price}}</p>
							</ng-template>
							<br/>
							<div style="padding-top: 10px;" *ngFor="let pack of item.product.pack_selected">
								<p class="font600 left"> <span class="grey-text font500 pack-title">{{pack.title}} :</span></p>
								<p class="right font-size-change"><span *ngIf="item.product.quantity && item.product.quantity > 1">{{item.product.quantity}} x </span> <i class="icon-inr"></i>{{pack.price}}</p>
								<div class="clearfix"></div>
							</div>
							<div style="padding-top: 10px;" *ngIf="item.product.promos">
								<p class="inline-block font600">Congrates! Promocode {{item.product.promos.unique_code}} is applied  :</p>
								<p class="inline-block green-text right font-size-change" *ngIf="item.product.promos.amount_calc_type == 0"> <i class="icon-inr"></i> -{{item.product.promos.discount}} </p>
								<p class="inline-block green-text right font-size-change" *ngIf="item.product.promos.amount_calc_type == 1"> <i class="icon-inr"></i> -{{(item.product.promos.discount / product.offer_price)*100}} </p>
							</div>
						</div>
						
                        <div class="subtotal">
                            <p class="inline-block font600">Delivery Charges :</p>
                            <p class="inline-block green-text right font-size-change"> Free </p>
                        </div>
                        <hr class="horizontal">
                        <div class="subtotal payable margin-top">
                            <p class="inline-block font600">Amount Payable :</p>
                            <p class="inline-block right font-size-change"> <i class="icon-inr"></i>{{this.productservice.calculateCartAmount(this.carts)}}</p>
                        </div>
                        <hr>
                        <div class="subtotal">
							<p class="inline-block green-text" *ngIf="this.productservice.cashback_amount(this.productservice.cart_items) > 0"><b>Cashback:</b> Amount of <i class="icon-inr"></i>{{this.productservice.cashback_amount(this.carts)}} Will be added to your wallet after product activation.</p><div class="clearfix"></div>
                            <p class="inline-block green-text font600">Your Total Savings on this order <i class="icon-inr"></i>{{this.productservice.total_savings(this.carts)}} </p>
                        </div>
                        <hr class="horizontal"> 
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="security">
                    <ul class="d-flex align-items-center justify-content-between">
                        <li class="shield-img inline-block center mr-3"><img src="{{this.todoservice.base_url}}web-app/assets/images/shield.png" class="responsive-img vertical-align-middle" alt="shield" width="40px"></li>
                        <li class="shield-text inline-block"><span class="no-padding grey-text">Safe and Secure Payments. Easy returns payment on your wallet before activation set top box. 100% Authentic products.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="promocode" class="modal lucky7">
    <div class="modal-content">
      <h4>7 users every hour will get 100% Cashback* and additional Cashback of<br> Rs. 30 on Paying through Paytm UPI. Conditions apply!</h4>
      <span class="modal-close promo-abslt"><i class="material-icons font-size-change2 grey-text">close</i></span>
      <input type="text" size="7" value="LUCKY7" readonly="" class="lucky-input no-margin">
      <a class="btn orange copy-click" onclick="Materialize.toast('Promo Code Applied', 4000)">Apply</a>
      <div class="promo-modal-terms">
      	<span class="font-size-change">Terms &amp; Conditions:</span>
      	<ul>
      		<li>*User needs to do at least one recharge/bill payment transaction using code LUCKY7 on Paytm to be eligible to win 100% cashback. </li>
      		<li>*Click "Proceed to Recharge/Pay Bill" and enter "LUCKY7" in "Have a Promocode?" section.  </li>
      		<li>*7 lucky winners every hour will be awarded 100% cashback.</li>
      		<li>*7 lucky winners every hour will be awarded 100% cashback.</li>
      		<li>*7 lucky winners every hour will be awarded 100% cashback.</li>
      		<li>* If you are a lucky customer, you will get cashback as per below slabs:<br> 
						(a) If you transact for Rs.10, you will receive 100% cashback ie. Rs.10. <br>
						(b) If you transact for Rs.150, you will receive 100% cashback ie. Rs.150. <br>
						(c) If you transact for Rs.200, you will receive maximum cashback ie. Rs.150.
					</li>
      	</ul>
      </div>
    </div>
  </div>
  
  <!-- Promocode modal -->
	<div id="promocode-modal" class="modal permo-code">
	  <div class="modal-content">
	  	<section class="border-bottom-px no-padding">
		  	<div class="container">
			  	<div class="row no-margin">
						<div class="col s11">
				    	<h4 class="font600">Enter Promocode</h4>
						</div>
				  	<div class="col s1 slide-out-nav no-padding">
						  <a href="javascript:" class="modal-close right"><i class="material-icons font-size-change1 grey-text">close</i></a>
						</div>
					</div>
				</div>
			</section>
			<div class="row">
				<div class="col s12 no-padding promocode-input">
		    	<div class="card padd no-box-shadow">
	          <div class="card-content no-padding">
	        		<div class="row no-margin">
		            <form>
					      	<div class="input-field col s9">
					          <input id="promocode" type="text" class="validate font-size-change">
					          <label for="promocode">Have a promocode? Enter Here</label>
					        </div>
					        <div class="col s3 margin-top2">
					          <button type="Submit" class="btn apply-hide-btn select-btn margin-top">Apply</button>
					        </div>
					      </form>
				    	</div>
	          </div>
	        </div>
		    </div>
		    <div class="col s12 grey lighten-4 padd2 center">
		    	<span class="grey-text font-size-change">Choose from other below</span>
		    </div>
		  </div>
		  <div class="row grey lighten-4 fixed-for-reason">
		  	<div class="col s12 no-padding border-bottom-px">
		  		<div class="card padd">
	          <div class="card-content no-padding">
		  				<h4>LA10</h4>
		  				<div class="apply-btn full-width left margin-bottom1">
		  					<span class="grey-text font-size-change no-margin">LA10 - Get flat 10% cashback on shopping order COD is not avaliable on applying this promocode. </span>
		  					<button type="Submit" class="btn select-btn"  onclick="Materialize.toast('Promocode Applied', 4000)">Apply</button>
		  				</div>
		  				<br>
		  				<a href="#terms-condtion" class="font-size-change modal-trigger">*T&amp;C</a>
		  			</div>
		  		</div>
		  	</div>
		  	<div class="col s12 no-padding border-bottom-px">
		  		<div class="card padd">
	          <div class="card-content no-padding">
		  				<h4>LA10</h4>
		  				<div class="apply-btn full-width left margin-bottom1">
		  					<span class="grey-text font-size-change no-margin">LA10 - Get flat 10% cashback on shopping order COD is not avaliable on applying this promocode. </span>
		  					<button type="Submit" class="btn select-btn"  onclick="Materialize.toast('Promocode Applied', 4000)">Apply</button>
		  				</div>
		  				<br>
		  				<a href="#terms-condtion" class="font-size-change modal-trigger">*T&amp;C</a>
		  			</div>
		  		</div>
		  	</div>
		  	<div class="col s12 no-padding border-bottom-px">
		  		<div class="card padd">
	          <div class="card-content no-padding">
		  				<h4>LA10</h4>
		  				<div class="apply-btn full-width left margin-bottom1">
		  					<span class="grey-text font-size-change no-margin">LA10 - Get flat 10% cashback on shopping order COD is not avaliable on applying this promocode. </span>
		  					<button type="Submit" class="btn select-btn"  onclick="Materialize.toast('Promocode Applied', 4000)">Apply</button>
		  				</div>
		  				<br>
		  				<a href="#terms-condtion" class="font-size-change modal-trigger">*T&amp;C</a>
		  			</div>
		  		</div>
		  	</div>
		  </div>
	  </div>
	</div>
	<div id="modal-packages" class="modal modal-fixed-footer">
		<div class="modal-content">
				<span class="modal-close close-btn multi-close"><i class="material-icons font-size-change2">close</i></span>
			<div class="row">
				<!-- <h3>Selected</h3> -->
				<div class="col s12 m12 l12">
					<div class="center">	
						<h2 class="center font600 text-orange">Select Package </h2>
						<div class="clearfix"></div>
						<h3 class="text-center" *ngIf="!channels_packs || channels_packs.length == 0">Loading...</h3>
						<ul class="monthly-packages" id="monthly-packages" *ngIf="months">
							<li *ngFor="let item of months;let i = index">
								<a id="month-{{item.id}}" [className]="(1*item.total_month == 1*this.month) ? 'white-text font-size-change1 active-kp' : 'black-text font-size-change1 grey lighten-2'"href="javascript:" (click)="select_month(item.total_month,this.product.id)">{{item.month_label}}</a>
							</li>
						</ul>
						<!-- <span class="chip green white-text">Please Select Your Basic Pack</span> -->
					</div>
				</div>
				<div class="col s12 m12 l12 channel-list-box">				
					<div class="channels-accoriadn">
						<ul class="collapsible" data-collapsible="expandable" *ngIf="channels_packs">
							<li *ngFor="let packs of channels_packs;let j = index" class="active">
								<div class="collapsible-header" id="collapse-header-{{packs.id}}">{{packs.title}}<i class="material-icons">keyboard_arrow_right</i></div>
								<div [className]="(packs.default_selected == 1 || check_child_exist(pack_id,packs.child)) ? 'collapsible-body lSAction' : 'collapsible-body'">
									<div class="row">
										<div class="col s12 m4 l4" *ngFor="let item of packs.child;let i = index;">
										<div class="card product-new" *ngIf="item.default_selected == 2">
											<div class="card-content center">
												<span class="when-check" id="check-pack-{{item.id}}"><i class="material-icons">check_circle</i></span>
												<h4 class="grey-text">{{item.title}}</h4>
												<span class="card-title"><i class="icon-inr"></i> <span *ngIf="!multienable">{{item.price}}</span><span *ngIf="multienable">{{item.multi_price}}</span>  <small>@ {{item.month}} Month</small></span>
												<span class="font-size-change1" [innerHTML] = "remove_new_line(item.short_description)"></span>
												<br/>
												<a [routerLink]="['/product/channel-pack/'+item.id]" [queryParams]= "{month : month}" class="font-size-change1 chng-set modal-trigger" title="{{item.title}}">Channels</a>
											</div>
										</div>
										<div class="card" *ngIf="item.default_selected == 0 && item.id != pack_id">
											<div class="card-content center" >
												<span [className]="(this.selectedCartItem && this.selectedCartItem.product.pack_selected.length > 1 && this.selectedCartItem.product.pack_selected[1].id == item.id)?'when-check' : 'when-check grey-text'" id="check-pack-{{item.id}}" (click)="select_pack(item)"><i class="material-icons">check_circle</i></span>
												<h4 class="grey-text">{{item.title}}</h4>
												<span class="card-title"><i class="icon-inr"></i> <span *ngIf="!multienable">{{item.price}}</span><span *ngIf="multienable">{{item.multi_price}}</span> <small>@ {{item.month}} Month</small></span>
												<span class="font-size-change1" [innerHTML] = "remove_new_line(item.short_description)"></span>
												<br/>
												<span *ngIf="item.is_active == 1"><a [routerLink]="['/product/channel-pack/'+item.id]" [queryParams]= "{month : month}" class="font-size-change1 chng-set modal-trigger" title="{{item.title}}">Channels</a></span>
												<span *ngIf="item.is_active == 0"><a href="#channel-list-modal" class="font-size-change1 chng-set modal-trigger rounded-btn">Channels</a></span>
											</div>
										</div>
										<div class="card" *ngIf="item.default_selected == 1 || (item.id == pack_id && item.default_selected != 2)">
											<div class="card-content center" >
												<span class="when-check" id="check-pack-{{item.id}}" (click)="select_pack(item)"><i class="material-icons">check_circle</i></span>
												<h4 class="grey-text">{{item.title}}</h4>
												<span class="card-title"><i class="icon-inr"></i> <span *ngIf="!multienable">{{item.price}}</span><span *ngIf="multienable">{{item.multi_price}}</span> <small>@ {{item.month}} Month</small></span>
												<span class="font-size-change1" [innerHTML] = "remove_new_line(item.short_description)"></span>
												<br/>
												<span *ngIf="item.is_active == 1"><a [routerLink]="['/product/channel-pack/'+item.id]" [queryParams]= "{month : month}" class="font-size-change1 chng-set modal-trigger" (click)="fetch_channels(item)" title="{{item.title}}">Channels</a></span>
												<span *ngIf="item.is_active == 0"><a href="#channel-list-modal" class="font-size-change1 chng-set modal-trigger" title="{{item.title}}">Channels</a></span>
											</div>
										</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
			
						<ul class="pt-all-10">
							<li class="grey-txt-package" style="list-style-type: circle;">The Package Price & Channels are subject to change at the discretion of the Service Provider, if the additional package is choosen, then your current package validity will be reduced. Libanz is in no way responsible for that and shall not be liable in any way for the same.</li>
							<li class="grey-txt-package" style="list-style-type: circle;">Do Not Choose HD channels with Standard Box. If you do the same LibanzSHOP is in no way responsible for that and shall not be liable in any way.</li>
							<li class="grey-txt-package" style="list-style-type: circle;">FTA Pack is mandatory, you cannot remove it.</li>
						</ul>
						<hr class="horizontal">
							
						</div>
					</div>
			</div>
		</div>
		<div class="modal-footer">
			<button href="javascript:" class="modal-close white-text btn orange mobile-popup-button"[disabled]="!enable_add_pack" (click)="add_to_product()">ADD PACK</button>
		</div>
	</div>
	<app-footer></app-footer>	
	
  