<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
		bdColor="rgba(255,255,255,0.8)"
		size="default"
		color="#ec9737"
		loadingText="Loading..."
		type="ball-clip-rotate">
	</ngx-spinner>
</div>

<section class="channels-basic">
	<div class="container center">
		<h1>{{product_pack_info.title}} 
			<span >
			<a href="#" class="chng-set dropdown-button orange-text" data-activates='dropdown1'><i class="material-icons">share</i></a>
			<ul id='dropdown1' class='dropdown-content'>
				<li>
					<a href="#sendmail-modal" class="grey-text modal-trigger no-margin"><img alt="gmail" src="https://mydthshop.com/web-app/assets/images/gmail.png">Send mail</a>
				</li>
				<li>
					<a href="https://www.mydthshop.com/accounts/apis/export/export_pack/{{channel_id}}" class="grey-text no-margin"><img alt="download" src="https://mydthshop.com/web-app/assets/images/down-arrow.png"> Download Sheet</a>
				</li>
			  	<li>
				  <a class="tooltipped grey-text" data-delay="50" data-position="top" data-tooltip="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.mydthshop.com/package-list/tata-sky/{{channel_id}}" target="_blank"><img alt="facebook" src="https://mydthshop.com/web-app/assets/images/facebook1.png"> Share On Facebook</a>
				</li>
			  	<li>
				  <a class="tooltipped grey-text" data-delay="50" data-position="top" data-tooltip="Share on Twitter" href="https://twitter.com/share?url=https://www.mydthshop.com/package-list/tata-sky/{{channel_id}}" target="_blank"><img alt="facebook" src="https://mydthshop.com/web-app/assets/images/twitter.png"> Share On Twitter</a>
				</li>
			</ul>
		</span></h1>
		<p class="font-size-change1 font600">{{product_pack_info.short_description}}*</p>
		<span class="font-size-change1"><i class="icon-inr"></i> {{product_pack_info.price}} @ {{month}} Month</span><br>
	</div>
</section>

<section class="list-base white padd-rem">
	<div class="container">
		<div class="bse-prc row">
			<ul id="product-pack">
			</ul>
		</div>
		<ul>
			<li class="red-text" style="list-style-type: circle;">FTA Pack is mandatory, you cannot remove it.</li>
			<li class="red-text" style="list-style-type: circle;">Do Not Choose HD channels with Standard Box. If you do the same MYDTHSHOP is in no way responsible for that and shall not be liable in any way.</li>
			<li class="red-text" style="list-style-type: circle;">The Package Price & Channels are subject to change at the discretion of the Service Provider, if the additional package is choosen, then your current package validity will be reduced. MYDTHSHOP is in no way responsible for that and shall not be liable in any way for the same.</li>
		</ul>
	</div>
</section>

<div id="sendmail-modal" class="modal">
	<div class="modal-content">
		<h3 class="center">Enter Email</h3>
		<a href="javascript:" class="modal-action modal-close"><i class="material-icons">
			close</i></a>
		<div class="row">
			<div class="col s12 m8 offset-m1">
				<div class="input-field">
				<i class="material-icons prefix margin-top-cart2">mail</i>
					<input class="validate" id="pack-email" type="text" >
					<label class="font-size-change active" for="pack-email" >Email.</label>
				</div>
			</div>
			<div class="col s12 m2">
				<div class="input-field">
					<input type="submit" class="btn orange" value="send" (click)="share_pack_to_mail()">
				</div>
			</div>
		</div>	
	</div>
</div>




<app-footer></app-footer>	
