<style>
@media only screen and (max-width: 767px){

	.check-btn{

		width: 100%;
    white-space: nowrap;
    padding: 1px;
	}
	.b-fix-top{

		margin-top:-12px;
	}

	.add-fix{

		margin-top:15px;
	}
	.cod-text {
    line-height: 27px !important ;
}
.pt-left-35{

	padding-left: 35px;
}
a.btn.orange.btn-large.ctn-che1 {
    margin-bottom: 10px;
}
.security1 {
    margin-bottom: 30px;
}
}
span.icon-locate {
   display:none;
}
</style>
<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>


	<!-- Flash Deal section -->
	<div class="work" *ngIf="order_placed==false;then checkout else thankssection"></div>
	<ng-template #checkout>
	<section class="flash-deal checkout-page">
		<div class="container">
			<div class="row no-margin">
				<div class="col s12 m8">
					<!-- First Line -->
					<div class="card first-line">
            <div class="card-content black-text padd-only no-margin">
            	<div class="row no-margin">
            		<div class="col s1 number center margin-top-cart1">
            			<span>1</span>
            		</div>
            		<div class="col s8 my-cart">
            			<span class="font-size-change1 inline-block margin-checkout left grey-text white-rec">LOGIN</span><br><br>
            			<span class="font600 naam1">{{this.todoservice.get_user_name()}}</span>&nbsp;
            			<span class="grey-text email1">{{this.todoservice.get_user_email()}}</span>
            		</div>
            		<div class="col s3 right-align margin-top-cart chng">
            			<a href="javascript:" class="btn btn-flat right" (click)="call_change_section('to_login')">Change</a>
            		</div>
            	</div>
            </div>
          </div>
          <!-- End Here -->
          <!-- Address Checkout -->
        	<div class="row no-margin white login-checkout checkout_1" *ngIf="gosection_data.to_login == true">
        		<div class="col s12 m5 offset-m1">
        			<div class="name margin-top-cart">
        				<span class="inline-block grey-text margin-right">Name</span>
        				<span class="inline-block font600">{{this.todoservice.get_user_name()}}</span>
        			</div>
        			<div class="name margin-top-cart">
        				<span class="inline-block grey-text margin-right">Email</span>
        				<span class="inline-block font600">{{this.todoservice.get_user_email()}}</span>
        			</div>
        			<div class="name margin-top-cart">
        				<a href="javascript:" routerLink="/logout" class="font600">Logout &amp; Sign in to another account</a>
        			</div>
        			<button class="btn waves-effect waves-light orange margin-top" type="Submit" (click)="call_change_section('to_order_summary')">PROCEED</button>
        		</div>
        		<div class="col s12 m6">
        			<div class="name margin-top-cart">
        				<span class="inline-block grey-text margin-right">Advantages of our secure login</span>
        			</div>
        			<div class="name margin-top-cart">
        				<span class="inline-block grey-text margin-right"><i class="fa fa-truck orange-text" aria-hidden="true"></i></span>
        				<span class="inline-block"> Free Home Delivery </span>
        			</div>
        			<div class="name margin-top-cart">        				
        				<span class="inline-block grey-text margin-right"><i class="fa fa-bell orange-text" aria-hidden="true"></i></span>
        				<span class="inline-block"> Get Relevant Alerts and Recommenadtions </span>
        			</div>
        			<div class="name margin-top-cart">        				
        				<span class="inline-block grey-text margin-right"><i class="fa fa-star orange-text" aria-hidden="true"></i></span>
        				<span class="inline-block"> Wishlists, Reviews, Ratings and more. </span>
        			</div>
        		</div>
        	</div>
        	<!-- End Here -->
        	<!-- Second Line -->
          <div class="card third-line">
            <div class="card-content black-text padd-only no-margin">
            	<div class="row no-margin">
            		<div class="col s1 number center margin-top-cart1">
            			<span>2</span>
            		</div>
            		<div class="col s8 my-cart">
            			<span class="font-size-change1 inline-block margin-checkout left grey-text">ORDER SUMMARY <i class="material-icons grey-text">check</i></span><br><br>
            			<span class="font600 naam3">{{this.productservice.cartItemsCount()}} Items</span>&nbsp;
            		</div>
            		<div class="col s3 right-align margin-top-cart chng">
            			<a href="javascript:" class="btn btn-flat right chngs3 hide" (click)="call_change_section('to_order_summary')">Change</a> 
            		</div>
            	</div>
            </div>
          </div>
          <!-- End Here -->          
          <!-- Login Checkout -->
        	<div class="row no-margin white login-checkout checkout_3" *ngIf="gosection_data.to_order_summary == true">
        		<div class="row" *ngFor="let item of this.productservice.cart_items;let i = index;">
          			<div class="col s3 m3 center">
          				<div class="cart-product-image"> 
          					<img src="{{this.todoservice.base_url}}accounts/assets/img/product-img/270x270{{item.product.image}}" class="responsive-img" alt="hd-tata-sky"><br>
          					<div class="product-quantity less-add-btn">
											<div class="" *ngIf="item.product.title.toLowerCase().includes('multi')">
												<button type="button" class="count-down" id="lessButton-{{item.product.id}}" (click)="this.productservice.changeItemCount(item.product.id,'minus')"><i class="material-icons">remove</i></button>
												<span class="updateCount" id="update_count{{item.product.id}}">{{item.quantity}}</span>&nbsp;
												<button type="button" class="count-up" id="addButton-{{item.product.id}}" (click)="this.productservice.changeItemCount(item.product.id,'add')"><i class="material-icons">add</i></button>
											</div>
					          </div>
          				</div>
          			</div>
          			<div class="col s9 m5 margin-top" id="item-detail-section-{{i}}">
          				<a href="javascript:" class="black-text">
          					<h4 class="font600"><a routerLink="/product/{{item.product.url}}">{{item.product.title}}</a></h4>
          					<span class="font-size-change grey-text">Seller : Libanz</span>
          					<span class="font-size-change grey-text" *ngIf="item.product.cod_available == 1"><br>Cash On Delivery Available</span><br/>
          					<span class="font-size-change orange-text" *ngIf="item.product.month_pack">{{item.product.month_pack}} Month Pack</span>
          					<!-- <span class="font-size-change orange-text" *ngIf="item.product.tsk_kit"><span *ngIf="item.product.tsk_kit == 2">, TSK 559</span><span *ngIf="item.product.tsk_kit == 3">, TSK 999</span></span> -->
									</a>
									<div class="green-text">
										<span id="tsk-applied" class="green-text" *ngIf="item.product.promos">Congratulations! Promo {{item.product.promos.unique_code}} is Applied to your purchase.</span>
										<!-- <a href="javascript:" (click)="show_coupon(i)">Change</a> -->
										<span class="font-size-change1 black-text inline-block margin-top-cart">Selected Pack: <span class="font-size-change1 orange-text" *ngIf="item.product.pack_selected[0]">{{item.product.pack_selected[0].title}} <span *ngIf="item.product.pack_selected[1]">, {{item.product.pack_selected[1].title}}</span></span></span>
										<!-- <div class="subscriber-area" *ngIf="item.product.multi == 1">
											<input id="subscriber-id-{{item.product.id}}" placeholder="Enter Sbuscriber Id" value="{{item.product.subscriber_id}}" type="text" class="validate">
										</div> -->
									</div>
        					<!-- <span class="font-size-change1 black-text inline-block margin-top-cart"><i class="icon-inr"></i><span *ngIf="item.product.tsk_kit && item.product.tsk_kit == 3">{{item.quantity*(item.product.price -1000)}}</span><span *ngIf="!item.product.tsk_kit || item.product.tsk_kit == 2">{{item.quantity*item.product.offer_price}}</span>&nbsp; <small><del class="grey-text"><i class="icon-inr"></i>{{item.quantity*item.product.price}}</del></small> <p class="no-margin green-text1 font-size-change inline-block">{{(item.product.price-item.product.offer_price)*100/item.product.price | number : '1.2-2'}}% Off</p></span> -->
        					<!-- <br> -->
      						<a href="javascript:" class="font-size-change margin-top inline-block grey remove-btn"  onclick="Materialize.toast('Product removed from the cart ', 4000);" (click)="this.productservice.removeItem(item.product.id)">Remove</a>
          			</div>
          			<div class="col s12 m4 margin-top padd">
          				<strong class="font600">Go Easy on your Pocket – Online Instant Recharge and Bill Payments with Unlimited Offers !!</strong><br>
          				<!-- <span class="grey-text">Faster delivery options available at checkout 10 Days Replacement Policy</span> -->
          			</div>
          		</div>
          		<div class="divider"></div>
          		<div class="col s12 margin-top-cart">
          			<span>Order conformation email will be sent to <strong class="font600">{{this.todoservice.get_user_email()}}</strong></span>
								<span *ngIf="!topaybutton"><button class="btn waves-effect waves-light orange right button-one" type="Submit" (click)="call_change_section('to_address')" *ngIf="this.productservice.cartItemsCount() > 0">CONTINUE</button></span>
								<span *ngIf="topaybutton"><button class="btn waves-effect waves-light orange right button-two" type="Submit" (click)="call_change_section('to_payment')" *ngIf="this.productservice.cartItemsCount() > 0">CONTINUE</button></span>
							</div>
          	
          	<div class="divider"></div>
        	</div>
					<!-- End Here -->					
        	<!-- Third Line -->
          <div class="card second-line">
            <div class="card-content black-text padd-only no-margin">
            	<div class="row no-margin">
            		<div class="col s1 number center margin-top-cart1">
            			<span>3</span>
            		</div>
            		<div class="col s8 my-cart" >
            			<span class="font-size-change1 inline-block margin-checkout left grey-text">DELIVERY ADDRESS <i class="material-icons grey-text">check</i></span><br><br>
            			<span class="font600 naam2" *ngIf="address"><span >{{address.name}}-</span>{{address.contact}}&nbsp;(<span *ngIf="address">{{address.address}},</span> {{ address.pin}})</span>
            		</div>
            		<div class="col s3 right-align margin-top-cart chng">
            			<a href="javascript:" class="btn btn-flat right chngs2 hide" (click)="call_change_section('to_address')">Change</a>
            		</div>
            	</div>
            </div>
          </div>          
          <!-- End Here -->
          <!-- Login Checkout -->
        	<div class="row no-margin white login-checkout checkout_2" *ngIf="gosection_data.to_address == true">
        		<div class="col s10 m12 ">
								<div class="name margin-top-cart user-address">
									<input class="with-gap" name="client_address" type="radio" value="m-boss"  id="address-mboss" checked (change)="change_addr_form('add-new-address')">
									<label for="address-mboss" class="font600 black-text" *ngIf="this.productservice.is_mboss_enable() == true"> <span *ngIf="this.todoservice.get_user_type() != 1">M-Boss</span> <span *ngIf="this.todoservice.get_user_type() == 1">Add Address</span></label>
									<label for="address-mboss" class="font600 black-text" *ngIf="this.productservice.is_mboss_enable() != true">Add Address</label>
									
									<input class="with-gap" name="client_address" type="radio" value="row-address"  id="address-row" (change)="change_addr_form('add-row-address')">
									<label for="address-row" class="font600 black-text" *ngIf="this.todoservice.get_user_type() != 1">Paste Address</label>
									<span *ngIf="this.productservice.is_mboss_enable()">
											<input class="with-gap" name="client_address" type="radio" value="0"  id="address-0"  (change)="change_addr_form('reg-address')">
											<label for="address-0" class="font600 black-text" *ngIf="this.todoservice.get_user_type() != 1">REG</label>
									</span>	
									
								</div>
							<div class="add-new-address" id="add-new-address">
									<form  [formGroup]="addressformgroup" class="location-add1" #edtaddress = "ngForm" (ngSubmit)="add_new_addr(edtaddress.value)">
											<div class="modal-content no-padding">
													<div class="row no-margin">
															<div class="input-field col s12 m6">
																<input name="name" id="name" type="text" class="validate"  formControlName="name" autocomplete="off">
																<label for="name">Name*</label>
																<div class="center" *ngIf="!addressformgroup.controls['name'].valid && addressformgroup.controls['name'].touched">
																	<span class="red-text ">*Name is Required.</span>
																</div>
															</div>
															<div class="input-field col s12 m6">
																<input id="phn-no" name="contact" type="text" class="validate" formControlName="contact" autocomplete="off">
																<label for="phn-no">Phone Number*</label>
																<div class="center" *ngIf="!addressformgroup.controls['contact'].valid && addressformgroup.controls['contact'].touched">
																	<span class="red-text ">*Enter a Valid Phone Number.</span>
																</div>
															</div>
														</div>
														<div class="row no-margin">
															<div class="input-field col s12 m6">
																<input name="pincode" id="pincode" type="number" class="validate" formControlName="pincode" autocomplete="off" [(value)]="this.pincode" value="{{this.pincode}}">
																<label for="pincode" [className]="(this.pincode)?'active':''">Pincode*</label>
																<div class="center" *ngIf="!addressformgroup.controls['pincode'].valid && addressformgroup.controls['pincode'].touched">
																	<span class="red-text ">*Enter a Valid Pincode.</span>
																</div>
															</div>
															<div class="input-field col s12 m6">
																<input id="locality" name="locality" type="text" class="validate" formControlName="locality" autocomplete="off">
																<label for="locality">Locality</label>
															</div>
														</div>
														<div class="row no-margin">
															<div class="input-field col s12 m6">
																<input name="city" id="city" type="text" class="validate" formControlName="city" autocomplete="off">
																<label for="city">City/District/Town*</label>
																<div class="center" *ngIf="!addressformgroup.controls['city'].valid && addressformgroup.controls['city'].touched">
																	<span class="red-text ">*City is Required.</span>
																</div>
															</div>
															<div class="input-field col s12 m6 b-fix-top">
																<mat-form-field>
																	<span class="icon-locate"><i class="material-icons" >location_on</i> </span>
																		<mat-select placeholder="Choose your Circle*" [(value)]="this.region" (selectionChange)="changeState($event.value)" name="state" formControlName="state">
																			<mat-option [value]="item.circle_id" *ngFor="let item of circles;">{{item.name}}</mat-option>
																		</mat-select>
																</mat-form-field>
															</div>
															
														</div>
														<div class="row no-margin">
															<div class="input-field col s12 add-fix">
																<input name="address" id="land" type="text" class="validate" formControlName="address">
																<label for="land">Address*</label>
																<div class="center" *ngIf="!addressformgroup.controls['address'].valid && addressformgroup.controls['address'].touched">
																	<span class="red-text ">*Enter Delivery Address.</span>
																</div>
															</div>
														</div>
											</div>
											<div class="modal-footer">
												<button type="Submit" class="modal-action btn orange btn-large check-btn" [disabled]="!addressformgroup.valid">Save and Deliver Here</button>
												<!-- <a href="javascript:" class="modal-action modal-close waves-effect btn grey lighten-3 black-text btn-large">Close</a> -->
											</div>
									</form>
							</div>
							<div class="add-new-address" id="reg-address" style="display:none;">
								<form  [formGroup]="regaddressformgroup" class="location-add1" #regaddress = "ngForm" (ngSubmit)="reg_addr(regaddress.value)">
										<div class="modal-content no-padding">
												<div class="row no-margin">
														<div class="input-field col s12 m6">
															<input id="phn-no-reg" name="contact" type="text" class="validate" formControlName="contact" autocomplete="off">
															<label for="phn-no-reg">Phone Number*</label>
															<div class="center" *ngIf="!regaddressformgroup.controls['contact'].valid && regaddressformgroup.controls['contact'].touched">
																<span class="red-text ">*Enter a Valid Phone Number.</span>
															</div>
														</div>
														<div class="input-field col s12 m6">
															<input name="pincode" id="pincode-reg" type="number" class="validate" formControlName="pincode" autocomplete="off" value="{{this.pincode}}">
															<label for="pincode-reg" [className]="(this.pincode)?'active':''">Pincode*</label>
															<div class="center" *ngIf="!regaddressformgroup.controls['pincode'].valid && regaddressformgroup.controls['pincode'].touched">
																<span class="red-text ">*Enter a Valid Pincode.</span>
															</div>
														</div>
														
													</div>
											</div>
											<div class="modal-footer">
													<button type="Submit" class="modal-action btn orange btn-large" [disabled]="!regaddressformgroup.valid">Save and Deliver Here</button>
													<!-- <a href="javascript:" class="modal-action modal-close waves-effect btn grey lighten-3 black-text btn-large">Close</a> -->
												</div>
									</form>
							</div>
							<div class="add-row-address" id="add-row-address" style="display:none;">
										
								<form [formGroup]="rowaddressformgroup" class="location-add1" #rowaddress = "ngForm" (ngSubmit)="reg_addr(rowaddress.value)">
											<div class="modal-content no-padding">
													<div class="row no-margin">
															<div class="input-field col s12 m6 b-fix-top">
																	<mat-form-field>
																		<span class="icon-locate"><i class="material-icons" >location_on</i> </span>
																			<mat-select placeholder="Choose your Circle*" [(value)]="this.region" (selectionChange)="changeState($event.value)" formControlName="state" >
																				<mat-option [value]="item.circle_id" *ngFor="let item of circles;">{{item.name}}</mat-option>
																			</mat-select>
																	</mat-form-field>
																</div>
														<div class="input-field col s12 m6">
															<textarea id="textarea1" name="row_address" formControlName="row_address" autocomplete="off" class="materialize-textarea"></textarea>
															<label for="textarea1">Paste Address*</label>
															<div class="center" *ngIf="!rowaddressformgroup.controls['row_address'].valid && rowaddressformgroup.controls['row_address'].touched">
																<span class="red-text ">*Enter Address.</span>
															</div>
															<span class="red-text">Please include phone number, pincode in address.</span>
														</div>
														
													</div>
												</div>
												<div class="modal-footer">
														<button type="Submit" class="modal-action btn orange btn-large" [disabled]="!rowaddressformgroup.valid">Save and Deliver Here</button>
												</div>
										</form>
								</div>
							<div class="card" *ngIf="address">
								<div class="card-content">
										{{address.address}}, {{address.city}}, {{address.state}}, {{address.pin}}	
										<button type="button" class="btn orange btn-large check-btn" (click)="call_change_section('to_payment')">Continue</button>
								</div>
							</div>						
						</div>
					</div>
        	<!-- End Here -->
          <!-- Fourth Line -->
          <div class="card fourth-line">
            <div class="card-content black-text padd-only no-margin">
            	<div class="row no-margin">
            		<div class="col s1 number center margin-top-cart1 payment-number">
            			<span>4</span>
            		</div>
            		<div class="col s8 my-cart">
            			<span class="font-size-change1 inline-block margin-checkout left grey-text">PAYMENT OPTIONS <i class="material-icons grey-text">check</i></span><br><br>
            			<span class="font600 naam4">Wallet</span>&nbsp;
            		</div>
            		<div class="col s3 right-align margin-top-cart chng">
            			<a href="javascript:" class="btn btn-flat right chngs4 hide" (click)="call_change_section('to_payment')">Change</a>
            		</div>
            	</div>
            </div>
          </div>
          <!-- End Here -->                    
          <!-- Login Checkout -->
        	<div class="row white no-margin login-checkout checkout_4" id="wallet-type" *ngIf="gosection_data.to_payment == true">
        		<form class="margin-top">
          		<div class="row">
                <div class="col s12 m10 offset-m1">
								<div class="wallet-content left">
									{{check_wallet_content()}}
									<!-- <mat-checkbox ></mat-checkbox> -->
									<span *ngIf="checkbox_text.checkbox ==  true">
										<mat-checkbox (change)="pay_amount()" name="include_wallet" value="wallet" checked="true"><span class="black-text">LIBANZ Wallet</span> <span class="grey-text" style="margin-left: 5px;">Balance Rs{{this.todoservice.get_user_wallet_amount()}}</span> </mat-checkbox>
									</span>
									<span *ngIf="checkbox_text.radio == true">
										<mat-radio-button value="wallet" name="wallet_type" (change)="pay_amount()" checked="true"><span class="black-text">LIBANZ Wallet</span> <span class="grey-text" style="margin-left: 5px;">Balance Rs{{this.todoservice.get_user_wallet_amount()}}</span></mat-radio-button>
									</span>
									<span *ngIf="checkbox_text.no_input == true">
										<i class="material-icons red-text" style="font-size: 22px;">error_outline</i> <span class="black-text">LIBANZ Wallet</span> <span class="grey-text" style="margin-left: 5px;">Balance Rs{{this.todoservice.get_user_wallet_amount()}}</span>
									</span>
								</div>	
										<div class="clearfix"></div>
										<div class="red-text pt-left-35" *ngIf="this.productservice.cartItemsCount() > 1 && this.productservice.calculateCartAmount() >= this.todoservice.get_user_wallet_amount()">Partial Wallet Amount Can be used in single Product Only.</div> 
								</div>
              </div>
              <div class="row">
          			<div class="col s12 m10 offset-m1">
									<mat-radio-button value="paytm" name="wallet_type" id="paytm" (change)="cod_apply()" [checked]="(checkbox_text.no_input == true || checkbox_text.checkbox ==  true)?true:false"><img src="{{this.todoservice.base_url}}web-app/assets/images/paytm-logo.png" alt="paytm-wallet"></mat-radio-button>
          			</div>
          		</div>
          		<!-- Credit Card -->
          		<div class="row">
          			<div class="col s12 m10 offset-m1">
									<mat-radio-button value="card" name="wallet_type" id="card" (change)="cod_apply()">Cards & Netbanking</mat-radio-button>
          			</div>
							</div>
							<div class="row" *ngIf="this.productservice.cod_invalid == false">
								<div class="col s12 m10 offset-m1">
									<span *ngIf="!this.productservice.check_cashon_delivery()">
											<mat-radio-button value="cod" name="wallet_type" id="cod" (change)="cod_apply()"> Cash on Delivery / ( COD )</mat-radio-button>
									</span>
									<span *ngIf="this.productservice.check_cashon_delivery()"><i class="material-icons red-text" style="font-size: 22px;">error_outline</i><label> Cash on Delivery / ( COD )</label></span>
									<div class="clearfix"></div>
									<span class="red-text pt-left-35" *ngIf="this.productservice.check_cashon_delivery()"> Not Available On Selected item(s).</span>
								</div>
							</div>
				</form>
				<div class="col s12 m10 offset-m1">
					<div class="name margin-checkout">
						<span><button href="javascript:" class="btn orange btn-large" (click)="checkout_items(1)" [disabled]="disabled"> Checkout Rs. ({{pay_amount() - this.calculate_bonus()}})</button></span>
					</div>
					
				</div>
        	</div>
        	<!-- End Here -->
				</div>
				<div class="col s12 m4 order-summary">
					<div class="card">
            <div class="card-content black-text no-padding fix-inne-pad">
            	<span class="card-title inline-block">Order Summary</span>
				<hr>
				
				<div class="subtotal" style="border-bottom: 1px dotted #eee;" *ngFor="let item of this.productservice.cart_items;let i = index;">
					<div *ngIf="item && ( item.product.tsk_kit == 2 || item.product.tsk_kit == 3) ; then kitblock else nokitblock"></div>
					<p class="inline-block font600 " style="width:80%;"> <span class="grey-text font500 pack-title">{{item.product.title}} :</span></p>
					<ng-template #kitblock>
						<p class="inline-block right font-size-change green-text" *ngIf="item.product.tsk_kit == 2"> <i class="icon-inr"></i> {{item.product.offer_price}} <span class="no-padding" *ngIf="item.quantity > 1">x {{item.quantity}}</span></p>
						<p class="inline-block right font-size-change green-text" *ngIf="item.product.tsk_kit == 3"> <i class="icon-inr"></i> {{(item.product.price - 1000) }} <span class="no-padding" *ngIf="item.quantity > 1">x {{item.quantity}}</span></p>
					</ng-template>
					<ng-template #nokitblock>
						<p class="inline-block right font-size-change green-text"> <i class="icon-inr"></i> {{item.product.offer_price}} <span class="no-padding" *ngIf="item.quantity > 1">x {{item.quantity}}</span></p>
					</ng-template>
					<br/>
					<div style="padding-top: 10px;" *ngFor="let pack of item.product.pack_selected">
						<p class="font600 left"> <span class="grey-text font500 pack-title" style="width:80%;">{{pack.title}} :</span></p>
						<p class="right font-size-change" *ngIf="item.product.multi != 1"> <i class="icon-inr"></i>{{pack.price}} <span class="no-padding" *ngIf="item.quantity > 1">x {{item.quantity}}</span></p>
						<p class="right font-size-change" *ngIf="item.product.multi == 1"> <i class="icon-inr"></i>{{pack.multi_price}} <span class="no-padding" *ngIf="item.quantity > 1">x {{item.quantity}}</span></p>
						<div class="clearfix"></div>
					</div>
					<div style="padding-top: 10px;" *ngIf="item.product.promos">
						<p class="inline-block font600" style="width:80%;"> Promocode {{item.product.promos.unique_code}} is applied  :</p>
						<p class="inline-block green-text right font-size-change" *ngIf="item.product.promos.amount_calc_type == 0" style="padding-top:7px;"> <i class="icon-inr"></i> -{{item.product.promos.discount}} </p>
						<p class="inline-block green-text right font-size-change" *ngIf="item.product.promos.amount_calc_type == 1"  style="padding-top:7px;"> <i class="icon-inr"></i> -{{(item.product.promos.discount / product.offer_price)*100}} </p>
					</div> 
						<div style="padding-top: 10px;" *ngIf="this.bonus_quantity(i) > 0">
								<p class="inline-block grey-text"> Product Bonus Applied :</p>
								<p class="inline-block green-text right font-size-change" *ngIf="this.options"> <i class="icon-inr"></i> -{{this.options.how_much_apply_to_product}} x {{bonus_quantity(i)}} </p>
							</div>	
				</div>				
            	<div class="subtotal">
            		<p class="inline-block">Delivery Charges :</p>
            		<p class="inline-block green-text right font-size-change"  style="padding-top:7px;"> Free </p>
							</div>
							<hr class="horizontal">
            	<div class="subtotal payable margin-top">
            		<p class="inline-block font600">Amount Payable :</p>
            		<p class="inline-block right font-size-change"  style="padding-top:7px;"> <i class="icon-inr"></i>{{this.productservice.calculateCartAmount() - this.calculate_bonus()}} </p>
            	</div>
            	<hr>
            	<div class="subtotal">
									<p class="inline-block green-text" *ngIf="this.productservice.cashback_amount() > 0"><b>Cashback:</b> Amount of <i class="icon-inr"></i>{{this.productservice.cashback_amount()}} Will be added to your wallet after product activation.</p><div class="clearfix"></div>
            		<p class="inline-block green-text">Your Total Savings on this order <i class="icon-inr"></i>{{this.productservice.total_savings()}}</p><div class="clearfix"></div>
            		<!-- <p class="inline-block red-text">*You will get cashback After Product Activation.</p> -->
              </div>
                
            </div>
          </div>
          <div class="security1" style="padding-top:10px;">
          	<ul>
          		<li class="shield-img inline-block center"><img src="{{this.todoservice.base_url}}web-app/assets/images/shield.png" class="responsive-img" alt="shield" width="40px"></li>
          		<li class="shield-text inline-block"><span class="no-padding grey-text">Safe and Secure Payments. Easy returns payment on your wallet before activation set top box. 100% Authentic products.</span></li>
          	</ul>
          </div>
				</div>
			</div>
		</div>
    </section>
    
    <ul id="slide-out" class="side-nav">
            <div class="user-view no-padding">
                  <li class="inline-block"><a href="javascript:" routerLink="/login" class="logup">Login</a></li>
              <li class="inline-block"><a href="#" class="signup">Sign Up</a></li>
            </div>
            <li><div class="divider"></div></li>
          <li><a href="javascript:" routerLink="/home" class="active">Home</a></li>
          <li><a href="javascript:" routerLink="/about-us">About Us</a></li>
          <li><a href="javascript:" routerLink="/home">Cash On Delivery</a></li>
          <li><a href="javascript:" routerLink="/home">Free Shipping</a></li>
          <li><a href="javascript:" routerLink="/home">Best Selling</a></li>
          <li><a href="javascript:" routerLink="/contact-us">Contact Us</a></li>
        </ul>
	<div class="religon-overlay"> 
			<div class="religon-modal center" >
				<p>
						<span id="custom-text">Your Application is Outdated. Please update it.</span> 
				</p>
				<a class="btn-large orange" style="margin-top: 20px;" href="javascript:" (click)="update_application()">Update Now</a> 
			</div>
		</div>

      <div id="add-address" class="modal">
            <form class="margin-top location-add1" #addnewaddress = "ngForm" (ngSubmit)="edit_addr(addnewaddress.value)">
        <div class="modal-content no-padding" *ngIf="edit == true">
            <div class="add-add border-bottom">
              <h4 class="inline-block">Edit Address</h4>
              <!-- <a href="javascript:" class="btn orange white-text inline-block right"><i class="material-icons">my_location</i> Use my current location</a> -->
            </div>
                <div class="row no-margin">
                <div class="input-field col s12 m6">
                  <input name="name" id="name" type="text" class="validate" value="{{editaddress.name}}" [(ngModel)]="editaddress.name">
                  <label for="name" class="active" *ngIf="editaddress.name != ''">Name</label>
                  <label for="name" *ngIf="editaddress.name == ''">Name</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="phn-no" name="contact" type="text" class="validate" ngModel value="{{editaddress.contact}}" [(ngModel)]="editaddress.contact">
                  <label for="phn-no" class="active" *ngIf="editaddress.contact != ''">Phone Number</label>
                  <label for="phn-no" *ngIf="editaddress.contact == ''">Phone Number</label>
                </div>
              </div>
              <div class="row no-margin">
                <div class="input-field col s12 m6">
                  <input name="pincode" id="pincode" maxlength="6" type="number" class="validate" value="{{editaddress.pin}}" [(ngModel)]="editaddress.pin">
                  <label for="pincode" class="active" *ngIf="editaddress.pin != ''">Pincode</label>
                  <label for="pincode" *ngIf="editaddress.pin == ''">Pincode</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="locality" name="locality" type="text" class="validate" value="{{editaddress.locality}}" [(ngModel)]="editaddress.locality">
                  <label for="locality" class="active" *ngIf="editaddress.locality != ''">Locality</label>
                  <label for="locality" *ngIf="editaddress.locality == ''">Locality</label>
                </div>
              </div>
              <div class="row no-margin">
                <div class="input-field col s12 m6">
                  <input name="city" id="city" type="text" class="validate" value="{{editaddress.city}}" [(ngModel)]="editaddress.city">
                  <label for="city" class="active" *ngIf="editaddress.city != ''">City/District/Town</label>
                  <label for="city" *ngIf="editaddress.city != ''">City/District/Town</label>
                </div>
                <div class="input-field col s12 m6">
                        <mat-form-field>
                            <mat-select placeholder="Choose your State" (selectionChange)="changeState($event.value)" name="state" [(ngModel)]="editaddress.state">
                                <mat-option [value]="Delhi">Delhi</mat-option>
                                <mat-option [value]="Mumbai">Mumbai</mat-option>
                                <mat-option [value]="Chennai">Chennai</mat-option>
                            </mat-select>
                        </mat-form-field>
                </div>
              </div>
              <div class="row no-margin">
                <div class="input-field col s12">
                  <input name="address" id="land" type="text" class="validate" value="{{editaddress.address}}" [(ngModel)]="editaddress.address">
                  <label for="land" class="active" *ngIf="editaddress.address != ''">Address (Area and street) (Optional)</label>
                  <label for="land" *ngIf="editaddress.address == ''">Address (Area and street) (Optional)</label>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="Submit" class="modal-action btn orange btn-large">Save and Delivery Here</button>
          <a href="javascript:" class="modal-action modal-close waves-effect btn grey lighten-3 black-text btn-large">Close</a>
        </div>
    </form>
		</div>
</ng-template>	
<div id="kit-modal" class="modal">
	<div class="modal-content">
		<h3 class="font600">Pay for OTF Margin <span class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Advance Payment for TSK 999."><i class="material-icons">error_outline</i></span></h3>
		<span class="modal-close close-modal-span"><i class="material-icons font-size-change1">close</i></span>
			<div class="kit-images margin-top-order">
				<div class=" inline-block">
					<span class="multiply">{{otfquantity}}</span>
					<span class="multiply-sign"><i class="material-icons">close</i></span>
					<img src="{{this.todoservice.base_url}}web-app/assets/images/banner/999kit.png">
				</div>
				<div class="otf-margin inline-block">
					<span *ngIf="otf_margin">{{otf_margin.option_value}}</span>
					<span><i class="material-icons">close</i></span>
					<span *ngIf="otfquantity">{{otfquantity}}</span>
					<span><i class="material-icons">drag_handle</i></span>
					<span *ngIf="otf_margin">{{otfquantity * otf_margin.option_value}}</span>
				</div>
			</div>
				<div class="margin-top">
					<div *ngIf="otf_margin">
						<div class="cod1" *ngIf="this.todoservice.get_user_wallet_amount() >= otfquantity * otf_margin.option_value">
							<input type="radio" id="cod-2" name="payment_type" class="with-gap" value="wallet" checked/>
							<label for="cod-2" class="black-text">Use Wallet</label>
						</div>
					</div>
					<div class="uwa margin-top">
						<input type="radio" id="uwa" name="payment_type" class="with-gap" value="paytm"/>
						<label for="uwa" class="black-text">Paytm</label>
					</div>
				</div>
			</div>
		<div class="modal-footer right-align">
			<button type="submit" class="btn orange" (click)="check_for_tsk()">Proceed</button>
			<!-- <h4 class="left red-text" *ngIf="this.todoservice.get_user_wallet() < selected_item.display_price && selected_item.cod_available != 1">Sorry! You do not have sufficient balance in your wallet.</h4> -->
		</div>
</div>
	<span id="kit-modal-a" data-target="kit-modal" class="modal-trigger"></span>
	<ng-template #thankssection></ng-template>
	<app-footer></app-footer>	