<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	bdColor="rgba(255,255,255,0.8)"
	size="default"
	color="#ec9737"
	loadingText="Loading..."
	type="ball-clip-rotate">
</ngx-spinner>
</div>

<section class="compare-dth white">
  <div class="container">
    <div class="row">
        <div class="compare-top-row hide">
            <div class="col s12 l2 m2 my-compair feature-image-wrapper">
                <i class="material-icons">format_list_bulleted</i>
                <h3>Feature Options</h3>
              </div>
            <div [className]="i == 0 ? 'col l3 my-compair':'col l2 my-compair'" *ngFor="let item of compare_products;let i = index;">
              <div class="compare-text left white-text center">                  
                <span class="span-compre-title">{{item.title}}</span>
              </div>
              <div class="image-wrapper center">
                <a [routerLink]="['/product/'+item.url]" target="_blank"><img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-img" alt="{{item.title}}"></a><br/>
                <i class="icon-inr font-size-change1">{{item.offer_price}}</i>
                <div class="clearfix"></div>
                <div class="btn-new1 center"><a class="btn" [routerLink]="['/product/'+item.url]" target="_blank">Book Now</a></div>
              </div>
            </div>
            <div class="col s12 m3 padd" *ngIf="!disable_compare">
              <a href="#" class="font-size-change1 chng-set dropdown-button" data-activates='dropdown1'>Add Set Top Box</a>
              <ul id='dropdown1' class='dropdown-content'>
                <li *ngFor="let item of product_category_list;">
                  <a href="#tata-sky-modal" class="modal-trigger" (click)="category_selected(item.id)">{{item.title}}</a>
                </li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
      <div class="col s12 m12 center">
        <h2 class="font600" id="compare-title">Compare Your DTH Box Plans</h2>
      </div>      
      <div class="row my-compair hide-on-med-and-down">
          <div class="col s12 l2 m2 my-compair">
          <div class="compare-table features">
          <table class="table centered bordered ">
              <tbody>
                <tr>
                  <td>
                      <div class="feature-image-wrapper">
                        <i class="material-icons">format_list_bulleted</i>
                        <h3>Feature Options</h3>
                      </div>
                  </td>
                  
                </tr>
                <tr *ngFor="let feature of all_specifications;">
                  <td>
                    <span title="{{feature.title}}">{{trim_text(feature.title)}}</span>
                  </td>
                </tr>
                <tr>
                  <td><span class="font-size-change-order font600 inline-block margin-top-order"> Channel Available</span></td>
                </tr> 
              </tbody>
            </table>
        </div>
      </div>

        <div [className]="i == 0 ? 'col s12 l3 my-compair no-padding':'col s12 l2 my-compair no-padding'" *ngFor="let item of compare_products;let i = index;">
          
          <div class="compare-text left">
            <span>{{item.title}}</span>
          </div>
          <a href="javascript:" class="grey-text right croses" (click)="unbox_me(item.url);"><i class="material-icons">highlight_off</i></a>
			<div class="compare-table">
			<table class="table centered bordered ">
          <tbody>
            <tr>
              <td>
                <div class="image-wrapper">
                    <a [routerLink]="['/product/'+item.url]" target="_blank"><img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-img" alt="{{item.title}}"></a><br/>
                    <i class="icon-inr font-size-change1">{{item.offer_price}}</i>
                    <div class="clearfix"></div>
                    <div class="btn-new1 center"><a class="btn" [routerLink]="['/product/'+item.url]" target="_blank">Book Now</a></div>
                </div>
              </td>
              
            </tr>
			      <tr *ngFor="let feature of to_json(item.specifications);">
              <td>
                <span title="{{feature.value}}"[className]="feature.value.includes('Not Available')?'font600 red-text':'font600 green-text'">{{trim_text(feature.value)}}</span>
              </td>
            </tr>
            <tr>
              <td><span class="font-size-change-order font600 inline-block margin-top-order"><a class="blue-text" [routerLink]="['/product/'+item.url]" target="_blank">View Channel Packs</a></span></td>
            </tr> 
          </tbody>
        </table>
		</div>
  </div>
  <div class="col s12 m3" *ngIf="!disable_compare">
              <a href="#" class="font-size-change1 chng-set dropdown-button" data-activates='dropdown1'>Add Set Top Box</a>
              <ul id='dropdown1' class='dropdown-content'>
                <li *ngFor="let item of product_category_list;">
                  <a href="#tata-sky-modal" class="modal-trigger" (click)="category_selected(item.id)">{{item.title}}</a>
                </li>
              </ul>
            </div>
			</div>
			<!-- Responsive Compare -->
			<div class="row show-on-medium-and-down hide-on-med-and-up">
				<div class="products-list" *ngFor="let item of compare_products;let i = index;">
				<div class="col s6 compare-table responsive-compare-table">
					<table class="table centered bordered">
						<tbody>
							<tr>
								<td>
									<div class="compare-table features">
										<div class="feature-image-wrapper">
											<i class="material-icons">format_list_bulleted</i>
											<h3>Feature Options</h3>
										</div>
									</div>
								</td>
							</tr>
							<tr *ngFor="let feature of all_specifications;">
								<td>
									<span title="{{feature.title}}">{{trim_text(feature.title)}}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col s6 compare-table responsive-compare-table">
					<table class="table centered bordered">
						<tbody>
							<tr>
								<td>
									<div class="compare-text left">
										<span>{{item.title}}</span>
									</div>
									<a class="grey-text right croses" href="javascript:" (click)="unbox_me(item.url);"><i class="material-icons">highlight_off</i></a>
									<div class="image-wrapper">
										<a target="_blank" ng-reflect-target="_blank"  [routerLink]="['/product/'+item.url]"><img class="responsive-img" src="https://www.mydthshop.com/accounts/assets/img/product-img/270x270{{item.image}}" alt="{{item.title}}"></a><br>
										<i class="icon-inr font-size-change1">{{item.offer_price}}</i>
										<div class="clearfix"></div>
										<div class="btn-new1 center"><a class="btn" target="_blank"  [routerLink]="['/product/'+item.url]">Book Now</a></div>
									</div>
								</td>
							</tr>
							<tr *ngFor="let feature of to_json(item.specifications);">
								<td>
									<span title="{{feature.value}}"[className]="feature.value.includes('Not Available')?'font600 red-text':'font600 green-text'">{{trim_text(feature.value)}}</span>
								</td>
							</tr>
							<tr>
								<td><span class="font-size-change-order font600 inline-block margin-top-order"><a class="blue-text" [routerLink]="['/product/'+item.url]" target="_blank">View Channel Packs</a></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				</div>
				<div class="col s12 m12 center btn-new1" *ngIf="!disable_compare">
					<a href="#" class="font-size-change1 chng-set dropdown-button btn" data-activates='dropdown1'>Add Set Top Box</a>
					<ul id='dropdown1' class='dropdown-content'>
						<li *ngFor="let item of product_category_list;">
							<a href="#tata-sky-modal" class="modal-trigger" (click)="category_selected(item.id)">{{item.title}}</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- End Here -->
			
    </div>
  </div>
</section>
<!-- Compare Modal -->
<div id="tata-sky-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Choose Set Up Box </h4>
      <div class="row" *ngIf="product_list">
        <div class="col s6 m3" *ngFor="let item of product_list">
          <a href="javascript:" class="black-text modal-close" (click)="continue_to_change(item.url)">
            <div class="card choose-set-up-box center">
              <div class="card-image">
                <img src="https://www.mydthshop.com/accounts/assets/img/product-img/270x270{{item.image}}" class="responsive-img" alt="{{item.title}}">
              </div>
              <div class="card-content">
                <span>{{item.title}}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row" *ngIf="!product_list">
        Loading Products
      </div>
      
    </div>
    <div class="modal-footer">
      <a href="javascript:" class="modal-action btn red modal-close">Close</a>
    </div>
  </div>
<app-footer></app-footer>


