<style>

.order-list {
    border-bottom: 1px solid #e2e2e2;
    margin: 0px !important;
}
p.red-text.center.margin-checkout {
    position: absolute;
    bottom: 0px;
    text-align: center;
    margin: auto;
    left: 30%;
}
	body{

overflow:hidden !important;
}
	.thanks-txt{

		font-size:14px;
	}
	.cst-text{
			text-align: center;
	}
	.card .card-content {
    padding: 0px;
    border-radius: 0 0 2px 2px;
}
.margin-top-order{
	margin:0px !important;
	 padding:2px 0px 2px 5px !important;
}
.card .card-content .card-title {
    line-height: 10px !important;
}

.card .card-content p {
    margin: -2px;

}
.fix-padding{

	padding: 0px;
}
	@media only screen and ( max-width: 767px){

		.cst-text{
			text-align: center;
    font-size: 20px;
		}

		.fix-top-box{

			margin-top:-20px;
		}

		.order-list {
    
    margin: 0px !important;
}
	}
</style>
<app-header class="hide-on-mobile"></app-header>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>
<!-- End Here -->
<section class="middle white fix-top-box">
	<div class="row no-margin">
		<div class="col s12 m10 l6 offset-l3 fix-padding">
			<div class="card no-margin">
				<div class="card-content" *ngIf="orders">
						<div class="col s12 no-padding">	
							<div class="icon" style="background-color: green;
							color: #fff;
							height: 45px;
							width: 45px;
							padding: 5px 0px 0px 12px;
							border-radius: 50%;
							font-size: 24px;">
								<span class="fa fa-check"></span>
							</div>								
							<h2 class="font600 cst-text thanks-txt">Thank you for shopping with us.</h2>
							<span class="font-size-change1" style="text-align: center;">We will send you a SMS conformation within 30 mintues.</span>
							<div class="border padd-rem margin-top-order">
								<p class="font-size-change1"><span class="font600">Item(s) will be delivered to {{orders[0].deliver_to}}</span> from Mydthshop</p>
								<p class="font-size-change1"><span class="font-size-change1 font600 black-text">Estimated delivery:</span> <span class="font-size-change1 font600 green-text">{{orders[0].delivery_date}}</span></p>
							</div>
						</div>
						<div class="order-list" *ngFor="let order of orders">							
							<div class="row no-margin border-on-bottom">
								
								<div class="col s8 no-padding">
									<span class="font-size-change1">Order Number</span><br>
									<span class="font-size-change-order font600">{{order.id}}</span><br>
									<span class="font-size-change1 grey-text">{{order.formated_date}}</span>
								</div>
								<div class="col s4 right-align">
									<span class="font-size-change1">Amount</span><br>
									<span class="font-size-change-order font600"><span id="total-amount"></span><span *ngIf="order.qty > 1">{{order.qty}} x </span>{{order.price}} + {{pack_data(order.pack_selected,order.title).amount}} = <i class="icon-inr"></i>{{order.qty*order.price + pack_data(order.pack_selected,order.title).amount}}</span><br>
									<span [innerHTML]="pack_data(order.pack_selected).list"></span>
									
								</div>
							</div>
							<div class="row margin-checkout">						
								<div class="col s12 m2" >
									<a href="javascript:">
										<span ><img src="https://www.mydthshop.com/accounts/assets/img/product-img/100x100{{order.image}}" class="responsive-img vertical-align-middle border" alt="Tata sky logo"></span>
									</a>
									
								</div>
								<div class="col s12 m6 no-padding">
									<a href="javascript:" class="black-text"><span class="font600 font-size-change-order">{{order.title}}</span></a><br>
									<span class="font-size-change-order font600">Setup Box</span>
									<div class="package-section grey-text" *ngIf="order.tsk_type">
										<div class="tsk-item " *ngIf="order.tsk_type == 1"><span class="font-size-change">TSK</span> <span class="font-size-change ">99</span></div>
										<div class="tsk-item" *ngIf="order.tsk_type == 2"><span class="font-size-change ">TSK</span> <span class="font-size-change ">599</span></div>
										<div class="tsk-item" *ngIf="order.tsk_type == 3"><span class="font-size-change ">TSK</span> <span class="font-size-change ">999</span></div>
										<div class="tsk-item" *ngIf="order.tsk_type == 3"><span class="font-size-change ">TSK Payment</span> <span class="font-size-change " *ngIf="order.tsk_paid == 0">Pending</span><span class="font-size-change-order font600" *ngIf="order.tsk_paid == 1">Paid</span> <!--<a href="javascript:" class="btn tsk-paynow-btn">Pay Now</a>--></div>
										<div class="clearfix"></div>
										<div class="tsk-item"><span class="font-size-change ">Package</span> <span class="font-size-change " *ngIf="order.package_type">{{order.package_type}} Month</span></div>
										<div class="month-item"></div>
									</div>
								</div>
								<!-- <div class="col s12 m4 right-align">
									<a href="#" class="green white-text font-size-change success" *ngIf="order.payment_status == 1">Success</a>
									<a href="#" class="orange white-text font-size-change success" *ngIf="order.payment_status == 3">Pending...</a>
									<a href="#" class="red darken-1 white-text font-size-change success" *ngIf="order.payment_status == 2">Failed</a>
								</div> -->
								<div class="clearfix"></div>
								<div class="center"><span class="card-title margin-top orange-text">Your Order Status is {{order.status}}</span></div>								
								<div class="center"><span class="font-size-change1 margin-top green-text">*Congratulations You Will receive Rs.{{order.cashback}} Cashback on your MyDth Wallet After Activation.</span></div>								
								<!-- <div class="center" *ngIf="order.cashback > 0 && order.payment == 'wallet'"><span class="font-size-change1 margin-top green-text">*Congratulations You Have recieved {{order.cashback}} Cashback on your MyDth Wallet.</span></div>								 -->
							</div> 
						</div>
						<div class="center"><a routerLink="/" class="btn orange white-text full-width rounded-btn">Continue Shopping</a></div>
						
						<br/><p class="red-text center margin-checkout">*This Order Invoice Also Send on Your Registered e-Mail Id.</p>
					</div>
				</div>
			</div>
		</div>	
	</section>
<!-- Middle Section End Here -->