<style>

.order-list {
    border-bottom: 1px solid #e2e2e2;
    margin: 0px !important;
}
p.red-text.center.margin-checkout {
    bottom: 12px;
    justify-content: center !important;
}
	body{

overflow:hidden !important;
}
	.card .card-content {
    padding: 0px;
    border-radius: 0 0 2px 2px;
}
.margin-top-order{
	margin:0px !important;
	 padding:2px 0px 2px 5px !important;
}
.card .card-content .card-title {
    line-height: 10px !important;
}

.fix-padding{

	padding: 0px;
}
	@media only screen and ( max-width: 767px){

		.fix-top-box{

			margin-top:-20px;
		}

		.order-list {
    
    margin: 0px !important;
}
	}
</style>
<app-header class="hide-on-mobile"></app-header>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>
<!-- End Here -->
<section class="middle white fix-top-box">
	<div class="row no-margin">
		<div class="col s12 m10 l6 offset-l3 fix-padding">
			<div class="card no-margin">
				<div class="card-content" *ngIf="orders">
						<div class="col s12 no-padding center">	
							<span *ngIf="orders[0].payment_status != 2 && orders[0].status != 'Pending'" class="icon" style="background-color: green;
								color: #fff;
								padding: 5px;
								border-radius: 50%;
								font-size: 30px;">
								<span class="fa fa-check" ></span>
							</span>
							<div *ngIf="orders[0].payment_status != 2 && orders[0].status == 'Received'">
								<h4 class="font600">Thank you for shopping with us.</h4>
								<span class="font-size-change1" style="text-align: center;">We will send you a SMS conformation within 30 mintues.</span>
								<div class="border padd-rem margin-top-order">
									<p class="font-size-change1"><span class="font600">Item(s) will be delivered to {{orders[0].deliver_to}}</span> from Libanz</p>
									<p class="font-size-change1"><span class="font-size-change1 font600 black-text">Estimated delivery:</span> <span class="font-size-change1 font600 green-text">{{orders[0].delivery_date}}</span></p>
								</div>
							</div>
							<div *ngIf="orders[0].payment_status == 2;" class="icon" style="
							color: #f1592a;
							padding: 5px 0px 0px 12px;
							border-radius: 50%;
							font-size: 30px;">
								<span class="fa fa-exclamation-triangle" ></span>
								<h4 class="font600">Your Payment is failed.</h4>
							</div>							
							
						</div>
						<div class="order-list" *ngFor="let order of orders">							
							<div class="row no-margin border-on-bottom">
								
								
								<!-- <div class="col s6 right-align">
									<span class="font-size-change1">Amount</span><br>
									<span [className]="(order.bonus_amount == 0) ? 'font-size-change-order font600' : ''"><span id="total-amount"></span><span *ngIf="order.qty > 1">{{order.qty}} x </span>{{order.price}} + {{pack_data(order.pack_selected,order.title).amount}} = <i class="icon-inr"></i>{{order.qty*order.price + pack_data(order.pack_selected,order.title).amount }}</span><br>
									<span class="font-size-change-order font600" *ngIf="order.bonus_amount > 0">{{order.qty*order.price + pack_data(order.pack_selected,order.title).amount}} - {{order.bonus_amount}}(Bonus) = {{order.qty*order.price + pack_data(order.pack_selected,order.title).amount - order.bonus_amount}} <br></span>
									<span [innerHTML]="pack_data(order.pack_selected).list"></span>
								</div> -->
							</div>
							<div class="row margin-checkout">						
								<div class="col s3 m2" >
									<a href="javascript:">
										<span ><img src="{{this.todoservice.base_url}}accounts/assets/img/product-img/100x100{{order.image}}" class="responsive-img vertical-align-middle border" alt="Tata sky logo"></span>
									</a>
								</div>
								<div class="col s9 m10 no-padding">
									<div class="col m9 s6 left-box">
										<a href="javascript:" class="black-text"><span class="font600 font-size-change-order">{{order.title}}</span></a><br>
										<!-- <div class="clearfix"></div> --> 
										<div class="tsk-item">
											<span class="font-size-change grey-text">Package : </span> <span class="font-size-change " *ngIf="order.package_type">{{order.package_type}} Month</span>
											<div class="clearfix"></div>
											<span class="font-size-change grey-text">Quantity : </span> <span class="font-size-change">{{order.qty}} Item(s)</span>
										</div>
										<div class="month-item"></div>
									</div>
									<div class="col m3 s6 right-align">
											<span class="font-size-change1">Order Number</span><br>
											<span class="font-size-change-order font600">{{order.id}}</span><br>
											<span class="font-size-change1 grey-text">{{order.formated_date}}</span>
										</div>
								</div>
								<div class="clearfix"></div>
								<div class="subtotal" style="border-bottom: 1px dotted #eee;">
									<p class="font600 left"> <span class="grey-text font500 pack-title">Product :</span></p>
									<p class="inline-block right font-size-change green-text"> <i class="icon-inr"></i> {{order.price}}</p>
									<br/>
									<div style="padding-top: 10px;" *ngFor="let pack of decode_json(order.pack_selected)">
										<p class="font600 left"> <span class="grey-text font500 pack-title">{{pack.title}} :</span></p>
										<p class="right font-size-change"> <i class="icon-inr"></i>{{pack.price}}</p>
										<div class="clearfix"></div>
									</div>
									<div style="padding-top: 10px;" *ngIf="order.promo_cashback && order.promo_cashback > 0">
										<p class="inline-block font600">Promocode Cashback  :</p>
										<p class="inline-block green-text right font-size-change"> <i class="icon-inr"></i> -{{order.promo_cashback}} </p>
									</div>
									
									<div style="padding-top: 10px;" *ngIf="order.bonus_amount && order.bonus_amount > 0">
										<p class="inline-block grey-text">Product Bonus Amount :</p>
										<p class="inline-block green-text right font-size-change"> <i class="icon-inr"></i> -{{order.bonus_amount}} </p>
									</div>
									<div style="padding-top: 10px;" *ngIf="order.commission_surcharge && to_number(order.commission_surcharge) > 0">
										<p class="inline-block grey-text">Got Extra Cashback :</p>
										<p class="inline-block green-text right font-size-change"> <i class="icon-inr"></i> {{-1 * order.commission_surcharge}} </p>
									</div>
									<div class="row no-margin border-on-bottom"></div>
									<div style="padding-top: 10px;">
										<p class="inline-block grey-text">Amount Payable :</p>
										<p class="font-size-change right green-text" id="cashback-item"><i class="icon-inr"></i>{{order.grand_total}}</p>		
									</div>	
								</div>								
								<div class="center"><span class="card-title margin-top orange-text">Your Order Status is {{order.status}}</span></div>								
								<div class="center" *ngIf="order.cashback > 0 && (order.status == 'Received' || order.status == 'Booked')"><span class="font-size-change1 margin-top green-text">*Congratulations You Will receive Rs.{{order.cashback * order.qty}} Cashback on your Libanz Wallet After Activation.</span></div>								
								<!-- <div class="center" *ngIf="order.cashback > 0 && order.payment == 'wallet'"><span class="font-size-change1 margin-top green-text">*Congratulations You Have recieved {{order.cashback}} Cashback on your Libanz Wallet.</span></div>								 -->
							</div> 
						</div>
						<div class="center"><a href="javascript:" class="btn orange white-text full-width rounded-btn" (click)="back_to_home()">Continue Shopping</a></div>
						<p class="red-text center margin-checkout">*This Order Invoice Also Send on Your Registered e-Mail Id.</p>
					</div>
				</div>
			</div>
		</div>	
	</section>
<!-- Middle Section End Here -->
<app-footer></app-footer>