<app-header></app-header>
<section class="flash-deal">
    <div class="container">
        <div class="row no-margin">
            <div class="col s12 m3">
                <div class="card">
              <div class="card-content user-content">
                  <div class="user-image">
                      <img src="{{this.todoservice.base_url}}assets/images/recharge-icon/user.svg" class="responsive-img" alt="User-icon" width="50">
                  </div>
                  <div class="user-name">
                      <span>Welcome,</span><br>
                      <span class="font-size-change font600">{{this.todoservice.get_user_name()}}</span>
                  </div>
              </div>
            </div>
                <app-side-nav></app-side-nav>			    
            </div>
            <div class="col s12 m9">
                <div class="card">
                    <div class="card-content" *ngIf="order_id">
                        <ul class="back-icon">
                          <li><a class="black-text" href="javascript:" (click)="back_to_addmoney()">Back</a></li>
                        </ul>
                        <div  class="mb-1">
                            <h3 class="font600 inline-block">Invoice </h3>
                        </div>
                        <ul *ngIf="order_data">
                          <li><strong>Invoice No: </strong> #{{order_data.id}}</li>
                          <li><strong>Amount: </strong> {{order_data.amount}}</li>
                          <li><strong>Date issued: </strong> {{order_data.history_time | date: date:'dd M, Y'}}</li>
                          <li><strong>Payment Status: </strong><span *ngIf="order_data.payment_status == 2" class="red-text">Failed</span><span *ngIf="order_data.payment_status == 1" class="green-text">Successful</span><span *ngIf="order_data.payment_status == 3" class="orange-text">Pending</span></li>
                          <li><strong>Payment Method: </strong><span *ngIf="order_data.paymethod == 1">Wallet</span><span *ngIf="order_data.paymethod == 2">Gateway</span><span *ngIf="order_data.paymethod == 3">Mydth</span><span *ngIf="order_data.paymethod == 4">Paytm</span></li>
                          <li><strong>Commission/Surcharge: </strong>Rs.{{order_data.commission_surcharge}}</li>
                          <li><strong>Comment: </strong>{{order_data.comment}}</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                      <div class="card-content" *ngIf="!order_id">
                        <h3 class="font600 inline-block">TopUp Request </h3>
                        <div class="row sec-7">
                            <div class="col s12 m7">
                                <form #addmoneyform = "ngForm" (ngSubmit)="add_money(addmoneyform.value)">
                              <div class="row">
                                <div class="input-field col s12 m10">
                                  <input id="enter-amount" name="amount" ngModel type="number" class="validate no-margin" (keyup)="calc_percentage()">
                                  <label for="enter-amount">Enter Amount*</label>
                                </div>
                              </div>
							                <div class="row"> 
                                <div class="input-field col s12 m10">
                                    <mat-form-field>
                                        <mat-select placeholder="Select Payment Method" (selectionChange)='check_method($event.value)'  [(ngModel)]="paymethod" name="paymethod">
                                          <mat-option [value]="">Select  </mat-option>
                                          <mat-option [value]="'FUND TRANSFER'">NEFT/IMPS/RTGS/FUND TRANSFER </mat-option>
                                          <mat-option [value]="'Cash Deposit'">Cash Deposit </mat-option>
                                          <mat-option [value]="'Gateway'">Gateway </mat-option>
                                          <mat-option [value]="'Paytm'">Paytm </mat-option>
                                        </mat-select>
                                      </mat-form-field>    
                                </div>
                              </div>
                              <div class="row additional-charge hide">
                                <div class="col s12 m12">
                                  <div class="chip orange white-text">
                                  </div>
                                </div> 
                              </div>
                              <div class="default-hide hide">
							                <div class="row" >
                                <div class="input-field col s12 m10">
                                  <input id="bank-id" name="ref_id" ngModel type="text" class="validate no-margin">
                                  <label for="bank-id">Reference ID/TXN ID*</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12 m10">
                                  <input id="last_name" type="text" class="validate" value="MYDTH{{this.todoservice.get_user_id()}}" disabled="">
                                  <label for="last_name" class="active">Distributor Number*</label>
                                </div>
                              </div>
                              
                              <!-- <div class="row" class="change-hide">
                                <div class="input-field col s12 m10">
                                  <select name="paybankaccount" [(ngModel)]="paybankaccount" id="paybankaccount">
                                    <option value="">Please Select Bank</option>
                                    <option value="HDFC Bank">HDFC Bank</option>
                                    <option value="Axis Bank">Axis Bank</option>
                                    <option value="SBI Bank">SBI Bank</option> 
                                  </select>
                                  <label>MYDTH Bank Name</label>
                                </div>
                              </div> -->
                              <div class="clearfix"></div>
                            </div>
                              <div class="row send-topup hide">
                                <div class="input-field col s12 m10 center">
                                  <button type="submit" class="btn btn-large orange white-text">Send TopUp Request</button>
                                </div>
                              </div>
                              <div class="row send-gateway hide">
                                  <div class="input-field col s12 m10 center">
                                    <button type="submit" class="btn btn-large orange white-text">Proceed</button>
                                  </div>
                                </div>
                            </form>
                            </div>
                            <div class="col s12 m5 axis-bank">
                                <h3 class="orange white-text padd no-margin"><i class="fa fa-edit"></i> HDFC BANK LTD</h3>
                                <table class="responsive-table bordered striped">
                            <tbody>
                              <tr>
                                <td>Account Name</td>
                                <td>Libanz International</td>
                              </tr>
                              <tr>
                                <td>Account Number</td>
                                <td>50200029494213</td>
                              </tr>
                              <tr>
                                <td>IFSC Code</td>
                                <td>HDFC0002072</td>
                              </tr>
                              
                            </tbody>
                          </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="view-more" class="modal complaint-modal">
    <div class="modal-content">
      <h3 class="font600">Order Invoice</h3>
      <span class="modal-close close-mode"><i class="material-icons font-size-change1">close</i></span>
      <div class="row">
      	<div class="col s12 m6">
      		<span class="font-size-change">Order #1001777269</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Order : </span>
      			<span>375a6dabd574214</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Order Date : </span>
      			<span>28-Jan-2018, <time>04:24:13 PM</time></span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Payment Status : </span>
      			<span>Failed</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Recharge Status : </span>
      			<span>Failed</span>
      		</div>
      	</div>
      	<div class="col s12 m6">
      		<span class="font-size-change">User Detail</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Name : </span>
      			<span>JAIN TELECOM</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Email : </span>
      			<span>anantjain296@gmail.com</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Contact No : </span>
      			<span>9911811317</span>
      		</div>
      	</div>
      </div>
      <hr>
      <div class="row">
      	<div class="col s12">
      		<table class="responsive-table bordered striped highlight">
		        <thead>
		          <tr>
	              <th>Subscriber/Customer No.</th>
	              <th>Operator</th>
	              <th>Recharge Amount</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>1234567890</td>
		            <td>Tata Sky</td>
		            <td class="center"><i class="fa fa-inr"></i>20</td>
		          </tr>
		        </tbody>
		      </table>
      	</div>
      </div>
      <hr>
      <div class="row margin-top">
      	<div class="col s12 right-align">
      		<span>Order Totals</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Grand Total : </span>
      			<span><i class="fa fa-inr"></i> 98</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Use Wallet Amount : </span>
      			<span><i class="fa fa-inr"></i> 98</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Total Amount : </span>
      			<span><i class="fa fa-inr"></i> 0</span>
      		</div>
      	</div>
      </div>
    </div>
  </div>
  <app-footer-min></app-footer-min>