<style>
   @media only screen and  (max-width: 767px){
  
    .margin-fix{

      margin-top:-14px;
    }

    label.black-text.nttf-txt {
    font-size: 13px !important;
}


    .reference-txt{

      padding-left: 33px;
    font-size: 10px;
    }
    .nttf-txt{

      padding-top:6px;
    }
  .cst-dname{

font-size: 16px !important;
padding: 10px;
text-transform: capitalize;
}
.fix-welcome{
padding: 10px;
font-size: 16px;
color: #7b7a7a;
}

.user-image{
  padding:9px;
}
.w-100{

width:100%;
}
label.lbl-num {
line-height: 33px;
font-size: 16px !important;
}

.web-view{
    width:100% !important;
min-height: 320px;
}
}
.web-view{
    width: 45%;
min-height: 320px;
}

.btn-dfix{

    width:100%;
    margin-top:20px;
}
.circle-box1{

height: 40px;
width: 40px;
border-radius: 50%;
background-color: #ff6a00;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left: 10px;
}
.circle-box2{

    height: 40px;
width: 40px;
border-radius: 50%;
background-color: #a504b8;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left:15px;

}
.circle-box3{

height: 40px;
width: 40px;
border-radius: 50%;
background-color: #1a9dd4;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left: 15px;

}

.circle-box4{

height: 40px;
width: 40px;
border-radius: 50%;
background-color: #f51b7c;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left: 15px;

}
.cst-table tr td {
    border: 1px solid #e2e2e2;
    white-space: nowrap;
}
.cst-table tr th{
  background-color:#ececec;
  color:#333;
  white-space: nowrap;
  border: 1px solid #e2e2e2;
    white-space: nowrap;
}

.recent-txt{
    font-size: 13px;
}

.money-txt{

    font-size: 16px;
margin-bottom: 10px !important;
font-weight: bold;
color: #757272;
}

.fix-welcome{
padding: 10px;
font-size: 16px;
color: #7b7a7a;
}
.user-image{
  padding:9px;
}

label.lbl-num {
line-height: 33px;
font-size: 16px !important;
}
.cst-dname{

font-size: 16px !important;
padding: 10px;
text-transform: capitalize;
}
.hdfc-txt{

  font-size: 15px !important;
    padding: 7px !important;
}
.block-fund{
  box-shadow: 1px 1px 10px #ececec;
  margin: 10px 10px 10px 0px;
    padding: 0px 20px 20px 20px;
}
.select-pay {
    margin-left: -9px !important;
}

.icon-design-1{

height: 25px;
width: 25px;
padding: 6px;
border-radius: 50%;
background-color: #3F51B5;
color: #fff;
display: block;
font-size: 10px;

}
.icon-design-2{

height: 25px;
width: 25px;
padding: 6px;
border-radius: 50%;
background-color: #e91e63;
color: #fff;
display: block;
font-size: 10px;

}

.icon-design-3{

height: 25px;
width: 25px;
padding: 6px;
border-radius: 50%;
background-color: #2196f3;
color: #fff;
display: block;
font-size: 10px;

}
.add-money-history{

margin-bottom: 5px !important;

  
}
.money-history{

margin: 10px !important;
  width: 55% !important;
/* padding: 25px; */
box-shadow: 1px 1px 10px #ececec;
margin-left: 10px;
font-size: 14px;
}

@media only screen and (max-width: 767px){

.select-pay{

  display:none;
}
.add-money-top{

margin-top:30px !important;
}


.wid-100{

  width:100%;
}
.web-hide{

  padding:10px;

}
.responsive-table {
    overflow: auto;
}
  .money-history{

margin: 10px !important;
  width: 90% !important;
/* padding: 25px; */
box-shadow: 1px 1px 10px #ececec;
margin-left: 10px;
font-size: 14px;
}

 .mb-pt-25{
    padding-top: 25px;
  }
  .icon-sp span{

    position: absolute;
    background: #ececec;
    height: 40px;
    width: 40px;
    padding: 11px;
    border-radius: 50%;
    right: 40px;
    z-index: 999;
    top:25px;
    font-size: 18px;
  }
  
  .txt-hide{

    display:none !important;
  }
  .cs-box-pay{


    padding:10px 0px;
  }
  .wallt-txt{

    padding: 5px 0;
    font-weight: bold;
    font-size: 17px;
  }
  .enter-amt{

    font-size: 18px !important;
    margin-top: -15px;  
  }
 .mb-btn-100{

  width: 100%;
   line-height: 0;
 }
 .top-logo-block{

position: relative;
  top:0x;
  width: 100%;
    background: #f4faff;
}
.top-logo-block img {
  width: 65px;
    position: relative;
    left: 34%;
    top: 6px;

}

.top-logo-block h4{
  margin-top: -5px;
    margin-bottom: 33px;
    font-size: 15px;
    text-align: left;
    padding: 10px;
}

.bottom-option{

  padding-top:20px;
}
.cst-spacing{

  width: calc(100% - 42px);
    margin-left: 22px;

}
.amt-inr{

  float:right;
}
.mb-btn{

  width: 86%;
    margin-left: 6%;
}
.uwa.imps-box {
    padding: 8px 0;
    border-bottom: 1px solid #ececec;
}
.uwa.Online-box {
    padding: 8px 0;
    border-bottom: 1px solid #ececec;
    
}
ul.font-li li:nth-child(2) {
    border-bottom: 1px solid #ececec;
    padding-bottom: 4px;
}
ul.font-li li:nth-child(3) {
    border-bottom: 1px solid #ececec;
    padding-bottom: 4px;
}
ul.font-li li:nth-child(4) {
    border-bottom: 1px solid #ececec;
    padding-bottom: 4px;
}
ul.font-li li:nth-child(5) {
    border-bottom: 1px solid #ececec;
    padding-bottom: 4px;
}
ul.font-li li:nth-child(6) {
    border-bottom: 1px solid #ececec;
    padding-bottom: 4px;
}
ul.font-li li:nth-child(7) {
    border-bottom: 1px solid #ececec;
    padding-bottom: 4px;
}
  .uwa.imps-box {
    padding: 8px 0;
    border-bottom: 1px solid #ececec;
}
.uwa.Online-box {
    padding: 8px 0;
    border-bottom: 1px solid #ececec;
}


.cst-top-signle{

  font-size: 20px;
    line-height: 49px;
    color: #3a3a3a;
}
}


@media only screen and (min-width: 767px){

  .cs-box-pay{

    display:none;
  }
  
 
  .mb-btn{

width: 100%;
 
}
  .top-logo-block .amt-inr{

float: right;
/* padding:10px; */
}

  .top-logo-block img {
    padding-top:20px;
    padding-left: 29px;
    width: 130px;
    position: relative;
    left: 34%;
    
}
.money-history {
    padding: 20px;
}


  .web-hide{

    display: none;
  }
  .cst-table tr th{
  background-color:#fff;
  color:#333;
  white-space: nowrap;
  border: 1px solid #e2e2e2;
    white-space: nowrap;
}


.black-fund #enter-amount{

  padding-top: 16px;
}

.add-money-top {
    margin-top: 30px;
}

  
}

</style>

<app-header class="hide-on-mobile"></app-header>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
	</div>
<div class="cst-back" [innerHTML] ="this.todoservice.back_link"></div>
<div class="fix-mb-top"></div>
<section class="flash-deal">
    <div class="container-fluid">
        <div class="row no-margin">
            <div class="col s12 m2">
             
                <app-side-nav></app-side-nav>			    
           
            </div>
            <div class="col s12 m10">
              <div class="fix-top-2">
              <!-- <h4 class="font-bold cst-heading-fix">Welcome To Dashboard </h4> -->
                <div class="card ">
                    <div class="card-content cst-invoice" *ngIf="order_id">
                      
                        <div  class="mb-1">
                            <h2 class="font600 inline-block">Invoice </h2>
                        </div>
                        <ul *ngIf="order_data" class="font-li">
                          <li><span *ngIf="order_data.payment_status == 2" class="red-text"><img src="{{this.todoservice.base_url}}/web-app/assets/images/close.gif" style="width:40px;"></span><span *ngIf="order_data.payment_status == 1" class="green-text"><img src="{{this.todoservice.base_url}}web-app/assets/images/success.gif" style="width:40px;"></span><span *ngIf="order_data.payment_status == 3" class="orange-text"><img src="{{this.todoservice.base_url}}web-app/assets/images/success.gif" style="width:40px;"></span></li>
                          <li class="cst-top-signle"><strong>Order Status: </strong> {{order_data.status}}</li>
                          <li class="cst-top-signle"><strong>Payment Status: </strong> <span *ngIf="order_data.payment_status == null">In Progress</span><span *ngIf="order_data.payment_status == 1">Succcessful</span><span *ngIf="order_data.payment_status == 2">Failed</span><span *ngIf="order_data.payment_status == 3">Pending</span></li>
                          <li><strong>Invoice No: </strong>  #{{order_data.id}} </li>
                          <li><strong>Transaction ID: </strong>  <span *ngIf="order_data.transaction_id == null">Pending</span>{{order_data.transaction_id}} </li>
                          <li><strong>Amount: </strong> Rs.{{order_data.grand_total}}</li>
                          <li><strong>Date issued: </strong> {{order_data.order_date}}</li>
                          
                          <li><strong>Payment Method: </strong><span *ngIf="order_data.paymethod == 1 || order_data.paymethod == null">Wallet</span><span *ngIf="order_data.paymethod == 2">Gateway</span><span *ngIf="order_data.paymethod == 3">Libanz</span><span *ngIf="order_data.paymethod == 4">Paytm</span></li>
                          <li *ngIf="order_data.commission_surcharge != null"><strong>Commission/Surcharge: </strong>Rs.{{order_data.commission_surcharge}}</li>
                          <li><strong class="green-text">{{order_data.remark}}</strong></li>
                        </ul>

                        <div class="clearfix"></div> <br/>
                        <ul class="back-icon desktop-hide">
                          <li><a class="btn btn-orange black-text cst-ibtn" href="javascript:" (click)="back_to_addmoney()">Back </a></li>
                        </ul>
                        
                    </div>
                    <div class="clearfix"></div>
                      <div class="card-content add-money-top" *ngIf="!order_id">
                        <h3 class="font600 inline-block mb-pt-25 txt-hide" style="margin-top:-15px;"><span class="fa fa-credit-card"></span> &nbsp; Add Money to Libanz Wallet  </h3>
                       <div class="cs-box-pay">

                        <p >Add Money to</p>
                       <p class="icon-sp"> <span class="fa fa-credit-card"></span>  </p>
                        <p class="wallt-txt"> Libanz Wallet </p> 
                        <p>Available Balance <span class="fa fa-inr"></span>{{this.todoservice.get_user_wallet()}} </p>
                       </div>

                        <div class="row sec-7">
                            <div class="col s12 m7 ">
                              <div class="block-fund" >
                                <form #addmoneyform = "ngForm" (ngSubmit)="add_money(addmoneyform.value)">
                              
							                <!-- <div class="row"> 
                                <div class="input-field col s12 m12">
                                  <div class="select-pay">
                                  <mat-form-field>
                                        <mat-select placeholder="Select Payment Method" (selectionChange)='check_method($event.value)'  [(ngModel)]="paymethod" name="paymethod">
                                          <mat-option [value]="">Select  </mat-option>
                                          <mat-option [value]="'FUND TRANSFER'">NEFT/IMPS/RTGS/FUND TRANSFER </mat-option>
                                          <mat-option [value]="'Cash Deposit'">Cash Deposit </mat-option>
                                          <mat-option [value]="'Gateway'">Gateway </mat-option>
                                          <mat-option [value]="'Paytm'">Paytm </mat-option>
                                        </mat-select>
                                      </mat-form-field>   
                                      </div>
                                </div>
                              </div> -->
                              <div class="row bk-fund" *ngIf="this.add_data.proceed == 1">
                                <div class="input-field col s12 m12 ">
                                  <input id="enter-amount" name="amount" ngModel type="number" class="validate no-margin" (keyup)="hide_err()">
                                  <label for="enter-amount" class="enter-amt"><span class="fa fa-inr"></span> &nbsp; Amount*</label>
                                  <div class="red-text" id="interval-error"></div>
                                </div>
                                <div class="input-field col s12 m12">
                                    <button type="button" class="btn orange btn-large btn-full wid-100" (click)="proceed_to_add()" [disabled]="(this.add_data.send && this.add_data.send == 1)?true:false">Proceed To Add Money </button>
                                </div>
                                
                              </div>
                              <div class="col s12 m12" *ngIf="this.add_data.proceed == 2">
                                <div class="row">
                                  <div class="top-logo-block">
                                    
                                    <h4>Add Money to LIBANZ wallet <span class="amt-inr"><span class="fa fa-inr"></span> {{this.add_data.amount}} </span></h4>
                                  </div>
                                  <div class=" bottom-option">
                                    <div class="col s12 add-money-history">
                                        <div id="method-selected">
                                          <div class="uwa margin-fix" *ngIf="this.add_data.paymethod == 'FUND TRANSFER'">
                                            <i class="material-icons orange-text">check_circle</i>&nbsp;
                                            <label for="funddd" class="black-text nttf-txt">NEFT/IMPS/RTGS/FUND TRANSFER</label>
                                          </div>
                                        </div>
                                        <div class="default-hide" *ngIf="this.add_data.paymethod == 'FUND TRANSFER' || this.add_data.paymethod == 'Cash Deposit'">
                                            <div class="row" >
                                              <div class="input-field col s12 m12">
                                                <input id="bank-id" name="ref_id" ngModel type="text" class="validate no-margin" autocomplete="off">
                                                <label for="bank-id">Reference ID/TXN ID*</label>
                                              </div>
                                            </div>
                                            <div class="clearfix"></div>
                                          </div>
                                          <button type="submit" class="btn orange btn-large btn-full mb-btn" [disabled]="this.add_data.send == 1"><span *ngIf="add_data.paymethod =='Cash Deposit' || add_data.paymethod == 'FUND TRANSFER'">Send Request</span> <span *ngIf="add_data.paymethod =='Paytm' || add_data.paymethod == 'Gateway'">Proceed</span> <span class="fa fa-inr"></span> {{this.add_data.amount}} </button>
                                          <div class="row additional-charge" *ngIf="this.add_data.paymethod == 'Gateway' || this.add_data.paymethod == 'Paytm' || this.add_data.paymethod == 'Cash Deposit'"><div class="chip orange white-text">Additional 2% Amount Will be Deducted. Effective Amount {{ 1 * this.add_data.amount - (this.add_data.amount*2)/100 }}Will be credited.<i class="close material-icons">close</i></div></div>
                                      <ul id="add-methods-list">
                                        <li class="position-first">
                                          <div class="uwa margin-fix imps-box">
                                            <input type="radio" id="fund" name="payment_type" class="with-gap " value="FUND TRANSFER" checked (change)="select_method('FUND TRANSFER',$event,60)"/>
                                            <label for="fund" class="black-text nttf-txt">NEFT/IMPS/RTGS/FUND TRANSFER</label>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="uwa imps-box">
                                            <input type="radio" id="imps-1" name="payment_type" class="with-gap " value="Cash Deposit" (change)="select_method('Cash Deposit',$event,124)"/>
                                            <label for="imps-1" class="black-text nttf-txt">Cash Deposit </label>
                                          </div>
                                        </li>
                                        <!-- <li>
                                          <div class="uwa Online-box">
                                            <input type="radio" id="imps-3" name="payment_type" class="with-gap " value="Paytm" (change)="select_method('Paytm',$event,116)" />
                                            <label for="imps-3" class="black-text nttf-txt"> Paytm Payment </label>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="uwa Online-box">
                                            <input type="radio" id="imps-4" name="payment_type" class="with-gap " value="Gateway" (change)="select_method('Gateway',$event,160)"/>
                                            <label for="imps-4" class="black-text nttf-txt"> Gateway</label>
                                          </div>
                                        </li> -->
                                      </ul>
                                    </div>
                                  </div>
                                  
                              </div>
                              </div>
                            </form>
                            <div class="clearfix"></div>
                            </div>
                            </div>
                            <p class="web-hide"><strong>Note : </strong>There is no any additional charge of NEFT, RTGS, IMPS .</p>
                            
                            <div class="col s12 m12 axis-bank">
                              <div class="tab-bankd">
                                <h3 class="font600 inline-block" style="margin-top:10px;"><span class="fa fa-university"></span> &nbsp; Bank Details </h3>
                                <div class="" style="width:100%; ">
                                <table class="table cst-table ">
                           
                              <tr>
                                <th>Bank Name </th>
                                 <td>HDFC BANK </td>
                              </tr>
                              <tr>
                                <th>Account Name</th>
                                <td>Libanz International</td>
                              </tr>
                              <tr>
                                <th>Account Number</th>
                                <td>50200029494213</td>
                              </tr>
                              <tr>
                                <th>IFSC Code</th>
                                <td>HDFC0002072</td>
                              </tr>
                          </table>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>


<div id="view-more" class="modal complaint-modal">
    <div class="modal-content">
      <h3 class="font600">Order Invoice</h3>
      <span class="modal-close close-mode"><i class="material-icons font-size-change1">close</i></span>
      <div class="row">
      	<div class="col s12 m6">
      		<span class="font-size-change">Order #1001777269</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Order : </span>
      			<span>375a6dabd574214</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Order Date : </span>
      			<span>28-Jan-2018, <time>04:24:13 PM</time></span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Payment Status : </span>
      			<span>Failed</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Recharge Status : </span>
      			<span>Failed</span>
      		</div>
      	</div>
      	<div class="col s12 m6">
      		<span class="font-size-change">User Detail</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Name : </span>
      			<span>JAIN TELECOM</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Email : </span>
      			<span>anantjain296@gmail.com</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Contact No : </span>
      			<span>9911811317</span>
      		</div>
      	</div>
      </div>
      <hr>
      <div class="row">
      	<div class="col s12">
      		<table class="responsive-table bordered striped highlight">
		        <thead>
		          <tr>
	              <th>Subscriber/Customer No.</th>
	              <th>Operator</th>
	              <th>Recharge Amount</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>1234567890</td>
		            <td>Tata Sky</td>
		            <td class="center"><i class="fa fa-inr"></i>20</td>
		          </tr>
		        </tbody>
		      </table>
      	</div>
      </div>
      <hr>
      <div class="row margin-top">
      	<div class="col s12 right-align">
      		<span>Order Totals</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Grand Total : </span>
      			<span><i class="fa fa-inr"></i> 98</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Use Wallet Amount : </span>
      			<span><i class="fa fa-inr"></i> 98</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Total Amount : </span>
      			<span><i class="fa fa-inr"></i> 0</span>
      		</div>
      	</div>
      </div>
    </div>
  </div>
  <app-footer-min></app-footer-min>