<style>
   @media only screen and  (max-width: 767px){
  
  .cst-dname{

font-size: 16px !important;
padding: 10px;
text-transform: capitalize;
}
.fix-welcome{
padding: 10px;
font-size: 16px;
color: #7b7a7a;
}

.user-image{
  padding:9px;
}
.w-100{

width:100%;
}
label.lbl-num {
line-height: 33px;
font-size: 16px !important;
}

.web-view{
    width:100% !important;
min-height: 320px;
}
}
.web-view{
    width: 45%;
min-height: 320px;
}

.btn-dfix{

    width:100%;
    margin-top:20px;
}
.circle-box1{

height: 40px;
width: 40px;
border-radius: 50%;
background-color: #ff6a00;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left: 10px;
}
.circle-box2{

    height: 40px;
width: 40px;
border-radius: 50%;
background-color: #a504b8;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left:15px;

}
.circle-box3{

height: 40px;
width: 40px;
border-radius: 50%;
background-color: #1a9dd4;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left: 15px;

}

.circle-box4{

height: 40px;
width: 40px;
border-radius: 50%;
background-color: #f51b7c;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left: 15px;

}
.cst-table tr td {
    border: 1px solid #e2e2e2;
    white-space: nowrap;
}
.cst-table tr th{
  background-color:#ececec;
  color:#333;
  white-space: nowrap;
  border: 1px solid #e2e2e2;
    white-space: nowrap;
}

.recent-txt{
    font-size: 13px;
}

.money-txt{

    font-size: 16px;
margin-bottom: 10px !important;
font-weight: bold;
color: #757272;
}

.fix-welcome{
padding: 10px;
font-size: 16px;
color: #7b7a7a;
}
.user-image{
  padding:9px;
}

label.lbl-num {
line-height: 33px;
font-size: 16px !important;
}
.cst-dname{

font-size: 16px !important;
padding: 10px;
text-transform: capitalize;
}
.hdfc-txt{

  font-size: 15px !important;
    padding: 7px !important;
}
.block-fund{
  box-shadow: 1px 1px 10px #ececec;
  margin: 10px 10px 10px 0px;
    padding: 0px 20px 20px 20px;
}
.select-pay {
    margin-left: -9px !important;
}

.icon-design-1{

height: 25px;
width: 25px;
padding: 6px;
border-radius: 50%;
background-color: #3F51B5;
color: #fff;
display: block;
font-size: 10px;

}
.icon-design-2{

height: 25px;
width: 25px;
padding: 6px;
border-radius: 50%;
background-color: #e91e63;
color: #fff;
display: block;
font-size: 10px;

}

.icon-design-3{

height: 25px;
width: 25px;
padding: 6px;
border-radius: 50%;
background-color: #2196f3;
color: #fff;
display: block;
font-size: 10px;

}
.add-money-history{

margin-bottom: 5px !important;
  height: 32px;
  border-bottom: 1px solid #ececec;
}
.money-history{

margin: 10px !important;
  width: 55% !important;
padding: 25px;
box-shadow: 1px 1px 10px #ececec;
margin-left: 10px;
font-size: 14px;
}

@media only screen and (max-width: 767px){

.select-pay{

  display:none;
}
.responsive-table {
    overflow: auto;
}
  .money-history{

margin: 10px !important;
  width: 90% !important;
padding: 25px;
box-shadow: 1px 1px 10px #ececec;
margin-left: 10px;
font-size: 14px;
}

 .mb-pt-25{
    padding-top: 25px;
  }
  .icon-sp span{

    position: absolute;
    background: #ececec;
    height: 40px;
    width: 40px;
    padding: 11px;
    border-radius: 50%;
    right: 40px;
    z-index: 999;
    top:25px;
    font-size: 18px;
  }
  
  .txt-hide{

    display:none !important;
  }
  .cs-box-pay{


    padding:10px 0px;
  }
  .wallt-txt{

    padding: 5px 0;
    font-weight: bold;
    font-size: 17px;
  }
  .enter-amt{

    font-size: 18px !important;
    margin-top: -15px;  
  }
 .mb-btn-100{

  width: 100%;
   line-height: 0;
 }
 

}





@media only screen and (min-width: 767px){

  .cs-box-pay{

    display:none;
  }
  .cst-table tr th{
  background-color:#fff;
  color:#333;
  white-space: nowrap;
  border: 1px solid #e2e2e2;
    white-space: nowrap;
}
  
}
</style>

<app-header></app-header>
<section class="flash-deal">
    <div class="container">
        <div class="row no-margin">
            <div class="col s12 m3">
                <!-- <div class="card">
              <div class="card-content user-content">
                  <div class="user-image">
                      <img class="responsive-img vertical-align-middle profile" src="{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="this.todoservice.get_user_avatar() && this.todoservice.get_user_avatar().includes('data:image/png')"/>
                      <img class="responsive-img vertical-align-middle profile" src="{{this.todoservice.server_url}}{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="this.todoservice.get_user_avatar() && !this.todoservice.get_user_avatar().includes('data:image/png')"/>
			                <span alt="user-icon" id="name-characters" *ngIf="!this.todoservice.get_user_avatar()">{{this.todoservice.get_user_characters()}}</span>
                  </div>
                 <div class="user-name">
                      <span class="fix-welcome">Welcome,</span><br>
                      <span class="font-size-change font600  cst-dname" *ngIf="this.todoservice.get_user()">{{this.todoservice.get_user_name()}}</span>
                  </div>
              </div>
            </div> -->
                <app-side-nav></app-side-nav>			    
            </div>
            <div class="col s12 m9">
                <div class="card">
                    <div class="card-content" *ngIf="order_id">
                        <ul class="back-icon">
                          <li><a class="black-text" href="javascript:" (click)="back_to_addmoney()">Back</a></li>
                        </ul>
                        <div  class="mb-1">
                            <h3 class="font600 inline-block">Invoice </h3>
                        </div>
                        <ul *ngIf="order_data">
                          <li><strong>Invoice No: </strong> #{{order_data.id}}</li>
                          <li><strong>Amount: </strong> {{order_data.amount}}</li>
                          <li><strong>Date issued: </strong> {{order_data.history_time | date: date:'dd M, Y'}}</li>
                          <li><strong>Payment Status: </strong><span *ngIf="order_data.payment_status == 2" class="red-text">Failed</span><span *ngIf="order_data.payment_status == 1" class="green-text">Successful</span><span *ngIf="order_data.payment_status == 3" class="orange-text">Pending</span></li>
                          <li><strong>Payment Method: </strong><span *ngIf="order_data.paymethod == 1">Wallet</span><span *ngIf="order_data.paymethod == 2">Gateway</span><span *ngIf="order_data.paymethod == 3">Mydth</span><span *ngIf="order_data.paymethod == 4">Paytm</span></li>
                          <li><strong>Commission/Surcharge: </strong>Rs.{{order_data.commission_surcharge}}</li>
                          <li><strong>Comment: </strong>{{order_data.comment}}</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                      <div class="card-content" *ngIf="!order_id">
                        <h3 class="font600 inline-block mb-pt-25 txt-hide" style="margin-top:-15px;"><span class="fa fa-credit-card"></span> &nbsp; Add Money to Mydth Wallet  </h3>
                       <div class="cs-box-pay">

                        <p >Add Money to</p>
                       <p class="icon-sp"> <span class="fa fa-credit-card"></span>  </p>
                        <p class="wallt-txt"> MyDth Wallet </p> 
                        <p>Available Balance <span class="fa fa-inr"></span>{{this.todoservice.get_user_wallet()}} </p>
                       </div>

                        <div class="row sec-7">
                            <div class="col s12 m7 ">
                              <div class="block-fund" >
                                <form #addmoneyform = "ngForm" (ngSubmit)="add_money(addmoneyform.value)">
                              
							                <div class="row"> 
                                <div class="input-field col s12 m12">
                                  <div class="select-pay">
                                  <mat-form-field>
                                        <mat-select placeholder="Select Payment Method" (selectionChange)='check_method($event.value)'  [(ngModel)]="paymethod" name="paymethod">
                                          <mat-option [value]="">Select  </mat-option>
                                          <mat-option [value]="'FUND TRANSFER'">NEFT/IMPS/RTGS/FUND TRANSFER </mat-option>
                                          <mat-option [value]="'Cash Deposit'">Cash Deposit </mat-option>
                                          <mat-option [value]="'Gateway'">Gateway </mat-option>
                                          <mat-option [value]="'Paytm'">Paytm </mat-option>
                                        </mat-select>
                                      </mat-form-field>   
                                      </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12 m12">
                                  <input id="enter-amount" name="amount" ngModel type="number" class="validate no-margin" (keyup)="calc_percentage()">
                                  <label for="enter-amount" class="enter-amt"><span class="fa fa-inr"></span> &nbsp; Amount*</label>
                                </div>
                              </div>

                              <button type="submit" class="btn btn-large orange white-text mb-btn-100 cs-box-pay">Proceed To Add Money</button>
                              <div class="row additional-charge hide">
                                 
                              </div>
                              <div class="default-hide hide">
							                <div class="row" >
                                <div class="input-field col s12 m12">
                                  <input id="bank-id" name="ref_id" ngModel type="text" class="validate no-margin" autocomplete="off">
                                  <label for="bank-id">Reference ID/TXN ID*</label>
                                </div>
                              </div>
                             <div class="clearfix"></div>
                            </div>
                              <div class="row send-topup hide">
                                <div class="input-field col s12 m12 center">
                                  <button type="submit" class="btn btn-large orange white-text">Send TopUp Request</button>
                                </div>
                              </div>
                              <div class="row send-gateway hide">
                                  <div class="input-field col s12 m12 center">
                                    <button type="submit" class="btn btn-large orange white-text">Proceed</button>
                                  </div>
                                </div>
                            </form>
                            </div>
                            </div>
                          
                            <div class="col s12 m6 money-history">
                              <div class="row">
                                
                                <div class="add-money-history">
                                <div class="col s3"><span class="fa fa-card icon-design-1">OP</span></div>
                                <div class="col s8">Online Payment</div>
                                <div class="col s1"><span class="fa fa fa-chevron-right"></span></div>
                              </div>
                              <div class="add-money-history" >
                                <div class="col s3"><span class="fa fa-card icon-design-2">CD</span></div>
                                <div class="col s8">Cash On Deleivery</div>
                                <div class="col s1"><span class="fa fa fa-chevron-right"></span></div>
                              </div>

                              <div class="add-money-history" >
                                <div class="col s3"><span class="fa fa-card icon-design-3">PM</span></div>
                                <div class="col s8">Paytm </div>
                                <div class="col s1"><span class="fa fa fa-chevron-right"></span></div>
                              </div>
                            </div>
                            </div>



                            <div class="col s12 m12 axis-bank">
                              <div class="tab-bankd">
                                <h3 class="font600 inline-block" style="margin-top:10px;"><span class="fa fa-university"></span> &nbsp; Bank Details </h3>
                                <div class="" style="width:100%; ">
                                <table class="table cst-table ">
                           
                              <tr>
                                <th>Bank Name </th>
                                 <td>HDFC BANK </td>
                              </tr>
                              <tr>
                                <th>Account Name</th>
                                <td>Libanz International</td>
                              </tr>
                              <tr>
                                <th>Account Number</th>
                                <td>50200029494213</td>
                              </tr>
                              <tr>
                                <th>IFSC Code</th>
                                <td>HDFC0002072</td>
                              </tr>


                                
                               
                               
                                
                               
                             
                              
                            
                          </table>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="view-more" class="modal complaint-modal">
    <div class="modal-content">
      <h3 class="font600">Order Invoice</h3>
      <span class="modal-close close-mode"><i class="material-icons font-size-change1">close</i></span>
      <div class="row">
      	<div class="col s12 m6">
      		<span class="font-size-change">Order #1001777269</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Order : </span>
      			<span>375a6dabd574214</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Order Date : </span>
      			<span>28-Jan-2018, <time>04:24:13 PM</time></span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Payment Status : </span>
      			<span>Failed</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Recharge Status : </span>
      			<span>Failed</span>
      		</div>
      	</div>
      	<div class="col s12 m6">
      		<span class="font-size-change">User Detail</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Name : </span>
      			<span>JAIN TELECOM</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Email : </span>
      			<span>anantjain296@gmail.com</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Contact No : </span>
      			<span>9911811317</span>
      		</div>
      	</div>
      </div>
      <hr>
      <div class="row">
      	<div class="col s12">
      		<table class="responsive-table bordered striped highlight">
		        <thead>
		          <tr>
	              <th>Subscriber/Customer No.</th>
	              <th>Operator</th>
	              <th>Recharge Amount</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>1234567890</td>
		            <td>Tata Sky</td>
		            <td class="center"><i class="fa fa-inr"></i>20</td>
		          </tr>
		        </tbody>
		      </table>
      	</div>
      </div>
      <hr>
      <div class="row margin-top">
      	<div class="col s12 right-align">
      		<span>Order Totals</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Grand Total : </span>
      			<span><i class="fa fa-inr"></i> 98</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Use Wallet Amount : </span>
      			<span><i class="fa fa-inr"></i> 98</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Total Amount : </span>
      			<span><i class="fa fa-inr"></i> 0</span>
      		</div>
      	</div>
      </div>
    </div>
  </div>
  <app-footer-min></app-footer-min>