<style>
    @media only screen and (max-width: 767px){

        .container{

width:100%;

}
    }
</style>
<app-header class="hide-on-mobile"></app-header>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#dc6802" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>
<div class="fix-mb-top"></div>
<section class="flash-deal">
  <div class="container">
      <div class="row no-margin">
          <div class="col s12 m3">
            
              <app-side-nav></app-side-nav>			    
          </div>
        <div class="col s12 m9">  
            <div class="recharge-section show-on-medium-and-down hide-on-med-and-up cst-bg-color">
            <div class="container">
                <div class="col s12">
                <ul class="back-icon">
                    <li> <a class="black-text" routerLink="{{this.todoservice.get_urls().previousUrl}}"><span class="fa fa-arrow-left left-icn-mb1"></span>&nbsp; <span id="page-title"> Orders </span></a> <a class="right cart-strip" routerLink="/product/cart"><img src="{{this.todoservice.base_url}}web-app/assets/images/cart.png"><span class="strip-circle">{{this.todoservice.cartItemsCount()}}</span></a></li>
                </ul>
                </div>	
                <div class="clearfix"></div>
            </div>
            </div>       
          <div id="recharge">
            
            <div class="card export-and-import">
                <div class="card-content">
                    <form class="date-export">
                        <div class="row no-margin">
                            <div class="col s12 m3">
                                <input placeholder="Choose date range" endKey="end" [locale]="{ separator: ' To ',format: 'DD-MM-YYYY'}" [ranges]="ranges" type="text" autocomplete="off" ngxDaterangepickerMd [(ngModel)]="selected" name="daterange" class="form-control"/>
                            </div>
                            <div class="col s12 m2">
                                <button type="Search" class="btn orange no-box-shadow" (click)="export_dth_orders()">Export</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
              <div class="card-content">
                  <h3 class="font600 inline-block">My Order History</h3>
                  <div class="overflow-scroll">							
                      <table id="datatable1" class="display responsive-table datatable-example">
                          <thead class="thead-bg">
                            
                              <tr>
                                  <th nowrap="nowrap" width="57px">S.No.</th>
                                  <th nowrap="nowrap">Order No.</th>
                                  <th nowrap="nowrap" width="125px">Product</th>
                                  <th nowrap="nowrap" width="102px">Order Date</th>
                                  <th nowrap="nowrap" width="140px">Amount</th>
                                  <th nowrap="nowrap" width="130px">Subscriber ID</th>
                                  <th nowrap="nowrap" width="135px">Paymnet Method</th>
                                  <th nowrap="nowrap" width="135px">Deliver to</th>
                                  <th nowrap="nowrap" width="95px">Status</th>
                                  <!-- <th nowrap="nowrap" width="95px">Action</th> -->
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                  <th nowrap="nowrap" width="57px">S.No.</th> 
                                  <th nowrap="nowrap">Order No.</th>
                                  <th nowrap="nowrap" width="125px">Product</th>
                                  <!--##change <th nowrap="nowrap" width="102px">Order Date</th> -->
                                  <th nowrap="nowrap" width="140px">Amount</th>
                                  <th nowrap="nowrap" width="130px">Subscriber ID</th>
                                  <th nowrap="nowrap" width="135px">Paymnet Method</th>
                                  <th nowrap="nowrap" width="135px">Deliver to</th>
                                  <th nowrap="nowrap" width="95px">Status</th>
                                  <!-- <th nowrap="nowrap" width="95px">Action</th> -->
                              </tr>
                          </tfoot>
                          <tbody>
                              <tr *ngFor="let item of orders | paginate: { id: 'order-p', itemsPerPage: this.todoservice.page_per_items(), currentPage: o_p, totalItems: order_counts };let i=index">
                                  <td>{{i+1}}</td>
                                  <td>{{item.id}}</td>
                                  <td>{{item.title}}</td>
                                  <!--##change <td>{{item.order_date | date: date:'dd M, Y'}}<br><time>{{item.order_date | date:'hh:mm a' }}</time></td> -->
                                  <td> <i class="icon-inr"></i>{{item.final_price}}</td>
                                  <td>{{item.subcriber_id}}</td>
                                  <td>{{item.payment}}</td>
                                  <td>{{item.deliver_to}}</td>
                                  <td>
                                    <div [innerHTML]="this.todoservice.order_template(item.status)"></div>
                                </td>
                                  <!-- <td *ngIf="item.status == 'Pending'"><span class="orange white-text padd1">Pending</span></td>
                                  <td *ngIf="item.status == 'Failed'"><span class="red white-text padd1">Failed</span></td>
                                  <td *ngIf="item.status != 'Failed' && item.status != 'Pending'"><span class="green white-text padd1">{{item.status}}</span></td> -->
                                  <!-- <td>
                                      <a href="#view-more" class="btn tooltipped btn-icon orange modal-trigger" data-position="top" data-delay="40" data-tooltip="View"><i class="material-icons font-size-change">visibility</i></a>
                                  </td> -->
                              </tr>
                          </tbody>	
                      </table>
                      <div class="has-text-centered right-align">
                          <pagination-controls (pageChange)="getPage($event,'o')" id="order-p"></pagination-controls>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
</div>
</section>
<app-footer-min></app-footer-min>