<app-header class="hide-on-mobile"></app-header>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>
<section class="flash-deal">
    <div class="container-fluid">
        <div class="row no-margin">
            <div class="col s12 m2">
               <app-side-nav></app-side-nav>		    
            </div>
            <div class="col s12 m10">
                <div class="card fix-top-bg">
                    <div class="card-content">
                        <span class="grey-text right">{{this.days_left}} days left</span>
                        <div class="clearfix"></div>
                        <h3>Leads</h3><span class="grey-text"  *ngIf="leads.length > 0">Showing {{leads.length}}</span>
                        <div class="row">
                            <div class="col m3 s12" *ngFor="let item of leads;let i = index;">
                                <div class="card">
                                    <div class="card-content lead-item-inner-box">
                                        <h4 class=" grey-text">{{item.name}}</h4>
                                        <span class="black-text">{{item.city}}({{item.branchpin}})</span>
                                        <div class="clearfix"></div>
                                        <span class="right grey-text">{{item.created}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>	
                        <div class="load-more center" *ngIf="more"><a href="javascript:" class="blue-text" (click)="next_page()">Load More +</a></div>
                    </div>
                    <div class="no-plan red" *ngIf="leads.length == 0">
                        <div class="card fix-top-bg">
                            <div class="card-content">
                                You have not Subscribed any Plan.
                            </div>
                        </div>
                    </div>  
                </div>
                
            </div>
        </div>
    </div>
</section>
<div id="lead-subscribe" class="modal">
    <div class="modal-content">
        <h4>Grab Lead</h4>
        <!-- <form [formGroup]="form" #manageform1 = "ngForm" (ngSubmit)="subscribe_lead()"> 

            <div class="clearfix"></div>
            <input type="submit" value="Set" class="btn orange">
        </form> -->
    </div>
    </div>
  <app-footer></app-footer>