<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	  bdColor="rgba(255,255,255,0.8)"
	  size="default"
	  color="#ec9737"
	  loadingText="Loading..."
	  type="ball-clip-rotate">
	</ngx-spinner>
</div>
<section class="flash-deal">
  <div class="container">
      <div class="row no-margin">
          <div class="col s12 m3">
              <div class="card">
            <div class="card-content user-content">
                <div class="user-image">
                    <img src="{{this.todoservice.base_url}}assets/images/recharge-icon/user.svg" class="responsive-img" alt="User-icon" width="50">
                </div>
                <div class="user-name">
                    <span>Welcome,</span><br>
                    <span class="font-size-change font600" *ngIf="this.todoservice.get_user()">{{this.todoservice.get_user().name}}</span>
                </div>
            </div>        
          </div>
              <app-side-nav></app-side-nav>			    
          </div>
        <div class="col s12 m9">         
          <div id="recharge">
            <div class="card export-and-import">
                <div class="card-content">

                    <form class="date-export">
                        <div class="row no-margin">
                            <div class="col s12 m3">
                                <input placeholder="Choose date range" endKey="end" [locale]="{ separator: ' To ',format: 'DD-MM-YYYY'}" [ranges]="ranges" type="text" autocomplete="off" ngxDaterangepickerMd [(ngModel)]="selected" name="daterange" class="form-control"/>
                            </div>
                            <div class="col s12 m2">
                                <button type="Search" class="btn orange no-box-shadow"(click)="export_recharge()">Export</button>
                            </div>
                            
                        </div>
                    </form>

                </div>
            </div>
            <div class="card">
      <div class="card-content">
          <h3 class="font600 inline-block">My Recharge History</h3>
          <div class="overflow-scroll">							
              <table id="datatable" class="display responsive-table datatable-example">
                  <thead>
                      <tr>
                          <th nowrap="nowrap" width="57px">S.No.</th>
                          <th nowrap="nowrap">Order No.</th>
                          <th nowrap="nowrap" width="113px">Recharge No.</th>
                          <th nowrap="nowrap" width="137px">Service Provider</th>
                          <th nowrap="nowrap" width="80px">Amount</th>
                          <th nowrap="nowrap" width="115px">Out Standing</th>
                          <th nowrap="nowrap" width="102px">Order Date</th>
                          <th nowrap="nowrap" width="140px">Payment Method</th>
                          <th nowrap="nowrap" width="130px">Payment Status</th>
                          <th nowrap="nowrap" width="135px">Recharge Status</th>
                          <th nowrap="nowrap" width="95px">Complaint</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th nowrap="nowrap" width="57px">S.No.</th>
                          <th nowrap="nowrap">Order No.</th>
                          <th nowrap="nowrap" width="113px">Recharge No.</th>
                          <th nowrap="nowrap" width="137px">Service Provider</th>
                          <th nowrap="nowrap" width="80px">Amount</th>
                          <th nowrap="nowrap" width="115px">Out Standing</th>
                          <th nowrap="nowrap" width="102px">Order Date</th>
                          <th nowrap="nowrap" width="140px">Payment Method</th>
                          <th nowrap="nowrap" width="130px">Payment Status</th>
                          <th nowrap="nowrap" width="135px">Recharge Status</th>
                          <th nowrap="nowrap" width="95px">Complaint</th>
                      </tr>
                  </tfoot>
                  <tbody>
                      <tr *ngFor="let recharge of recharges| paginate: { id: 'recharge-p', itemsPerPage: this.todoservice.page_per_items(), currentPage: r_p, totalItems: recharge_counts };let i = index">
                          <td>{{i+1}}</td>
                          <td>{{recharge.recharge_order}}</td>
                          <td>{{recharge.recharge_no}}</td>
                          <td><img src="https://mydthshop.com/media/uploads/api_catimages/{{recharge.api_img}}" width="35px" class="responsive-img" alt="{{recharge.recharge_name}}"></td>
                          <td><i class="icon-inr"></i>{{recharge.amount }}</td>
                          <td> <i class="icon-inr"></i>{{recharge.balance_before}}</td>
                          <td>{{recharge.order_date | date: date:'dd M, Y' }}<br><time>{{recharge.order_date | date:'hh:mm a' }}</time></td>
                          <td *ngIf="recharge.payment_gateway == 1">Wallet</td>
                          <td *ngIf="recharge.payment_gateway == 2">Gateway</td>
                          <td *ngIf="recharge.payment_gateway == 3">Wallet/Gateway</td>
                          <td *ngIf="recharge.payment_gateway == 4">Paytm</td>
                          <td *ngIf="recharge.payment_status == 1">Complete</td>
                          <td *ngIf="recharge.payment_status == 2">Fail</td>
                          <td *ngIf="recharge.payment_status == 3">Pending</td>
                          <td *ngIf="recharge.payment_status == 4">Refunded</td>
                          <td *ngIf="recharge.recharge_status == 1"><span class="green white-text padd1">Success</span></td>
                          <td *ngIf="recharge.recharge_status == 2"><span class="red white-text padd1">Fail</span></td>
                          <td *ngIf="recharge.recharge_status == 3"><span class="orange white-text padd1">Progress</span></td>
                          <td><a href="#complaints" class="modal-trigger com" (click)="do_complaint(recharge.id)">Complaint</a></td>
                      </tr>
                  </tbody>	
              </table>
              <div class="has-text-centered right-align">
                  <pagination-controls (pageChange)="getPage($event,'r')" id="recharge-p"></pagination-controls>
              </div>
          </div>
      </div>
        </div>
      </div>
    </div>
</div>
</div>
</section>
<div id="complaints" class="modal complaint-modal">
  <div class="modal-content">
    <h3 class="font600">Add Complaint</h3>
    <span class="modal-close close-mode"><i class="material-icons font-size-change1">close</i></span>
    <p>We are only able to process the recharge dispute that is raised within 48 hours of transaction.</p>
    <form>
      <div class="row no-margin">
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Balance did not receive by customer</option>
            <option value="2">Wrong Opreater but correct recharge No/ID</option>
            <option value="3">Wrong Recharge No/ID but correct opreater </option>
            <option value="4">Other</option>
          </select>
        </div>
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1" class="font-size-change">Description</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer orange center">
    <a href="javascript:" class="modal-action btn-flat white-text font-size-change" (click)="add_complaint()">Register</a>
  </div>
</div>
<app-footer-min></app-footer-min>