<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	  bdColor="rgba(255,255,255,0.8)"
	  size="default"
	  color="#ec9737"
	  loadingText="Loading..."
	  type="ball-clip-rotate">
	</ngx-spinner>
</div>
<section class="flash-deal">
  <div class="container">
      <div class="row no-margin">
          <div class="col s12 m3">
              <div class="card">
            <div class="card-content user-content">
                    <div class="user-image">
                            <img class="responsive-img vertical-align-middle profile" src="{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="this.todoservice.get_user_avatar() && this.todoservice.get_user_avatar().includes('data:image/png')"/>
                            <img class="responsive-img vertical-align-middle profile" src="{{this.todoservice.server_url}}{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="this.todoservice.get_user_avatar() && !this.todoservice.get_user_avatar().includes('data:image/png')"/>
                                  <span alt="user-icon" id="name-characters" *ngIf="!this.todoservice.get_user_avatar()">{{this.todoservice.get_user_characters()}}</span>
                        </div>
                <div class="user-name">
                    <span>Welcome,</span><br>
                    <span class="font-size-change font600" *ngIf="this.todoservice.get_user()">{{this.todoservice.get_user().name}}</span>
                </div>
            </div>        
          </div>
              <app-side-nav></app-side-nav>			    
          </div>
        <div class="col s12 m9">         
          <div id="recharge">
            <div class="card export-and-import">
                <div class="card-content">

                    <form class="date-export">
                        <div class="row no-margin">
                            <div class="col s12 m3">
                                <input placeholder="Choose date range" endKey="end" [locale]="{ separator: ' To ',format: 'DD-MM-YYYY'}" [ranges]="ranges" type="text" autocomplete="off" ngxDaterangepickerMd [(ngModel)]="selected" name="daterange" class="form-control"/>
                            </div>
                            <div class="col s12 m2">
                                <button type="Search" class="btn orange no-box-shadow"(click)="export_recharge()">Export</button>
                            </div>
                            
                        </div>
                    </form>

                </div>
            </div>
            <div class="card">
      <div class="card-content">
          <h3 class="font600 inline-block">My Orders</h3>
          <div class="overflow-scroll">							
              <table id="datatable" class="display responsive-table datatable-example">
                  <thead>
                      <tr>
                          <th nowrap="nowrap" width="57px">S.No.</th>
                          <th nowrap="nowrap">Order No.</th>
                          <th nowrap="nowrap" width="113px">SubscriberID</th>
                          <th nowrap="nowrap" width="113px">TXNID/REFID</th>
                          <th nowrap="nowrap" width="137px">Provider/ Brand</th>
                          <th nowrap="nowrap" width="80px">Amount</th>
                          <th nowrap="nowrap" width="115px">Balance Before</th>
                          <th nowrap="nowrap" width="102px">Order Date</th>
                          <th nowrap="nowrap" width="140px">Payment Method</th>
                          <th nowrap="nowrap" width="130px">Payment Status</th>
                          <th nowrap="nowrap" width="135px">Recharge Status</th>
                          <th nowrap="nowrap" width="135px">Remark</th>
                          <th nowrap="nowrap" width="95px">Complaint</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th nowrap="nowrap" width="57px">S.No.</th>
                          <th nowrap="nowrap">Order No.</th>
                          <th nowrap="nowrap" width="113px">SubscriberID</th>
                          <th nowrap="nowrap" width="113px">TXNID/REFID</th>
                          <th nowrap="nowrap" width="137px">Provider/ Brand</th>
                          <th nowrap="nowrap" width="80px">Amount</th>
                          <th nowrap="nowrap" width="115px">Balance Before</th>
                          <th nowrap="nowrap" width="102px">Order Date</th>
                          <th nowrap="nowrap" width="140px">Payment Method</th>
                          <th nowrap="nowrap" width="130px">Payment Status</th>
                          <th nowrap="nowrap" width="135px">Recharge Status</th>
                          <th nowrap="nowrap" width="135px">Remark</th>
                          <th nowrap="nowrap" width="95px">Complaint</th>
                      </tr>
                  </tfoot>
                  <tbody>
                      <tr *ngFor="let recharge of recharges| paginate: { id: 'recharge-p', itemsPerPage: this.todoservice.page_per_items(), currentPage: r_p, totalItems: recharge_counts };let i = index">
                          <td>{{i+1}}</td>
                          <td>{{recharge.id}}</td>
                          <td>{{recharge.subcriber_id}}</td>
                          <td>{{recharge.transaction_id}}</td>
                          <td><span *ngIf="this.decode_data(recharge.order_data) ==''">{{recharge.recharge_name}}</span><span *ngIf="this.decode_data(recharge.order_data) !=''">{{this.decode_data(recharge.order_data)}}</span></td>
                          <!-- <td><img src="https://mydthshop.com/media/uploads/api_catimages/{{recharge.api_img}}" width="35px" class="responsive-img" alt="{{recharge.recharge_name}}"></td> -->
                          <td><i class="icon-inr"></i>{{recharge.grand_total }}</td>
                          <td> <i class="icon-inr"></i>{{recharge.balance_before}}</td>
                          <td>{{recharge.history_time | date: date:'dd M, Y' }}<br><time>{{recharge.history_time | date:'h:mm a' }}</time></td>
                          <td><span *ngIf="recharge.paymethod == 1">Wallet</span><span *ngIf="recharge.paymethod == 2">Gateway</span><span *ngIf="recharge.paymethod == 3">MYDTH</span><span *ngIf="recharge.paymethod == 4">Paytm</span><span *ngIf="recharge.paymethod == 5">COD</span></td>
                          <td><span *ngIf="recharge.payment_status == 1">Complete</span><span *ngIf="recharge.payment_status == 2">Fail</span><span *ngIf="recharge.payment_status == 3">Pending</span><span *ngIf="recharge.payment_status == 4">Refunded</span></td>
                            <td>
                              <span class="green white-text padd1" *ngIf="recharge.status.toLowerCase() == 'successful'">Success</span><span class="red white-text padd1" *ngIf="recharge.status.toLowerCase() == 'failed'">Fail</span><span class="orange white-text padd1" *ngIf="recharge.status.toLowerCase() == 'pending'">Pending</span>
                              <span class="grey white-text padd1" *ngIf="recharge.status.toLowerCase() != 'successful' && recharge.status.toLowerCase() != 'failed' && recharge.status.toLowerCase() != 'pending'">{{recharge.status}}</span>
                            </td>
                            <td>{{recharge.remark}}</td>
                          <td>
                            <div *ngIf="recharge.complaint_id == null">
                                <span class="orange white-text" *ngIf="check_delay(recharge.history_time) == 2">Please Wait...</span>
                                <span *ngIf="check_delay(recharge.history_time) == 1"><a href="#complaints" class="modal-trigger com" (click)="do_complaint(recharge.id)" *ngIf="recharge.complaint_id == null; else falsyTemplate">Complaint</a></span>
                            </div>
                            <div *ngIf="recharge.complaint_id != null">
                                <span class="orange white-text" *ngIf="recharge.status == 1">In Progress</span>
                                <span class="orange white-text" *ngIf="recharge.status == 0">Resolved</span>
                            </div>
                          </td>
                      </tr>
                  </tbody>	
              </table>
              <div class="has-text-centered right-align">
                  <pagination-controls (pageChange)="getPage($event,'r')" id="recharge-p"></pagination-controls>
              </div>
          </div>
      </div>
        </div>
      </div>
    </div>
</div>
</div>
<!-- <a href="#complaints" class="modal-trigger com" (click)="do_complaint(1)">Complaint</a> -->
<div id="complaints" class="modal complaint-modal">
    <div class="modal-content" *ngIf="go_to_complaint == 0">
        <span class="modal-close close-mode"><i class="material-icons font-size-change1">close</i></span>
        <h3>Please Wait...</h3>
    </div>
    <div class="modal-content" *ngIf="go_to_complaint == 2">
        <span class="modal-close close-mode"><i class="material-icons font-size-change1">close</i></span>
        <h3>Complaint In this Order is Already been Registered.</h3>
    </div>      
  <form [formGroup]="complaintgroup" #complaintform = "ngForm" (ngSubmit)="add_complaint(complaintform.value)" *ngIf="go_to_complaint == 1">
  <div class="modal-content">
    <h3 class="font600">Add Complaint</h3>
    <span class="modal-close close-mode"><i class="material-icons font-size-change1">close</i></span>
    <p>We are only able to process the recharge dispute that is raised within 48 hours of transaction.</p>
    
      <div class="row no-margin">
        <div class="input-field col s12">
            <mat-form-field>
                <mat-select placeholder="Select reason" formControlName="title">
                    <mat-option [value]="1">
                        Balance did not receive by customer
                    </mat-option>
                    <mat-option [value]="2">
                        Wrong Opreater but correct recharge No/ID
                    </mat-option>
                    <mat-option [value]="3">
                        Wrong Recharge No/ID but correct opreater
                    </mat-option>
                    <mat-option [value]="4">
                        Other
                    </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
      </div>
    
  </div>
  <div class="modal-footer orange center">
    <button type="submit" class="modal-action btn-flat white-text font-size-change">Register</button>
  </div>
</form>
</div>
</section>

<app-footer-min></app-footer-min>