<style>

    .cst-table tr:nth-child(odd) {
        background-color: rgba(242,242,242,0.5);
    }
    .theader-cst{
        background: #ececec;
        white-space: nowrap;
       
    }
    .cst-table tr td {
        border: 1px solid #e2e2e2;
    }
    .cst-table{
        white-space: nowrap;
    }
    .fix-welcome{
        padding: 10px;
        font-size: 16px;
        color: #7b7a7a;
      }
      .user-image{
          padding:9px;
      }
      
      label.lbl-num {
        line-height: 33px;
        font-size: 16px !important;
        }
        .cst-dname{
      
      font-size: 16px !important;
        padding: 10px;
        text-transform: capitalize;
      }
      .heading-txt-1{
        font-weight: bold;
        color: #424242 !important;
        line-height: 0 !important;
        margin: 6px;
      }
    
      @media only screen and (max-width: 767px){
    
    .btn-mb-respo{
        width: 100%;
    border-radius: 20px;
    }
    .pt-top-mb{
        padding-top:22px !important;
        white-space: nowrap;
    font-size: 19px !important;
    }
    }
        </style>

<app-header class="hide-on-mobile"></app-header>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>
<div class="cst-back" [innerHTML] ="this.todoservice.back_link"></div>
<div class="fix-mb-top"></div>

<section class="flash-deal">
    <div class="container-fluid">
        <div class="row no-margin">
            <div class="col s12 m2">
                <!-- <div class="card">
              <div class="card-content user-content">
                    <div class="user-image">
                            <img class="responsive-img vertical-align-middle profile" src="{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="this.todoservice.get_user_avatar() && this.todoservice.get_user_avatar().includes('data:image/png')"/>
                            <img class="responsive-img vertical-align-middle profile" src="{{this.todoservice.server_url}}{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="this.todoservice.get_user_avatar() && !this.todoservice.get_user_avatar().includes('data:image/png')"/>
                                  <span alt="user-icon" id="name-characters" *ngIf="!this.todoservice.get_user_avatar()">{{this.todoservice.get_user_characters()}}</span>
                        </div>
                        <div class="user-name">
                            <span class="fix-welcome">Welcome,</span><br>
                            <span class="font-size-change font600  cst-dname" *ngIf="this.todoservice.get_user()">{{this.todoservice.get_user_name()}}</span>
                        </div>
              </div>
            </div> -->
            <app-side-nav></app-side-nav>
            </div>
            <div class="col s12 m10">
                <!-- <div class="card export-and-import">
                    <div class="card-content">
                        <form class="date-export">
                            <div class="row no-margin">
                                <div class="input-field no-margin col s12 m3">
                                <select>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Send Recharge</option>
                                    <option value="2">Pending</option>
                                    <option value="3">Failed</option>
                                </select>
                                </div> -->
                                <!-- <div class="col s12 m3">
                                    <input type="text" class="no-margin" placeholder="Remark">
                                </div>
                                <div class="col s12 m2">
                                    <button type="Search" class="btn orange no-box-shadow">Submit</button>
                                </div>
                                <div class="col s12 m2 right-align">
                                    <a class='btn orange inline-block' href='javascript:' (click)="fetch_topup(1)">Sent Topup</a>
                                </div>
                                <div class="col s12 m2 right-align">
                                    <a class='btn orange inline-block' href='javascript:' (click)="fetch_topup(0)">Pending Topup</a>
                                </div> 
                            </div>
                        </form>
                    </div>
                </div> -->
              
                <div class="card" style="margin-top:-8px;">
                    <div class="card-content">
                        <h3 class="font600 inline-block pt-top-mb" style="margin-top:-15px;"><span class="fa fa-edit"></span> &nbsp; All Money Request</h3>
                        <a href="#" class="right inline-block margin-top-cart"><button type="submit" class="btn orange no-box-shadow" style="margin-bottom:7px;">Export All Data</button></a>
                        
                        <div class="overflow-scroll">
                            <table id="datatable" class="table display  datatable-example cst-table">
                                <thead class="thead-bg">
                                    <tr>
                                        <th >S.No.</th>
                                        <th >Order Id</th>
                                        <th >Order Date</th>
                                        <th >Amount</th>
                                        <th >Surcharge</th>
                                        <th >TXN/REF ID</th>
                                        <th >Comment</th>
                                        <th >Payment Method</th>
                                        <th >Order Status</th>
                                        <th >Payment Status</th>
                                        
                                        <td>View</td>
                                    </tr>
                                </thead>
                               
                                <tbody *ngIf="topup_counts > 0">			
									<tr *ngFor="let topup of topups | paginate: { id: 'server', itemsPerPage: this.todoservice.page_per_items(), currentPage: p, totalItems: topup_counts };let i = index">
                                        
                                        <td nowrap="nowrap">{{i+1}}</td>
                                        <td nowrap="nowrap">{{topup.order_id}}</td>
                                        <td nowrap="nowrap">{{topup.history_time | date: date: 'dd M, Y'}}<br><time>{{topup.history_time | date:'HH:mm a'}}</time></td>
                                        <td nowrap="nowrap"><i class="icon-inr"></i>{{topup.amount}}</td>
                                        <td nowrap="nowrap">{{topup.commission_surcharge}}</td>
                                        <td nowrap="nowrap">{{topup.transaction_id}}</td>
                                        <td nowrap="nowrap">{{topup.comment}}</td>
                                        <td nowrap="nowrap"><div [innerHTML]="this.todoservice.addmoney_paymethod_template(topup.paymethod)"></div></td>
                                        <td nowrap="nowrap"><div [innerHTML]="this.todoservice.order_template(topup.status)"></div></td>
                                        <td nowrap="nowrap"><div [innerHTML]="this.todoservice.payment_template(topup.payment_status)"></div></td>
                                        <td><a routerLink="/dashboard/value-transfer" [queryParams]="{order_id : topup.order_id}"><span class="fa fa-eye cst-eye"></span></a></td>	
                                    </tr>  
                                </tbody>
                                <tbody *ngIf="topup_counts == 0">
                                    <tr>
                                        <td colspan="12">No Topup Request</td>
                                    </tr>
                                </tbody>	
                            </table>
							<div class="has-text-centered right-align">
								<pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end here -->
<app-footer-min></app-footer-min>