<app-header></app-header>
<div class="spinner-wrapper">
        <ngx-spinner
          bdColor="rgba(255,255,255,0.8)"
          size="default"
          color="#ec9737"
          loadingText="Loading..."
          type="ball-clip-rotate">
        </ngx-spinner>
    </div>

<section class="flash-deal">
    <div class="container">
        <div class="row no-margin">
            <div class="col s12 m3">
                <div class="card">
              <div class="card-content user-content">
                  <div class="user-image">
                      <img src="{{this.todoservice.base_url}}assets/images/recharge-icon/user.svg" class="responsive-img" alt="User-icon" width="50">
                  </div>
                  <div class="user-name">
                      <span>Welcome,</span><br>
                      <span class="font-size-change font600" *ngIf="this.todoservice.get_user()">{{this.todoservice.get_user().name}}</span>
                  </div>
              </div>        
            </div>
                <app-side-nav></app-side-nav>			    
            </div>
            <div class="col s12 m9">
                <div id="wallet">
                    <div class="card export-and-import">
                        <div class="card-content">
                            <form class="date-export">
                                <div class="row no-margin">
                                    <div class="col s12 m3">
                                        <input type="text" class="datepicker no-margin" placeholder="Start Date">
                                    </div>
                                    <div class="col s12 m1 center no-padding to">
                                        <span class="font600">TO</span>
                                    </div>
                                    <div class="col s12 m3">
                                        <input type="text" class="datepicker no-margin" placeholder="End Date">
                                    </div>
                                    <div class="col s12 m2">
                                        <button type="Search" class="btn orange no-box-shadow">Export</button>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <h3 class="font600 inline-block">Wallet Transaction History</h3>
                            <a href="javascript:" class="right inline-block margin-top-cart"><button type="submit" class="btn orange no-box-shadow">Export All Data</button></a>
                            <div class="overflow-scroll">							
                                <table id="datatable2" class="display responsive-table datatable-example">
                                    <thead>
                                        <tr>
                                            <th nowrap="nowrap" width="57px">S.No.</th>
                                            <th nowrap="nowrap" width="130px">Order No.</th>
                                            <th nowrap="nowrap" width="130px">Transaction Id</th>
                                            <th nowrap="nowrap" width="130px">Subscriber Id</th>
                                          <th nowrap="nowrap" width="135px">Trans date/time</th>
                                            <th nowrap="nowrap" width="115px">Trans Name</th>
                                            <th nowrap="nowrap" width="102px">Trans Type</th>
                                            <th nowrap="nowrap" width="170px">Balance Before Trns</th>
                                            <th nowrap="nowrap" width="130px">Trans Amount</th>
                                            <th nowrap="nowrap" width="205px">Commission/ Surcharge/ Cashback</th>
                                            <th nowrap="nowrap" width="160px">Balance After Trans</th>
                                            <th nowrap="nowrap" width="140px">Payment Method</th>
                                            <th nowrap="nowrap" width="95px">Status</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th nowrap="nowrap" width="57px">S.No.</th>
                                            <th nowrap="nowrap" width="130px">Order No.</th>
                                            <th nowrap="nowrap" width="130px">Transaction Id</th>
                                            <th nowrap="nowrap" width="130px">Subscriber Id</th>
                                           <th nowrap="nowrap" width="135px">Trans date/time</th>
                                            <th nowrap="nowrap" width="115px">Trans Name</th>
                                            <th nowrap="nowrap" width="102px">Trans Type</th>
                                            <th nowrap="nowrap" width="170px">Balance Before Trns</th>
                                            <th nowrap="nowrap" width="130px">Trans Amount</th>
                                            <th nowrap="nowrap" width="205px">Commission/ Surcharge/ Cashback</th>
                                            <th nowrap="nowrap" width="160px">Balance After Trans</th>
                                            <th nowrap="nowrap" width="140px">Payment Method</th>
                                            <th nowrap="nowrap" width="95px">Status</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let row of transactions | paginate: { id: 'wallet-p', itemsPerPage: this.todoservice.page_per_items(), currentPage: w_p, totalItems: wallet_counts }; let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{row.order_id}}</td>
                                            <td>{{row.transaction_id}}</td>
                                            <td>{{row.subscriber_id}}</td>
                                           <td>{{row.history_time | date: date:'dd M, Y'}}<br><time>{{row.history_time | date:'hh:mm a'}}</time></td>
                                            <td>{{row.comment}}</td>
                                            <td *ngIf="row.transaction_type == 1">Credit</td>
                                            <td *ngIf="row.transaction_type == 2">Debit</td>
                                            <td *ngIf="row.transaction_type == 3">Online</td>
                                            <td> <i class="icon-inr"></i>{{row.balance_before }}</td>
                                            <td *ngIf="row.transaction_type == 2" class="red-text"> <i class="icon-inr"></i>{{row.amount }}</td>
                                            <td *ngIf="row.transaction_type == 1" class="green-text"> <i class="icon-inr"></i>{{row.amount}}</td>
                                            <td *ngIf="row.transaction_type == 3" class="green-text"> <i class="icon-inr"></i>{{row.amount }}</td>
                                            <td> <i class="icon-inr"></i>{{row.commission_surcharge}}</td>
                                            <td *ngIf="row.transaction_type == 1"> <i class="icon-inr"></i>{{row.balance_before*1+row.amount*1+row.commission_surcharge*1 }}</td>
                                            <td *ngIf="row.transaction_type == 2"> <i class="icon-inr"></i>{{row.balance_before*1-row.amount*1+row.commission_surcharge*1 }}</td>
                                            <td *ngIf="row.transaction_type == 3"> <i class="icon-inr"></i>{{row.balance_before+row.commission_surcharge*1 }}</td>
                                            <td *ngIf="row.paymethod == 1">Wallet</td>
                                            <td *ngIf="row.paymethod == 3">MYDTH</td>
                                            <td *ngIf="row.paymethod == 4">PAYTM</td>
                                            <td *ngIf="row.paymethod == 5">COD</td>
                                            <td *ngIf="row.paymethod == 2">Gateway</td>
                                            <td *ngIf="row.payment_status == 1"><span class="green white-text padd1">Success</span></td>
                                            <td *ngIf="row.payment_status == 2"><span class="red white-text padd1">Fail</span></td>
                                            <td *ngIf="row.payment_status == 0"><span class="orange white-text padd1">Pending</span></td>
                                            <td *ngIf="row.payment_status == 3"><span class="orange white-text padd1">Pending</span></td>
                                            
                                        </tr>
                                    </tbody>	
                                </table>
                                <div class="has-text-centered right-align">
                                    <pagination-controls (pageChange)="getPage($event,'w')" id="wallet-p"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



  <!-- End Here -->
  <!-- Complaint Modal Structure -->
  <div id="view-more" class="modal complaint-modal">
    <div class="modal-content">
      <h3 class="font600">Order Invoice</h3> 
      <span class="modal-close close-mode"><i class="material-icons font-size-change1">close</i></span>
      <div class="row">
      	<div class="col s12 m6">
      		<span class="font-size-change">Order #1001777269</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Order : </span>
      			<span>375a6dabd574214</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Order Date : </span>
      			<span>28-Jan-2018, <time>04:24:13 PM</time></span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Payment Status : </span>
      			<span>Failed</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Recharge Status : </span>
      			<span>Failed</span>
      		</div>
      	</div>
      	<div class="col s12 m6">
      		<span class="font-size-change">User Detail</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Name : </span>
      			<span>JAIN TELECOM</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Email : </span>
      			<span>anantjain296@gmail.com</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Contact No : </span>
      			<span>9911811317</span>
      		</div>
      	</div>
      </div>
      <hr>
      <div class="row">
      	<div class="col s12">
      		<table class="responsive-table bordered striped highlight">
		        <thead>
		          <tr>
	              <th>Subscriber/Customer No.</th>
	              <th>Operator</th>
	              <th>Recharge Amount</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>1234567890</td>
		            <td>Tata Sky</td>
		            <td class="center">20</td>
		          </tr>
		        </tbody>
		      </table>
      	</div>
      </div>
      <hr>
      <div class="row margin-top">
      	<div class="col s12 right-align">
      		<span>Order Totals</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Grand Total : </span>
      			<span> 98</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Use Wallet Amount : </span>
      			<span> 98</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Total Amount : </span>
      			<span> 0</span>
      		</div>
      	</div>
      </div>
    </div>
  </div>
  <!-- End Here -->
  
  <app-footer-min></app-footer-min>