<style>
    .cst-table tr:nth-child(odd) {
    background-color: rgba(242,242,242,0.5);
}
.theader-cst{
    background: #ececec;
   
}
.cst-table tr td {
    border: 1px solid #e2e2e2;
}
.fix-welcome{
    padding: 10px;
    font-size: 16px;
    color: #7b7a7a;
  }
  .user-image{
      padding:9px;
  }
  
  label.lbl-num {
    line-height: 33px;
    font-size: 16px !important;
    }
    .cst-dname{
  
  font-size: 16px !important;
    padding: 10px;
    text-transform: capitalize;
  }
  .heading-txt-1{
    font-weight: bold;
    color: #424242 !important;
    line-height: 0 !important;
    margin: 6px;
  }
@media only screen and (max-width: 767px){

    .btn-mb-respo{
        width: 100%;
    border-radius: 20px;
    }
    .pt-top-mb{
        padding-top:22px !important;
        white-space: nowrap;
    font-size: 19px !important;
    }

  
.flash-deal{

padding:0;
}
}
</style>
<app-header class="hide-on-mobile"></app-header>
<div class="spinner-wrapper">
    <ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
    </div>
    <div class="recharge-section show-on-medium-and-down hide-on-med-and-up cst-bg-color">
        <div class="container">
            <div class="col s12">
            <ul class="back-icon">
                <li> <a class="black-text" routerLink="/"><span class="fa fa-arrow-left left-icn-mb1"></span>&nbsp; <span id="page-title">History  </span></a> <a class="right cart-strip" routerLink="/product/cart"><img src="{{this.todoservice.base_url}}web-app/assets/images/cart.png"><span class="strip-circle">{{this.todoservice.cartItemsCount()}}</span></a></li>
            </ul>
            </div>	
            <div class="clearfix"></div>
        </div>
        </div>
        <div class="fix-mb-top"></div>
<section class="flash-deal">
    <div class="container-fluid">
        <div class="row no-margin">
            <div class="col s12 m2">
                <!-- <div class="card">
              <div class="card-content user-content">
                    <div class="user-image">
                            <img class="responsive-img vertical-align-middle profile" src="{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="this.todoservice.get_user_avatar() && this.todoservice.get_user_avatar().includes('data:image/png')"/>
                            <img class="responsive-img vertical-align-middle profile" src="{{this.todoservice.server_url}}{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="this.todoservice.get_user_avatar() && !this.todoservice.get_user_avatar().includes('data:image/png')"/>
                                  <span alt="user-icon" id="name-characters" *ngIf="!this.todoservice.get_user_avatar()">{{this.todoservice.get_user_characters()}}</span>
                        </div>
                        <div class="user-name">
                            <span class="fix-welcome">Welcome,</span><br>
                            <span class="font-size-change font600  cst-dname" *ngIf="this.todoservice.get_user()">{{this.todoservice.get_user_name()}}</span>
                        </div>
              </div>        
            </div> -->
                <app-side-nav></app-side-nav>			    
            </div>
            <div class="col s12 m10">
                
                <div id="wallet" style="margin-top:-12px;">
                    <div class="card export-and-import">
                        <div class="card-content">
                            <form class="date-export">
                                <div class="row no-margin">
                                    <div class="col s12 m4">
                                        <h4 class="heading-txt-1"><span class="fa fa-calendar"></span> &nbsp; Please Choose Data Range :</h4>
                                    </div>
                                    <div class="col s12 m3">
                                        <input placeholder="Choose date range" endKey="end" [locale]="{ separator: ' To ',format: 'DD-MM-YYYY'}" [ranges]="ranges" type="text" autocomplete="off" ngxDaterangepickerMd [(ngModel)]="selected" name="daterange" class="form-control"/>
                                    </div>
                                    <div class="col s12 m2">
                                        <button type="Search" class="btn orange no-box-shadow btn-mb-respo" (click)="export_transactions()">Export &nbsp; <span class="fa fa-file"></span></button>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- table start -->
                    
                    <div class="card">
                        <div class="card-content">
                            <h3 class="font600 inline-block pt-top-mb" style="margin-top:-15px;"><span class="fa fa-edit"></span> &nbsp; Wallet Transaction History</h3>
                            <!-- <hr/> -->
                            <div class="right">
                                <span>Search Order: </span><input type="text" placeholder="Enter Order Id/Subscriber Id" id="order-id"><a href="javascript:" class="search-link" (click)="seach_order()"><i class="material-icons">search</i></a>
                            </div>
                            <div class="responsive-table" style="width:100%; overflow:auto;">
                             <table class="table striped  cst-table">
                                 <thead class="thead-bg">
                                <tr class="theader-cst">
                                    <th >S.No.</th>
                                    <th >Order No.</th>
                                    <th >Transaction Id</th>
                                    <th >Subscriber Id</th>
                                  <th >Trans date/time</th>
                                    <th >Trans Name</th>
                                    <th >Trans Type</th>
                                    <th >Balance Before Trns</th>
                                    <th >Trans Amount</th>
                                    <th >Commission/ Surcharge/ Cashback</th>
                                    <th >Balance After Trans</th>
                                    <th >Payment Method</th>
                                    <th>Payment Status</th>
                                    <th >Order Status</th>
                                </tr>
                                </thead>

                                <tr *ngFor="let row of transactions | paginate: { id: 'wallet-p', itemsPerPage: this.todoservice.page_per_items(), currentPage: w_p, totalItems: wallet_counts }; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{row.order_id}}</td>
                                    <td>{{row.transaction_id}}</td>
                                    <td>{{row.subscriber_id}}</td>
                                   <td>{{row.history_time | date: date:'dd M, Y'}}<br><time>{{row.history_time | date:'hh:mm a'}}</time></td>
                                    <td>{{row.comment}}</td>
                                    <td *ngIf="row.transaction_type == 1">Credit</td>
                                    <td *ngIf="row.transaction_type == 2">Debit</td>
                                    <td *ngIf="row.transaction_type == 3">Online</td>
                                    <td> <i class="icon-inr"></i>{{row.balance_before }}</td>
                                    <td *ngIf="row.transaction_type == 2" class="red-text"> <i class="icon-inr"></i>{{row.amount }}</td>
                                    <td *ngIf="row.transaction_type == 1" class="green-text"> <i class="icon-inr"></i>{{row.amount}}</td>
                                    <td *ngIf="row.transaction_type == 3" class="green-text"> <i class="icon-inr"></i>{{row.amount }}</td>
                                    <td> <i class="icon-inr"></i>{{row.commission_surcharge}}</td>
                                    <td *ngIf="row.transaction_type == 1 && row.payment_status == 1"> <i class="icon-inr"></i>{{row.balance_before*1+row.amount*1+row.commission_surcharge*1 }}</td>
                                    <td *ngIf="(row.transaction_type == 1 && row.payment_status == 2) ||(row.transaction_type == 1 && row.payment_status == 3)"> <i class="icon-inr"></i>{{row.balance_before }}</td>
                                    <td *ngIf="row.transaction_type == 2"> <i class="icon-inr"></i>{{row.balance_before*1-row.amount*1+row.commission_surcharge*1 }}</td>
                                    <td *ngIf="row.transaction_type == 3"> <i class="icon-inr"></i>{{row.balance_before+row.commission_surcharge*1 }}</td>
                                    <td><div [innerHTML]="this.todoservice.paymethod_template(row.paymethod)"></div></td>
                                    <td><div [innerHTML]="this.todoservice.payment_template(row.payment_status)"></div></td>
                                    <td><div [innerHTML]="this.todoservice.order_template(row.status)"></div></td>
                                </tr>


                            </table>
                            </div>
                            <div class="has-text-centered right-align">
                                <pagination-controls (pageChange)="getPage($event,'w')" id="wallet-p"></pagination-controls>
                            </div>
                        </div>
                    </div>

                  


                </div>
            </div>
        </div>
    </div>
</section>



  <!-- End Here -->
  <!-- Complaint Modal Structure -->
  <div id="view-more" class="modal complaint-modal">
    <div class="modal-content">
      <h3 class="font600">Order Invoice</h3> 
      <span class="modal-close close-mode"><i class="material-icons font-size-change1">close</i></span>
      <div class="row">
      	<div class="col s12 m6">
      		<span class="font-size-change">Order #1001777269</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Order : </span>
      			<span>375a6dabd574214</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Order Date : </span>
      			<span>28-Jan-2018, <time>04:24:13 PM</time></span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Payment Status : </span>
      			<span>Failed</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Recharge Status : </span>
      			<span>Failed</span>
      		</div>
      	</div>
      	<div class="col s12 m6">
      		<span class="font-size-change">User Detail</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Name : </span>
      			<span>JAIN TELECOM</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Email : </span>
      			<span>anantjain296@gmail.com</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Contact No : </span>
      			<span>9911811317</span>
      		</div>
      	</div>
      </div>
      <hr>
      <div class="row">
      	<div class="col s12">
      		<table class="responsive-table bordered striped highlight">
		        <thead>
		          <tr>
	              <th>Subscriber/Customer No.</th>
	              <th>Operator</th>
	              <th>Recharge Amount</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>1234567890</td>
		            <td>Tata Sky</td>
		            <td class="center">20</td>
		          </tr>
		        </tbody>
		      </table>
      	</div>
      </div>
      <hr>
      <div class="row margin-top">
      	<div class="col s12 right-align">
      		<span>Order Totals</span>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Grand Total : </span>
      			<span> 98</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Use Wallet Amount : </span>
      			<span> 98</span>
      		</div>
      		<div class="order-date margin-top-cart">
      			<span class="font600">Total Amount : </span>
      			<span> 0</span>
      		</div>
      	</div>
      </div>
    </div>
  </div>
  <!-- End Here -->
  
  <app-footer-min></app-footer-min>