<style>
    @media only screen and  (max-width: 767px){
  
      .cst-dname{
  
  font-size: 16px !important;
    padding: 10px;
    text-transform: capitalize;
  }

 
 
  .btn-value{  
  width: 100%;
    margin-right: 0;
    border-radius: 20px;
    margin-bottom: 15px;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: transparent;
}
table.striped>tbody>tr:nth-child(3) {
    border-bottom:transparent;
}
table.striped>tbody>tr:nth-child(4) {
    border-bottom:transparent;
}
  .w-100-btn{

      width: 100%;
  }
  .value-transfer {
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
}
  .fix-welcome{
    padding: 10px;
    font-size: 16px;
    color: #7b7a7a;
  }
  .user-image{
      padding:9px;
  }
  .w-100{

    width:100%;
  }
  label.lbl-num {
    line-height: 33px;
    font-size: 16px !important;
    }
    
    .web-view{
        width:100% !important;
    min-height: 320px;
    }
}
.web-view{
        width: 45%;
    min-height: 320px;
    }

    .btn-dfix{

        width:100%;
        margin-top:20px;
    }
    .circle-box1{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ff6a00;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    float: left;
    margin-left: 10px;
    }
    .circle-box2{

        height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #a504b8;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    float: left;
    margin-left:15px;

    }
    .circle-box3{

height: 40px;
width: 40px;
border-radius: 50%;
background-color: #1a9dd4;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left: 15px;

}

.circle-box4{

height: 40px;
width: 40px;
border-radius: 50%;
background-color: #f51b7c;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left: 15px;

}

    .recent-txt{
        font-size: 13px;
    }

    .money-txt{

        font-size: 16px;
    margin-bottom: 10px !important;
    font-weight: bold;
    color: #757272;
    }

    .fix-welcome{
    padding: 10px;
    font-size: 16px;
    color: #7b7a7a;
  }
  .user-image{
      padding:9px;
  }
  
  label.lbl-num {
    line-height: 33px;
    font-size: 16px !important;
    }
    .cst-dname{
  
  font-size: 16px !important;
    padding: 10px;
    text-transform: capitalize;
  }

  .resp-btn{

border-radius: 20px !important;
width: 100% !important;
margin: auto;
}


@media only screen and (min-width: 767px){

.hide-img1{

    display:none !important;
}
.cst-invoice-fix{

position: relative;
left: 25%;
}
}
.border-btn:hover {
    background-color: transparent !important;
}
.fix-icon-0 .mat-select-arrow {
    position: relative !important;
    top: 10px !important;
}
  </style>
<app-header class="hide-on-mobile"></app-header>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>
<div class="recharge-section show-on-medium-and-down hide-on-med-and-up cst-bg-color">
    <div class="container">
        <div class="col s12">
        <ul class="back-icon">
            <li> <a class="black-text" routerLink="/mhome"><span class="fa fa-arrow-left left-icn-mb1"></span>&nbsp; <span id="page-title"> Pay </span></a> <a class="right cart-strip" routerLink="/product/cart"><img src="{{this.todoservice.base_url}}web-app/assets/images/cart.png"><span class="strip-circle">{{this.todoservice.cartItemsCount()}}</span></a></li> 
        </ul>
        </div>	
        <div class="clearfix"></div>
    </div>
    </div>
    <div class="fix-mb-top"></div>

<!-- <div class="col s12 cst-back">
    <ul class="back-icon">
        <li>  <a class="black-text" routerLink="/"><span class="fa fa-arrow-left bk-icon left-icn-mb"></span>&nbsp; Value Transfer </a> <span class="fa fa-search search-mb-btn"></span> </li>
    </ul>
  </div>	 -->
<section class="flash-deal">
    <div class="container-fluid">
        <div class="row no-margin">
            <div class="col s12 m2">
            <app-side-nav></app-side-nav>
            </div>
            <div class="col s12 m10">
                <div class="row">
             
               <div class="card inline-block w-100 cst-invoice-fix">
                    <div class="card-content cst-invoice" *ngIf="order_id">
                        <div  class="mb-1">
                            <h2 class="font600 inline-block">Invoice </h2>
                        </div>
                        <ul *ngIf="order_data" class="font-li">
                            <li><span *ngIf="order_data.payment_status == 2" class="red-text"><img src="{{this.todoservice.base_url}}web-app/assets/images/close.gif" style="width:40px;"></span><span *ngIf="order_data.payment_status == 1" class="green-text"><img src="{{this.todoservice.base_url}}web-app/assets/images/success.gif" style="width:40px;"></span><span *ngIf="order_data.payment_status == 3" class="orange-text"><img src="{{this.todoservice.base_url}}web-app/assets/images/pending.gif" style="width:40px;"></span></li>
                            <li class="cst-top-signle"><strong>Order Status: </strong> {{order_data.status}}</li>
                            <li class="cst-top-signle"><strong>Payment Status: </strong> <span *ngIf="order_data.payment_status == 1">Succcessful</span><span *ngIf="order_data.payment_status == 2">Failed</span><span *ngIf="order_data.payment_status == 3">Pending</span></li>
                            <li><strong>Invoice No: </strong>  #{{order_data.id}} </li>
                            <li><strong>Amount: </strong> {{order_data.grand_total}}</li>
                            <li><strong>Date issued: </strong> {{order_data.history_time | date: date:'dd M, Y'}}</li>
                            
                            <li><strong>Payment Method: </strong><span *ngIf="order_data.paymethod == 1">Wallet</span><span *ngIf="order_data.paymethod == 2">Gateway</span><span *ngIf="order_data.paymethod == 3">Libanz</span><span *ngIf="order_data.paymethod == 4">Paytm</span></li>
                            <!-- <li><strong>Commission/Surcharge: </strong>Rs.{{order_data.commission_surcharge}}</li> -->
                            <li><strong>Comment: </strong>{{order_data.remark}}</li>
                        </ul>

                        <div class="clearfix"></div> <br/>
                        <!-- <ul class="back-icon desktop-hide">
                            <li><a class="btn btn-orange black-text cst-ibtn" href="javascript:" (click)="back_to_transfer()">Back </a></li>
                        </ul> -->
                    </div>
                
                    <div class="card-content" *ngIf="!order_id">
                         <span class="money-txt" style="color:#333; font-size:18px;"> Send Money </span> <span class="wallet-balance"><span class="libanz-wallet"> Libanz Wallet</span><i class="fa fa-inr"></i>{{this.todoservice.get_user_wallet()}}</span>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col s6"><span >
                                <mat-radio-button value="cod" name="wallet_type" id="coed" checked (click)="goto_step(1)">To Libanz Wallet </mat-radio-button>
                        </span></div>
                        <div class="col s6"><span >
                            <mat-radio-button value="cod" name="wallet_type" id="code" (click)="goto_step(3)"> To Bank </mat-radio-button>
                    </span></div>
                        </div>
                        <div *ngIf="step == 2">
                        <div class="value-transfer col s12 m12 margin-top">
                            <form class="padd" [formGroup]="valuetransfer" #transferform = "ngForm" (ngSubmit)="send_value(transferform.value)">
                            <table class="responsive-table1  bordered"> 
                                <tbody> 
                                    <tr>
                                        <td><span class="font600 font-size-change">Name</span></td>
                                    <td><span class="font-size-change">{{fetch_user.name}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="font600 font-size-change">Phone No.</span></td>
                                        <td><span class="font-size-change">{{fetch_user.phone}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="font600 font-size-change" style="white-space: nowrap;">Enter Amount</span></td>
                                        <td>
                                        <div class="input-field">
                                            <input id="amount" type="text" class="validate" maxlength="6" name="amount" formControlName="amount">
                                            <label for="amount">Enter Amount Here </label>
                                            <div class="red-text accent-4" *ngIf="!valuetransfer.controls['amount'].valid && valuetransfer.controls['amount'].touched">Enter Valid Amount*.</div> 
                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                    <td colspan="2"><button type="Submit" class="btn orange btn-value resp-btn" [disabled]="!valuetransfer.valid">Transfer Now</button>
                                        <!-- <button type="button" class="btn orange btn-value clc-btn" (click)="cancel()">Cancel</button></td> -->
                                    </tr>
                                </tbody>    
                                </table>
                            </form>
                        </div>
                        
                    </div>
                        <div *ngIf="step==1">
                            <div class="value-transfer col s12 m12 margin-top">
                                <form [formGroup]="phonefetchform" class="padd" #fetchform = "ngForm" (ngSubmit)="fetch_user_data(fetchform.value)">
                                    <div class="row">
                                        <div class="col s2"><label class="lbl-num">  +91- </label> </div>
                                        <div class="col s9">
                                        <input id="first_name" type="number" placeholder="Enter Mobile Number" class="validate" formControlName="phone" [(ngModel)]="fetch_user.phone">
                                        <div class="red-text accent-4" *ngIf="!phonefetchform.controls['phone'].valid && phonefetchform.controls['phone'].touched">Enter Valid Phone*.</div> 
                                        </div>
                                        <div class="col s1"> <span class="fa fa-address-book"></span> </div>
                                    <div class="input-field col s12 center">
                                        <button type="submit" class="btn btn-large white-text value-sub orange w-100-btn resp-btn" id="fetch-form" [disabled]="!phonefetchform.valid">Submit</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="recent-details" *ngIf="recent_transfer && recent_transfer.length > 0">
                                <h4 class="recent-txt">Recents </h4>
                                <div class="row">
                                    <div class="{{this.classes[i%4]}}" *ngFor="let item of recent_transfer;let i = index"> <a href="javascript:" class="white-text" (click)="select_partner(item.subscriber_id)" *ngIf="check_user(item.partner) != null">{{check_user(item.partner)}}</a> </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div *ngIf="step == 3">
                            <h4 class="money-txt" style="color:#333; font-size:18px;"> Send Money From Wallet To  Bank  </h4>
                            <br/>
                            <span>we pay high fees when you add money to wllet , hence we charge 3% when you take this money to your bank account</span>
                            <br/>
                            <i class="fa fa-info"></i> You can send upto 25000 with in a month.
                            <form [formGroup]="user_tobank" class="margin-top sec-7 " #userform = "ngForm" (ngSubmit)="user_tobank_submit(userform.value)">
                                <input id="first_name" type="number" id="user-amount" placeholder="Enter Amount"  class="validate" formControlName="amount" (keyup)="change_amount($event.target.value)">
                                <span class="error-rtext" *ngIf="this.user_data.amount < 500">Please enter a valid amount between <span class="fa fa-inr"></span> 500 &nbsp; and <span class="fa fa-inr"></span> 25,000  </span>
                                <button type="submit" class="btn btn-large white-text value-sub orange w-100-btn resp-btn" id="fetch-form" [disabled]="(!this.user_data || this.user_data.amount < 500)?true:false"> Proceed </button>
                            </form>
                        </div>
                        <div *ngIf="step == 4">
                                <h4 class="money-txt" style="color:#333; font-size:18px;"> Send Money From Wallet To  Bank  </h4>
                                <div class="value-transfer col s12 m12 margin-top">
                                   <div class="row">
                                           <div class="col s1"><label class="lbl-num"> <span class="fa fa-inr"></span> </label> </div>
                                           <div class="col s11">
                                               <div class="inner-rate">
                                           <input id="first_name" type="number" placeholder="AMOUNT"  class="validate" name="amoutn" value="{{this.user_data.amount}}" (keyup)="change_amount($event.target.value)">
                                           <span class="fa fa-plus cst-plus-bg"> </span>
                                        </div>
                                        <div class="money-wallet">   
                                        <div class="extra-rate-1"> 
                                            <p>Charge</p>
                                            <span class="fa fa-inr"></span>{{this.user_data.surcharge}}   =
                                        </div>
                                       <div class="extra-rate-2"> 
                                            <p>Net Payable</p>
                                            <span class="fa fa-inr"></span>{{ 1* this.user_data.amount + 1* this.user_data.surcharge}} 
                                        </div>

                                        </div>
                                        </div>
                                           <span class="error-rtext" *ngIf="this.user_data.amount < 500">Please enter a valid amount between <span class="fa fa-inr"></span> 500 &nbsp; and <span class="fa fa-inr"></span> 25,000  </span>
                                           <span class="error-rtext" *ngIf="(this.user_data.amount + this.user_data.surcharge*1 ) > this.todoservice.get_user_wallet_amount()">You do Not Have Enough Balance in your Wallet.</span>
                                        <div class="input-field col s12 center">
                                           <p class="cst-fix-terms">
                                               By Proceeding I agree to the additional 3% charges applicable on this transaction</p>
                                           <button type="button" class="btn btn-large white-text value-sub orange w-100-btn resp-btn" id="fetch-form" (click)="this.goto_step(5)" [disabled]="(this.user_data.amount < 500 || (this.user_data.amount + this.user_data.surcharge*1 ) > this.todoservice.get_user_wallet_amount())?true:false"> Proceed </button>
                                       </div>
                                   </div>
                               </div>
                            </div>
                            <div *ngIf="step == 5">
                                <div class="col s6 m8">
                                <h4 class="money-txt" style="color:#333; font-size:18px;" *ngIf="this.user_banks"> Select a Saved Bank Account  </h4>
                                </div>
                                <div class="col s6 m4">
                                <button class="btn border-btn" (click)="this.goto_step(6)">Add&nbsp;New </button>
                                </div>
                                <div class="clearfix"></div>
                                <div class="bank-list" *ngIf="this.user_banks">
                                    <div class="row" *ngFor="let item of this.user_banks;let i = index;">
                                        <div class="col s3">
                                            <mat-radio-button name="select_user_bank" value="{{item.id}}" [checked]="(this.selected_bank && this.selected_bank == item.id || i == 0)?true:false"><img src="{{this.todoservice.base_url}}accounts/assets/uploads/banks/{{item.icon}}" class="responsive-img img-circle1"></mat-radio-button>
                                        </div> 
                                        <div class="col s9 border-bottom">
                                            <h4 class="user-name">{{item.holder_name}} </h4>
                                            <p class="act-txt">A/C No. XX XX {{item.last_4_acc}} </p>
                                        </div>
                                    </div>
                                    <button class="btn white-text orange cst-proceed" (click)="proceed_to_choose_bank()">Proceed</button>
                                </div>
                                <div class="no-found-list" *ngIf="!this.user_banks">No Bank Added</div> 
                            </div>
                            <div *ngIf="step == 6">
                                    <h4 class="money-txt" style="color:#333; font-size:18px;"> Add New Bank Account  </h4>
                                    <br/>
                                    <form [formGroup]="bankgroup" class="sec-7 " #bankform = "ngForm" (ngSubmit)="add_bank(bankform.value)">
                                        <div class="form-group fix-icon-0">    
                                            <mat-form-field>
                                                <mat-select placeholder="Select Bank" formControlName="bank_id">
                                                    <span *ngFor="let item of all_banks">
                                                        <mat-option [value]="item.id">
                                                            <span *ngIf="item.icon != ''"><img class="operator-img" src="{{this.todoservice.base_url}}accounts/assets/uploads/banks/{{item.icon}}"></span><span class="operator-name">{{ item.bank_name }}</span>
                                                        </mat-option>
                                                    </span> 
                                                </mat-select>
                                            </mat-form-field>
                                        </div>    
                                        <div class="form-group" style="margin-top:20px;">
                                        <input type="number" class="form-control" placeholder="Enter Account Number" formControlName="account_no"/>
                                        </div>
                                        <div class="form-group">
                        
                                        <input type="text" class="form-control" placeholder="Enter IFSC Code" formControlName="ifsc"/>
                        
                                        <span class="ifsc-txt">Find IFSC</span>
                                        </div>
                                        <div class="form-group">
                        
                                        <input type="text" class="form-control" placeholder="Account Holder's  Name" formControlName="holder_name"/>
                                        </div>
                                        <button type="submit" class="btn btn-large white-text value-sub orange w-100-btn resp-btn" [disabled]="!bankgroup.valid" id="fetch-form"> Proceed </button>
                                        <button type="button" class="btn grey white-text" id="fetch-form" (click)="this.goto_step(5)"> Back </button>
                                                    
                                    </form>
                                    
                                </div>
                                <div *ngIf="step == 7">
                                        <div class="row">
                                            <div class="col s12 m12">
                                            <h4 class="money-txt" style="color:#333; font-size:18px;"> Send Money from Wallet to  </h4>
                                            </div>
                                        </div>
                                    
                                        <div class="bank-list">
                                            <div class="row ">
                                                <div class="col s10">
                                                    <h4 class="user-name"><strong> {{this.selected_bank[0].holder_name}} </strong> </h4>
                                                    <p class="act-txt">{{this.selected_bank[0].bank_name}} XX XX {{this.selected_bank[0].last_4_acc}}  </p>
                                                </div>
                                                <div class="col s2">
                                                <img src="{{this.todoservice.base_url}}accounts/assets/uploads/banks/{{this.selected_bank[0].icon}}" class="responsive-img img-circle1">
                                            </div> 
                                            </div>
                                        </div>
                        
                                        <div class="row acount-box">
                        
                                        <div class="col s8">
                                            <p>Amount to be sent </p>
                                        </div>
                                        <div class="col s4 right-align">
                                            <span class="fa fa-inr"></span> {{this.user_data.amount}}
                                        </div>
                        
                                        </div>
                                        
                                        <div class="row acount-box">
                        
                                        <div class="col s8">
                                            <p> Charge &nbsp; <span class="fa fa-info-circle"></span> </p>
                                        </div>
                                        <div class="col s4 right-align">
                                            <span class="fa fa-inr"></span> {{this.user_data.surcharge}}
                                        </div>
                        
                                        </div>
                                        <div class="row acount-box total-block">
                                        
                                        <div class="col s8">
                                            <p class="total-txt"> Total Payable  </p>
                                        </div>
                                        <div class="col s4 right-align">
                                            <span class="fa fa-inr"></span> {{this.user_data.amount*1 + this.user_data.surcharge*1}} 
                                        </div>
                                        <div class="clearfix"></div>
                                        <button type="button" class="btn grey white-text" id="fetch-form" (click)="this.send_money_resuest()" style="margin-top:20px;"> Confirm </button>
                                        </div>
                        
                                    </div> 
                                    <div *ngIf="step == 8">
                                            <div class="row money-sent-box">
                    
                                                <h4 class="money-txt" style="color:#fff; font-size:18px; padding:10px;">Your Request is Placed Successfully.</h4>
                                                        <h3 class="rupee-txt"><span class="fa fa-inr"></span> 100</h3>
                                                <p class="rupee-txt">Rupees One Hundred only </p>
                    
                                                <button class="btn cst-view-btn">View Detils </button>
                                            </div>
                                            <div class="pass-detail">
                                                <p class="wallet-bal">Updated Libanz Wallet Balance <span class="fa fa-inr"></span> 140  </p>
                                            </div>
                    
                                            <div class="inner-passbook">
                                                <ul class="inr-txt">
                                                    <li> <a href="#"><span class="fa fa-book"></span> &nbsp; View Passbook  </a> </li>
                                                
                                                    <li> <a href="#"><span class="fa fa-edit"></span> &nbsp; Add Money To Libanz Wallet  </a> </li>
                    
                                                    <li> <a href="#"><span class="fa fa-info-circle"></span> &nbsp; 24 x 7 Help  </a> </li>
                                                </ul>
                                            </div>
                                        </div>                  
                            <!--#################-->
                    </div>
                </div>
                                                                                        
    </div>
</div>

                

    </div>

    <div class="row">
        <img src="{{this.todoservice.base_url}}web-app/assets/images/kyc-inner-banner.png" class="responsive-img hide-img1" style="width: 90%; height: 130px; margin: 17px;"/>
    </div>
</div>

   
</section>



<app-footer-min></app-footer-min>