<style>
    @media only screen and  (max-width: 767px){
  
      .cst-dname{
  
  font-size: 16px !important;
    padding: 10px;
    text-transform: capitalize;
  }
  .fix-welcome{
    padding: 10px;
    font-size: 16px;
    color: #7b7a7a;
  }
  .user-image{
      padding:9px;
  }
  .w-100{

    width:100%;
  }
  label.lbl-num {
    line-height: 33px;
    font-size: 16px !important;
    }
    
    .web-view{
        width:100% !important;
    min-height: 320px;
    }
}
.web-view{
        width: 45%;
    min-height: 320px;
    }

    .btn-dfix{

        width:100%;
        margin-top:20px;
    }
    .circle-box1{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ff6a00;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    float: left;
    margin-left: 10px;
    }
    .circle-box2{

        height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #a504b8;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    float: left;
    margin-left:15px;

    }
    .circle-box3{

height: 40px;
width: 40px;
border-radius: 50%;
background-color: #1a9dd4;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left: 15px;

}

.circle-box4{

height: 40px;
width: 40px;
border-radius: 50%;
background-color: #f51b7c;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left: 15px;

}

    .recent-txt{
        font-size: 13px;
    }

    .money-txt{

        font-size: 16px;
    margin-bottom: 10px !important;
    font-weight: bold;
    color: #757272;
    }

    .fix-welcome{
    padding: 10px;
    font-size: 16px;
    color: #7b7a7a;
  }
  .user-image{
      padding:9px;
  }
  
  label.lbl-num {
    line-height: 33px;
    font-size: 16px !important;
    }
    .cst-dname{
  
  font-size: 16px !important;
    padding: 10px;
    text-transform: capitalize;
  }
  </style>
<app-header></app-header>
<div class="spinner-wrapper">
	<ngx-spinner
	  bdColor="rgba(255,255,255,0.8)"
	  size="default"
	  color="#ec9737"
	  loadingText="Loading..."
	  type="ball-clip-rotate">
	</ngx-spinner>
</div>
<section class="flash-deal">
    <div class="container">
        <div class="row no-margin">
            <div class="col s12 m3">
                <div class="card">
              <div class="card-content user-content">
                    <div class="user-image">
                            <img class="responsive-img vertical-align-middle profile" src="{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="this.todoservice.get_user_avatar() && this.todoservice.get_user_avatar().includes('data:image/png')"/>
                            <img class="responsive-img vertical-align-middle profile" src="{{this.todoservice.server_url}}{{this.todoservice.get_user_avatar()}}" alt="user-icon" id="change-icon" *ngIf="this.todoservice.get_user_avatar() && !this.todoservice.get_user_avatar().includes('data:image/png')"/>
                                  <span alt="user-icon" id="name-characters" *ngIf="!this.todoservice.get_user_avatar()">{{this.todoservice.get_user_characters()}}</span>
                        </div>
                  <div class="user-name">
                      <span class="fix-welcome">Welcome,</span><br>
                      <span class="font-size-change font600  cst-dname" *ngIf="this.todoservice.get_user()">{{this.todoservice.get_user_name()}}</span>
                  </div>
              </div>
            </div>
            <app-side-nav></app-side-nav>
            </div>
            <div class="col s12 m9">
                <div class="card inline-block w-100 web-view">
                    <!-- <div class="card-content inline-block no-padding">
                        <h3 class="font600 center">Value Transfer</h3>
                        <div class="value-transfer grey lighten-3 col s12 m12 l6 margin-top">
                            <img src="{{this.todoservice.base_url}}assets/images/recharge-icon/value-transfer.png" class="responsive-img" alt="value-transfer">
                        </div>
                        <div class="work" *ngIf="step==1;then fetchtemp else transfertemp"></div>
                        <ng-template #transfertemp>
                        <div class="value-transfer grey lighten-4 col s12 m12 l6 margin-top">
                                <form class="padd" #transferform = "ngForm" (ngSubmit)="send_value(transferform.value)">
                            <table class="responsive-table striped bordered">
                                <tbody> 
                                    <tr>
                                        <td><span class="font600 font-size-change">Name</span></td>
                                    <td><span class="font-size-change">{{fetch_user.name}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="font600 font-size-change">Phone No.</span></td>
                                        <td><span class="font-size-change">{{fetch_user.phone}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="font600 font-size-change">Enter Amount</span></td>
                                        <td>
                                        <div class="input-field">
                                            <input id="amount" type="text" class="validate" maxlength="6" name="amount" ngModel>
                                            <label for="amount">Enter amount to be transfered</label>
                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                    <td colspan="2"><button type="Submit" class="btn orange">Transfer Now</button>
                                        <button type="button" class="btn orange" (click)="cancel()">Cancel</button></td>
                                    </tr>
                                </tbody>    
                                </table>
                            </form>
                        </div>
                    </ng-template>
                    <ng-template #fetchtemp>
                        <div class="value-transfer grey lighten-4 col s12 m12 l6 margin-top">
                            <form class="padd" #fetchform = "ngForm" (ngSubmit)="fetch_user_data(fetchform.value)">
                                <div class="row">
                                <div class="input-field col s12">
                                <input id="first_name" type="number" class="validate" name="phone" ngModel>
                                <label for="first_name">Partner Phone</label>
                                </div>
                                <div class="input-field col s12 center">
                                    <button type="submit" class="btn btn-large white-text value-sub orange">Submit</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </ng-template>
                    </div> -->
                
                
                
                    <div class="card-content">
                        <span class="money-txt"> Pay </span>
                        <br/>
                        <div class="work" *ngIf="step==1;then fetchtemp else transfertemp"></div>
                        <ng-template #transfertemp>
                        <div class="value-transfer col s12 m12 margin-top">
                                <form class="padd" #transferform = "ngForm" (ngSubmit)="send_value(transferform.value)">
                            <table class="responsive-table striped bordered">
                                <tbody> 
                                    <tr>
                                        <td><span class="font600 font-size-change">Name</span></td>
                                    <td><span class="font-size-change">{{fetch_user.name}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="font600 font-size-change">Phone No.</span></td>
                                        <td><span class="font-size-change">{{fetch_user.phone}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="font600 font-size-change">Enter Amount</span></td>
                                        <td>
                                        <div class="input-field">
                                            <input id="amount" type="text" class="validate" maxlength="6" name="amount" ngModel>
                                            <label for="amount">Enter amount to be transfered</label>
                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                    <td colspan="2"><button type="Submit" class="btn orange">Transfer Now</button>
                                        <button type="button" class="btn orange" (click)="cancel()">Cancel</button></td>
                                    </tr>
                                </tbody>    
                                </table>
                            </form>
                        </div>
                    </ng-template>
                        <ng-template #fetchtemp>
                            <div class="value-transfer col s12 m12 margin-top">
                                <form class="padd" #fetchform = "ngForm" (ngSubmit)="fetch_user_data(fetchform.value)">
                                    <div class="row">
                                        <div class="col s2"><label class="lbl-num">  +91- </label> </div>
                                        <div class="col s9">
                                        <input id="first_name" type="number" placeholder="Enter Mobile Number" class="validate" name="phone" [(ngModel)]="fetch_user.phone">
                                        </div>
                                        <div class="col s1"> <span class="fa fa-address-book"></span> </div>
                                    <div class="input-field col s12 center">
                                        <button type="submit" class="btn btn-large white-text value-sub orange" id="fetch-form">Submit</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </ng-template>

                        <!-- <div class="form-group" style="padding-top:15px;">
                            <div class="col s2"><label class="lbl-num">  +91- </label> </div>
                            <div class="col s9"><input type="text" placeholder="Enter Mobile Number"/></div>
                            <div class="col s1"> <span class="fa fa-address-book"></span> </div>
                        </div> -->
                        
                        <!-- <div class="input-field col s12 center">
                            <button type="submit" class="btn btn-large white-text value-sub orange btn-dfix">Proceed To Pay</button>
                        </div> -->
                        <div class="recent-details" *ngIf="recent_transfer && recent_transfer.length > 0">
                            <h4 class="recent-txt">Recents </h4>
                            <div class="row">
                                <div class="{{this.classes[i%4]}}" *ngFor="let item of recent_transfer;let i = index"> <a href="javascript:" class="white-text" (click)="select_partner(item.subscriber_id)" *ngIf="check_user(item.partner) != null">{{check_user(item.partner)}}</a> </div>
                                <!-- <div class="circle-box2">PS </div>
                                <div class="circle-box3">BM </div>
                                <div class="circle-box4">LK </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-min></app-footer-min>