<style>
    @media only screen and  (max-width: 767px){
  
      .cst-dname{
  
  font-size: 16px !important;
    padding: 10px;
    text-transform: capitalize;
  }

 
 
  .btn-value{  
  width: 100%;
    margin-right: 0;
    border-radius: 20px;
    margin-bottom: 15px;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: transparent;
}
table.striped>tbody>tr:nth-child(3) {
    border-bottom:transparent;
}
table.striped>tbody>tr:nth-child(4) {
    border-bottom:transparent;
}
  .w-100-btn{

      width: 100%;
  }
  .value-transfer {
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
}
  .fix-welcome{
    padding: 10px;
    font-size: 16px;
    color: #7b7a7a;
  }
  .user-image{
      padding:9px;
  }
  .w-100{

    width:100%;
  }
  label.lbl-num {
    line-height: 33px;
    font-size: 16px !important;
    }
    
    .web-view{
        width:100% !important;
    min-height: 320px;
    }
}
.web-view{
        width: 45%;
    min-height: 320px;
    }

    .btn-dfix{

        width:100%;
        margin-top:20px;
    }
    .circle-box1{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ff6a00;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    float: left;
    margin-left: 10px;
    }
    .circle-box2{

        height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #a504b8;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    float: left;
    margin-left:15px;

    }
    .circle-box3{

height: 40px;
width: 40px;
border-radius: 50%;
background-color: #1a9dd4;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left: 15px;

}

.circle-box4{

height: 40px;
width: 40px;
border-radius: 50%;
background-color: #f51b7c;
color: #fff;
text-align: center;
padding: 10px;
font-size: 14px;
float: left;
margin-left: 15px;

}

    .recent-txt{
        font-size: 13px;
    }

    .money-txt{

        font-size: 16px;
    margin-bottom: 10px !important;
    font-weight: bold;
    color: #757272;
    }

    .fix-welcome{
    padding: 10px;
    font-size: 16px;
    color: #7b7a7a;
  }
  .user-image{
      padding:9px;
  }
  
  label.lbl-num {
    line-height: 33px;
    font-size: 16px !important;
    }
    .cst-dname{
  
  font-size: 16px !important;
    padding: 10px;
    text-transform: capitalize;
  }

  .resp-btn{

border-radius: 20px !important;
width: 100% !important;
margin: auto;
}


@media only screen and (min-width: 767px){

.hide-img1{

    display:none !important;
}
}
  </style>
<app-header class="hide-on-mobile"></app-header>
<div class="spinner-wrapper">
	<ngx-spinner bdColor = "rgba(255,255,255,0.6)" size = "medium" color = "#ff6a00" type = "ball-beat" [fullScreen] = "true"></ngx-spinner>
</div>
<div class="recharge-section show-on-medium-and-down hide-on-med-and-up cst-bg-color">
    <div class="container">
        <div class="col s12">
        <ul class="back-icon">
            <li> <a class="black-text" routerLink="/mhome"><span class="fa fa-arrow-left left-icn-mb1"></span>&nbsp; <span id="page-title"> Pay </span></a> <a class="right cart-strip" routerLink="/product/cart"><img src="{{this.todoservice.base_url}}assets/images/cart.png"><span class="strip-circle">{{this.todoservice.cartItemsCount()}}</span></a></li> 
        </ul>
        </div>	
        <div class="clearfix"></div>
    </div>
    </div>
    <div class="fix-mb-top"></div>

<!-- <div class="col s12 cst-back">
    <ul class="back-icon">
        <li>  <a class="black-text" routerLink="/"><span class="fa fa-arrow-left bk-icon left-icn-mb"></span>&nbsp; Value Transfer </a> <span class="fa fa-search search-mb-btn"></span> </li>
    </ul>
  </div>	 -->
<section class="flash-deal">
    <div class="container-fluid">
        <div class="row no-margin">
            <div class="col s12 m3">
                
            <app-side-nav></app-side-nav>
            </div>
            <div class="col s12 m9">
               <div class="card inline-block w-100 web-view">
                    <div class="card-content cst-invoice" *ngIf="order_id">
                        <div  class="mb-1">
                            <h2 class="font600 inline-block">Invoice </h2>
                        </div>
                        <ul *ngIf="order_data" class="font-li">
                            <li><span *ngIf="order_data.payment_status == 2" class="red-text"><img src="https://www.mydthshop.com/web-app/assets/images/close.gif" style="width:40px;"></span><span *ngIf="order_data.payment_status == 1" class="green-text"><img src="https://www.mydthshop.com/web-app/assets/images/success.gif" style="width:40px;"></span><span *ngIf="order_data.payment_status == 3" class="orange-text"><img src="https://www.mydthshop.com/web-app/assets/images/pending.gif" style="width:40px;"></span></li>
                            <li class="cst-top-signle"><strong>Order Status: </strong> {{order_data.status}}</li>
                            <li class="cst-top-signle"><strong>Payment Status: </strong> <span *ngIf="order_data.payment_status == 1">Succcessful</span><span *ngIf="order_data.payment_status == 1">Succcessful</span><span *ngIf="order_data.payment_status == 2">Failed</span><span *ngIf="order_data.payment_status == 3">Pending</span></li>
                            <li><strong>Invoice No: </strong>  #{{order_data.id}} </li>
                            <li><strong>Amount: </strong> {{order_data.grand_total}}</li>
                            <li><strong>Date issued: </strong> {{order_data.history_time | date: date:'dd M, Y'}}</li>
                            
                            <li><strong>Payment Method: </strong><span *ngIf="order_data.paymethod == 1">Wallet</span><span *ngIf="order_data.paymethod == 2">Gateway</span><span *ngIf="order_data.paymethod == 3">Mydth</span><span *ngIf="order_data.paymethod == 4">Paytm</span></li>
                            <!-- <li><strong>Commission/Surcharge: </strong>Rs.{{order_data.commission_surcharge}}</li> -->
                            <li><strong>Comment: </strong>{{order_data.remark}}</li>
                        </ul>

                        <div class="clearfix"></div> <br/>
                        <ul class="back-icon desktop-hide">
                            <li><a class="btn btn-orange black-text cst-ibtn" href="javascript:" (click)="back_to_transfer()">Back </a></li>
                        </ul>
                    </div>
                
                    <div class="card-content" *ngIf="!order_id">
                        <span class="money-txt"> Pay </span>
                        <br/>
                        <div class="work" *ngIf="step==1;then fetchtemp else transfertemp"></div>
                        <ng-template #transfertemp>
                        <div class="value-transfer col s12 m12 margin-top">
                                <form class="padd" #transferform = "ngForm" (ngSubmit)="send_value(transferform.value)">
                            <table class="responsive-table1 striped bordered">
                                <tbody> 
                                    <tr>
                                        <td><span class="font600 font-size-change">Name</span></td>
                                    <td><span class="font-size-change">{{fetch_user.name}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="font600 font-size-change">Phone No.</span></td>
                                        <td><span class="font-size-change">{{fetch_user.phone}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="font600 font-size-change" style="white-space: nowrap;">Enter Amount</span></td>
                                        <td>
                                        <div class="input-field">
                                            <input id="amount" type="text" class="validate" maxlength="6" name="amount" ngModel>
                                            <label for="amount">Enter Amount Here </label>
                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                    <td colspan="2"><button type="Submit" class="btn orange btn-value resp-btn">Transfer Now</button>
                                        <!-- <button type="button" class="btn orange btn-value clc-btn" (click)="cancel()">Cancel</button></td> -->
                                    </tr>
                                </tbody>    
                                </table>
                            </form>
                        </div>
                    </ng-template>
                        <ng-template #fetchtemp>
                            <div class="value-transfer col s12 m12 margin-top">
                                <form class="padd" #fetchform = "ngForm" (ngSubmit)="fetch_user_data(fetchform.value)">
                                    <div class="row">
                                        <div class="col s2"><label class="lbl-num">  +91- </label> </div>
                                        <div class="col s9">
                                        <input id="first_name" type="number" placeholder="Enter Mobile Number" class="validate" name="phone" [(ngModel)]="fetch_user.phone">
                                        </div>
                                        <div class="col s1"> <span class="fa fa-address-book"></span> </div>
                                    <div class="input-field col s12 center">
                                        <button type="submit" class="btn btn-large white-text value-sub orange w-100-btn resp-btn" id="fetch-form">Submit</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </ng-template>
                        <div class="recent-details" *ngIf="recent_transfer && recent_transfer.length > 0">
                            <h4 class="recent-txt">Recents </h4>
                            <div class="row">
                                <div class="{{this.classes[i%4]}}" *ngFor="let item of recent_transfer;let i = index"> <a href="javascript:" class="white-text" (click)="select_partner(item.subscriber_id)" *ngIf="check_user(item.partner) != null">{{check_user(item.partner)}}</a> </div>
                                <!-- <div class="circle-box2">PS </div>
                                <div class="circle-box3">BM </div>
                                <div class="circle-box4">LK </div> -->
                            </div>
                        </div>
                    </div>
                   
                
                </div>
            </div>
        </div>
    
        <div class="row">
            <img src="https://www.mydthshop.com/web-app/assets/images/kyc-inner-banner.png" class="responsive-img hide-img1" style="width: 90%; height: 130px; margin: 17px;"/>
        </div>
    </div>

   
</section>



<app-footer-min></app-footer-min>